[2022-02-02 16:51] srm09 commented on #1395
@geetikabatra Am gonna repurpose this issue to fix the failures that cert-manager repo move will bring to CAPV E2E tests

/retitle Update cluster-api bits to resolve the cert-manager issue
/remove-good-first-issue

[2022-02-02 18:51] srm09 commented on #1395
Confirmed that the `release-0.7` branch does not have the cert-manager issue.

[2022-02-02 21:17] aartij17 opened #1400 "Run e2e and integration tests when changes are made to `go.mod` and `go.sum`"
Currently, none of the pre-submit jobs run when changes are made to the `go.mod` and `go.sum` file.
This might prove catastrophic in case where the `go.sum` is not updated correctly.

We should run the `e2e` and `integration` tests as a pre-submit job when changes are made to these files

[2022-02-02 21:17] aartij17 commented on #1400
/assign

[2022-02-02 22:40] #1395 closed

[2022-02-03 08:57] ninlil commented on #1366
Thanks for the help.

I created a new `VSphereMachineTemplate` with an updated k8-version, and changed both version and template in then `MachineDeployment` and `KubeadmControlPlane`

This worked just fine. Thanks.

For anyone else: the `VSphereMachineTemplate` is immutable, so you need to create a new object.

/close

[2022-02-03 08:57] #1366 closed

[2022-02-03 11:28] johananl opened #1407 "Update cluster-api to v1.1.0"
cluster-api v1.1.0 is out. We should update to include the latest functionality.

/assign

[2022-02-03 19:22] srm09 opened #1410 "Envtest CAPI CRD path lookup is broken"
/kind bug

**What steps did you take and what happened:**
Currently, before running the integration tests, we setup the local API server provisioned by envtest with CAPI CRDs. The path for the CRDs is plucked from the `go.mod` file. The lookup for this currently only takes into account the `require` [section](https://go.dev/ref/mod#go-mod-file-require) of the file.
This would overlook any subseque

[2022-02-03 20:38] srm09 commented on #1222
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-02-03 20:38] srm09 commented on #1222
/unassign @aartij17

[2022-02-03 20:41] srm09 commented on #1222
Linking an older issue around validation #429

[2022-02-03 20:49] srm09 commented on #1396
@joshrosso I might be missing the historical context, but in the past, we have always not allowed any direct modification on the underlying VM in the vCenter. This is a special case of VM modification wherein the VM might have gotten deleted/moved around.

From the POV of the user, if the VM is gone, then no point keeping the objects around. Maybe replace it with a new VM/delete the CAPV object or

[2022-02-03 20:50] srm09 commented on #1396
/kind api-change

[2022-02-03 20:51] srm09 commented on #1222
/kind design

[2022-02-03 23:24] #1410 closed

[2022-02-04 07:30] srm09 commented on #1218
Since kube-vip runs as a static pod on the nodes which is setup by `kubeadm`, not sure this is something that we can support in CAPV out of the box. Try using an external load balancer for this use case.

[2022-02-04 17:05] srm09 commented on #1392
/retitle Improving unit test coverage

[2022-02-07 08:15] ninlil opened #1414 "Allow vSphere "Custom Attributes" on VSphereMachineTemplate"
/kind feature

I would like the VSphereMachineTemplate to contain key+values for tagging the VMs with "custom attributes"

This would enable our "VM Inventory Management" to read these and know how to categorize these.

[2022-02-07 10:55] johananl opened #1415 "Clean up GC_KIND build variable"
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/e1129cb1e676c778da495bb3f6d31190b59d0645/Makefile#L74

The `GC_KIND` variable used to control whether to tear down the Kind environment at the end of an e2e test run:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/cd5ed7f09871997e6f6eff6e30c59d1a7b6653ed/Makefile#L109

As of 7ed71271a183f72534541a8580bd3ef6

[2022-02-07 11:44] geetikabatra commented on #1415
Thanks @johananl for the issue.

[2022-02-07 11:45] geetikabatra commented on #1415
/assign

[2022-02-08 00:33] srm09 commented on #1176
/remove-lifecycle active
/lifecycle frozen

[2022-02-08 00:35] srm09 commented on #1400
/close
https://github.com/kubernetes/test-infra/pull/25149 has been merged.

[2022-02-08 00:35] #1400 closed

[2022-02-08 01:03] srm09 commented on #1414
Currently, we have a way to associate tags to the VMs created using CAPV. The tags can be associated by specifying the tag IDs in the `VSphereMachineTemplate` object used by either the `KubeadmControlPlane` object for the CP nodes or the `MachineDeployment` object for the worker nodes of the cluster.
Tagging provides a lot more features wherein custom attributes is limited in its functionality.

I

[2022-02-08 01:25] aartij17 commented on #949
More details here - https://www.kubernetes.dev/resources/rename/

[2022-02-08 01:56] #1369 closed

[2022-02-08 05:47] srm09 commented on #1275
/assign

[2022-02-08 06:57] ninlil commented on #1414
It's because our inv-mgmt-software actually uses these tags to categorize VM:s on department ownership, environment and usage and if they should be part if the backup solution. These values are reused in both Power-BI reports and Grafana dashboards (among other things)... and we do need to group all our 800+ VM:s

It's great that one can create Tags already, but this is a feature-request after all

[2022-02-08 16:27] geetikabatra opened #1417 "Improving test coverage in pkg/identity"
/kind bug

This issue is to list out the files which are required to be tested in pkg/identity

[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere

[2022-02-08 16:29] geetikabatra opened #1418 "Improving test coverage in pkg/manager"
/kind bug

This issue is to list out the files which are required to be tested in pkg/manager
[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere ve

[2022-02-08 16:32] geetikabatra opened #1419 "improving test coverage in pkg/record"
/kind bug
Improving test coverage in pkg/record
[code]
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl vers

[2022-02-08 16:34] geetikabatra opened #1420 "Improving test coverage in pkg/services"
/kind bug

Improving test coverage in pkg/services
[code]
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl v

[2022-02-08 16:36] geetikabatra opened #1421 "Improving test coverage in pkg/util"
/kind bug

This issue is to list out the files which are required to be tested in pkg/util

[code]
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere versi

[2022-02-08 19:55] srm09 commented on #1417
There are ginkgo tests around this package so am not sure if the coverage number that you are posting is absolutely correct. Moreover the more helpful approach to this task would be to list out the scenarios we would wanna test and list them out in the issue.

This approach of tracking the coverage for each of the functions will increase the overall number, but not sure if the tests that come outt

[2022-02-09 08:11] aastha01chauhan commented on #1392
@geetikabatra Hi! This project caught my eye while I was going through LFX mentorship projects list. I really liked the concept of it.  Would love to engage with the community and contribute here this spring.

[2022-02-09 17:10] srm09 opened #1423 "Flakes while running the E2E test suite"
/kind bug

**What steps did you take and what happened:**
Observing random failures during cluster creation in the E2E test suite. The flake specifically occurs when the `ClusterResourceSet` tries to apply the resources but fails to initiate a connection with the remote kube-api server of the workload cluster.
Error condition from the CRS object
[code]

**What did you expect to happen:**
Cluster c

[2022-02-09 19:11] tenczar opened #1424 "Panic when deleting VSphereDeploymentZone"
/kind bug

**What steps did you take and what happened:**
I created a VSphereFailureDomain and an associated VSphereDeploymentZone. The VSphereDeploymentZone was stuck in a failing state because it couldn't find the tagged resources. I tried deleting the VSphereDeploymentZone, but the kubectl delete command hung. I killed the process and the checked the pods. The capv-controller-manager was in a c

[2022-02-09 20:15] srm09 commented on #1424
/assign

[2022-02-10 17:20] johananl commented on #1006
/reopen
/remove-lifecycle rotten
/assign

[2022-02-10 17:21] johananl commented on #1006
/unassign alexander-demichev

[2022-02-11 07:42] farodin91 opened #1431 "Secrets can be only owned by the cluster or the identity itself not by any external tooling."
/kind bug

**What steps did you take and what happened:**
We are using sealed secret to store secrets in git. Sealed secret is a controller which allows own managed secrets. We created the Cluster and referenced the sealed secret owned secret and get the message the secret is owned by a cluster or vsphereidentity which isn't true.

**What did you expect to happen:**
Secret should be owned by both

[2022-02-11 18:28] srm09 commented on #1335
/unassign
/assign @aartij17

[2022-02-11 19:08] aartij17 opened #1432 "Add a new flavor to create a ClusterClass template"
/kind feature

**Describe the solution you'd like**
As a user, I would like CAPV `flavorgen` to create a ClusterClass template when I run the command `flavorgen -f clusterclass`

/assign @aartij17

[2022-02-11 22:07] #1345 closed

[2022-02-13 02:47] srm09 opened #1435 "Refactor method `findVM` in the `pkg/services/govmomi/util.go` file"
/kind feature

**Describe the solution you'd like**
Improve unit testing for `pkg/services/govmomi/util.go`
This issue is a task for the broader issue: #1392

Individual tasks for this issue:
- [ ] Break down `findVM` function to smaller functions `findVMWithBiosUUID`, findVMViaInventoryPath`
- [ ] Add unit tests for each of the broken down functions

**Anything else you would like to add:**
n/a

[2022-02-14 11:49] yuktea commented on #1435
I would love to try the issue out, could you please assign it to me?

[2022-02-14 11:57] geetikabatra commented on #1435
/assign @yuktea

[2022-02-16 17:08] #1424 closed

[2022-02-16 21:23] fabriziopandini opened #1438 "Consider if to align manager flag names with upstream Kubernetes components"
While working on [adding support for Prometheus in CAPI TiltFile](https://github.com/kubernetes-sigs/cluster-api/pull/6117) we noticed that latest CAPV is still using old flags name for metrics and leader election (see
https://cluster-api.sigs.k8s.io/developer/providers/v0.3-to-v0.4.html#align-manager-flag-names-with-upstream-kubernetes-components).

Even this is not mandatory, I suggest the CAPV

[2022-02-16 23:13] srm09 opened #1439 "Expose e2e startup variables in the Makefile"
**Describe the solution you'd like**
Currently the e2e test suite that lives under `test/e2e` directory provides a couple of useful flags which make developing e2e tests easier:
- `e2e.skip-resource-cleanup` which can be set on test startup to avoid cleaning up resources after the test runs. This can be used to debug test failures
- `e2e.use-existing-cluster` which can be leveraged to use an exist

[2022-02-17 01:00] ditsuke commented on #1439
Would love to have this assigned to me!

[2022-02-17 08:59] geetikabatra opened #1441 "Refactor method `GetCredentials` in the pkg/identity/identity.go file"
/kind feature

**Describe the solution you'd like**
Improve unit testing for `pkg/identity/identity.go`
This issue is a subtask of the https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1392

Individual tasks for this issue:

- [ ] Break down GetCredentials function to smaller functions `ValidatetIdentity`, `GetKey`, `GetNamespaceKey`, `MatchLabels`, `CreateSecretKey`
- [ ]  Ad

[2022-02-17 09:11] geetikabatra opened #1442 "Add kubescape security scanner in e2e tests"
/kind feature

CAPV should run a Kubernetes job in e2e with the open source [kubescape](https://github.com/armosec/kubescape) security scanner and logs the results to stdout.

Inspired by https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1793
Above should be followed by a prow job in test-infra which runs kubescanner in CI.

**Describe the solution you'd like**
n/a

**Anything els

[2022-02-17 11:03] VibhorChinda commented on #1441
Want to work on this.

[2022-02-17 11:50] geetikabatra commented on #1441
/assign @VibhorChinda

[2022-02-17 12:05] MaxRink opened #1443 "Improove handeling of unreachable vCenter"
/kind feature

**Describe the solution you'd like**
Currently if i have an vCenter that CAPV cant reach it slows down the reconciliation for all resources, as it will retry reaching the offending vCenter every reconciliation loop.
It would be nice to move unreachable resources into a separate back off (ideally with a ceiling)  so that they dont block reconciliation of still reachable resources

[2022-02-17 12:05] geetikabatra opened #1444 "Use GitHub Release Note Generation"
/kind feature
/help
/good-first-issue

Use [GitHub Release Notes](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes) for the release process.

Some of the tasks

- [ ] Add  `release-changelog` makefile target to use the gh cli to generate the change log locally. Something like this gh api repos/$(GH_ORG_NAME)/$(GH_REPO_NAME)/releases/generat

[2022-02-17 12:10] geetikabatra opened #1445 "Add apidiff target to the Makefile"
/kind feature

We should add a Make target that takes a diff on API changes and create an optional pre-submit job that calls that target.

We can follow what CAPI already has:
Adding a [Makefile target to build apidiff](https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L746-L747)
Adding a [Makefile target to run apidiff locally against origin/main](https://github.com/kubernetes-sig

[2022-02-17 14:13] rayandas commented on #1444
/assign

[2022-02-18 01:44] aartij17 opened #1448 "Add ClusterClass e2e tests"
With the introduction of ClusterClass in CAPI 1.0, it will be good to run cluster class tests periodically as part of the prow jobs.

[2022-02-18 01:44] aartij17 commented on #1448
/assign

[2022-02-18 19:48] srm09 commented on #949
@aartij17 It might help to create a list of tasks necessary to make the switch seamlessly.

[2022-02-18 20:00] aartij17 commented on #949
Sure @srm09, I will add a list of the tasks!

[2022-02-18 20:35] scdubey commented on #1445
/assign @scdubey

[2022-02-18 23:42] srm09 commented on #1396
/assign @scdubey
Can you think of a way that we could use to reconcile deletion of VSphereMachine objects if the VM is missing or does not exist?

[2022-02-21 08:05] Prateeknandle commented on #1435
hi @yuktea are you working on this issue plz let us know, I would lile to assign it to myself, if you're not working on it.
thank you.

[2022-02-22 13:29] yuktea commented on #1435
yes, please go ahead, i was offline for a while

[2022-02-22 13:30] yuktea commented on #1435
yes, please go ahead, i was offline for a while

[2022-02-22 13:43] Prateeknandle commented on #1435
@geetikabatra /assign

[2022-02-22 21:05] scdubey opened #1455 "Enable Cyclop in CAPV linters"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Enabling cyclop will help to reduce the cyclomatic complexity of the code and also prevent us from overloading the logical purpose of the function.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
CAPI is likely to drop 'gocyclo

[2022-02-22 21:05] scdubey commented on #1455
/assign scdubey

[2022-02-22 23:29] aartij17 commented on #1438
/assign

[2022-02-23 09:37] geetikabatra opened #1457 "Add README about flavors"
/kind feature

There is no  README about what is the role of flavors in cluster-api-provider-vsphere and what all flavors are available.

This can be used as a reference.
https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/main/templates/flavors/README.md

/help
/good-first-issue

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**A

[2022-02-23 09:41] geetikabatra commented on #1435
/assign [Prateeknandle](https://github.com/Prateeknandle)

[2022-02-23 10:04] geetikabatra opened #1458 "Book for Cluster API provider Vsphere"
/kind feature
/kind documentation

Cluster API Provider Vsphere should have its own book. Just like https://cluster-api-aws.sigs.k8s.io/ and https://cluster-api.sigs.k8s.io/

**Describe the solution you'd like**
n/a

**Anything else you would like to add:**
n/a

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release

[2022-02-23 12:04] geetikabatra commented on #1442
/assign

[2022-02-23 22:17] scdubey commented on #1275
/assign scdubey

[2022-02-23 23:21] srm09 commented on #1396
Is there a way we could leverage MHC to get out of this state? Worth looking into that?

[2022-02-24 00:47] #1432 closed

[2022-02-24 00:47] #1448 closed

[2022-02-24 17:43] prkalle opened #1460 "capv-manager-bootstrap-credentials secret template should support vSphere password with single quote"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If vSphere password contains single quote `'` it is causing error while unmarshaling the credentials.yaml in `capv-manager-bootstrap-credentials` secret.

The below is the template for "capv-manager-bootstrap-credentials" secret in infrastructure-components.yaml. Since the password conta

[2022-02-24 17:46] prkalle commented on #1460
Tried removing the single quotes in the template as shown below. It didn't work for passwords starting with single quote(') and %.

[code]

[2022-02-28 00:40] ditsuke commented on #1460
I'm up for working on a fix, any pointers on where to track this down and potential blockers?

[2022-02-28 05:14] andrewrothstein commented on #506
any action here?

[2022-03-01 00:14] srm09 commented on #1340
/assign @aartij17

[2022-03-01 00:50] srm09 commented on #1414
/assign @scdubey

[2022-03-01 00:51] scdubey commented on #1414
/assign scdubey

[2022-03-01 01:40] srm09 commented on #1460
A good way to test this would be to start a VCsim container which would act as the vCenter, and deploy CAPI+CAPV using clusterctl/Tilt against a kind cluster.

[VCSim](https://github.com/vmware/govmomi/tree/master/vcsim) is a binary which tries to emulate a working vCenter setup. You can run it on a kind cluster, using this link https://www.mgasch.com/2021/05/vcsim-k8s/ You might need to make sure

[2022-03-01 01:41] srm09 commented on #1460
Lemme know how it goes, and I would encourage if you can get this setup to work, to raise a PR which talks about running CAPV with VCSim.

[2022-03-01 01:41] srm09 commented on #1281
/remove-lifecycle rotten
/lifecycle frozen

[2022-03-01 02:47] srm09 opened #1462 "CAPV VSphereVM reports incorrect status of Ready Condition"
/kind bug

**What steps did you take and what happened:**
1. Create a cluster and wait till cluster is provisioned and ready
2. Switch off the `VSphereVM` associated to a worker node in the cluster
3. Check the conditions on the `VSphereVM` object.
4. The `status` of the condition `Ready` is `true` even though the VSphereVM `failureMessage` and `failureReason` are set.

**What did you expect to ha

[2022-03-01 02:49] srm09 commented on #1462
Lets use this issue to keep track of all the usages of `failureReason` and `failureMessage` status fields and:
- Either introduce new conditions
- Set existing conditions to failed, which should correctly get reflected in the `Ready` state

[2022-03-01 10:30] srm09 commented on #1335
/close
Docs have been merged, template gen has been updated and e/e test has been added as well.

[2022-03-01 10:30] #1335 closed

[2022-03-01 22:53] aartij17 commented on #949
Tasks to be completed -

Pre-Rename, non-disruptive tasks:
- [ ] Prep the Prow jobs to run against `main` branch
PR Raised: https://github.com/kubernetes/test-infra/pull/25463

Disruptive tasks:
- [ ] For periodic prowjobs, or any prowjob that mentions the master branch in base_ref, update them to the main branch. Ensure that these changes happen in lock-step with the branch rename (jobs triggered

[2022-03-02 01:55] ditsuke commented on #1415
@geetikabatra should this be closed now that #1446 is merged in?

[2022-03-02 14:35] ditsuke commented on #1460
@srm09 thank you for the detailed instructions for the simulator! I'll try to get my setup up and working before investigating this issue further.

[2022-03-02 20:15] #949 closed

[2022-03-02 20:29] #1439 closed

[2022-03-03 17:28] aartij17 commented on #1457
@sayantani11 If you want to talk about this issue, let me know! I can provide some more context 😄

[2022-03-08 12:02] srm09 opened #1464 "clusterctl cannot find release 1.1.0"
/kind bug

**What steps did you take and what happened:**
Using clusterctl to install the latest version of CAPV results in the following
[code]

**What did you expect to happen:**
CAPV v1.1.0 gets installed successfully.

**Anything else you would like to add:**
n/a**Environment:**

- Cluster-api-provider-vsphere version: v1.1.0
- Kubernetes version: (use `kubectl version`): n/a
- OS (e.g. from `

[2022-03-08 13:24] #1464 closed

[2022-03-08 15:55] #1415 closed

[2022-03-10 15:59] Ankitasw opened #1469 "Add unit tests for vim machine reconciliation"
/area testing

Add tests for below scenarios in vimmachine.go:

1. Successfully reconcile vim machine with following checks:
- Check if VSphereMachine status is Ready.
- Check if VsphereMachine status contains network details like mac address, ip addresses, whether connection established or not etc.
- Check if VSphereMachine spec contains provider ID
- Check if VMProvisionedCondition is set.
2. Sh

[2022-03-10 16:00] Ankitasw commented on #1469
Subset of #1392

[2022-03-10 17:26] srm09 commented on #1469
/help
/good-first-issue

[2022-03-10 19:16] srm09 opened #1471 "Implement unit test cases for extra package"
/area testing

Implement unit tests for the public methods under the `pkg/services/govmomi/extra` package. This package is mainly used to set the cloud-init data which gets leveraged on VM startup.

/help
/good-first-issue

[2022-03-10 19:18] srm09 opened #1472 "Implement unit test cases for metadata package"
/area testing

Implement unit tests for the public methods under the pkg/services/govmomi/metadata package. This package is mainly used to create tag/categories used when using the auto-tagging feature for `VSphereFailureDomain` objects.

/help
/good-first-issue

[2022-03-10 19:24] srm09 commented on #1460
/assign @ditsuke

[2022-03-10 20:06] steve-fraser opened #1473 "CLI failing to login for vsphere-cloud-controller, but login sucessful for provising using quick start docs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I followed the quick start documents however, once the cluster is provisioned  I am seeing cloud provider errors.

I know the credentials work because they are used to create the VM.

I am using the administrator@vsphere.local account.

  vsphere.conf: |
    global:
      secretName: cl

[2022-03-10 20:40] steve-fraser commented on #1473
Seemed to have resolve the govmomi client error, now moving the issue to other repo

[2022-03-10 20:40] #1473 closed

[2022-03-11 15:21] DiptoChakrabarty commented on #1471
hi @srm09 wanna take this up
/assign

[2022-03-11 16:27] geetikabatra commented on #1472
@ditsuke You might want to take a look at this one.

[2022-03-12 07:09] ditsuke commented on #1472
@geetikabatra thanks for tagging. Would like to be assigned to this.

[2022-03-12 15:49] ditsuke commented on #1472
/assign

[2022-03-13 11:37] ditsuke commented on #1469
/assign

[2022-03-13 15:06] ditsuke commented on #1460
I've successfully reproduced this issue for passwords starting with a single quote (`'badpw`) by trying to render a cluster-template with such a password.

[2022-03-14 05:59] geetikabatra commented on #1471
@DiptoChakrabarty Let us find you another good first issue. This will be worked upon by @ditsuke

[2022-03-14 05:59] geetikabatra commented on #1471
/assign @ditsuke

[2022-03-14 07:04] ditsuke commented on #1471
/assign

[2022-03-14 14:40] geetikabatra opened #1476 "[Refactor] Move CAPI related E2E tests to one place."
/kind bug

**What steps did you take and what happened:**

Currently, all CAPI related E2E tests are written in different files. The idea is to consolidate all the CAPI related E2E tests in one place. This will bring more structure to the code base.

**What did you expect to happen:**
N/A

**Anything else you would like to add:**
N/A

**Environment:**

- Cluster-api-provider-vsphere version:
- Kub

[2022-03-15 16:44] geetikabatra commented on #1471
@DiptoChakrabarty My apologies! I was under the impression that this was created for Tushar, who is actively working on unit tests. Feel free to reach out to me over slack or here. I will help you pick up and work on an issue you feel is right for you.

[2022-03-15 17:18] geetikabatra opened #1478 "Add unit test case for the package vimmachine"
/area testing
/help
/good-first-issue

There are missing tests for the following methods in `pkg/services/vimmachine.go`
The package is primarily used for vsphere VM lifecycle and syncing with VSphereMachine types.

- [ ] ReconcileNormal
- [ ] ReconcileDelete

**What steps did you take and what happened:**
N/A

**What did you expect to happen:**
N/A

**Anything else you would like to add:**
N/A

*

[2022-03-16 10:08] DiptoChakrabarty commented on #1471
No problem @srm09 I understand

[2022-03-16 10:08] DiptoChakrabarty commented on #1471
yes sure thank you @geetikabatra

[2022-03-16 10:08] DiptoChakrabarty commented on #1478
/assign

[2022-03-16 12:11] geetikabatra opened #1479 "Add unit test case for the package govmomi/services.go"
/area testing
/help
/good-first-issue

There are missing tests for the following methods in `pkg/services/govmomi/services.go`.
The package is primarily used to provide API to interact with the VMs using govmomi.

- [ ] ReconcileVM
- [ ] DestroyVM

**What steps did you take and what happened:**
N/A

**What did you expect to happen:**
N/A

**Anything else you would like to add:**
N/A

**Environment

[2022-03-16 12:11] geetikabatra commented on #1479
/assign @ditsuke

[2022-03-16 12:30] ditsuke commented on #1479
/assign

[2022-03-16 17:15] srm09 opened #1481 "CAPV should not use ObjectMeta.ClusterName"
There is an upstream discussion about dropping ObjectMeta.ClusterName: kubernetes/kubernetes#108717. Related CAPI issue: kubernetes-sigs/cluster-api#6305

This field is not populated by Kubernetes and we should not use it as Cluster Name.

This issue is about doing some research where we use it in CAPV and fix it if it is used.

/kind bug
/assign

[2022-03-16 18:54] aartij17 opened #1482 "Fix `v1alpha3` -> `v1beta1` upgrade workflow for `VSphereClusterIdentity`"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Upgraded `v1alpha3` cluster to `v1beta1`. Noticed that the identity secret has different finalizers being set in both the versions -
`v1alpha3` sets `identity/infrastructure.cluster.x-k8s.io` while `v1beta1` sets `vspherecluster/infrastructure.cluster.x-k8s.io`

This issue is to fix the

[2022-03-16 18:54] aartij17 commented on #1482
/assign

[2022-03-16 18:55] aartij17 commented on #1482
/assign

[2022-03-16 20:06] lubronzhan opened #1483 "Add legacy `capw` labels to VirtualMachine for backward compatibility"
/kind feature

**Describe the solution you'd like**
The label [clusterSelectorKey](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/fae6ef88467e608665e2902e2bb0aaeb4cee67ed/pkg/services/vmoperator/control_plane_endpoint.go#L40) is added to the Machine Object. The label used to be `capw.vmware.com` instead of `capv.vmware.com`. This label, as well as `nodeSelectorKey` are consum

[2022-03-16 20:11] lubronzhan commented on #1483
/assign @lubronzhan

[2022-03-17 07:24] geetikabatra opened #1484 "[Deps] Upgrade cobra and viper"
/kind bug
/help
/good-first-issue

Cobra 1.4.0  and  Viper 1.10.1 are released. We must upgrade them in CAPV.

- [ ] Upgrade cobra from `1.2.1` to `1.4.0`
- [ ] Upgrade Viper from `1.9.0` to `1.10.1`

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous infor

[2022-03-17 07:24] geetikabatra commented on #1484
/assign

[2022-03-17 12:35] srm09 commented on #1476
Like we talked about, let us keep the refactoring for a later point in time until we have stable E2E tests running for a period of time.
/lifecycle frozen
/remove-kind bug
/kind cleanup
/area testing

[2022-03-18 16:17] srm09 commented on #1483
@aartij17 Pinging you in case Lubron needs an assist.

[2022-03-18 16:19] #1481 closed

[2022-03-21 08:44] Ankitasw commented on #1478
@geetikabatra i think there might be some confusion, there is already an issue for the same https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1469

[2022-03-22 15:37] steve-fraser opened #1487 "Unable to get three managers nodes to provision - Machines getting stuck in "Provisioned" state"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Follow quick start guide.

**What did you expect to happen:**

It seems that the Kubeadmcontrolplanes is showing replicas in the ready state
[code]
with the conditions being
[code]
It seems machines are getting stuck in the "Provisioned" state and not moving to the "Running" state
[code

[2022-03-23 14:38] jayunit100 opened #1490 "can we have more fine grained power state (i.e. a reason such as "powered on, waiting for IP") ?"
/kind bug

- feel free to close this issue, it might not be actionable but i wanted to write it up...
- were seeing VMs on some hardware coming online as IPv6 vms instead of IPv4 ones.
- in the same cluster, were seeing these stuck in PoweringOn state
[code]

Is it possible that, if a VM cant get an IPv4 address, it might be misinterpretted as being in the `PoweringOn` state eternally ? If so, can

[2022-03-26 06:56] lzhanghe opened #1493 "Add legacy capw labels to default network for backward compatibility"
/kind feature

**Describe the solution you'd like**
Currently, CAPV is using "capv.vmware.com/is-default-network" label [https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/8dd957d665c0aceca8be9be1f9aa916ff8a9fcc5/pkg/services/network/network.go#L45](url) to find the default network. During an upgrade where legacy components are still running, "capvw.vmware.com/is-default-network"

[2022-03-26 07:47] geetikabatra commented on #1478
Closing this, as this is duplicate. https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1469

[2022-03-26 07:47] #1478 closed

[2022-03-26 07:47] geetikabatra commented on #1469
I have closed the duplicate issue.

[2022-03-26 07:49] geetikabatra commented on #1469
/assign @DiptoChakrabarty

[2022-03-27 11:32] ditsuke opened #1494 "Implement unit test cases for the `pkg/govmomi/find` package"
/area testing

The `find` package is used to construct managed reference finders for resources of the 3 failure domain types:
- Datacenter.
- Compute cluster.
- Host group.

Add unit test cases for the `ObjectFunc` function to verify it constructs finders that work as expected for all 3 resource types.

[2022-03-27 11:32] ditsuke commented on #1494
/assign

[2022-03-28 14:23] #1487 closed, assigned to nobody

[2022-03-28 16:01] geetikabatra opened #1496 "Investigate why the description of all the tests are not logged"
/kind bug

Currently, there is a lot of unevenness in logging. Some unit tests show descriptions of the tests, while others go completely unnoticed.
[code]

[code]

There is a lot of ambiguity in finding out which one is the `pkg/Identity` test. The first example logs that it ran nine specs without any description of what test ran, and the second example logs TestIdentity even though it is not exa

[2022-03-28 16:01] geetikabatra commented on #1496
/assign @ditsuke

[2022-03-28 16:20] geetikabatra commented on #1496
@ditsuke Can you comment on this one, so that bot assigns it to you.

[2022-03-28 17:45] #1482 closed

[2022-03-28 18:15] lubronzhan opened #1498 "Wrongly committed file"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
This file should be removed
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/main/github.com/lubronzhan/cluster-api-provider-vsphere/apis/v1alpha3/zz_generated.conversion.go

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous i

[2022-03-29 09:39] geetikabatra opened #1500 "E2E setup for GPU effort."
/kind feature

This issue focuses on brainstorming ideas to enable E2E testing for GPU specific use cases.

Where are we right now?
The E2E infrastructure is currently running as VMC on AWS. For GPU-specific scenarios, the requirement is to run E2E tests on specific hardware with GPU. Adding such hardware to VMC is difficult. The problem requires a standalone infrastructure(dedicated vGPU and PCI

[2022-03-29 16:08] aartij17 opened #1502 "[e2e framework] Utilize CAPI's e2e refactored framework"
This issue is to track the incorporation of CAPI's refactored e2e framework once [this](https://github.com/kubernetes-sigs/cluster-api/issues/6345) issue is addressed. This would help us write e2e upgrade tests for [this](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1482) bug.

[2022-03-29 16:08] aartij17 commented on #1502
/assign

[2022-03-31 10:19] nickperry opened #1503 "capv controller-manager deployment causes hundreds of connections to vcenter, resulting in 503s and other errors"
/kind bug

**What steps did you take and what happened:**
We are seeing a high number of 503 errors from our vcenter when CAPV is connected to it and attempting to reconcile resources.

As well as a the 503s, we also see a lot of these errors in the CAPV logs:

`E0330 10:51:19.050382       1 session.go:123] session "msg"="error checking if session is active" "error"="ServerFaultCode: Permission to

[2022-03-31 15:35] ditsuke commented on #1496
@geetikabatra
After some investigation it appears these inconsistencies are due to our mixed usage of vanilla Go `testing` and `ginkgo` tests. As an example:
- `go test -v ./...` on my [PR](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1475) for the metadata package (uses `ginkgo`):
	<details>
	  <summary>Visual</summary>

	![image](https://user-images.githubusercontent.com/

[2022-04-02 06:47] sathieu commented on #1215
Before writing a PR doc, could someone please provide a quick example here? :pray:

[2022-04-02 12:53] omniproc commented on #1215
@sathieu I'm not sure but I doubt it since the preKubeadmCommand is executed after the node is reachable (thus, has a IP). The management cluster communicates the IPs to vSphere before the preKubeadmCommand is executed on the workload cluster for what I know (but as I said, I'm not sure - would need to test).

You might want to take a look at https://github.com/spectrocloud/cluster-api-provider-vs

[2022-04-06 03:30] ditsuke commented on #1419
/assign

[2022-04-06 06:18] geetikabatra commented on #1419
Thanks, @ditsuke for the PR.

[2022-04-06 07:11] geetikabatra commented on #1496
I believe we should be using any one of those. This topic requires a broader discussion. From the visuals above, I am more in favour of `vanilla go testing`. Since it provides a detailed output.
@ditsuke Could you also investigate how can we have more information if we use ginkgo. Try looking into other providers as well as core cluster api.

[2022-04-06 07:40] geetikabatra opened #1509 "`Make modules` throw error with Go 1.17"
/kind bug

With Go version 1.17. Make modules throw a compatibility error.

[code]

Quick fix in Make file

[code]
**What steps did you take and what happened:**
N/A

**What did you expect to happen:**

**Anything else you would like to add:**
N/A

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-04-06 07:42] geetikabatra commented on #1509
@ditsuke, could you investigate and validate this issue. You could change go versions and check if this stands true for you.

[2022-04-06 09:28] sathieu commented on #1215
Thanks @omniproc, I'll use the hack short term ; then setup a DHCP server.

[2022-04-06 09:51] geetikabatra commented on #1498
We should close this as the referenced PR is merged.

[2022-04-06 12:00] ditsuke commented on #1509
@geetikabatra thanks for creating this! Just recently I encountered this issue while setting up CAPV on a remote development environment with go 1.17, so I was contemplating discussing this. I'll investigate and report back.

[2022-04-06 17:12] #1503 closed

[2022-04-06 19:44] #1498 closed

[2022-04-07 14:21] ditsuke commented on #1509
@geetikabatra it appears we need a `replace` directive for CAPI in our `go.mod`. For reference, [here's a similar issue (#1590)](https://github.com/vmware-tanzu/tanzu-framework/issues/1590) in Tanzu Framework.

/assign

[2022-04-07 15:49] sathieu opened #1511 "Published OVAs are obsolete"
/kind bug

(this is also a security bug, and also an enhancement request 😀 )

**What steps did you take and what happened:**

Go to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/main/README.md#kubernetes-versions-with-published-ovas. Currently shows:

Those versions are outdated and have security flaws.

**What did you expect to happen:**

Images to be updated when new k8s a

[2022-04-11 15:26] codenrhoden commented on #1511
@kkeshavamurthy let's chat this week and get you set up to build/publish these. We should set up a pipeline to do them regularly.

[2022-04-11 22:27] #1509 closed

[2022-04-11 22:45] #1419 closed

[2022-04-11 22:45] #1484 closed

[2022-04-11 23:55] #1471 closed

[2022-04-13 11:56] geetikabatra commented on #1445
@scdubey Any update on this one?

[2022-04-13 13:24] geetikabatra opened #1513 "Flake in unit tests."
/kind bug

`make test` in local occasionally throws the following error. It often fails to create a vc sim object.
This only occurs for` TestCluster`. This issue needs a broader investigation.

[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous info

[2022-04-13 13:28] geetikabatra commented on #1513
Looks like this is a part of a broader problem. Controllers usually t

[2022-04-13 13:28] #1513 closed

[2022-04-13 22:35] aartij17 opened #1514 "Service Discovery Controller looks up <vsphere-cluster>-kubeconfig secret which doesn't exist"
/kind bug

**What steps did you take and what happened:**
The supervisor controller `service discovery controller` looks for `<vsphere-cluster>-kubeconfig` secret which doesn't exist. It should be looking for `<capi-cluster>-kubeconfig` secret.

**What did you expect to happen:**
When a new cluster is created, `supervisor` service and `endpoints` should be created on the workload cluster. This is

[2022-04-13 22:35] aartij17 commented on #1514
/assign

[2022-04-14 09:24] sathieu opened #1516 "kube-vip not starting because API is not reachable with the VIP 🐔 🥚"
/kind bug

**What steps did you take and what happened:**

This bug is strange, and probably I've done something wrong.

On the first control plane node, I have to run:

[code]

Otherwise, kube-vip can't process the leader election. This is because `/etc/kubernetes/admin.conf` references the VIP, and not the local api-server.

**What did you expect to happen:**

`kube-vip` to work out of the box,

[2022-04-14 17:18] srm09 commented on #1511
/assign @MaxRink

[2022-04-14 17:20] MaxRink commented on #1516
Hi,

would you be able to grep the logs of the kube-vip pod, the static manifest of kube-vip and the output of ip a so i can have look at what is happening here

[2022-04-14 17:23] srm09 commented on #1493
@srm09 Add more description around the use case and the solution needed for this one.

[2022-04-14 17:31] codenrhoden commented on #1511
I'll go ahead and rebuild these now with the latest patch releases.

I can also add Ubuntu 20.04 images. Should we drop CentOS 7? Does anyone use those? What about Ubuntu 18.04?

[2022-04-14 17:45] MaxRink commented on #1511
I would add 20.04, given that april 21st is the release date for 22.04 (which will need some work in the image builder, as the installer changes )

[2022-04-15 07:50] sathieu commented on #1516
@MaxRink I'm using crictl to get log:

[code]

NB: `~/.cluster-api/clusterctl.yaml` has:

-  `CONTROL_PLANE_ENDPOINT_IP: "10.6.71.2"`
- `VSPHERE_TEMPLATE: "photon-3-kube-v1.22.5+vmware.1" ` (i.e the image from tanzu community edition, as images here are outdated #1511)
- `VIP_NETWORK_INTERFACE` commented out

How is this supposed to work?

[2022-04-15 07:54] sathieu commented on #1516
kube-vip version is v04.2 and has the following envs:

[code]

[2022-04-19 00:11] #1511 closed

[2022-04-19 00:18] srm09 commented on #1516
Have you been able to consistently repro this issue?
Starting with kube-vip:v0.4.0, the network interface can be detected automatically. Does cluster creation succeed with adding `eth0` as the network interface?

[2022-04-19 12:37] sathieu commented on #1516
@srm09

Yes.

`eth0` is hardcoded in [the template](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/releases/download/v1.0.3/cluster-template.yaml). And while checking this I found that I'm using an outdated release 😱 (1.0.3 is the latest released, but not the greatest 😉). Will try 1.1.1 soonish...

[2022-04-19 19:46] srm09 opened #1519 "Stale nodes left behind on a workload cluster"
/kind bug

**What steps did you take and what happened:**
- Create a workload cluster with a MHC targeting NotReady worker nodes
- For some reason, the worker nodes of the cluster do not get into the Ready state (the CPI pods do not get deployed)
- MHC reaps the not Ready Machines to retry creating new nodes.
[code]

**What did you expect to happen:**
Reaped nodes by MHC should not show up in the

[2022-04-19 19:54] srm09 commented on #1519
From [Fabrizio's comment](https://github.com/kubernetes-sigs/cluster-api/issues/3894#issuecomment-723930822) on the issue, unless the node reference is not set on the CAPI machine, it impossible for CAPI to delete the node when the machine gets deleted since it is unaware of the created node at this time.
The upstream issue was closed due to inactivity, and was not resolved.

From CAPV's perspecti

[2022-04-20 17:24] srm09 commented on #1325
/remove-lifecycle rotten
/lifecycle frozen

[2022-04-20 17:27] srm09 commented on #1313
/close
The current UUID approach seems to be working fine, and following @omniproc's reply seems like it is the correct approach for the sake of posterity.

[2022-04-20 17:27] #1313 closed

[2022-04-25 11:32] johananl commented on #1354
/remove-lifecycle stale

[2022-04-25 15:39] #1275 closed

[2022-04-25 15:55] #1472 closed

[2022-04-25 21:28] srm09 opened #1520 "Moving the `enable-keep-alive` flag functionality out of a feature flag"
/kind feature

**Describe the solution you'd like**
Now that we have enabled the KeepAlive feature for session management by default, we should deprecate the actual flag and move the functionality out of the feature flag.
- [ ] Add deprecation notice to the flag in `main.go`
- [ ] Extract the functionality out of the feature flag in `session.go`
- [ ] Update the manifests to remove the flag from t

[2022-04-25 21:35] srm09 commented on #1341
/unassign @aartij17
/assign

[2022-04-25 23:44] scdubey commented on #1519
/assign

[2022-04-26 21:10] #1431 closed

[2022-04-28 17:04] ditsuke commented on #1520
/assign

[2022-05-02 16:16] ditsuke commented on #1391
/remove-lifecycle stale

[2022-05-02 18:18] srm09 opened #1523 "Cannot create `vmware.infrastructure.cluster.x-k8s.io.VSphereCluster` using topology controllers"
/kind bug

**What steps did you take and what happened:**
When using the supervisor API types with ClusterClass, the CAPI controllers, especially the Topology controllers, fails to setup a watch on the `VSphereClusterTemplate` kind in the `vmware.infrastructure.cluster.x-k8s.io` API group, thus eventually failing cluster creation.
Below is an excerpt from the CAPI controller logs
[code]

**What di

[2022-05-04 19:46] srm09 commented on #1445
/unassign @scdubey
/assign @ditsuke

[2022-05-04 19:47] srm09 commented on #1372
/remove-lifecycle stale
/lifecycle frozen

[2022-05-04 21:42] #1520 closed

[2022-05-04 23:40] lzhanghe commented on #1493
@srm09 thanks for the comments. Updated the issue. Please let me know if anything is unclear. Thanks!

[2022-05-05 22:45] ditsuke commented on #1445
/assign

[2022-05-06 16:39] ditsuke commented on #1435
/unassign @Prateeknandle
/assign

[2022-05-06 17:50] srm09 opened #1526 "CAPV deployment missing RBAC to enable paravirtual CPI and CSI"
/kind bug

**What steps did you take and what happened:**
The ProviderServiceAccount controller is responsible for creating the `Role` and `RoleBinding` which gets used by the guest cluster to communicate with the supervisor API. To create the role with the permissions defined in the `providerServiceAccount.Spec.Rules`, the CAPV controller manager should have those permissions attached to the `Clu

[2022-05-08 22:59] scdubey commented on #1385
/unassign

[2022-05-08 23:01] scdubey commented on #1455
/unassign

[2022-05-08 23:01] scdubey commented on #1414
/unassign

[2022-05-08 23:02] scdubey commented on #1396
/unassign

[2022-05-09 00:58] srm09 commented on #1414
/assign @aartij17

[2022-05-09 00:58] srm09 commented on #1455
/help
/good-first-issue

[2022-05-09 00:59] srm09 commented on #1396
/assign @aartij17

[2022-05-09 01:01] #1445 closed

[2022-05-09 01:02] srm09 commented on #1385
/help
/good-first-issue

[2022-05-09 23:23] #1514 closed

[2022-05-09 23:42] aartij17 opened #1528 "Bump kube vip to 0.4.2"
Kube vip released `v0.4.2`, this issue is to track its version bump in CAPV

[2022-05-09 23:42] aartij17 commented on #1528
/assign

[2022-05-10 02:39] srm09 commented on #1312
/remove-lifecycle stale
/lifecycle frozen

[2022-05-10 02:49] srm09 commented on #1417
/close
This has been merged

[2022-05-10 02:50] #1417 closed

[2022-05-10 02:55] srm09 commented on #1098
/assign @aartij17
Since you are looking into supporting IPAM, good thought to think about this one as well.

[2022-05-10 02:55] srm09 commented on #1098
/remove-lifecycle stale
/lifecycle active

[2022-05-10 02:56] srm09 commented on #1318
/close
Closing due to inactivity

[2022-05-10 02:56] #1318 closed

[2022-05-10 02:58] srm09 commented on #1174
@aartij17 If you have not been able to look into this one, maybe we could add this back to the list of `help wanted` issues.
/remove-lifecycle stale

[2022-05-10 03:00] srm09 commented on #1235
/close
This has been merged as part of the upgrade tests

[2022-05-10 03:00] #1235 closed

[2022-05-10 03:01] srm09 commented on #175
/close
This has been implemented as the multi AZ feature using `VSphereDeploymnetZone` and `VSphereFailureDomain` CRDs.

[2022-05-10 03:01] #175 closed

[2022-05-10 03:02] srm09 commented on #1364
/remove-lifecycle stale
/lifecycle active

[2022-05-10 03:05] srm09 commented on #1493
/assign

[2022-05-10 03:09] srm09 commented on #1483
/close
Merged via https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1489

[2022-05-10 03:09] #1483 closed

[2022-05-10 03:09] #1362 closed

[2022-05-10 14:48] sujeet-banerjee commented on #175
Does VSphereDeploymnetZone tie the machines (VMs) to specific ESXi hosts? As I understand, ESXi hosts may be added/taken down at the will of the end-users, within a vSphere cluster. Not sure if it's a good idea to tie/specify host details in the affinity definition (machine/machine-set CRDs).

[2022-05-10 20:10] srm09 commented on #1423
/close
This was due to conflicting IP addresses in the CI.

[2022-05-10 20:10] #1423 closed

[2022-05-11 16:34] mwright-pivotal opened #1532 "Capv crash after deleting vsphere deployment zones"
/kind bug

Trying to delete vsphere deployment zones....

[code]

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `k

[2022-05-11 16:58] srm09 commented on #1532
Similar to #1424 fixed by #1426
/close
Thanks for raising this, using the version 1.1.0 and above should not cause this issue.

[2022-05-11 18:19] johananl commented on #1006
/remove-lifecycle stale

[2022-05-12 17:01] srm09 opened #1533 "CAPV deployment manifest missing parameters required for Supervisor type reconciliation"
/kind bug

**What steps did you take and what happened:**
For the `ProviderServiceAccount` reconciliation, the environment variables `SERVICE_ACCOUNTS_CM_NAMESPACE` and `SERVICE_ACCOUNTS_CM_NAME` need to be populated when starting the capv controller manager with supervisor types enabled. In the absence of these variables, the CR does not get reconciled.
The manifest does not expose a way to set t

[2022-05-12 18:22] srm09 commented on #1493
Following the same deprecation policy outlined in #1483

[2022-05-12 21:07] #1528 closed

[2022-05-12 22:39] #1523 closed

[2022-05-12 22:39] #1526 closed

[2022-05-12 23:31] #1533 closed

[2022-05-16 19:52] srm09 commented on #1392
/remove-lifecycle stale
/lifecycle active

[2022-05-16 21:22] #1493 closed

[2022-05-18 12:03] sathieu opened #1538 "storagePolicyName (and datastore) at disk level"
/kind feature

**Describe the solution you'd like**

`VSphereMachine` kind only allows to set storage policy globally. It is recommended to store etcd data on a disk with low latency (see #894), and other usage may need encrypted disk for some data.

Proposal, add a new `disks` field (and deprecate `diskGiB` and `additionalDisksGiB`). Example:

[code]

This has the additional benefit of allowing f

[2022-05-24 20:46] sathieu commented on #1538
I started to work on this, see #1539.

[2022-05-28 12:20] ditsuke commented on #1441
/close Fixed by #1451

[2022-05-30 05:12] ditsuke commented on #1441
/close

[2022-05-30 05:12] #1441 closed

[2022-05-31 07:58] sathieu commented on #1227
/remove-lifecycle rotten

[2022-06-01 05:18] sathieu commented on #924
@srm09 @MaxRink @yastij WDYT about my proposed ways forward? I can propose a PR for solution 1 (solution 2 is harder for me, and solution 3 means a new repo probably).

[2022-06-03 21:21] srm09 opened #1542 "Remove FailureDomainsAvailable condition if no failure domains are detected"
/kind bug

**What steps did you take and what happened:**
- Create `VSphereDeploymentZone` and `VSphereFailureDomain` CRs
- After `VSphereCluster` reconciliation, the `FailureDomainsAvailable` condition is set to True/False
- Delete the `VSphereDeploymentZone` CR
- The `VSphereCluster` still reflects the `FailureDomainsAvailable` condition

**What did you expect to happen:**
The `VSphereCluster` C

[2022-06-04 15:42] #1328 closed

[2022-06-04 21:04] srm09 commented on #1542
/assign

[2022-06-04 21:11] srm09 opened #1543 "Nil pointer reference when using network-operator provider"
/kind bug

**What steps did you take and what happened:**
Using the latest version `v1.2.0`, seeing this error in the logs
[code]

**What did you expect to happen:**
CAPV controller show not panic or fail

**Anything else you would like to add:**
n/a

**Environment:**

- Cluster-api-provider-vsphere version: `v1.2.0`

[2022-06-04 21:12] srm09 commented on #1543
/priority critical
/assign

[2022-06-05 19:56] #1333 closed

[2022-06-06 02:34] flyik commented on #947
Any updates? I can implement it if thoughts about it are still the same

[2022-06-06 23:02] #1543 closed

[2022-06-07 09:35] geetikabatra opened #1546 "Add `Development` section in Makefile."
/kind feature

CAPZ has a concise aggregation of development steps inside the [Makefile](https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/bfec0748880c9f1332efdcc6bc29559d25a7fef6/Makefile#L238-L300). This will bring more clarity to CAPV development.
The steps we can add are

- [ ] install-tools
- [ ] create-management-cluster
- [ ] create-workload-cluster

Above will be helpful i

[2022-06-07 12:11] ditsuke commented on #1391
I'm investigating this flake at the moment. I think it's highly likely due to the asynchronous nature of tasks including cloning virtual machine on the simulator, which could mean that we're checking for successful creation of the VM while its still in progress. As a hack-in-testing, I blocked the main goroutine with a time.Sleep which seems to consistently eliminate this flake.

As a potentially

[2022-06-07 13:03] ditsuke commented on #1391
/assign

[2022-06-09 04:49] ditsuke commented on #1420
/remove-lifecycle rotten

[2022-06-09 04:49] ditsuke commented on #1418
/remove-lifecycle rotten

[2022-06-09 04:50] ditsuke commented on #1421
/remove-lifecycle rotten

[2022-06-10 15:47] ditsuke opened #1548 "Enforce some standards for PR titles"
/kind feature

**Describe the solution you'd like**
CAPI uses the [kubernetes-sigs/kubebuilder-release-tools](https://github.com/kubernetes-sigs/kubebuilder-release-tools) action to enforce some standards in PR titles. These standards require emoji prefixes to PR titles, which make release note generation and visually scanning through PRs convenient.

**Anything else you would like to add:**
This

[2022-06-10 15:48] ditsuke commented on #1350
/remove-lifecycle rotten

[2022-06-10 15:48] ditsuke commented on #1548
/good-first-issue

[2022-06-13 13:30] geetikabatra opened #1549 "[Refactor] Use pointer values for fields."
All the fields defined in `types.go` should be of pointer type, unless it is very much necessary to keep it as is.
This would help in better error handling. It is adopted across cluster api wide and should be adopted by CAPV also.

This will for example solve the problem of nil values in `int32`. the nil and the zero values (by Go standards) have semantic differences. Hence if the field of type `i

[2022-06-13 22:00] aartij17 opened #1550 "IPAM support for CAPV"
Umbrella issue for all tasks required to implement IPAM support for CAPV
This issue will be updated over time

- [ ] IPAM Contract implementation - https://github.com/kubernetes-sigs/cluster-api/pull/6313

[2022-06-14 15:39] sayantani11 commented on #1457
Hey!! @aartij17 can we schedule a call for this one will be helpful

[2022-06-22 07:54] ugiraud opened #1552 "CAPV 1.2.0 causes high number of sessions and 503 errors on vsphere"
/kind bug

**What steps did you take and what happened:**

We have a clusterAPI management cluster using capv, currently managing 5 clusters and approximately 50 machines. We used to follow the releases of capv and encountered no errors in releases 1.0.x and 1.1.x

Since the capv update to 1.2.0, we saw the number of opened sessions on vsphere jumping from 2 to 20, and our vsphere seems to have di

[2022-06-22 08:07] ugiraud opened #1553 "Helm to manage cluster deployments"
/kind feature

**Describe the solution you'd like**

A helm chart to manage the created clusters, to simplify the usage of the cluster api and capv CRDs

**Anything else you would like to add:**

We are maintaining a helm chart to do this and more, like deploying calico-cni with the clusterresourceset, and opening some clusterApi features through the chart values.yaml, and we would like to propose

[2022-06-23 22:20] AectannArd commented on #1548
Hi @ditsuke
Could you please assign the issues to me please. It should be quite straightforward to handle

[2022-06-23 22:28] ditsuke commented on #1548
/assign @AectannArd

[2022-06-23 23:55] AectannArd commented on #1174
If this issue is all about [this](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/release-0.3/pkg/cloud/vsphere/context/session.go#L49) exception swallowing then this piece of code has been heavily refactored ever since in [commit](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/commit/88b5254d3da9fe18c0476ec01a365831594a5e7b#diff-59fbb0bb5dfeeb4f123f1e9e0a3d12

[2022-06-24 19:56] #1391 closed

[2022-06-28 15:06] ditsuke commented on #1548
@AectannArd unfortunately not, I'll give it a look for you but we'll need a maintainer for approval.

[2022-06-28 16:06] srm09 opened #1557 "Ability to use/not use deployment zones"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2022-06-29 06:25] srm09 opened #1558 "Generate different VSphereMachineTemplate using flavorgen"
/kind feature
/area testing

**Describe the solution you'd like**
Currently flavorgen generates templates which use the same `VSphereMachineTemplate` objects for CP and worker nodes. This constricts usage of the template by end users since both CP and worker nodes by default have similar configs. This would allow the default generated template to have the flexibility to have separate objects for w

[2022-06-30 02:09] #1320 closed

[2022-06-30 02:09] #1311 closed

[2022-06-30 10:57] vrabbi commented on #1292
not sure if still relevant but if it is, the first example i gave is on a template so this could be run on the template before the clone. as its a vsphere property the VM doesnt need to be live to get the info.

[2022-06-30 17:38] srm09 opened #1559 "Incorrect role name for worker nodes"
/kind bug

**What steps did you take and what happened:**
VirtualMachine reconciliation adds incorrect role name to the legacy label
[code]
The worker node is also getting the `"capw.vmware.com/cluster.role": "controlplane"` label

**What did you expect to happen:**
[code]
The worker node gets `"capw.vmware.com/cluster.role": "node"` label instead

**Anything else you would like to add:**
n/a

**E

[2022-06-30 17:38] srm09 commented on #1559
/assign @srm09
/lifecycle active

[2022-06-30 18:04] #1364 closed, assigned to geetikabatra

[2022-07-01 23:27] #1542 closed

[2022-07-01 23:27] #1559 closed

[2022-07-01 23:27] #1558 closed

[2022-07-05 21:01] jayunit100 opened #1566 "VSphere VM Already exists error followed by a "panic" when deleting / creating Clusters rapidly"
/kind bug

**What steps did you take and what happened:**

capv  controller manager panics when rapidly creating/deleting a worker, printing out:

[code]

**What did you expect to happen:**

I woudlnt expect a rapid kubectl create / kubectl delete cycle to break CAPV.  Note however that in this instance, I also created a fake PCI device... im not sure wether thats related or not.

**Anything else

[2022-07-05 22:07] srm09 opened #1567 "Track activity for release process for v1.4.0"
/kind release-blocking

**Describe the solution you'd like**
This issue tracks the activities for releasing a new minor version `v1.4.0` of CAPV.
PR for changes for the `v1.3.0` release: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1562

**Anything else you would like to add:**
This should be the last commit before creating the release branch and tag for the newer release.

[2022-07-06 01:13] #1566 closed

[2022-07-06 01:14] jayunit100 commented on #1372
i just saw this as well .. i dont think it always happens , though, does it ?

In my case, I quickly created and delted a large number of CAPI objects in succession.....

[2022-07-07 14:17] ninlil opened #1569 "Bad vCenter Credentials seems to cause lots of idle connection"
If your vCenter-account doesn't have enough access to "Sessions" you might end up with a lot of idle connections in vCenter, eventually causing service-outage.

Please add a link to the "Required Permissions for the vSphere Account" section in https://tanzucommunityedition.io/docs/v0.10/ref-vsphere/

This is especially important when Keep-Alive is active (default since last(?) version)

Seems to b

[2022-07-07 20:03] dimatha commented on #1292
Hi Everyone, that's a problem for me as well now. For now I'm creating MachineSet directly to reduce the size of the Windows vm hostname. So it becomes MachineSetName-XXXXX.

[2022-07-07 20:23] knabben commented on #1292
/reopen

[2022-07-11 19:11] #1292 closed

[2022-07-11 19:11] srm09 opened #1572 "Update CAPI version to v1.2.0"
/kind feature

**Describe the solution you'd like**
Once the new CAPI version is released, we should update the dependency in CAPV as well.

**Environment:**

- Cluster-api-provider-vsphere version: `main`

/hold
/lifecycle active
/assign

[2022-07-12 09:23] schrej commented on #1550
Implementation is merged and part of 1.2.0-rc.0
API types are located at `sigs.k8s.io/cluster-api/exp/ipam/api/v1alpha1`.

[2022-07-12 18:46] srm09 commented on #1569
Although the symptom is different, this seems to be a similar problem as https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1552

[2022-07-12 22:36] AectannArd commented on #1324
@srm09, please checkout the provided PR
does this look like the change you requested here?

[2022-07-13 23:13] srm09 commented on #1569
/kind bug

[2022-07-13 23:26] srm09 opened #1578 "Add a test to verify scaling issues with sessions"
/kind feature

**Describe the solution you'd like**
We have recently received a couple of bugs around sessions not being cleaned up and a large number of sessions lying around causing vCenter failures. This issue is to track the activity for implementing a test to verify this behavior and possibly reduce this friction in the future.

**Anything else you would like to add:**
[Miscellaneous informat

[2022-07-14 05:23] geetikabatra commented on #1578
@srm09 How can I replicate this issue with basic Shepherd env?

[2022-07-14 15:31] geetikabatra commented on #1442
/remove-lifecycle rotten

[2022-07-14 15:36] geetikabatra commented on #1384
/remove-lifecycle rotten

[2022-07-14 15:36] geetikabatra commented on #1384
/assign

[2022-07-14 15:37] geetikabatra commented on #1457
@sayantani11 let us sync up to wind this up.

[2022-07-15 01:43] srm09 commented on #1578
With a fully functional vCenter you could let the session expire and see if a new one gets created in its place, and what happens to the older one. You could create multiple username/password combinations to correctly identify the sessions created for each cluster.

[2022-07-17 16:14] #1444 closed

[2022-07-19 18:38] srm09 opened #1580 "Logs do not show resource names"
/kind bug

**What steps did you take and what happened:**
Checking the log output for the capv manager pod, we see these entries
[code]

**What did you expect to happen:**
We expect the name of the VsphereMachine to be appended for easier debugging purposes.
[code]

**Anything else you would like to add:**
n/a

**Environment:**

- Cluster-api-provider-vsphere version: v1.3.1
- Kubernetes version:

[2022-07-19 22:45] srm09 commented on #1580
/help
/good-first-issue

[2022-07-21 17:14] srm09 commented on #1553
@srm09 to post a reply on this one.

[2022-07-22 22:08] adobley opened #1582 "Support configuration to disable DHCP DNS servers"
/kind feature

**Describe the solution you'd like**
As a user, I would like to toggle a setting (`ignoreDHCPNameservers`) that will cause nodes to ignore the nameservers that DHCP assigns, so that I have full control over my DNS servers for my cluster.

This can be done with netplan already through the `dhcp{4,6}-overrides.use-dns` configuration option. However this currently only has an effect on

[2022-07-25 07:48] ditsuke commented on #1469
/remove lifecycle-rotten

[2022-07-25 07:49] ditsuke commented on #1469
/remove-lifecycle rotten

[2022-07-28 18:17] #1458 closed

[2022-07-29 04:17] #1462 closed

[2022-07-29 14:58] RnkeZ opened #1588 "capv-controller-manager crashes randomly and webhook becomes unavailable"
/kind bug

**What steps did you take and what happened:**
Have a provider deployed in AKS cluster and try to increase the number of replicas for a MachineDeployment

**What did you expect to happen:**
New VM is provisioned and joined to the cluster

**Anything else you would like to add:**
We are running our management cluster in AKS and it's deploying a cluster to vSphere (on-premises). We are no

[2022-08-01 15:15] srm09 opened #1589 "Updating the API types for PCI devices"
/kind feature

**Describe the solution you'd like**
CAPV 1.3.0 introduced support fort PCI devices. While re-reviewing the API types, we realized that the introduced [types](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/52f1e81a193b947b67f8861f5d2ab64fb08f9e51/apis/v1beta1/types.go#L217-L227)
[code]
have not been named according to API naming conventions. For example, the `d

[2022-08-01 17:00] srm09 opened #1590 "Bump kube-vip to 0.5.0"
/kind feature

**Describe the solution you'd like**
With the release of `kube-vip` 0.5.0 version, we should update the current version used in the CAPV cluster template manifests and the CI as well.

**Anything else you would like to add:**
[Release tag 0.5.0](https://github.com/kube-vip/kube-vip/releases/tag/v0.5.0)

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version:

[2022-08-01 20:45] AectannArd commented on #1324
/assign

[2022-08-02 00:03] srm09 commented on #1588
We recently pushed a change to the `main` branch in the PR #1583 which changed the logic around the failing line. My thought is that this change should mitigate the above failure, which originally was occurring in a logger statement since an incorrect object was being returned.
We are on track to release the newer version before the end of this month which should fix this error. Thanks!

[2022-08-02 06:48] RnkeZ commented on #1588
Great, looking forward to check out the new version.

[2022-08-02 20:35] debankur1 opened #1591 "Cluster Autoscaling at Nodepool"
Is there a way, autoscaling can be enabled at the nodepool level? Also when we enable autoscaling it is across all nodepool levels?
similar to GKE

gcloud container node-pools create POOL_NAME \
    --cluster=CLUSTER_NAME \
    --enable-autoscaling \
    --min-nodes=MIN_NODES \
    --max-nodes=MAX_NODES \
    --region=COMPUTE_REGION

[2022-08-04 22:15] #1310 closed

[2022-08-09 21:50] #1519 closed

[2022-08-10 08:59] johananl commented on #1006
/remove-lifecycle stale

[2022-08-10 17:07] #1460 closed

[2022-08-13 14:30] #1479 closed

[2022-08-17 19:04] srm09 opened #1597 "Change the reconcile request mechanism for VSphereCluster object"
/kind feature

**Describe the solution you'd like**
Like in many of the places in the codebase, there is an inherent assumption that the names of the `Cluster` and `VSphereCluster` objects are the same. That is not the case, since the advent of topology controller which uses a suffix to generate the name of the objects.
Due to this, the logic to enqueue requests for `VSphereCluster` objects when a

[2022-08-17 19:32] srm09 opened #1598 "Update Provider Service Account enqueue logic"
/kind feature

**Describe the solution you'd like**
Currently, for the provider service account objects we create a controller which watches the ProviderServiceAccount objects and also add
watches on the `ProviderServiceAccount` and `ServcieAccount` objects and enqueue the requests for the VSphereCluster objects associated to these objects.
The controller starts the reconciliation process by treat

[2022-08-17 19:32] srm09 commented on #1598
/assign @srm09

[2022-08-18 06:00] srm09 commented on #1549
Do you mind listing out the API types, and we could discuss and tackle them as part of separate PRs?

[2022-08-18 17:52] #1597 closed

[2022-08-19 09:50] johananl opened #1601 "VMs wouldn't power on when using a storage policy"
/kind bug

**What steps did you take and what happened:**
I tried running an e2e test using `GINKGO_FOCUS="\[PR-Blocking\]" make e2e` and the test timed out because the controller VM gets created but stays powered off. Further investigation showed that the CAPV controller never progresses past the following line:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/a7b6edc14ebc130

[2022-08-23 14:28] johananl commented on #1354
/remove-lifecycle stale

[2022-08-23 14:28] johananl commented on #1354
/remove-lifecycle rotten

[2022-08-26 11:52] #1500 closed

[2022-08-26 17:53] #1502 closed

[2022-08-29 14:51] johananl opened #1605 "calico-node pods are crashlooping in e2e tests"
/kind bug

**What steps did you take and what happened:**

Run the e2e tests while skipping resource cleanup as follows:

[code]

Get the kubeconfig of the management cluster:

[code]

Get the kubeconfig of the workload cluster:

[code]

Wait for the workload cluster to converge on vSphere, then check the pod status on the workload cluster:

[code]

Output:

[code]

**What did you expect to happen

[2022-08-29 15:04] johananl commented on #1605
Replacing https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/main/test/e2e/data/cni/calico/calico.yaml with https://github.com/projectcalico/calico/blob/v3.24.0/manifests/calico.yaml seems to solve the problem.

[2022-08-30 22:56] srm09 commented on #1605
The current e2e suite has been passing for all existing and new PRs, am unsure if this has something to do with the calico version in use.

[2022-08-31 08:23] johananl commented on #1605
Hey @srm09 🙂 That's right, the tests are passing because AFAICT they don't check pod status. See my comment in the description:

Do you think we should ignore the pod status in the e2e tests?

[2022-08-31 20:16] srm09 commented on #1605
CAPV concerns itself with making sure that operational Kubernetes clusters can be deployed with vSphere. Without an operational CNI, the cluster never moves into a workable state,  so maybe we should consider adding verification of pod status in our tests as well.

[2022-08-31 22:55] srm09 commented on #1324
/reopen
/remove-lifecycle rotten
/lifecycle active

[2022-08-31 23:03] srm09 commented on #1098
/unassign @aartij17

[2022-08-31 23:12] srm09 commented on #1443
/remove-lifecycle rotten
/lifecycle frozen
/reopen

[2022-09-01 10:19] johananl commented on #1605
Yes, that makes sense to me. Let me take a quick look into it and/or open an issue to track this.

[2022-09-02 22:39] srm09 opened #1609 "Binary exposes testing related flags"
/kind bug

**What steps did you take and what happened:**
Currently the binary exposes the following flags:
[code]

From the output, it is obvious most of the `gingko` prefixed flags are coming in from the ginkgo dependency since it is being referred to via a non-test file.

A couple of other flags come from porting the legacy code from the CAPW codebase which exposed flags to choose between runni

[2022-09-02 22:39] srm09 commented on #1609
/assign
/priority critical-urgent

[2022-09-03 10:06] #1496 closed

[2022-09-05 15:30] #1590 closed

[2022-09-06 14:05] Jellyfrog opened #1611 "Not creating linked clone VMs"
/kind bug

**What steps did you take and what happened:**
When creating linkedClone templates it doesn't seem to clone by linking even tho everything seems to point to it.

We notice this because cloning takes some time*, and I can also see that I can change the disk size in vmware (you shouldn't be able to for linked clones)

\* Compared to doing `govc vm.clone -link=true`, which is instant.

**W

[2022-09-09 02:59] #1572 closed

[2022-09-09 07:15] #1605 closed

[2022-09-09 18:17] jayunit100 opened #1614 "VsphereMachine.Status seems out of date, "unable to find template", but was cloned machine, exists..."
/kind bug

(screenshot attached) tldr,

- vspheremachine.status -> out of date WHEN vspheremachine template cloning fails and *never* gets fixed even *after* vspheremachinetemplate name is fixed ...

- This results in the PowerON step never occuring, I THINK because capv controller manager, reading the status of vspheremachien, thinks "oh, i dont need to power this thing on , it doesnt exist, bc c

[2022-09-09 18:57] srm09 commented on #1614
Checked the controller code, we mimic the status of the condition from the `VSphereVM` object. Can you post the relevant Status snippet of the `VSphereVM` object as well?

I think we always set the condition to `False` in case of an error but never remove it if that particular error is resolved. The idea is eventually, either another error occurs at a different step in cloning which would update t

[2022-09-09 20:35] jayunit100 commented on #1614
this cluster is gone now....

I guess, that the issue is more that a new status isnt posted and maybe the root cause is that the `VSphereVM` is stale ?

[2022-09-10 05:27] #1609 closed

[2022-09-12 21:59] #1438 closed

[2022-09-13 14:09] #1457 closed

[2022-09-15 07:11] srm09 opened #1620 "Missing RBAC permission on vSphereVM controller"
/kind bug

**What steps did you take and what happened:**
The VSphereVM controller tries to best-effort query for a node and delete it if present. The role used to run the CAPV controller manager should have the appropriate permissions to allow this operation.

**What did you expect to happen:**
The RBAC permissions on the role should be setup correctly.

**Anything else you would like to add:**
T

[2022-09-15 07:12] srm09 commented on #1620
/priority critical-urgent
/assign @geetikabatra

[2022-09-16 00:54] srm09 commented on #1372
/remove-lifecycle frozen
/lifecycle active

[2022-09-16 01:01] ameddin73 commented on #1580
I will try to work on this. Be patient - it's my first issue :)

[2022-09-16 17:16] srm09 commented on #1490
/remove-lifecycle rotten
/lifecycle active
/reopen

[2022-09-16 19:40] ameddin73 commented on #1580
/assign @ameddin73

[2022-09-16 21:02] #1620 closed

[2022-09-16 21:42] #1372 closed

[2022-09-20 16:59] #1490 closed

[2022-09-21 06:38] merriadoc commented on #1552
/remove-lifecycle stale

[2022-09-21 16:04] srm09 commented on #1588
Actually this is the PR that has the fix https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1622
It was a race condition that was causing this failure. Will cut a release today which has the fix.

[2022-09-23 09:43] geetikabatra opened #1626 "During cluster Migration, the NIC get's disconnected."
/kind bug

During cluster migration, the underlying VM(one of the worker nodes) somehow gets disconnected from its network at the VM level.

**What did you expect to happen:**
vm-operator controller should detect that the network is no longer connected wrt to the VM CR and then it should automatically connect it.

**Anything else you would like to add:**

**Possible solution:**
We should add a dis

[2022-09-28 15:16] ameddin73 commented on #1580
I couldn't get it to build. Looks like I don't have enough experience with VSphere :/
/unassign @ameddin73

[2022-09-28 18:00] jayunit100 opened #1630 "[doc] ClusterModule spec shouldnt be defined generically"
/kind bug

**What steps did you take and what happened:**

The spec for cluster modules implies they are " generic "

[code]

But i guess its really a VSphere specific thing.  Should we update the description to reflect the real purpose of cluster modules, i.e. to implement placement / AZs/ etc ?

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version

[2022-09-29 08:11] ruifaling opened #1631 "Where to execute "kubectl apply -f infrastructure-components-supervisor.yaml ""
I just started to contact this project and want to build my own environment. In release, I found two deployed yaml files (infrastructure components supervisor. yaml

And infrastructure-components.yaml

）Where are the two files executed respectively (there is no public network environment, and the environment cannot be deployed through clusterctl)

[2022-09-29 08:11] ruifaling commented on #1631
/help

[2022-09-30 02:37] srm09 commented on #1631
Hi @ruifaling welcome to the CAPV community and thanks for raising this issue.
The 2 infrastructure components yaml are to be used separately. The `infrastructure-components.yaml` deploys the CRDs and controllers responsible for interaction with the classical CAPV resources under the `infrastructure.cluster-x.k8s.io` API group. It is responsible for creating CAPI clusters with the classic govmomi

[2022-09-30 02:40] srm09 commented on #1631
To deploy classic CAPV through `clusterctl`, follow the guide https://cluster-api.sigs.k8s.io/user/quick-start.html
You will need access to a vCenter environment and CAPV based images, [example](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/#kubernetes-versions-with-published-ovas)

[2022-09-30 02:44] srm09 opened #1633 "Expose ESXi host information on CAPI machine objects"
/kind feature

**Describe the solution you'd like**
For pod placement based on ESXi host information, the Kubernetes cluster nodes should have information about what host a k8s node is placed on. This would allow cluster users to be able to deploy workloads based on the host information, (for example, if you want to run your application on nodes hosted on a certain set of ESXi hosts only)

**Anyth

[2022-10-01 22:34] AectannArd commented on #1580
@srm09
can you confirm that the issue is described properly?

1. going through [the code](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/main/controllers/vspheremachine_controller.go#L197) this is the only place I can find which seems to be textually close to the logs you provided (but it is doesn't match exactly)
2. the exact match was last met in [release v1.0.1](https://gi

[2022-10-04 02:29] ruifaling commented on #1631
Thanks

[2022-10-04 16:10] abhinavmpandey08 commented on #1611
I'm seeing the same issue as well. Any updates on this?

[2022-10-04 17:08] AectannArd commented on #1580
@srm09
could you have a look please?

[2022-10-04 17:40] lubronzhan commented on #1107
CPI is responsible for setting the providerIP. Need to check the CPI code to see why the providerIP is not set

[2022-10-06 02:27] #1455 closed

[2022-10-06 21:12] tylerschultz opened #1636 "waitForIPv{4,6} is not set correctly when ipAddrs is set"
/kind bug

**What steps did you take and what happened:**

We found what appears to be a bug in the code (and test) here:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/main/pkg/util/machines.go#L154-L164

We were updating the test in a PR we're making, and discovered that the above code incorrectly
checks to see if the supplied IP parses successfully. The admission webhook r

[2022-10-07 20:21] bauerbo opened #1637 "capv not validating failure domain is valid in cluster class deployment"
/kind bug

**What steps did you take and what happened:**

Deployed a cluster class yaml to create a cluster.  The cluster yaml manifest had incorrect values for failureDomain for each of the node pools.

What happened - kubectl apply -f cluster-class.yaml was accepted without error.  The Cluster object was created.  Control plane node(s) created because they do not have a failuerDomain spec.  No

[2022-10-10 22:55] #1633 closed

[2022-10-10 23:17] #1567 closed

[2022-10-11 06:41] farodin91 opened #1643 "ClusterClass: Old VSphereMachineTemplate get patched before new one is created"
**What steps did you take and what happened:**

1. (Adopt cluster by ClusterClass)
2. Upgrade kubeversion
3. clusterclass tried to patch old VSphereMachineTemplate of the controlplane
4. relaxed VSphereMachineTemplate validation
5. clusterclass patched old VSphereMachineTemplates of the controlplane
6. clusterclass created new VSphereMachineTemplates of the controlplane
7. controlplane upgrade wen

[2022-10-11 23:20] peterochodo opened #1639 "Make minimum TLS version used by webhook server configurable"
/kind feature

**Describe the solution you'd like**
- currently the webhook server in capv accepts TLSv1.0, TLSv1.1 and TLSv1.2. Using TLSv1.0 and TLSv1.1 is no longer recommended for security reasons. So users wish to set minimum TLS version to "1.2"
- it would be great if minimum TLS version for webhooks could be configurable via a command-line argument and/or an environment variable provided at

[2022-10-12 11:09] Jellyfrog commented on #341
/reopen

[2022-10-12 11:09] Jellyfrog commented on #341
/remove-lifecycle rotten

[2022-10-12 11:11] Jellyfrog commented on #341
We'd also like to see automatic folder creation

[2022-10-12 17:46] srm09 opened #1640 "Cluster creation fails when no resource pool is specified"
/kind bug

**What steps did you take and what happened:**
- Enable the node anti affinity feature for the CAPV deployment
- Create a cluster with the KCP and the MD objects using `VSphereMachineTemplate` objects without a resource pool, set `VSPHERE_RESOURCE_POOL` to `''`
- Cluster creation fails since the `VSphereCluster` object never moves to `Ready` state.

**What did you expect to happen:**
-

[2022-10-12 18:37] #1640 closed

[2022-10-12 23:01] #1548 closed

[2022-10-13 00:20] AectannArd commented on #1580
Seems that the issue shouldn't have been migrated to new release scope. It should have been closed.

[2022-10-13 05:22] srm09 commented on #341
/reopen

[2022-10-13 22:02] #1392 closed

[2022-10-17 19:35] srm09 commented on #1580
@AectannArd Good catch, the particular instance of the logger mentioned in the issue was fixed by the PR [#1544](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1544)
/close

[2022-10-17 19:35] #1580 closed

[2022-10-17 19:38] srm09 commented on #1631
/close
Feel free to open another one in case of other questions.

[2022-10-17 19:38] #1631 closed

[2022-10-17 20:04] srm09 opened #1647 "Anti affinity feature assumes the infra version of cluster nodes"
/kind bug

**What steps did you take and what happened:**
With the introduction of anti affinity, CAPV controller assumes that the infra template in use by the workload cluster provisioned via CAPV will only be `VSphereMachineTemplate`. This breaks an assumption that CAPI can provision a cluster with nodes belonging to multiple infra providers.

**What did you expect to happen:**
The cluster provi

[2022-10-17 23:43] srm09 commented on #1637
The webhooks for CAPV inherently do not make any vCenter related calls which is the same for all the other parameters on the `VSphereMachineTemplate` object, example: datacenter, datastore, resource pool etc.
There is an open issue https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1222 which talks about including these validations on resource creation/updates.

[2022-10-19 00:53] #1643 closed

[2022-10-19 18:41] srm09 commented on #1639
Lets also use the same issue to track making TLS cipher suites configurable for the webhook server.
/assign

[2022-10-19 18:58] srm09 opened #1651 "TKC creation fails for 1.24 Supervisor cluster"
/kind bug

**What steps did you take and what happened:**
Currently, the provider service account controller is responsible for creating the service account in the namespace specified in the spec of the `ProviderServiceAccount` object. It then waits for the token controller to populate the secret which is then copied over to the guest cluster.
With 1.24, the `LegacyServiceAccountTokenNoAutoGenerat

[2022-10-20 12:25] jayunit100 opened #1652 "Provision to upgrade hardware version during VM clone operations"
Talking w @yastij , there sounds like there are ways
to upgrade HW versions ( i.e. 15 -> 17 , to support GPU scheduling)  dynamically, w/o needing an OVA
that is bound  to an ESXi.

[2022-10-20 18:27] jayunit100 commented on #1652
Looking around on the internet, https://github.com/rancher/rancher/issues/25174 seems to be similar to something akin to .... ?

[code]

[2022-10-20 18:27] jayunit100 commented on #1652
/assign @yastij @srm09  @geetikabatra

[2022-10-20 20:38] dougm commented on #1637
webhooks can get the list of valid zones without making a vCenter call via `topologyv1.AvailabilityZoneList`. The TKC webhook uses this and validates:
- If len(zones) > 1, then `NodePool.FailureDomain` (MachineDeployment.FailureDomain) must be set
- .FailureDomain matches one of AvailabilityZoneList

If not, then TKC webhook rejects the request, the TKC is not created and `kubectl apply tkc.yaml`

[2022-10-21 07:11] geetikabatra commented on #1652
/assign

[2022-10-21 07:40] geetikabatra commented on #1652
@srm09 ^^
The idea is to add a field in `VirtualMachineCloneSpec` something like `vmxVersion`, and then in the `vmReconciler` before powering the machine on, vmxVersion is set.

[2022-10-21 16:49] #1651 closed

[2022-10-21 22:16] #1538 closed

[2022-10-22 17:27] jayunit100 opened #1660 "Long running Test: VsphereMachine is gone, but Machine is marked as "Running"."
/kind bug

Note: This might , thus, be a cluster-api bug instead of a capv bug, but I figure the fact that the VSphereMachine disappeared , means that maybe CAPV could possibly do something to prevent this bug from occuring. Im happy to close this issue and file it in upstream CAPI if folks thing it would be better there.

# What steps did you take and what happened:

I ran a test for 50 days, whe

[2022-10-22 23:51] jayunit100 opened #1661 "Can we add "age" to vspheremachine "wide" output?"
/kind feature

**Describe the solution you'd like**

When comparing machines w/ vspheremachines, i'd like to see the age of a vspheremachine object, i.e.
[code]

**Anything else you would like to add:**

Related issue, where im debugging a zombie machine  #1660

**Environment:**

- Cluster-api-provider-vsphere version:  main

[2022-10-23 15:06] jayunit100 commented on #1660
This seems to be associated w/ a netsplit between some of the nodes on my mgmt cluster (the workers that run capi controller manager) losing connectivity permanantly to the APIServer (kubevip) on the Workload clusters.

Seems like resource reconcilation should still work, though, even if such netsplits happen, as long as the capv-controller manager can still talk to Vsphere instances...

[2022-10-23 15:17] jayunit100 commented on #1660
Am assuming maybe draining any (mgmt worker VMs) that are unable to connect to (WL apiserver) is a workaround, will test..

[2022-10-23 15:24] jayunit100 commented on #1660
ah, "Deleting a kubernetes node associated with a machine is not allowed" after i bounced the capi-controller to a healthy, connected node.... (just a note to self)... will see how to resolve that later....

[2022-10-23 23:44] jayunit100 commented on #1660
After trying to
- bounce ccm over to a node that isnt netsplit, it seemed happier
- i tried to manually kill of finalizers to rejigger the system
- ended up w/ something like this...

[code]

[2022-10-24 00:31] jayunit100 commented on #1660
ultimately, was able to fix everything back

[code]

by just carefully deleting finalizers and the above "bounce pod to connected node" trick.

Ill file a follow on issue to have capi-controller-manager proactively fail in events of netsplits

[2022-10-24 15:04] srm09 commented on #1661
Feel free to raise a PR
/help
/good-first-issue

[2022-10-24 20:12] lubronzhan opened #1662 "Bump kube-vip to 0.5.5"
/kind feature

**Describe the solution you'd like**
With the release of kube-vip 0.5.5 version, which includes many bug fixes, we should update the current version used in the CAPV cluster template manifests and the CI as well.

**Anything else you would like to add:**
https://github.com/kube-vip/kube-vip/releases/tag/v0.5.5

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes v

[2022-10-27 18:43] srm09 commented on #1661
/assign @lubronzhan

[2022-10-27 19:53] lubronzhan commented on #1661
PR merged

[2022-10-27 19:54] lubronzhan commented on #1662
PR merged, could be closed

[2022-10-27 19:54] #1662 closed

[2022-10-27 22:50] srm09 commented on #1350
/remove-lifecycle rotten
/lifecycle frozen

[2022-10-28 01:03] srm09 opened #1669 "vCenter fails due to anti affinity cluster module creation"
/kind bug

**What steps did you take and what happened:**
1. Turn on the anti affinity feature flag for CAPV
2. Create a workload cluster with 1 control plane and 1 worker node
3. Create a new MachineDeployment with a VSphereMachineTemplate such that `spec.template.spec.server` is different than the `spec.server` value for the `VSphereCluster` object.
4. `VSphereCluster` CR shows the warning:
[cod

[2022-10-28 09:21] #1227 closed

[2022-10-30 23:43] #1098 closed

[2022-10-31 13:10] #1647 closed, assigned to nobody

[2022-11-01 21:15] srm09 commented on #1669
/close
Fixed in #1670

[2022-11-01 21:16] #1669 closed

[2022-11-01 21:20] srm09 opened #1674 "Cluster creation fails when using invalid label values for ESXi host info"
/kind bug

**What steps did you take and what happened:**
1. In the vCenter instance, configure the ESXi hosts to have an IPv6 address as the primary address.
2. Create a cluster with 1 control plane and 1 worker nodes
3. Cluster creation fails with the following errors in the logs:
[code]

**What did you expect to happen:**
Cluster creation proceeds without any errors.

**Anything else you would

[2022-11-01 21:22] srm09 commented on #1674
The main reason behind the failure is the restriction on the character set that can be used as valid label values. K8s docs around the table value syntax can be found [here](https://k8s.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set).

Based on the above documentation, these could also fail for a host with a DNS name greater than 63 characters.

[2022-11-01 21:23] srm09 commented on #1661
/close
Added in #1668

[2022-11-01 21:23] #1661 closed

[2022-11-01 21:23] srm09 commented on #1674
/retitle Cluster creation fails when using invalid label values for ESXi host info

[2022-11-01 21:24] srm09 commented on #1652
/retitle Provision to upgrade hardware version during VM clone operations

[2022-11-02 14:51] EdgeJ commented on #1162
Has there been any more work done on this? The issue is obviously still open and the two PRs referencing it look like they were closed without being merged. I would potentially be interested in working on this if there isn't anyone else looking into it.

[2022-11-02 19:17] #1674 closed

[2022-11-02 23:22] tommasopozzetti opened #1679 "NodeLabeling feature uses Machine name instead of node name"
/kind bug

**What steps did you take and what happened:**
With the NodeLabeling feature turned on, capv controller is unable to label the managed cluster's nodes and emits errors similar to the following:
[code]

**What did you expect to happen:**
Labeling of managed cluster's node should work correctly even if machine's name and node name differ

**Anything else you would like to add:**
Looking a

[2022-11-03 00:09] srm09 commented on #1652
Adding my thoughts here,
Setting the hardware version is not allowed to be set during clone operations, it is either obliged only in create or upgrade VM tasks. Relevant docs [here](https://vdc-download.vmware.com/vmwb-repository/dcr-public/c476b64b-c93c-4b21-9d76-be14da0148f9/04ca12ad-59b9-4e1c-8232-fd3d4276e52c/SDK/vsphere-ws/docs/ReferenceGuide/vim.vm.ConfigSpec.html), look for the definition o

[2022-11-03 00:30] srm09 commented on #1652
There is no straight forward method exposed by `govmomi` to expose the hardware version of the object, you might have to get creative with the property collector exposed by the `VirtualMachine` object and get the value of the property. Couple of places where I found the property was `config.version` and `guest.version` on the `VirtualMachine` object.

I am not sure if the first one is available fo

[2022-11-04 10:32] #1546 closed

[2022-11-04 11:36] johananl opened #1682 "Generated manifests aren't verified by CI"
/kind feature

**Describe the solution you'd like**
We should refuse to accept PRs where flavors are updated without running `make generate` and committing the result.

We already have a Make target called `verify-gen` which we can use in CI.

**Anything else you would like to add:** None

**Environment:** n/a

[2022-11-04 11:36] johananl commented on #1682
/assign

[2022-11-04 11:44] johananl commented on #1682
I've opened https://github.com/kubernetes/test-infra/pull/27898 which adds a CI job for the above.

[2022-11-06 05:56] #1418 closed

[2022-11-06 05:56] #1420 closed

[2022-11-06 05:56] #1421 closed

[2022-11-07 07:37] merriadoc commented on #1553
/remove-lifecycle stale

[2022-11-07 18:46] srm09 commented on #1588
This is a part of the 1.4.0 and 1.4.1 release for CAPV.
/close

[2022-11-07 18:46] #1588 closed

[2022-11-07 18:54] srm09 opened #1683 "CAPV controllers should keep ownerRefs on the current apiVersion"
/kind feature

**Describe the solution you'd like**
This issue stems from the [CAPI issue #7224](https://github.com/kubernetes-sigs/cluster-api/issues/7224). This is to investigate the owner references of the CAPV objects created pre-v1beta1 versions. Currently, there is no provision to update the owner reference api version to the latest served by CAPV, which might cause garbage collection by the

[2022-11-07 18:56] #1682 closed

[2022-11-07 19:52] srm09 commented on #1469
No work is planned on this one.
/close

[2022-11-07 19:52] #1469 closed

[2022-11-07 19:57] srm09 commented on #1442
Instead of adding this as a CI job, let us start with having a custom doc on how to run a kubescape scan against a cluster created by CAPV.
The next logical step could be to augment the post-deploy job to run kubescape scanner after every successful merge and post the details in the job.

[2022-11-07 20:02] srm09 commented on #1552
The CAPV version 1.3.x and above sets the `--enable-keep-alive` flag by default, so this should not be the case any more.
For 1.2.x CAPV, you could enable this flag on the CAPV deployment by adding `--enable-keep-alive` to the CAPV deployment which should mitigate these errors as well.
/lifecycle frozen
/remove-lifecycle stale
/priority awaiting-more-evidence

[2022-11-08 09:21] johananl commented on #1006
/remove-lifecycle stale

[2022-11-09 15:32] #1652 closed, assigned to geetikabatra

[2022-11-09 16:42] geetikabatra opened #1685 "E2E test for VMX Version"
/kind bug
The functionality of the VMX version is missing E2E tests.
This needs to be added to the complete the  feature.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-ap

[2022-11-09 16:44] srm09 commented on #1685
/remove-kind bug
/kind support

[2022-11-09 20:05] adobley commented on #1582
/remove-lifecycle stale

[2022-11-10 12:51] geetikabatra commented on #1685
Steps to E2E test
1) Create a cluster using `clusterctl.ApplyClusterTemplateAndWait` method. Apply a template with vmx-hardware set to 17.
2) Verify if the vmx version is set by extracting the VM object using ```
[code]
and then check the properties of the vmobj like this.

[code]

cc: @srm09

[2022-11-10 19:03] tylerschultz opened #1689 "IPAM status conditions enhancements"
/kind feature

**Describe the solution you'd like**

The `IPAddressClaimed` status condition for IPAM IPAddressClaim and IPAddress reconciliation shows only the first encountered invalid IPAddress, if one is deemed to be invalid. Other IPAddressClaim/IPAddress pairs may be successfully reconciled, but the messages do not show this information.

The condition messages should be enhanced to show the

[2022-11-10 19:13] tylerschultz opened #1690 "IPAM: create IPAddressClaims sooner"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

IPAddressClaims are created when a network device is configured with `addressesFromPools`. In its current implementation, it happens after checking hardware version and also after cloning the vm and validating the devices that are attached to the vm.

If the IPAddressClaims were creat

[2022-11-11 16:48] #1006 closed

[2022-11-11 17:16] #1550 closed

[2022-11-12 05:51] #1685 closed

[2022-11-14 06:24] geetikabatra commented on #1683
The way to replicate this issue is, I create a CAPV cluster with v1alpha3 and look for owner references in MD, MS, and M. They all should reflect v1alpha3. Now I upgrade it to v1beta1 and see that owner references in MD-> v1beta1, but MS and M is v1alpha3. Please correct me if I am wrong @srm09

[2022-11-16 09:43] johananl opened #1694 "Add Flatcar to supported distro list"
Now that we have [Ignition support](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1429), we can add Flatcar Container Linux to the list of distros supported by CAPV (and possibly other Ignition-powered distros, though we'd have to test them first).

We may also want to figure out how to automate building images for Flatcar (should this be a prerequisite?).

[2022-11-17 11:25] johananl commented on #1601
/remove-lifecycle stale

[2022-11-17 18:08] #1324 closed

[2022-11-19 20:09] srm09 opened #1698 "Update vm-operator API to the new repo location"
/kind feature

**Describe the solution you'd like**
The [vm-operator-api repo](https://github.com/vmware-tanzu/vm-operator-api) has been deprecated and will be removed in the future.   Here is the deprecation notice from the repo:
[code]

**Environment:**

- Cluster-api-provider-vsphere version: v1.5.0

[2022-11-19 20:15] srm09 commented on #1698
/help
/good-first-issue

[2022-11-21 18:38] srm09 commented on #1698
/kind release-blocking

[2022-11-22 09:32] dharmjit commented on #1694
@johananl Do the Flatcar Linux CAPI images(even if build manually) exists somewhere?

[2022-11-22 12:24] johananl commented on #1694
@dharmjit you'd have to build your own for the time being. Use image-builder for that: https://image-builder.sigs.k8s.io/capi/providers/vsphere.html

We might start publishing official images in the future.

[2022-11-22 12:58] andyzheung opened #1699 "Have some trouble about cluster api on vmware, if anyone can help?"
from cluster api sig to there.
https://github.com/kubernetes-sigs/cluster-api/issues/7588

[2022-11-22 13:00] andyzheung commented on #1699
i search from internet, but only find two, i seem not the same to me:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/828
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/808

[2022-11-22 15:45] andyzheung commented on #828
I have meet the problem, but I don't what you say about DNS bug?

[2022-11-22 21:57] srm09 commented on #1699
Answered in the CAPI issue.

[2022-11-23 15:57] andyzheung commented on #1699
yes, I can close this issue. thank you. @srm09

[2022-11-23 15:57] #1699 closed

[2022-11-24 06:29] andyzheung opened #1700 "About CAPV related to CAPI"
from this picture, is capv can't match cpai v1.2? @srm09

![image](https://user-images.githubusercontent.com/22912347/203710061-82047e97-f364-4d74-bb3e-2fe712619bfc.png)

[2022-11-24 08:02] andyzheung commented on #1700
other question is:
![image](https://user-images.githubusercontent.com/22912347/203726110-0895289e-1443-442a-9f57-e9a8353ed091.png)
the ova of this can't setup.
![image](https://user-images.githubusercontent.com/22912347/203726229-0c48bbdb-9585-4912-ab84-0ed81d7e90d3.png)

use
CAPI: 1.2.0
CAPV:  1.2
management cluster: 1.21.0

[2022-11-24 08:40] andyzheung commented on #1700
I try this ova, that can setup the work cluster...
![image](https://user-images.githubusercontent.com/22912347/203732598-c59ae0a8-cd5b-41db-a542-30f620c0098b.png)

but a new problem is that only one controller plane node is ready.
![image](https://user-images.githubusercontent.com/22912347/203733005-71a4450c-abf9-4533-8ff1-59a0a5ee2202.png)
![image](https://user-images.githubusercontent.com/229123

[2022-11-24 09:13] andyzheung commented on #1700
I use the template in this repo:
[demo-template.zip](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/10082912/demo-template.zip)
CONTROL_PLANE_MACHINE_COUNT='3'

[2022-11-24 12:58] andyzheung commented on #1700
I try to ssh to the controller plane node2, and
kubeadm reset
kubeadm join 10.250.71.221:6443 --token 3pi96l.q9vnwmnig77mhdgi --discovery-token-ca-cert-hash sha256:1a88ea416d4e7592ce9fcd60116bac544095bae7b8326af4683c0de93503103e --control-plane --certificate-key 9abb1cd5071d2ec36c483f6aacb444ccb7821940b9481c7e1d15d3910131a556

few minites later, I can see:
![image](https://user-images.githubuserco

[2022-11-24 13:20] andyzheung commented on #1700
two bosses form vmware can help me solve the problem above or give some idea!
really thanks。
@srm09 @fabriziopandini

I just want to solve the cluster autoscaler on vsphere. and I have used single controller plane + autoscaler as following picuture, and running ok, and can get CA capibility..
![image](https://user-images.githubusercontent.com/22912347/203793807-514b0d26-eeeb-4fba-add6-a6fd9967d288

[2022-11-25 02:39] andyzheung commented on #1700
I see this issue, I seem need to deploy CAPD?  what is? I only deploy CAPI and CAPV.
https://github.com/kubernetes-sigs/cluster-api/issues/4027

[2022-11-25 03:18] andyzheung commented on #1700
kubectl get kubeadmcontrolplanes
![image](https://user-images.githubusercontent.com/22912347/203893447-754ec2d3-ef07-42ec-9cc2-2755183934c7.png)

kubectl describe kubeadmcontrolplanes
Name:         autonomy-elastic-dev-cluster
Namespace:    default
Labels:       cluster.x-k8s.io/cluster-name=autonomy-elastic-dev-cluster
Annotations:  <none>
API Version:  controlplane.cluster.x-k8s.io/v1beta1
Kind:

[2022-11-25 03:28] andyzheung commented on #1700
Struggle to solve it, I find some related issues paste here:
https://github.com/kubernetes-sigs/cluster-api/issues/5477
https://github.com/kubernetes-sigs/cluster-api/issues/5509
https://github.com/vmware-tanzu/tanzu-framework/issues/954

[2022-11-25 04:01] andyzheung commented on #1700
I try to change the:
- --bootstrap-token-ttl=90m
then:
kubectl logs -n capi-kubeadm-control-plane-system capi-kubeadm-control-plane-controller-manager-75d5f9d99-5vdgc
![image](https://user-images.githubusercontent.com/22912347/203898850-0207aa2b-8300-47f6-a3ee-8fafbdefc3b2.png)

[2022-11-25 17:22] #1557 closed

[2022-11-26 03:27] andyzheung commented on #1700
===》this multi workload cluster autoscaler that I have got them running..
So the remain problem is:
how I can create the 3 controller plane nodes use CAPI and CAPV..
and additional problem is:
If I can use the this CA capibility in a internal network environment that can't access internet? cloud-init or image pull may need  internet? and any others?if cloud-init need internet, how to solve it..

[2022-11-26 11:30] chiukapoor commented on #1698
/assign

[2022-11-28 21:36] srm09 commented on #1700
Answering this [question/comment](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1700#issuecomment-1326219609), `kubeadm` cleans up the scripts after the init/join command fails which is what is being referred to in the logs. No problem with kubeadm in the environment. You can check the `/var/log/cloud-init-output.log` to see the set of steps that are run which would show t

[2022-11-28 22:20] srm09 commented on #1700
Setting the `CONTROL_PLANE_MACHINE_COUNT` environment variable to `3` should be the only change that would be needed to get a cluster with 3 control plane nodes.

Have you been able to get a single node control plane workload cluster running yet?

[2022-11-29 01:16] srm09 commented on #1700
If you are using `clusterctl generate cluster` command to generate and apply the cluster YAML, then do this
1. Pipe the generated cluster YAML manifest to a file via command `clusterctl generate cluster abc --kubernetes-version 1.23.8 > /tmp/abc.yaml`
2. Edit the generated manifest and add
   1. Edit the `csi-vsphere-config` ConfigMap to include the `insecure-flag = true` under the `[VirtualCenter

[2022-11-29 11:30] andyzheung commented on #1700
---
yes, I can setup a single controller plane workload cluster and it can run well and can have cluster autoscaler.

[2022-11-29 11:33] andyzheung commented on #1700
I have read the cloud-init-output.log, the second controller plane logs is like:
![image](https://user-images.githubusercontent.com/22912347/204518343-1aa84225-bd6e-433e-8373-b60e837a99ea.png)

[2022-11-29 11:38] andyzheung commented on #1700
I am not using clusterctl. I just use the template:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1700#issuecomment-1326159473
this template is download from the the repo.
and I just install the CAPI and CAPV in my existing cluster as management cluster.
CAPI: 1.2.0
CAPV: 1.2
management cluster: 1.21.0
Have any suggestion that if I have any problem that I don't consider?

[2022-11-29 15:46] jesse-rusak-RTX opened #1702 "CAPV looking for KubeadmControlPlane despite using non-kubeadm control plane provider"
/kind bug

**What steps did you take and what happened:**
Deployed CAPV into a KIND cluster with `clusterctl` using a custom, in-house control-plane and bootstrap provider:

`clusterctl init --infrastructure vsphere --bootstrap custom --control-plane custom`

Then we apply our manifests telling the `Cluster` CRD to utilize our custom control plane (for the sake of example, called `CustomControlPla

[2022-11-29 16:50] srm09 commented on #1702
/assign

[2022-11-29 17:04] srm09 commented on #1700
Could you use the latest CAPV version, v1.5.0

The replica number for the `KubeadmControlPlane` object needs to be set to `3` for a 3 node control plane.

Could you raise this question in the `kubeadm` repo or Slack channel? They might have a way documented for this one. Essentially you'd need a custom repository in the internal network hosting the images and have the nodes be able to access this

[2022-11-30 02:26] andyzheung commented on #1700
--->Is related to CAPV version? I think v1.2.0 is higher enough?
The replica number for the KubeadmControlPlane object needs to be set to 3 for a 3 node control plane. --->I have modified it to 3, but i seems have some problem i metions above.