[2019-08-09 19:42] #200 closed

[2019-08-09 22:06] tkrausjr commented on #429
@akutz  I have a simple "./pkg/apis/vsphere/v1alpha1/validate" package done that will validate all of the vSphere specific objects specified in the cluster.yaml and machines.yaml.  I have it in a fork [here](https://github.com/tkrausjr/cluster-api-provider-vsphere/blob/issue-429/pkg/apis/vsphere/v1alpha1/validate/main.go).  Right now I am testing with static values in main.go so I need to work on

[2019-08-11 02:37] andrewsykim opened #495 "Intermittent crypto/rsa verification error using kubeconfig"
/kind bug

**What steps did you take and what happened:**
On a new cluster (using master), I'm occasionally seeing this error from kubectl using the bootstrap cluster's kubeconfig:
[code]

It's pretty sporadic and goes away after a few retries but happens frequent enough to be a nuisance.

Maybe related: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/477

**What did you exp

[2019-08-11 14:31] mshindo opened #496 ""clusterctl create cluster" command fails to complete"
/kind bug

The problme I'm seeing is that 'clusterctl create cluster' command doesn't finish properly. It waits for Machine management-cluster-controlplane-1 to come up but it never comes up. Finally clusterctl command bails up after 30 mins.

It's similar to the issue #403 but using gcr.io/cnx-cluster-api/vsphere-cluster-api-provider:33dec11d-dirty instead of gcr.io/cluster-api-provider-vsphere/r

[2019-08-11 18:28] #228 closed

[2019-08-12 04:56] mshindo commented on #496
Sorry, it was not a bug. I noticed that there was a warning in the output of `kubectl describe machine` command as follows:

    Warning  CreateFailure  34s                vsphere-controller  error generating user data for "default/management-cluster/management-cluster-controlplane-1": unable to get folder for "default/management-cluster/management-cluster-controlplane-1": path 'vm' resolves to mu

[2019-08-12 15:08] yastij opened #497 "update manifest generation to match centralized cloud provider configuration"
/kind bug

**What steps did you take and what happened:** after https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/471 merged we moved from cloud provider configuration being specified on the machine config to cluster configuration.

Currently

[code]

does not reflect that and cluster bootstrapping fails with:

[code]

**What did you expect to happen:**
bootstrapping the managem

[2019-08-12 15:45] figo commented on #496
@mshindo  thank you for reporting the issue, i will looking into why folder `vm` does not work.

[2019-08-12 16:47] yastij commented on #497
@akutz - seems like on `release/manifests:latest` templates under `/build` and `/out/cmd` are diverging

[2019-08-12 16:48] akutz commented on #497
/assign @codenrhoden

[2019-08-12 18:37] akutz opened #498 "Remove local image builder"
/kind cleanup
Once kubernetes-sigs/image-builder#11 is done we should remove the local builder here to reduce confusion.

/assign @codenrhoden

[2019-08-12 18:40] akutz opened #499 "Use "runcmd" instead of "kubeadm" module in cloud-init user data"
/kind feature

**Describe the solution you'd like**
In preparation for the migration to v1alpha2, the current cloud-init user data should use the `runcmd` to invoke `kubeadm` instead of the latter's eponymous module.

**Anything else you would like to add:**
Please see https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/41 for more information regarding this issue.

[2019-08-12 18:41] akutz opened #500 "Identify minimum set of vSphere permissions required for a functional CAPV"
/kind feature

**Describe the solution you'd like**
Identify and document the minimum set of vSphere permissions required to deploy a Kubernetes cluster.

[2019-08-13 18:09] andrewsykim opened #501 "Enable the vSphere Cloud Controller Manager"
/kind feature

**Describe the solution you'd like**
With the in-tree vSphere cloud provider being removed soon and the [vSphere Cloud Controller Manager](https://github.com/kubernetes/cloud-provider-vsphere/) going to GA, we should at the very least enable an opt-in for the external vSphere cloud provider and eventually have it the default. It's worth noting that we would also need to enable the [

[2019-08-13 21:07] akutz commented on #490
Hi @fabriziopandini / @chuckha,

@jpweber mentioned he might take a stab at this, and I told him that it likely makes sense to sync with you two since this part of the CAPV code base will be replaced with the kubeadm bootstrap provider. I'm hoping Jim can craft a quick fix for this issue that:

1. Is in sync with what the plan is for the bootstrap provider
2. Perhaps even ends up being the basis/s

[2019-08-13 21:09] chuckha commented on #490
We do want to replace this with a user-configurable value so this definitely aligns with the plan.

This value, in CAPA, was hard coded but there wasn't much from changing it to a default instead. I expect that's the path we want for right now

[2019-08-13 21:28] akutz commented on #490
Hi @chuckha,

Do you mean you want to leave it static for now? If so then CAPV won't be able to use v1a2 until this is a configurable value.

[2019-08-14 20:23] andrewsykim commented on #245
@moshloop I don't think client-side loadbalancing is an option for CAPV mainly because we can't assume anything about an external caller to the cluster aside from the fact that it has a kubeconfig we generated. As you mentioned here https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/125#issuecomment-521377966, a VIP bound to localhost only fixes loadbalancing for mach

[2019-08-15 06:56] moshloop commented on #245
@andrewsykim kube-proxy isn't an option as it needs a control plane endpoint passed to it in order to start.

For external clients, once the cluster is bootstrapped things like MetalLB and ExternalDNS can be used to provide a stable endpoint.

[2019-08-15 15:00] andrewsykim commented on #245
kube-proxy needs _a_ endpoint to start, but once it starts it creates a `kubernetes` Service which provides a VIP (via ClusterIP) for internal clients to use which will direct traffic to all control plane nodes. My point earlier was that the "internal client" case is already solved - binding VIPs to localhost like you mentioned wouldn't provide much more value than what kube-proxy is already doing

[2019-08-15 21:14] chuckha commented on #490
Let me try to rephrase:

For the kubeadm bootstrap provider we aren't forcing any values on you anymore. That value came directly from the CAPA code which can take advantage of cloud-config + jinja + metadata server. In the case of vsphere, if my understanding is correct, you don't have the metadata data server like AWS (totally reasonable) and you don't know the host name until boot (also totally

[2019-08-15 21:38] akutz commented on #490
Hi @chuckha,

Thanks! FWIW, I'm on board with the external interpolation engine idea. I don't think it can be as simple as `envsubst` however. It should be akin to JINJA templating with a full query language. I [suggested](https://github.com/kubernetes-sigs/image-builder/pull/21#issuecomment-521805214) a data structure into a Go template, for example.

[2019-08-16 04:01] timmycarr commented on #450
I was able to complete a cluster build with 1.15.0. using v0.4.1 release.

[2019-08-16 07:54] pickledrick opened #503 "Allow for a slight time skew with certificate data"
/kind bug

**What steps did you take and what happened:**
Using the pivot workflow from my local machine to a cluster far far away creating a cluster fails with:

[code]
Allowing for a slight skew in time differences allows this to work

**What did you expect to happen:**
The cluster bootstrap completes successfully

**Anything else you would like to add:**
I have tested with 5 minutes and this ha

[2019-08-16 16:50] tkrausjr commented on #496
@figo  I believe this is expected behavior of govmomi and is a result of the govmomi finder method being used which will search the inventory tree for all occurrences of the object(folder) and if its found in multiple locations the function will return an error. Code is here https://github.com/vmware/govmomi/blob/dd082db295a7575ad1a8c00690bf66a508b9bb3f/find/finder.go#L1047-L1058

Explanation of d

[2019-08-16 16:54] akutz commented on #481
Hi @sujeet-banerjee,

Additional specificity is already allowed. Simply specify the full path to the resource pool. Please see https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/403#issuecomment-510276822 for more information on specifying the qualified path for resource pools, folders, etc.

[2019-08-16 17:04] akutz commented on #496
Hi @figo / @mshindo / @tkrausjr,

Thomas is correct. The reason the docs use `vm` is because it's the name of the root folder. There's nothing wrong with that, but if there's any ambiguity, it will fail. There's nothing we can do to prevent that -- it's on the operator to provide additional specificity.

I literally just answered https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issu

[2019-08-16 17:27] sujeet-banerjee commented on #481
Thanks, Andrew. I just went through the "path". I will give it a try.

However, a related problem is the resource path specifier does not allow specifying descendants much like the convenient "Xpaths", say, "//Compute-ResourcePool" instead of "/SDDC-Datacenter/host/Cluster-1/Resources/Compute-ResourcePool".

[2019-08-16 17:32] akutz commented on #481
Hi @sujeet-banerjee,

This is all tied back to Govmomi. I recommend engaging @dougm in the Govmomi repository for any enhancement requests you want to make regarding descendants matching.

[2019-08-16 17:39] tkrausjr commented on #496
Nothing to add, waiting on some feedback on #429 but this work will allow the checks to be done before the actual actuators kick in so that the user can fail faster and have a clearer understanding of what the issue was.

[2019-08-16 18:18] dougm commented on #481
You should be able to use `Compute-ResourcePool` by name without any path structure, if the name is unique to all ResourcePool types.  Have you tried that?

[2019-08-16 18:47] akutz opened #505 "Apply VM tags based on machine label prefix"
/kind feature

**Describe the solution you'd like**
The machine spec should define some label prefix to indicate which tags and values should be applied to VMs. For example:

[code]

[2019-08-16 18:53] akutz opened #506 "Support for NSX load balancer for HA cluster deployments"
/kind feature

**Describe the solution you'd like**
Support NSX-T for deploying HA clusters

Related to https://github.com/kubernetes-sigs/cluster-api/issues/1250

[2019-08-16 20:25] tkrausjr commented on #506
I have been giving this some thought before this was opened and I think while possible it will probably require a baseline NSX-T environment to be in place and installed on given vSphere Cluster nodes before CAPV can install and configure NCP components and Kubernetes clusters to support NSX-T. NSX-T in its current incarnation requires the following to install and I am not sure how feasible it wou

[2019-08-18 00:08] luniHw commented on #477
Hi Andrew, i met the same issue. the error is
`actuator.go:235] [cluster-actuator]/cluster.k8s.io/v1alpha1/default/management-cluster-nimbus "msg"="unable to create cloud provider secret" "error"="Post https://172.10.0.5:6443/api/v1/namespaces/kube-system/secrets: x509: certificate is valid for 100.64.0.1, 10.161.72.227, 10.161.72.227, 10.161.72.227, not 172.10.0.5"`

environment info as below:
-

[2019-08-19 17:11] ykakarap opened #510 "creating an infra service to remove hard dependency on govmomi"
/kind feature

The cluster actuator and the machine actuator (soon to be vsphere cluster controller and vsphere machine controller) directly use `govmomi` service to perform reconciliation. The actuators use `govmomi`  functions as part of the reconciliation loop. Parts of the reconciliation logic also currently sit in the `govmomi` service.

This could potentially be an issue from vSphere 7 and a

[2019-08-19 17:22] akutz commented on #510
/assign @ykakarap

[2019-08-19 17:23] akutz commented on #510
Related to #472

[2019-08-19 22:09] akutz opened #511 "Refactor types/dependencies/project to v1alpha2"
/kind feature

This issue tracks refactoring the types, dependencies, and general project assets to CAPI v1alpha2.

/assign @akutz

[2019-08-21 15:43] jpweber opened #513 "Create machine image for kubernetes 1.15.3"
/kind feature

**Describe the solution you'd like**
Create a machine image for kubernetes 1.15.3 for both Ubuntu 18.04 and CentOS 7 and update `docs/machine_images.md`

[2019-08-21 18:39] sujeet-banerjee commented on #481
Yes. The bug is for the case where there may be two vc-clusters with the same resource-pool name. You may want to re-read the bug description above...

[2019-08-21 18:40] sujeet-banerjee commented on #481
The full-path works... closing.

[2019-08-21 18:40] #481 closed

[2019-08-21 18:52] sujeet-banerjee commented on #175
The discussion moved to: https://docs.google.com/document/d/1fNm53l5K0OfPrGc3zhjNDYzVQNBEc85uEJfNwtiDQrY/edit#

[2019-08-22 13:50] akutz opened #514 "Manifest generation for v1alpha2"
/kind feature

**Describe the solution you'd like**
This issue tracks the creation of the manifest generation process for v1alpha2.

Since v1alpha2 infrastructure providers no longer build their own versions of `clusterctl`, the process to generate the starter manifests for bootstrapping a cluster with a provider has necessarily changed. This issue tracks the discovery of the new process as well a

[2019-08-22 13:54] akutz opened #515 "Update scripts/CI/e2e process for v1a2"
/kind feature

**Describe the solution you'd like**
This issue tracks updating the scripts/CI/e2e process for v1a2.

/assign @codenrhoden

[2019-08-22 13:55] akutz commented on #515
Blocked by #514

[2019-08-22 13:56] akutz opened #516 "Update release process for v1a2"
/kind feature

**Describe the solution you'd like**
This issue tracks updating the release process for v1alpha2. This includes the creation and publication of the release artifacts, such as the manager image. It is unclear whether or not v1a2 providers should still publish `clusterctl` as it is no longer necessary to build provider-specific versions of `clusterctl`.

/assign @codenrhoden

[2019-08-22 13:57] akutz commented on #516
Blocked by #515

[2019-08-23 04:04] yktsubo commented on #450
Thanks for the comment. I changed the version and don't see this issue any more.
So I would like to close this.

[2019-08-23 04:04] #450 closed

[2019-08-23 07:58] yktsubo commented on #506
Hi, I managed to install ncp as cni in workload cluster.
In the next version, ncp doesn't require to install ovs and cni manually.
But we still have some challenges here.

- NCP container image is required on private repository.
   I used harbor in my lab and needed to install private CA into deployed ubuntu nodes.
   Is there any way to insert private CA into k8s nodes?

- The interface name whic

[2019-08-23 19:55] tkrausjr commented on #429
Per @akutz holding off on this for now until CAPI v1alpha2 releases as it will change the types we are using to validate objects in vSphere. Waiting on #472 as a dependency before we can ship this validation.

[2019-08-23 21:39] akutz commented on #516
/assign

[2019-08-24 21:52] akutz commented on #514
/assign

[2019-08-24 21:52] akutz commented on #515
/assign

[2019-08-24 22:18] akutz commented on #499
/close

This will not be worked on prior to v1a2, at which point it will be handled as part of the v1a2 migration.

[2019-08-25 15:12] #511 closed

[2019-08-25 21:08] akutz commented on #513
/assign

[2019-08-25 22:13] #74 closed

[2019-08-26 00:02] akutz commented on #513
Hi @jpweber,

The following images are now available:

[code]

Also, here's a script that prints the URL for each file:

[code]

[2019-08-26 00:02] akutz commented on #513
Hi @jpweber,

I won't close this until we update the official images list with the new files. Thanks for filing this!

[2019-08-26 03:04] akutz commented on #514
/close #512

[2019-08-26 03:05] akutz commented on #515
/close
Closed with #512

[2019-08-26 03:05] #515 closed

[2019-08-26 03:06] akutz commented on #516
/close
Closed with #512

[2019-08-26 03:06] #516 closed

[2019-08-26 03:07] akutz commented on #514
/close
Closed with #512

[2019-08-26 03:07] #514 closed

[2019-08-27 01:51] rhockenbury opened #525 "Windows Node Support"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
K8s windows node support has been GA since 1.14.  Are there plans to produce a CAPV windows machine image?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernete

[2019-08-27 03:05] shawnho1018 opened #526 "clusterctl create cluster has error: unable to find provisioner for vsphere"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I use clusterctl 0.1.9 and recompile it on my linux.

clusterctl create cluster \
  --provider vsphere \
  --bootstrap-type kind \
  --cluster ./out/management-cluster/cluster.yaml \
  --machines ./out/management-cluster/machines.yaml \
  --provider-components ./out/management-cluster/pr

[2019-08-27 17:21] akutz opened #527 "Support in v1alpha2 for VM maintenance mode"
/kind feature

**Describe the solution you'd like**
CAPV v1alpha1 supported maintenance mode for VMs (https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/370). This issue tracks the reintroduction of that support for CAPV v1alpha2.

[2019-08-27 19:12] akutz opened #528 "Multi-tenant manager support"
/kind feature

**Describe the solution you'd like**
In v1a1, vSphere credentials were bound to the CAPV `ProviderSpec` in the CAPI `Cluster` resource. This design created a feature as a side-effect -- the ability to support multi-tenant management domains since the credentials used to deploy vSphere resources were tied to the CAPI `Cluster` resource, not the CAPV manager itself.

In v1a2 the crede

[2019-08-27 21:57] sir-rob opened #530 "Unable to create a cluster on VSphere with Clusterapi as controlplane.yaml is missing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I tried to follow the directions from the [getting started guide](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md). To get the clusterctl I used the following command:

[code]

I then ran the command to generate the manifests:

[code]

[2019-08-27 22:45] #530 closed, assigned to nobody

[2019-08-29 14:01] #498 closed

[2019-08-29 21:15] ykakarap opened #537 "Missing rbac for v1alpha2"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Some rbacs are missing on `VSphereMachine` and possible `VSphereCluster` that are needed for CAPV in v1alpha2.
Example: Missing permissions to access the CAPI Machines from `VSphereMachines`.

Need to add all the needed rbacs.

**Anything else you would like to add:**
[Miscellaneous in

[2019-08-29 21:15] ykakarap commented on #537
/assign @ykakarap

[2019-08-30 23:50] shawnho1018 commented on #526
This error disappeared after use the suggested clusterctl. I'll close this ticket.

[2019-08-30 23:50] #526 closed

[2019-09-03 13:28] #472 closed

[2019-09-03 13:28] #537 closed

[2019-09-04 15:05] rbankston opened #549 "Command line version output"
/kind feature

**Describe the solution you'd like**
Would like version, --version, or -v available to know the version of the clusterctl binary is installed on a machine.

**Anything else you would like to add:**

Would also be nice to list what provider the clusterctl is in the version output like:

[code]

[2019-09-04 18:40] ykakarap opened #551 "machines and vspheremachine show up even after deleting"
/kind bug

**What steps did you take and what happened:**
I created a management cluster and a workload cluster on vSphere.
Applied a `machinedeployment` with 1 replica on the management cluster. The VM gets created on vSphere. Then, the `machinedeployment` was deleted.
Next, a `machinedeployment` with 2 replicas is applied on the workload cluster. After both the vm are created the `machinedeploym

[2019-09-04 18:40] ykakarap commented on #551
/cc @akutz

[2019-09-04 18:41] akutz commented on #551
Do you think it could be related to https://github.com/kubernetes-sigs/cluster-api/issues/1377?

[2019-09-04 18:50] ykakarap commented on #551
https://github.com/kubernetes-sigs/cluster-api/issues/1366 is an issue about the MachineSet getting automatically deleted for no reason.
Even though this issue is not exactly the same as https://github.com/kubernetes-sigs/cluster-api/issues/1366 they might be related to a common bug (not really sure, maybe some bad reference?).

I observed the same behavior as https://github.com/kubernetes-sigs/cl

[2019-09-05 03:49] datianshi opened #554 "Get Start seems not working with bootstrapping"
/kind bug

**What steps did you take and what happened:**
Follow the https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md

Seems a dead loop ->
When the first control plane machine was deployed

The machine controller reports ->
Cluster infrastructure is not ready yet, requeuing machine"

And the cluster controller reports ->
failed to get preferred I

[2019-09-05 15:19] #551 closed

[2019-09-05 22:58] zdyxry commented on #554
`VSphereCluster.Status.Ready` will be marked  first when it is reconciled，what is the version of clusterapi controller manager?
This error `failed to get preferred IP address for VSphereMachine` should be caused by a missing field `machine.Spec.Network.PreferredAPIServerCIDR`,this error should not affect the installation of the controlplane.

[2019-09-06 02:38] datianshi commented on #554
@zdyxry  status ready is not marked first until a recent change ->

It used to reconcile API endpoint first

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/commit/e086bccf0c8bef083975959fa907dd83fd2a946e#diff-f581456f74dae7eeda0f85d1f78ca0cd

I pull the latest image and worked....

[2019-09-06 02:44] zdyxry commented on #554
I saw you env `Cluster-api-provider-vsphere version` is `latest` , so .....

[2019-09-06 02:56] datianshi commented on #554
@zdyxry latest means pulled before this 3 days ago :)

[2019-09-06 02:56] #554 closed

[2019-09-06 18:48] rbankston opened #555 "Multi Master Cluster Kubeconfig"
/kind bug

**What steps did you take and what happened:**
Created a multi master cluster with CAPV 0.5.0 but the kubeconfig secret pointed to the first controlplane node and didn't match what existed with the control plane endpoint specified in the manifests.

**What did you expect to happen:**
Expected the load balancer address specified to be output in the kubeconfig

**Anything else you would l

[2019-09-06 23:26] rbankston opened #557 "CA Secret causes cluster to stop provisioning"
/kind bug

**What steps did you take and what happened:**
Provisioned an external etcd cluster for use with a CAPV cluster and loaded the certificate authority key and certificate used for etcd in the namespace with the <clustername>-ca secret with the same label. The controller fails to move on with the provisioning using the secret and instead outputs:

[code]

**What did you expect to happen:**

[2019-09-08 19:48] akutz commented on #555
/assign

[2019-09-08 19:49] akutz commented on #499
/close

[2019-09-08 19:49] #499 closed

[2019-09-08 20:00] akutz commented on #555
Hi @rbankston,

So at first I thought this was definitely a bug, but now I'm wondering if it's an issue of an incorrect manifest. Can you please paste your `cluster.yaml` and `controlplane.yaml` files? Thank you!

[2019-09-08 20:11] akutz commented on #555
Hi @rbankston,

FWIW, I think it *could* still be a bug, but I'm no longer 100% certain it is. I also think you may have uncovered a scenario for which the new v1a2 bootstrap model doesn't account -- what happens in an infrastructure provider if you know your ControlPlaneEndpoint *in advance*? One would think that makes things easier, but it seems the opposite may in fact be true.

For instance, C

[2019-09-09 15:17] detiber commented on #555
Currently we just rely on the Cluster infrastructure provider to supply the value used by APIEndpoints, but maybe we should also bubble up some type of value from the Bootstrap provider as well? That said, it isn't exactly straightforward since the Bootstrap provider is only integrated with Machines today...  This *should* be easier once we have control plane management baked in, but I'm not neces

[2019-09-09 15:19] akutz commented on #555
Hi @detiber,

Yeah, I thought I discovered an odd edge case here. FWIW, for the time being I'm going to just read a machine's associated `KubeadmConfig` resource, even though I don't think this is a good idea, and see if there's a predefined `ControlPlaneEndpoint`.

[2019-09-09 16:48] akutz opened #561 "Raise minimum, supported version of vSphere to 6.7u3"
This issue is to discuss raising the minimum, supported version of vSphere to 6.7u3. This is to transition the default cloud provider deployed by CAPV to the external, [vSphere cloud provider](https://github.com/kubernetes/cloud-provider-vsphere). The external cloud provider relies on the new [vSphere container storage interface (CSI) driver](https://github.com/kubernetes-sigs/vsphere-csi-driver),

[2019-09-09 17:00] akutz commented on #557
cc @chuckha

[2019-09-09 17:12] chuckha commented on #557
This looks entirely contained in the bootstrapper, mind if I copy paste this over there and we can close this one?

thanks for the ping @akutz

[2019-09-09 17:13] akutz commented on #557
That sounds good to me. @rbankston?

[2019-09-09 17:27] rbankston commented on #557
Sounds good to me @akutz

[2019-09-09 17:30] akutz commented on #557
/close

[2019-09-09 17:33] akutz commented on #557
That didn't close it. Weird. Closing in favor of https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/217

[2019-09-09 17:33] #557 closed

[2019-09-09 17:34] akutz commented on #549
I agree this would be nice. Yes, it's definitely something with which I agree :)

[2019-09-09 19:31] akutz commented on #503
/close

This was merged in release-0.4 and is no longer part of CAPV in `master`

[2019-09-09 19:31] #503 closed

[2019-09-09 19:32] akutz commented on #497
Hi @codenrhoden,

Do you need help looking at this? I also wonder if it's still an issue in CAPV v1alpha2.

[2019-09-09 19:34] akutz commented on #496
Hi @figo,

Do you need help looking into this? What's the status? Thanks!

[2019-09-09 19:37] akutz commented on #525
Hi @rhockenbury,

I'm not aware of any such immediate plans. It's something we've discussed, but this conversation should likely occur in the new machine [image-builder repository](https://github.com/kubernetes-sigs/image-builder). I will open an issue there for you.

[2019-09-09 19:38] akutz commented on #525
/close

Closing for https://github.com/kubernetes-sigs/image-builder/issues/30

[2019-09-09 19:38] #525 closed

[2019-09-09 19:39] akutz commented on #495
Hi @andrewsykim,

Are you still seeing this? Can you reproduce? Should we close this issue?

[2019-09-09 19:44] akutz commented on #490
Hi @jpweber,

This is no longer an issue in v1a2. Would you like to continue to explore a solution for v1a1?

[2019-09-09 19:45] akutz commented on #488
Is this still reproducible in v1a2? FWIW, a 48-minute long clone attempt is a problem with vCenter, not CAPV.

[2019-09-09 19:47] akutz commented on #473
/close

Fixed in #509

[2019-09-09 19:47] #473 closed

[2019-09-09 19:50] andrewsykim commented on #495
I haven't seen this in a while, let's close for now and re-open if it comes up again.

[2019-09-09 19:50] #495 closed

[2019-09-09 20:24] akutz commented on #468
Related to this [CAEP](https://docs.google.com/document/d/17Z_F_lmv4WgXaG9TaayOwwpCGRRoBxLbY070TSXDhvs/edit#heading=h.4rt1bigh1fwt)

[2019-09-09 20:26] akutz commented on #468
Related to https://github.com/kubernetes-sigs/cluster-api/issues/1250

[2019-09-09 20:39] akutz commented on #549
Reassign to CAPI.

[2019-09-09 20:41] akutz commented on #527
/assign @sidharthsurana

[2019-09-09 20:43] akutz commented on #505
/assign @andrewsykim

[2019-09-09 20:45] akutz commented on #500
@ntfrnzn is going to provide some more information on this based on some research he's done.

[2019-09-09 20:46] akutz commented on #500
cc @moshloop

[2019-09-09 20:47] akutz commented on #500
/assign @jiatongw

[2019-09-09 20:49] akutz commented on #496
Hi @mshindo,

Can you possible confirm whether or not this is still an issue and follow up with @figo? Thank you!

[2019-09-09 21:19] chuckha commented on #555
So if we know the load balancer ahead of time there is no where to put it because CAPA (and presumably CAPV) generate some value to populate APIEndpoints.

Much like what @detiber suggested, I wonder if we could do something in CAPI where we inspect the bootstrap object for an endpoint and use that if one exists otherwise use the first APIEndpoint that is defined. This would be an API change on th

[2019-09-09 21:23] akutz commented on #555
Hi @chuckha,

The LB FQDN would be set as the `ControlPlaneEndpoint` in the control plane machines' associated `KubeadmConfig` resources, and the control plane machines would use static IPs that are pre-configured to the LB.

The CAPA example was just used to demonstrate the lack of facility for achieving this based on a provider with which I knew you and Jason had familiarity.

Agreed.

I wonder

[2019-09-09 21:26] chuckha commented on #555
I suggested using annotations as an alpha-grade API so we can test features before we commit to making API changes but it seems the group is in favor of not doing that.

I believe @detiber is concerned about annotations becoming part of the API without actually being enforced by types.

However, the problem with this suggestion is that the bootstrap providers don't have access (intentionally) to w

[2019-09-09 21:28] akutz commented on #555
Hmm. I guess I see that, but I also see annotations as a message bus for optional information. Much like smalltalk -- throw this out there for those interested.

Fair. I didn't realize it couldn't do this, or rather I didn't realize we couldn't add that.

[2019-09-10 11:13] yastij opened #562 "e2e tests are broken"
/kind bug
/priority critical-urgent
/assign

**What steps did you take and what happened:**
as we do not build clusterctl anymore, PRs are failing e2e tests.

**What did you expect to happen:**

PRs shouldn't fail on clusterctl download

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from

[2019-09-10 13:57] ncdc commented on #555
Each provider is _supposed_ to limit its writes to its own data types. Same with Cluster API (although it does set ownerRefs on provider types, such as KubeadmConfig back to Cluster, AWSCluster back to Cluster, etc). While I don't really want to change this guidance, it's a should, not a must.

If we are talking about adding a data point somewhere, I do agree that adding it as a field is preferred

[2019-09-10 14:00] detiber commented on #555
These are the types of changes that get dicey without rev'ing the API version, since it introduces patch level dependency requirements between components. If we do introduce this, then we should make sure that the kubeadm bootstrap provider knows how to fallback gracefully if that field is not present on the version of the Cluster CRD deployed.

[2019-09-10 14:01] detiber commented on #555
The above is especially important because we are talking about not crossing API versions and cannot leverage a conversion webhook to handle the presence/absence of the field for the CRD version deployed.

[2019-09-10 14:12] akutz commented on #555
So I thought of something last night that I haven't tested yet. Currently this behavior exists because of the model I described above. However, *if* the `ControlPlaneEndpoint` is provided in advance, then the Kubeadm Bootstrap provider will **not** read the `APIEndpoints` from the `Cluster` and use one of them as the `ControlPlaneEndpoint`.

The issue is in the infra provider and how they know wha

[2019-09-10 18:10] divyenpatel opened #565 "Failed to deploy management cluster"
/kind bug

**What steps did you take and what happened:**
Failed to deploy management-cluster.

Created `envvars.txt ` as below.

[code]

Generated deployment YAML files

[code]

Attempted to create a management cluster

[code]

**What did you expect to happen:**
Management Cluster should be created.

**Anything else you would like to add:**
logs from capi-controller-manager

[code]

**Environment

[2019-09-10 21:40] #562 closed

[2019-09-11 15:38] codenrhoden commented on #379
This was taken care of in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/449.

/close

[2019-09-11 15:38] #379 closed

[2019-09-11 15:40] codenrhoden commented on #497
I can definitely look at this. With E2E tests working again, it indeed may no longer be a problem. I need to come up to speed on the changes over the last couple of weeks, but I will do so.

[2019-09-12 21:07] codenrhoden opened #570 "Project enforces checkout to $GOPATH unnecessarily."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Current `master` requires you to checkout project out into $GOPATH. I don't see any reason why this is the case since the project uses go modules...

[code]

**What did you expect to happen:**
Be able to use the code checked out to any path.

**Anything else you would like to add:**
I'm

[2019-09-13 15:14] akutz opened #572 "Print fields as columns with VSphereCluster and VSphereMachine resources"
/kind feature

**Describe the solution you'd like**
CAPI recently started annotating certain fields in the `Cluster` and `Machine` resources so that the marked fields will be printed as columns when executing `kubectl get clusters` or `kubectl get machines`. For example:

[code]

[code]

This is accomplished by adding `kubebuilder` annotations as Godocs to the resources' analogous Go types. For ex

[2019-09-13 17:41] divyenpatel commented on #565
@andrewsykim Can you please help with this?
We want to deploy k8s cluster along with external CCM using this project.

[2019-09-13 19:18] andrewsykim commented on #565
@divyenpatel there was a PR that merged just yesterday to add support for the external CCM but we haven't cut a release yet, see https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/502

[2019-09-13 19:19] andrewsykim commented on #565
You can either wait for v0.5.2 to deploy CAPV with the external provider or build/push new images on master

[2019-09-15 00:03] #90 closed

[2019-09-16 23:19] andrewsykim opened #575 "Support the vSphere CSI Driver for vSphere >= 6.7u3"
/kind feature

**Describe the solution you'd like**
In https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/502, we added support to use the external vSphere cloud provider for vSphere >= 6.7u3. Along with that we should also be deploying the [vSphere CSI driver](https://github.com/kubernetes-sigs/vsphere-csi-driver) for any CAPV deployment that is using the external cloud provider

[2019-09-17 01:33] divyenpatel commented on #565
Thanks @andrewsykim, before that I want to deploy management cluster, I think it is failing to deploy management cluster it self.  I am deploying management cluster on `kind` deployed on my mac.

I see this warning.

[2019-09-17 01:40] divyenpatel commented on #575
@andrewsykim If we can provide images for `CSI controller`, `node plugin`, `external-attacher`, `external-provisioner` and `metadata syncer/full sync` containers as a parameter it would be great.

[2019-09-18 20:15] voor opened #576 "Current v1alpha2 failing to pivot cluster secrets over to newly created management cluster"
/kind bug

**What steps did you take and what happened:**
Follow current getting started guide for `clusterctl` exactly as described on a non-NSX-t vsphere single host no-DRS or HA features turned on. (vSphere 6.7U3)
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/8aa048b1353a07a6ca296e3aba1e227fdd37707b/docs/getting_started.md#using-clusterctl

Everything works _okay_ (there'

[2019-09-20 03:42] luniHw opened #577 "Hostname is changed to be ipv6-localhost after rebooting cluster virtual machine."
/vsphere-provider bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. After created workload cluster, make some changes on vm, then reboot vm. Hostname is changed to be ipv6-localhost.
2. do 'sudo hostnamectl set-hostname workload-cluster-master', it dose work in rebooting senario
3. modify 'preserve_hostname: true' in /etc/cloud/cloud.cfg,

[2019-09-20 15:52] andrewsykim commented on #575
@divyenpatel noted!

[2019-09-20 23:33] figo opened #581 "capv v0.4.2-beta.0 has issue to create v1.16.0 kubernetes cluster"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1) clusterctl able to create the control plane successfully.
2) kubectl apply -f machineset.yaml success.
but worker nodes fail to join the cluster,  kubelet got failure:
[code]

kubelet config:
[code]

**What did you expect to happen:**
worker node able to join cluster.

**Anything else

[2019-09-21 00:20] voor opened #582 "Clear out guestinfo.userdata after node is successfully bootstrapped"
/kind feature

**Describe the solution you'd like**
After deploying a VM through Cluster API I would like to empty out the `guestinfo.userdata` as it contains sensitive information like private keys, the vsphere password, etc.

Right now:
[code]

Temporary fix:
[code]

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-vsphere version: `v0.5.1`
- Kubernetes version:

[2019-09-23 14:47] MaxRink opened #583 "CentOS 7 OVA not accepting static ip"
/kind bug

**What steps did you take and what happened:**
Im trying to define my machines to use static IPs.
With the Ubuntu template this works fine, but with the centos template the same config with just the template exchanged fails to get its network interface up.
The vSphere Machine definition im using:
[code]

**What did you expect to happen:**
The VM boots and gets an IP configured within th

[2019-09-23 15:21] MaxRink opened #584 "Cluster creation fails due to API not being accessible remotely"
/kind bug

**What steps did you take and what happened:**
Clusterctl fails to boostrap the management cluster with the following error:
<details>
  <summary>Clusterctl output</summary>

[code]
</details>

 The node created is accessible via ssh after clusterctl failed.
If i try to access the API i get this error:
[code]
If i ssh onto the node and use the config file located under /etc/kubernetes/a

[2019-09-23 17:42] andrewsykim opened #585 "kubeconfig secret not being deleted on cluster delete"
/kind bug

**What steps did you take and what happened:**
On CAPV v0.5.1, when deleting a cluster resource, the associated kubeconfig secret resource is not deleted.

**What did you expect to happen:**
On cluster delete, the kubeconfig secret should also be deleted.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Clu

[2019-09-23 17:43] andrewsykim commented on #585
I think this is a CAPI bug, opened https://github.com/kubernetes-sigs/cluster-api/pull/1431

[2019-09-23 18:00] andrewsykim commented on #585
Looks like OwnerRef to the cluster resource was added in v0.2.2 (https://github.com/kubernetes-sigs/cluster-api/pull/1403)

[2019-09-23 18:47] luniHw opened #586 "Assign some host resource in envvar.txt when creating cluster vm through cluster api"
/kind feature

**Describe the solution you'd like**
my scene is not like as usual. host in esxi cluster is added as a transport node in different transport zone in my env for different testing, so require a special exsi host. but now CAVP dose not support to assign a exsi host in envvar.txt, the vm is always cloned on the first host

**Anything else you would like to add:**
[Miscellaneous informat

[2019-09-23 20:29] andrewsykim commented on #586
/assign @akutz

[2019-09-23 20:30] andrewsykim commented on #584
/assign

[2019-09-23 20:31] andrewsykim commented on #583
This is a known issue, please see https://github.com/kubernetes-sigs/image-builder/issues/48

[2019-09-23 20:31] #570 closed

[2019-09-23 20:32] andrewsykim commented on #582
/assign @akutz

[2019-09-23 20:34] andrewsykim commented on #581
/assign

[2019-09-23 20:35] andrewsykim commented on #577
/assign @akutz

[2019-09-23 20:36] andrewsykim commented on #576
/assign

[2019-09-24 13:21] MaxRink opened #587 "manifest generation container version lacks behind quick start guide"
/kind bug

**What steps did you take and what happened:**
The Quick start documentation mentiones the -u flag for vSphere < 6.7u3.
This flag is not recognized by any published version of the container
[code]

**What did you expect to happen:**
the -u Flag is recognized

**Anything else you would like to add:**
The script in master contains the flag tho, so i suppose somebody just forgot to push th

[2019-09-24 14:53] andrewsykim commented on #576
Should be fixed with https://github.com/kubernetes-sigs/cluster-api/pull/1435

[2019-09-24 18:16] andrewsykim commented on #576
/close

Thanks for reporting @voor

[2019-09-24 18:16] #576 closed

[2019-09-25 14:51] codenrhoden opened #589 "Not exporting optional var in envvars.txt leads to validation failure"
/kind bug

**What steps did you take and what happened:**
Upon following the getting started guide, when creating `envvars.txt`, the line for `SSH_AUTHORIZED_KEY` is listed as optional. I didn't think I needed it, so I commented it out.

When running `clusterctl` using the manifests generated with that `.txt` file, I saw the following error:

[code]

If I uncommented the `SSH` line and put somethi

[2019-09-25 17:44] #575 closed

[2019-09-26 18:36] codenrhoden opened #591 "Explore k8s image promoter to k8s.gcr.io"
/kind feature

**Describe the solution you'd like**
At the last subproject meeting for CAPV, it was discussed that we want to look more into the k8s [image promoter](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io).

The idea here is that we file PRs to https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io when we want to have an image promoted to the k8s gcr.io namespace (which

[2019-09-26 20:01] akutz commented on #587
/assign @andrewsykim
/assign @akutz

[2019-09-26 20:21] akutz commented on #577
/kind bug

[2019-09-27 00:22] outofmem0ry commented on #572
/assign @outofmem0ry

[2019-09-27 19:55] #585 closed

[2019-09-28 14:49] shawnho1018 commented on #587
Same errors for me.

[2019-09-29 01:34] #255 closed

[2019-09-29 16:49] #144 closed

[2019-09-30 20:21] andrewsykim commented on #584
@MaxRink so `clusterctl` assumes it can reach the provisioned clusters remotely via the apiserver port (6443). Maybe something in your setup that is locking down access to that port?

[2019-09-30 21:07] #589 closed

[2019-10-01 15:11] andrewsykim commented on #584
Thanks @MaxRink!

/close

[2019-10-01 15:11] #584 closed

[2019-10-01 18:59] moshloop commented on #506
/assign @timothysc
Can you assist with some test infra for this?

[2019-10-01 19:40] timothysc commented on #506
/unassign @timothysc
We will have federated CI signal at some point on PRs, but that would be @akutz.

[2019-10-04 20:16] Lokicity opened #606 "Allow setting LeaderID in controller manager options"
/kind feature

Running CAPV in the same namespace with CAPI or CABPK results in leader election errors. More details kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm#271

[2019-10-07 15:54] mylesagray commented on #360
It appears that `addons.yaml` now does this - however, it creates a SC that is VCP specific, even when deploying the CSI plugin - SC created is as such:

[code]

The `provisioner` needs to change from VCP to CSI, a valid CSI SC would look like this:

[code]

Storage Policy Name would ideally be added as a env var export before creating the YAML files, `provisioner` should change based on whether t

[2019-10-07 16:00] mylesagray commented on #360
/remove-lifecycle stale

[2019-10-07 20:01] akutz commented on #606
/assign

[2019-10-07 20:09] akutz commented on #360
Hi @mylesagray,

Did you remove the stale marker due to something related to the CNI work in the upcoming v0.5.2 release?

cc @andrewsykim

[2019-10-07 20:16] akutz commented on #587
Hi @andrewsykim,

We should use this and other issues related to manifest generation as the basis for a discussion around the long-term viability of the generator vs the CAPI quick start.

[2019-10-07 20:27] andrewsykim commented on #360
/assign

[2019-10-07 20:30] andrewsykim commented on #360
I assumed that the StorageClass should be applied on a per-cluster basis in the same way we do for CNI and others. With that said though, I wouldn't be opposed to deploying a default storage class for convenience. @mylesagray we can probably get the `datastoreurl` in there but is the storage policy name mandatory?

[2019-10-08 04:08] #256 closed

[2019-10-08 11:46] mylesagray commented on #360
@andrewsykim Yeah, SPBM name is mandatory in CSI - and highly recommended in VCP, to simplify deployment we should assume SPBM name will be used for both - so it'd need to be a setup Env var too.

[2019-10-08 11:56] mylesagray opened #607 "When deploying with CSI - The deployed template isn't at the right VMHW version"
/kind bug

**What steps did you take and what happened:**
Deploy CAPV cluster with latest manifests, use Ubuntu 18.04 1.15.3 OVA image.

Disk attach operations fail with following error:

![CNS Error](https://dl.dropbox.com/s/kbluoao7tj97peh/Screenshot%202019-10-08%2012.53.59.png)

**What did you expect to happen:**
Disks to attached successfully.

**Anything else you would like to add:**
Unsure i

[2019-10-08 15:41] codyde commented on #607
+1, experiencing the same issue in my vSphere 6.7 u3 environment

[2019-10-08 16:10] andrewsykim commented on #607
VMX version update: https://github.com/kubernetes-sigs/image-builder/pull/60

[2019-10-08 16:11] codenrhoden commented on #607
I pushed new image last week with the hardware version set to VMX-13. But I only did it for the latest K8s versions -- 1.15.4 and 1.14.7, because I didn't want to overwrite old versions. I don't think we have a policy in place for how to overwrite the old ones (I can do it), but we don't push images with a version other than the K8s version, so it's not clear if an image has been replaced or not.

[2019-10-08 16:16] andrewsykim commented on #607
Folks, for now you can update the VMX version post-download of the OVA or use the machine images @codenrhoden mentioned above. Will report back shortly on what's going to happen for the older machine images.

[2019-10-08 16:43] yastij commented on #497
I'm no longer able to reproduce it

/close

[2019-10-08 16:43] #497 closed

[2019-10-08 17:16] ncdc commented on #606
@akutz if you're busy, @noamran can work on this - she did the same changes for the other repos.

[2019-10-08 17:17] ncdc commented on #606
We decided not to expose the leader election id as a flag to end users. Instead, we are hard-coding it to a unique value per cluster api repository. I'd recommend we do the same thing in CAPV; when Shan created this issue, I was thinking that we would expose it as a flag at that time.

[2019-10-08 17:18] andrewsykim opened #608 "infrastructure-components.yaml shouldn't include capv-manager-bootstrap-credentials"
/kind bug

**What steps did you take and what happened:**
The outputs of `make release-manifests` is what we use for the released `infrastructure-components.yaml` file. Currently `make release-manifests` includes the templated secret `capv-manager-bootstrap-credentials`, which means the infrastructure-components.yaml is no longer valid out of the box.  Creating the `capv-manager-bootstrap-credenti

[2019-10-08 17:19] akutz commented on #606
Thanks @ncdc, we'd appreciate that!

/assign @noamran

[2019-10-08 17:21] andrewsykim opened #609 "infrastructure-components.yaml should used tagged manager images"
/kind bug

**What steps did you take and what happened:**
Currently, the output of `make release-manifests` (which is released as `infrastructure-components.yaml`) uses the `latest` tag for the CAPV manager. This is misleading since that means older releases of `infrastructure-components.yaml`, can end up pointing to new versions of CAPV.

**What did you expect to happen:**
The released version of

[2019-10-08 17:23] andrewsykim opened #610 "Update getting started guide to use ubuntu-1804-kube-v1.15.4"
/kind bug

**What steps did you take and what happened:**
Since ubuntu-1804-kube-v1.15.3 is set to use VMX-11, which is not compatible with CNS (unless you update the VMX version post download), we should have the getting started guide to use a machine image that is using VMX-13 out of the box.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information

[2019-10-08 17:23] andrewsykim commented on #610
ref: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/607

[2019-10-08 17:25] andrewsykim opened #611 "Document how to update the VMX version of an OVA"
/kind feature

**Describe the solution you'd like**
Machine images released in older versions of CAPV were set to use VMX-11, which is not compatible with CNS (vSphere CSI). New machine images are compatible since they now use VMX-13, however we should document how to update the VMX version on older machine images.

**Anything else you would like to add:**
[Miscellaneous information that will assi

[2019-10-08 17:49] mylesagray commented on #611
/assign @mylesagray

[2019-10-08 17:50] mylesagray commented on #610
/assign @mylesagray

[2019-10-08 19:27] #606 closed

[2019-10-09 16:03] #610 closed

[2019-10-09 16:03] #611 closed

[2019-10-09 17:21] andrewsykim commented on #607
So TL;DR on this issue: the new machine images we're pushing will be using VMX-13, but not much we can do about existing images we already released since we don't want to break old versions of CAPV. Some discussions on-going for how to version the machine images here https://github.com/kubernetes-sigs/image-builder/issues/70 so we don't run into this kind of issue again.

@mylesagray has added doc

[2019-10-09 18:41] codyde commented on #607
I think thats totally reasonable. I like the documenting of the "how to upgrade" approach for previous images.

I look at it similar to the manifests image that we talked about previously - a callout to using updated images should help prevent this coming up in the future I suspect.

All good on my side!

[2019-10-09 18:44] andrewsykim commented on #607
Thanks @codyde, closing this for now, but please re-open if you run into other issues or have additional feedback

/close

[2019-10-09 18:44] #607 closed

[2019-10-11 13:41] yastij commented on #608
/assign

[2019-10-11 13:41] yastij commented on #609
/assign

[2019-10-11 15:33] yastij commented on #608
@akutz @andrewsykim - this means that it should be added to `provider-components.yaml` by user in order to be able to pivot to the management cluster, right ?

[2019-10-11 16:28] yastij opened #620 "publish latest stable version of capv using a stable.txt file"
**Describe the solution you'd like**

It would be convenient to publish the latest stable version of capv as `stable.txt` file. This would enable us for example to generate manifests with the latest version, and help build various automation scripts

/assign @yastij @codenrhoden
/kind feature

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue

[2019-10-12 00:31] voor commented on #503
There might be a regression here, as I am experiencing this issue pretty consistently with the management cluster and then workload clusters afterwards.  I SSH in and run the kubeadm command manually and everything works fine, but the initial cloud-init kubeadm fails with the following:

[code]

[2019-10-12 00:54] voor opened #621 "CA certificate is not valid yet when creating clusters"
/kind bug

Very similar to #503

**What steps did you take and what happened:**

- Run the exact steps in the getting started guide.
- Identify VM in vSphere UI, get the IP Address
- `ssh capv@192.168.x.x`
- `sudo su -`
- `less /var/log/cloud-init-output.log`

Contents [other junk removed for brevity]:
[code]
When manually executing `kubeadm init --config /tmp/kubeadm.yaml` installation continues.

[2019-10-12 01:12] voor opened #622 "If you delete a VM and then delete the cluster, the cluster won't delete"
/kind bug

Reading through some historical issues regarding externally deleted VMs.  What is the intended behavior currently?  I deleted a VM from the vSphere UI, but also deleted the cluster from the mission control cluster, and now things are kind of weird.  capi-controller-manager is saying `Cluster default/skew-timer still has 1 children - deleting them first`

**What steps did you take and wh

[2019-10-12 01:20] voor commented on #621
I added the following to my cloud init:
[code]

And then got the following output in the log:
[code]

[2019-10-12 08:55] vincenthanjs commented on #565
hi @divyenpatel . I'm having the same issue as well. Did you manage to get it resolve?

[2019-10-12 20:12] voor commented on #622
I have a couple other clusters so there's a bit of noise in the capi-controller-manager:

[code]

[2019-10-13 02:03] #249 closed

[2019-10-13 02:03] #252 closed

[2019-10-13 18:56] voor opened #623 "VSphereMachineTemplate determines node name and hostname but MachineDeployment determines VM name in vSphere"
/kind feature

**Describe the solution you'd like**
Right now when you create new nodes for a cluster you are typically configuring a `MachineDeployment` and a `VSphereMachineTemplate`.  The `VSphereMachineTemplate` determines the name of the hostname and then the resulting node, so you're left with something that is a little tough to compare across UIs and APIs.  For example, I created a cluster

[2019-10-14 15:18] KeithRichardLee opened #624 "Creation of workload cluster machines stuck at provisioned status. Cloud-init preflight failing to fetch the ConfigMap"
/kind bug

**What steps did you take and what happened:**
- Successfully created management cluster.
- Successfully created workload cluster control plane.
- Not successful in creating workload cluster workers
- Workload cluster machines don't progress from provisioned state to running state if there are 3 replicas.
- Sometimes, one worker machine will progress to a running state but remaining two

[2019-10-14 16:34] KeithRichardLee opened #625 "Sometimes vSphere tasks reports "<machine-name> already exists" on machine creation"
/kind bug

**What steps did you take and what happened:**
Noticed that sometimes, thou not always, on creation of workload cluster machines when it is creating the VMs (from a clone of template) there are two clone tasks for same machine. One task is successful, the other is not and reports reports "<machine-name> already exists" eg"The name 'keithlee-workload-cluster-01-controlplane-0' already ex

[2019-10-14 19:03] KeithRichardLee opened #626 "Unable to ssh to machines using key pair provided during creation"
/kind bug

**What steps did you take and what happened:**
After machines (mgmt or workload) are created, unable to ssh to them using private key of key pair specified during creation by the SSH_AUTHORIZED_KEY variable. Confirmed key is correct in the yamls under spec -> users -> sshAuthorizedKeys

[code]

[code]

[code]

**What did you expect to happen:**
Able to ssh to any machine created using t

[2019-10-14 19:52] akutz commented on #623
Hi @voor,

This is really a CAPI issue, not a vSphere issue. It's the CAPI controller that determines the name of the machine and thus host. @vincepri, should @voor file this with the CAPI repo?

[2019-10-14 20:21] vincepri commented on #623
This is definitely a CAPI issue, I'm not sure if it's an actual bug, but more expected behavior

[2019-10-14 20:25] voor commented on #572
I would like to see `.status.nodeRef.name` as a column or `.spec.infrastructureRef.name` I'm not sure which is more appropriate, this would allow you to quickly compare the output of your machines with the associated VMs in the vSphere UI.

[2019-10-14 20:28] voor commented on #623
Yes, this wasn't filed as a bug, it's just a little confusing at first, I'm wondering if maybe a way to cut down that confusion is to add a default column to the `machines.cluster.x-k8s.io` that would allow better comparison.

[2019-10-14 20:29] vincepri commented on #623
@voor Is the column you're looking for the corresponding node name?

[2019-10-14 20:35] voor commented on #623
I accidentally made the comment over in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/572#issuecomment-541901304 since I'm still getting used to which CRD is owned by which group, I see now that `machines.cluster.x-k8s.io` is a CAPI owned CRD instead.

Repeated here:

I would like to see .status.nodeRef.name as a column or .spec.infrastructureRef.name I'm not sure which is

[2019-10-14 22:31] randomvariable commented on #331
This was done in the kubeadm bootstrap provider.

/close

[2019-10-14 22:31] #331 closed

[2019-10-15 01:36] rikatz commented on #625
Did you took a look into this? https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/troubleshooting.md#a-vm-with-the-same-name-already-exists

[2019-10-15 09:53] KeithRichardLee commented on #625
Yes, already had checked for that.

@codyde has observed same in his env.

[2019-10-15 16:41] andrewsykim commented on #608
`infrastructure-components.yaml` is generated separate from the bootstrap/pivot process. So `provider-components.yaml` shouldn't change.

[2019-10-15 16:45] akutz commented on #608
Hi @yastij,

Here's how to visualize it.

* Running `kustomize build config/default` creates the _infrastructure components_
* Running `examples/generate.sh` creates the _provider components_
* _Infrastructure components_ is defined as only the components related to CAPV
* _Provider components_ is defined as both the _infrastructure components_ for CAPV and the _infrastructure components_ for ever

[2019-10-15 16:47] andrewsykim opened #629 "Set sane defaults for CPI / CNS image repos"
/kind feature

Now with CAPV deploying out-of-tree CPI / CSI by default, we should set sane defaults for those images if they are not specified in the cluster spec. Right now they are always required in the cluster spec or the CSI / CPI deployments do not work.

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release

[2019-10-15 16:58] andrewsykim commented on #623
@vincepri what was the justification for having machine controller use different names for node name and VM names?

[2019-10-15 16:59] vincepri commented on #623
There is no justification, it's more like how `generate-name` functionality works in Kubernetes

[2019-10-15 17:01] andrewsykim commented on #623
Right, but why not set the hostname based on the MachineDeployment generated name instead of a separate generated name for both?

[2019-10-15 18:32] codenrhoden commented on #312
With the 0.2.x series of CAPI, this has been taken care of.

`clusterctl` is available for Darwin and Linux on the CAPI releases page: https://github.com/kubernetes-sigs/cluster-api/releases

/close

[2019-10-15 18:32] #312 closed

[2019-10-15 19:18] andrewsykim commented on #360
One alternative we can do here is remove `StorageClass` entirely from `addons.yaml`, that way it's clear to users they need to create a StorageClass themselves. I'm not sure if it's making things better or worse though, thoughts @mylesagray @akutz?

[2019-10-15 19:21] voor commented on #360
As someone coming into this space, the new CSI stuff is pretty overwhelming at first.  You listed several acronyms I have no clue about -- SPBM and VCP for example.  Those are largely irrelevant to the Cluster API, since you're storing everything as CRDs in etcd.  So I would +1 removing it from the addons.yaml entirely.

[2019-10-15 22:13] andrewsykim commented on #623
So I had a chance to dig into this issue a bit more. I don't think there's much we can do because of the existing assumptions around `generate-name` in CAPI as @vincepri mentioned. However, I think setting the VM name to match the `Machine` generated name, instead of the `VSphereMachine` generated name is better since we want the hostnames matching the VM names in vSphere.

[2019-10-16 08:00] mylesagray commented on #360
@andrewsykim - maybe removing it simplifies things, and doesn’t make the assumption to know about the underlying VC SPBM names.

SGTM if @akutz is okay with it

[2019-10-16 09:11] sverrirsig commented on #577
A file under /etc/cloud/cloud.cfg.d with content **preserve_hostname: true** does overwrite this value. It's very doable at provisioning time but feels a bit dirty?

The comment in /etc/cloud.cfg:
----
This will cause the set+update hostname module to not operate (if true)
preserve_hostname: false
----

I wonder why the update hostname module is changing the hostname to this not so sane value afte

[2019-10-16 18:15] akutz commented on #360
I agree. I've been thinking about this, and I think with CNS in play we should start to consider a separate add-ons file for the initial management cluster and future, worker clusters. The initial management cluster doesn't need or require CNS, and should be as brain-dead and simple as possible IMO.

[2019-10-16 18:58] codyde commented on #625
Confirming - i see this in my environment during creation of an object. What appears to happen is that multiple API calls go out to vCenter (maybe during a reconciliation task?) to create said object, and the object creates as another call hits - thus triggering the message. There's no negative impact to the environment, just a quick error "blip".

[2019-10-17 03:37] andrewsykim commented on #626
@KeithRichardLee the default user is `capv` not `ubuntu`. Can you confirm `capv` works?

[2019-10-17 03:38] andrewsykim commented on #626
(we should document this better)

[2019-10-17 04:30] andrewsykim commented on #623
Opened https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/630 -- which at the very least consolidates the VM name and hostname (hence the Kubernetes node name) to match the name of the Machine. There will still be a mismatch between Machines and VSphereMachines  but not much we can do about that. Still investigating why we didn't use the Machine name for this in the first place,

[2019-10-17 08:10] KeithRichardLee commented on #626
confirm `capv` works!

[2019-10-17 09:59] KeithRichardLee commented on #624
Found the following in cloud-init-output.log from a machine 'stuck" in provisioned state..

[code]
compared to a machine that was sucessfull in same cluster progressing on to a running state...
[code]

[2019-10-17 15:14] andrewsykim commented on #626
Great, thanks for confirming. Btw the user is configurable in the kubeadm config (see [here](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/examples/default/controlplane/controlplane.yaml#L61-L64)). We don't expose this knob on the manifest generator though so you have to update it yourself if you want a different user.

[2019-10-17 15:24] vincepri commented on #623
The patch looks good to me, although seems very vSphere specific, in other environment you cannot override the VMname or hostnames

[2019-10-17 15:50] andrewsykim commented on #623
I know in some cloud providers, you can't override the hostname (AWS comes to mind) but the hostname is still determined based on the VM name. I think in general we should try to make the VM name match the Machine name at the very least. Though I admit AWS is a special case where the VM name itself is sometimes not configurable so not much that can be done there :)

Fwiw, we may not merge the PR a

[2019-10-17 17:16] andrewsykim commented on #626
/close

[2019-10-17 17:16] #626 closed

[2019-10-17 17:17] andrewsykim commented on #624
/assign

[2019-10-17 18:46] #608 closed

[2019-10-17 18:53] andrewsykim commented on #624
/unassign
/assign @yastij

[2019-10-17 18:56] andrewsykim commented on #625
I think this is a race condition in the machine controller as it waits for certain conditions to be satisfied before starting the initial clone. As already mentioned it's pretty harmless but I'll dig into it in-case there's an obvious/quick fix :)

/assign

[2019-10-17 18:57] akutz commented on #625
This has been in the code since I started working on the project. I'm sure it's something obvious, but myself and Yuvaraj were never able to isolate the root cause. We've walked the code many times, and we appear to account for all edge cases, but clearly we're not. I'm happy to have you help with this @andrewsykim, thank you!

[2019-10-18 00:47] andrewsykim opened #635 "kubelet version is not respected by version set in Machine resource"
/kind bug

**What steps did you take and what happened:**
Using the Ubuntu 18.04 Kubernetes v1.15.4 image, I wanted to quickly test Kubernetes v1.16.1. so I updated the `version` field in the Machine spec while still using the old VM template.

When I did this, the entire cluster was running v1.16.1 components except for the kubelet:

Machine:
[code]

API Server version:
[code]

Node version
[code

[2019-10-18 01:21] akutz commented on #635
This isn’t a bug so much as by design. A kubelet can run multiple versions of K8s, there is no bug.

I agree downloading the machine images as OVAs and deploying from them would be nice, and I’ve had a branch for this forever, I just can’t find the time.

[2019-10-18 01:25] andrewsykim commented on #635
I think you mean a kubelet is compatible with multiple versions of K8s, but a user specifying a specific version will expect the kubelet to be that version as well

[2019-10-18 01:41] akutz commented on #635
That’s just, like, your opinion man. But seriously, find the OVA issue and relate the two please. Or I will in the morning.

[2019-10-18 01:42] akutz commented on #635
Also, I would call this an RFE, not a bug since nothing is broken.

[2019-10-18 01:45] andrewsykim commented on #635
Sounds good, thanks for clarifying @akutz

[2019-10-18 14:11] yastij commented on #624
FYI @fabriziopandini

[2019-10-18 14:17] fabriziopandini commented on #624
this is a problem we encountered sometime in kubeadm. It is not fully clear why the API server answers Unauthorized (all the required RBAC rules are created at init time).

However, as a temporary workaround, we implemented a retry logic in kubeadm in v1.15.
As a temporary fix we can increase a little this timeout, but for a long term solution sig machinery support is required

[2019-10-18 14:22] yastij commented on #624
I'll try and reproduce it, but increasing the timeout for now sounds reasonable for now. cc @neolit123

[2019-10-18 14:23] andrewsykim commented on #624
This happened in 3 machines, is the problem known to happen that often?

[2019-10-18 14:25] fabriziopandini commented on #624
@andrewsykim this problem happened when trying to setup kubeadm e2e with aggressive parallel join. no reports from users afaik

[2019-10-18 14:30] neolit123 commented on #624
the 1.15 signal is clean and uses the same join code path for workers:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kind-1-15

^ also this is an HA cluster.

is CAPV waiting to join workers after the `kubeadm init` node has fully finished?

[2019-10-18 14:48] andrewsykim commented on #624
Sounds like what CAPV is doing now when you create a machine deployment with replicas=3.

IIRC, CAPV will only join workers once the first control plane is fully up so it seems unlikely.

[2019-10-18 20:33] #623 closed

[2019-10-18 22:27] neolit123 commented on #624
a couple of points:
- if workers are currently being joined in parallel please experiment with serial join.
- the kubeadm e2e is doing serial join for CPs and then serial for workers.
we have plans to extend that to parallel, yet i saw flakes that are hard to explain and reproduce:
https://gist.github.com/neolit123/4ecd657175f17df0a8207e7ffb2c0ec4
we can potentially extend the retry logic as it's

[2019-10-21 05:20] luniHw commented on #577
yes, it is just a temporary solution to address this issue.  need to find the cause that why hostname change when rebooting vm.

[2019-10-21 16:17] andrewsykim commented on #624
Doing serial join at the CAPV level means we have to do serial creates, should be a last resort IMO.

[2019-10-21 16:18] akutz commented on #624
This issue should be reassigned to the Kubeadm Bootstrap Provider IMO. cc @chuckha

[2019-10-21 16:21] akutz commented on #624
/close

Refiled as https://github.com/kubernetes-sigs/cluster-api/issues/1626

[2019-10-21 16:21] #624 closed

[2019-10-21 16:47] #360 closed

[2019-10-21 18:10] yastij opened #636 "consider adding admission webhooks to capv"
/kind feature

**Describe the solution you'd like**

As we start defaulting some of the APIs, we might want to consider shipping an admission webhook in order to:

- perform validation on the resources created by the user
- move any defaulting logic from the manager into the webhook

cc @akutz @andrewsykim

**Anything else you would like to add:**
[Miscellaneous information that will assist in sol

[2019-10-21 18:28] #609 closed

[2019-10-22 13:09] voor opened #639 "Version check against vCenter doesn't check ESXI hosts"
/kind bug

**What steps did you take and what happened:**

There is a new process with the example manifests where, if you have `VSPHERE_` variables configured, will check the version of your vCenter to see if it is 6.7U3 (or better).  This _may be_ a little confusing, since the interaction is hidden from the user.  More importantly, it *does not* check the versions of the ESXI hosts, *which also*

[2019-10-22 14:08] akutz commented on #639
/assign

[2019-10-22 17:13] yastij commented on #622
/assign

[2019-10-23 20:07] voor commented on #621
I am currently getting around this issue by explicitly specifying a ntp server in `KubeadmConfig` and `KubeadmConfigTemplate`:

[code]

[2019-10-24 17:41] voor commented on #621
The above fix does *not* work for Photon OS, not sure why not though.

[2019-10-24 19:31] akutz opened #644 "Add image provision to readme"
/kind feature

**Describe the solution you'd like**
We should add something similar to the following to the readme under the images section:

[2019-10-25 00:05] kacole2 opened #645 "unable to create control plane machine: timed out waiting for the condition"
/kind bug

**What steps did you take and what happened:**
I'm following the [Getting Started](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md) guide and I think I have everything set up correctly. I've tried this with both Ubuntu 1.15.4 and 1.16.2. Each end up with the same error. The only thing that is restrictive on my environment is that I can

[2019-10-25 02:59] #622 closed

[2019-10-25 15:03] akutz commented on #645
Hi @kacole2,

Do you have console access via the vSphere web client? If so, I'd love to Zoom with you and poke around the deployed host. Off the top of my head, if the network is not configured properly, that could present an issue. However, I don't see anything obviously wrong with the above manifests.

[2019-10-25 15:27] akutz commented on #645
I'm deploying a cluster based on the above manifests to one of our test environments. I'm also using static IPs. Aside from the vSphere information, I've changed nothing else about the above YAML. Will let you know what happens.

[2019-10-25 15:33] akutz commented on #645
I see it taking a pretty long time, slowing down a long time around the CSI component. However, it did eventually come online:

[code]

[2019-10-25 15:34] akutz commented on #645
Hi @kacole2,

I'm going to run it again, this time with `time` to get an idea of how long it takes.

[2019-10-25 15:47] akutz commented on #645
Hi @kacole2,

Okay, I've run it again with timing, and here is the result:

[code]

It's usually faster, but we missed a reconcile loop while waiting to install the cloud secret into the guest cluster. Regardless...

Here are the manifests I used ([sakc.tar.gz](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/3772743/sakc.tar.gz)). I'd like you to download them into a director

[2019-10-25 16:20] andrewsykim commented on #645
@kacole2 you said `10.173.61.69` reachable from the same environment where you are running `clusterctl`? Any reason port 6443 could be blocked?

[2019-10-25 16:25] akutz commented on #645
I thought of that too, but he said he could ping the VMs from his desktop. Good call on the port though.

[2019-10-25 16:27] akutz commented on #645
Hi @kacole2,

Try bringing it up and in a separate terminal run this:

[code]

That will error until the bootstrap cluster is online, but once it is and the CAPV pod is running, you'll start getting logs from the CAPV process. Make sure to tune CAPV's log level to `6` as well please.

[2019-10-25 16:49] kacole2 commented on #645
Working with @akutz on Zoom. Looks like he discovered a bug with the bootstrap process

<img width="1821" alt="Screen Shot 2019-10-25 at 12 47 57 PM" src="https://user-images.githubusercontent.com/4482386/67589202-eaffe400-f725-11e9-8b6b-f8c8c4b00ef7.png">

[2019-10-25 16:52] akutz commented on #645
Hi @chuckha,

Could you possible lend a hand here? It looks like the certs aren't ready, but the clock and timestamps appear accurate, so not sure if it's NTP or something in the certs?

[2019-10-25 16:52] andrewsykim commented on #645
Looks related to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/621

[2019-10-25 16:53] akutz commented on #645
Maybe even a duplicate.

[2019-10-25 16:55] akutz commented on #645
The cloud-init log shows a timestamp of `16:22`, but the cert isn't ready until `16:24`, giving a clock skew of close to two minutes.

![ScreenCapture-2019 10 25-11 53 40](https://user-images.githubusercontent.com/101085/67589506-30b8ae80-f71e-11e9-9319-a67188e151cf.png)

[2019-10-25 16:56] akutz commented on #645
Okay, looks like the VM's clock is 8 minutes slow. Seeing where it's pulling its time from. We think it should be via VM tools and the ESX host's NTP.

[2019-10-25 16:59] akutz commented on #645
Looks like the ESX hosts have their NTP service disabled. @kacole2 is starting NTP on the hosts, but their time isn't updating.

We should add documentation that an ESX host's NTP service must be enabled the clock correct. cc @andrewsykim

[2019-10-25 17:33] kacole2 commented on #645
@akutz figured it out. It was NTP. For some reason the NTP service still wasn't pulling on the ESXi hosts properly. So i stopped the NTP service, set the time manually, restarted the NTP service. Did that on all hosts and the management cluster came up!

Thanks @akutz for the helpful digging!

[2019-10-25 17:33] #645 closed

[2019-10-25 20:01] #270 closed

[2019-10-26 18:44] divyenpatel commented on #565
@vincenthanjs I still have the same issue.

`clusterctl create cluster` is hanging at
[code]

Logs from Pod: capi-controller-manager-5dd875b447-jfcq7

[code]

@andrewsykim what are we missing here? I am following documenation published at https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md

[2019-10-26 20:33] divyenpatel commented on #565
@vincenthanjs Issue is resolved. After  following @mylesagray blog - https://blah.cloud/kubernetes/clusterapi-for-vsphere-now-with-cns-support/  I am now able to create management cluster successfully.

I created Resource Pool and VM Folder as shown in the screenshot below.

Here is how  envvars.txt looks like

[code]

<img width="406" alt="Screen Shot 2019-10-26 at 1 30 10 PM" src="https://user-i

[2019-10-26 20:33] #565 closed

[2019-10-27 19:48] #272 closed

[2019-10-28 11:39] mylesagray opened #647 "clusterctl delete cluster does not cleanly remove VM"
/kind bug

**What steps did you take and what happened:**
Span up management and workload cluster as per getting started guide.
Tested volume provisioning on WL cluster - all good, deleted PVs, again also fine.
Deleted WL cluster via mgmt cluster using `kubeconfig delete cluster`
Attempted to delete mgmt cluster with `clusterctl delete cluster` - hangs.

**What did you expect to happen:**
Mgmt clu

[2019-10-29 21:51] codenrhoden commented on #166
This has been automated for quite some time... If any unification with CAPA later on, i'd say take that on as a separate issue.

/close

[2019-10-29 21:51] #166 closed

[2019-10-30 14:39] tkrausjr commented on #506
Hey @yktsubo , Are you saying you were able to setup and configure NCP on K8s as part of Guest Cluster deployment with CAPV or did you just post-install NCP / NSX-T on a CAPV deployed cluster ?

[2019-10-31 12:35] yktsubo commented on #506
Sorry when I posted here, I thought it worked since I could see IP from kubectl get pod -o wide.
However the network didn't work properly because no interface was configured on continer namespace.

This deployment was done on workload cluster deployed by CAPV.
After workload cluster is deployed, I deployed ncp bootstrap containers on the cluster and tried to make it work. But I couldn't finish ins

[2019-11-01 01:05] akutz opened #652 "Upload infrastructure components to GCS bucket path to match release and CI images"
/kind feature

**Describe the solution you'd like**
All builds off of `master` result in images pushed to `gcr.io/cluster-api-provider-vsphere/ci/manager:TAG` and `gcr.io/cluster-api-provider-vsphere/ci/manifests:TAG`. This issue tracks the creation of a process that creates the `infrastructure-components.yaml` file produced for releases as a build artifact pushed to `gcs://cluster-api-provider-vs

[2019-11-01 15:35] nvpnathan opened #653 "Update calico version to support K8s 1.16 API's"
/kind bug

**What steps did you take and what happened:**
Because of some breaking API changes in 1.16 I had to modify a few things in the addons.yaml related to the calico deployment and daemonset in order for the management cluster to deploy and pivot properly. For the deployment and daemonset I changed extensions/v1beta1 to apps/v1 and also add a selector to the calico controller deployment.

[2019-11-01 21:22] andrewsykim commented on #653
Hi @nvpnathan I think this was fixed in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/579, is it possible you're using a stale addons.yaml file?

[2019-11-03 10:22] #284 closed

[2019-11-04 15:52] #219 closed

[2019-11-04 15:52] #209 closed

[2019-11-04 15:52] #174 closed

[2019-11-04 20:30] akutz opened #655 "Create a channel-based source for watches based on the task collector"
/kind feature

**Describe the solution you'd like**
Currently the CAPV machine controller watches for changes based on events originating inside the API server, relying on `SyncPeriod` or `Requeue` to slowly reconcile a backend virtual machine's (VM) intended state. However, there's a way to speed this up using a custom [`Source`](https://github.com/kubernetes-sigs/controller-runtime/blob/40070e2a

[2019-11-04 20:33] #581 closed

[2019-11-04 20:34] akutz commented on #653
Hi @nvpnathan,

Ping.

[2019-11-04 20:35] akutz commented on #647
Hi @mylesagray,

Do you know if this is the same issue (https://github.com/kubernetes-sigs/cluster-api/pull/1696) fixed in CAPI 0.2.7, and thus fixed in CAPV 0.5.3?

[2019-11-04 20:36] akutz commented on #636
/assign

[2019-11-04 20:38] akutz commented on #621
Hi @voor,

As @andrewsykim already mentioned, I think this may be a duplicate of https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/645. Can you please take a look at that issue or ping @kacole2 and see his solution works for you?

[2019-11-04 20:39] akutz commented on #625
#636 would also cover this case.

[2019-11-04 20:49] voor commented on #621
Definitely didn't have NTP service running on the host (whoops), will need to retest to see if this resolves the issue.

[2019-11-04 20:55] voor commented on #621
I would like to point out that if this is the *second* issue opening up on this topic, I would thing it might warrant some more detailed error logging back to where it would get more visibility.  In that case, I wouldn't want to close this issue, but instead make it a feature request that when NTP isn't working properly it's very obvious.

[2019-11-04 20:57] #294 closed

[2019-11-04 21:01] akutz commented on #621
It's difficult to make anything obvious that occurs inside the guest. An admission webhook that queries the state of the ESX hosts' NTP service is a possibility though.

[2019-11-04 21:14] voor commented on #621
That's a really hard one, too, since you're effectively going through vCenter and wouldn't really know hwich ESX host you're hitting. :thinking:

[2019-11-04 21:23] akutz commented on #652
/assign @codenrhoden

[2019-11-04 21:29] akutz commented on #639
/assign @andrewsykim

We need to investigate whether the ESX host version impacts the features currently leveraged by CAPV, such as CNS.

[2019-11-04 21:37] akutz commented on #635
/assign

[2019-11-04 21:40] akutz commented on #621
Should we consider adding a requirement to CAPV that ESX hosts be configured correctly with NTP?

[2019-11-04 21:43] akutz commented on #621
@sidharthsurana recommends documentation that says:

* The time must be sync'd via VM tools and the ESX hosts

or

* The guests' NTP settings are configured via the `KubeadmConfig` resource

[2019-11-04 21:46] akutz commented on #620
Ping @yastij

[2019-11-04 21:47] akutz commented on #591
Ping @codenrhoden

[2019-11-05 01:00] #290 closed

[2019-11-05 06:35] mylesagray commented on #647
I’ll have to test to confirm, but it looks to be the same, yes.

Sent from mobile

[2019-11-05 17:04] #621 closed

[2019-11-05 17:19] akutz opened #657 "Disable auto-approve for PRs"
/kind feature

**Describe the solution you'd like**
Disable auto-approval of PRs. Currently when an individual with approver status submits a PR, the PR is automatically approved. This results in a lot of explicit holds since we try to prevent drive-by lgtms from merging a PR before it's deemed ready.

@andrewsykim and I think disabling auto-approve will reduce the need for explicit holds in many

[2019-11-05 17:22] codenrhoden commented on #657
I don't have approver status in this repo, but in other repos where I *do* have it, I've generally not been a fan of auto-approve. I was surprised it is the default.

So I would be +1 for this, but it's definitely up to the OWNERS here. :)

[2019-11-05 17:24] akutz commented on #653
Hi @nvpnathan,

We've not been able to reproduce this issue, and I am going to time box the closing of this issue to this Friday (2019/11/08) at 5pm CST. Please let us know before then if this is still a problem. Thank you!

[2019-11-05 17:32] andrewsykim commented on #657
+1 from me. It's disabled in https://github.com/kubernetes/cloud-provider-vsphere and I prefer it over holding PRs all the time.

[2019-11-05 17:44] akutz commented on #657
I also have no issue with this. @andrewsykim, can you please go ahead and file a PR while we wait to see if any other feedback is received? Thanks!

[2019-11-05 18:36] sidharthsurana commented on #657
+1

[2019-11-06 13:48] akutz opened #659 "Refactor 'services/cloudprovider' to a utility/components package"
/kind feature

**Describe the solution you'd like**
The package `pkg/cloud/vsphere/services/cloudprovider` is not really a service, it's more of a utility repository for creating the components necessary to deploy the external vSphere cloud provider to a target cluster. This package should be refactored/relocated to a utility or components package to indicate the purpose.

cc @andrewsykim

**Envir

[2019-11-06 18:46] andrewsykim commented on #485
Fixed by https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/365, please re-open if you can reproduce the issue again

/close

[2019-11-06 18:46] #485 closed

[2019-11-06 20:29] ncdc commented on #657
No objections here

[2019-11-09 20:53] #304 closed

[2019-11-10 00:41] nvpnathan commented on #653
Hi @akutz I had a outdated image of the docker file to prep the cluster yamls. Fixed by pulling the latest.

[2019-11-10 01:09] akutz commented on #653
/close

[2019-11-10 01:09] #653 closed

[2019-11-11 16:35] #288 closed

[2019-11-12 01:34] jazzsir opened #660 "Unable to create a instance"
/kind bug

**What steps did you take and what happens:**

After running clusterctl, a instance for controlPlane is not created.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

pkg/cloud/vsphere/service/govmomi/create.go/craeteVM() didn't return any errors.
But, pkg/cloud/vsphere/services/govmomi/util.

[2019-11-13 14:38] akutz commented on #660
Hi @seans3,

Can you post the following files please?

* `cluster.yaml`
* `controlplane.yaml`

And please make sure to paste them with proper formatting so the YAML is represented accurately. Thanks!

[2019-11-13 19:25] #311 closed

[2019-11-14 03:19] jazzsir commented on #660
Hi, @akutz
My network is isolated, and there is no gateway node, so I just applied a node for bootstrap cluster as a gateway.
And I can create a instance using **govc**

- cluster.yaml
[code]

- controlplane.yaml
[code]

[2019-11-14 08:52] jazzsir commented on #660
This is my fault.
I didn't properly configure a datastore.
But I still wonder why vpxd.log had any logs related to it.
Thanks @akutz

[2019-11-14 08:52] #660 closed

[2019-11-14 19:55] akutz opened #661 "Refactor CAPV's machine identity logic"
/kind feature

**Describe the solution you'd like**
Currently CAPV's machine identity logic looks like this:

1. Create VM with an `InstanceUUID` based on the CAPI `Machine` resource's `UID` value
1. Wait until the `CloneVM_Task` is complete
1. Query the VM based on its `InstanceUUID` using the CAPI `Machine` resource's `UID` value
1. Store the VM's managed object reference (`MoRef`) in the CAPV `

[2019-11-14 19:55] akutz commented on #661
/assign

[2019-11-14 22:51] #48 closed

[2019-11-14 22:51] #55 closed

[2019-11-14 22:51] #248 closed

[2019-11-18 16:12] MaxRink opened #663 "CAPV-generated Cert only includes first NIC address"
/kind bug

**What steps did you take and what happened:**
Im trying to get CAPV up and running with multiple NICs due to routing limitations of our Networks.
Ive assigend two NICs in the Controlplane.yml and selected one as preffered CIDR for the API

[code]

When i then boostrap the Cluster the boostrapping fails with this logline:
```E1118 16:00:22.678808       1 controller.go:218] controller-ru

[2019-11-18 17:50] tkrausjr commented on #429
@akutz @andrewsykim  Should have a PR for this tomorrow.

[2019-11-19 10:22] MaxRink opened #664 "Addons generated dont work for K8s v1.16"
/kind bug

**What steps did you take and what happened:**
The automatically genterated addons.yaml wont apply to the cluster when the cluster is running 1.16.x, thus the cluster creation just loops.
This is due to an API-change with 1.16
clusterctl output:
[code]
When i manually try to apply the addons.yaml
[code]

**What did you expect to happen:**
The addonds.yaml deploys calico, as it should

*

[2019-11-19 10:22] #664 closed

[2019-11-19 10:25] MaxRink commented on #664
I'm an idiot and used an outdated generator image

[2019-11-19 15:12] akutz commented on #664
If you're an idiot then so are the rest of us who have **all** done this at one time or another. In other words, you're in company. Can't say whether it's good or not to be in our company, but you're definitely in company :)

[2019-11-21 21:19] #661 closed

[2019-11-22 00:03] shivaani0505 opened #671 "Add warning to Getting Started Guide about ova suffix"
/kind feature

**Describe the solution you'd like**
When deploying OVA template via Vsphere using URL method, we get template with .ova suffix.
The name of template should comply with VSPHERE_TEMPLATE value in envvars.txt

It will be a good idea to add warning to getting started guide to carefully handle the .ova suffix

[2019-11-23 17:16] #364 closed

[2019-11-23 19:18] #366 closed

[2019-11-25 20:06] #353 closed

[2019-11-27 01:50] MnrGreg commented on #583
@MaxRink @akutz I found a small workaround for this which includes downing the interface and renaming it. This assumes the CentOS OVA with VMware vmxnet3 starts with interface name `ens192`. See the preKubeadmCommand below.

[code]

In addition the `dhcp4:false` flag within the `kind: VSphereMachine` network spec doesn't seem to work with cloud-init. `BOOTPROTO=dhcp` within the ifcfg-id0 is not al

[2019-11-27 02:08] MnrGreg opened #673 ""clusterctl create cluster" fails with KIND 0.6.0"
/kind bug

**What steps did you take and what happened:**

1. Followed the instruction described at https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md to generate management cluster yaml templates.

2. Executing `clusterctl create cluster` with KIND 0.6.0 fails:

[code]

**What did you expect to happen:**

When using KIND 0.5.1 `clusterctl create cl

[2019-11-27 02:16] MnrGreg commented on #673
Seems issue has been picked up here: https://github.com/kubernetes-sigs/cluster-api/issues/1801

[2019-11-30 21:05] #402 closed

[2019-12-01 18:26] #410 closed

[2019-12-01 18:26] #408 closed

[2019-12-02 15:52] MnrGreg opened #674 "Incorporate VCP vsphere.conf zones & regions into envvars.txt and manifest generation"
/kind feature

Enable infrastructure topology awareness within kubernetes clusters by supporting the configuration of vSphere Cloud Provider `Label:region` and `Label:zones` at manifest generation time.

vSphere admins apply vSphere Tags to vSphere Datacenter, Cluster and Host objects to represent Availability Regions and Availability Zones. Kubernetes clusters become aware of these topologies whe

[2019-12-02 16:09] MnrGreg opened #675 "Incorporate kube-rbac-proxy image registry location into manifest generation"
/kind feature

Incorporate kube-rbac-proxy image registry location into manifest generation and templates.

The container image registry locations for CAPI, CABPK(manager) and CAPV are configurable through envars.txt as part of manifest generation.

[code]

CABPK kube-rbac-proxy is however **not** configurable. One can find/replace the templates manually but this detracts from the usability and cr

[2019-12-02 17:56] akutz commented on #674
/assign

[2019-12-02 18:30] akutz commented on #674
Hi @MnrGreg,

I'm not sure if we *want* to continue to support the in-tree provider. I would think all new work should focus on the external cloud provider. Thoughts?

[2019-12-02 21:44] MnrGreg commented on #245
### Understanding of requirement:
- External kubernetes API clients need to be able to reach one of the active (3) masters at any one time.
- KubeadmConfig Spec needs to be able to take the kubernetes API endpoint as part of cluster create phase (i.e. endpoint must be pre-determined).
- The HA Kubernetes API service needs to be available before `kubeadm init` is run.
- We do _not_ need a performan

[2019-12-02 21:46] MnrGreg commented on #245
/remove-lifecycle stale

[2019-12-02 21:48] akutz commented on #245
Hi @MnrGreg,

I'm closing this issue. Please see [this doc](https://docs.google.com/document/d/1KSbbg3Xns7EVlD61iX1hlZEyariNd_yD_kPJEoC-7fg/edit?usp=sharing) for more information and tracking links.

/close

[2019-12-02 21:48] #245 closed

[2019-12-02 22:50] MnrGreg commented on #674
Yes, agreed. Our use-cases still involve using `in-tree` but it's good motivation to get to 67u3.

Will the `cluster-api-provider-vsphere/Manifests` generator remain the default templating tool for the foreseeable future?

Trying to gage if is it worth ones time updating the `generate.sh` it to include the region & zones for the 67u3 vSphere cloud-config ConfigMap.

[2019-12-03 02:54] shawnho1018 opened #676 "After capv pod was deleted, the reconciled pod keeps producing "msg"="Waiting for Machine Controller to set OwnerRef on VSphereMachine""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I was using clusterapi to produce clusters earlier and everything worked fine. After 10 days, I tried to create a new guest cluster but I found I can only create control-plane machine not worker nodes. There are errors in pods in capv-system. I tried to delete the pod and let kubernetes'

[2019-12-04 00:52] MnrGreg commented on #583
After some digging it seems that with `Cloud-Init Network Config Version 2` the name of `Device Configuration ID` object is overwriting the ethernet interface device name within CentOS.

Example - Version 2 metadata:
[code]

The results with the above are:
#### Centos 7.7 - not working:
- OS boots with default dynamic device name: /sys/class/net/ens192
- A udev rule file is created to rename the i

[2019-12-04 15:01] akashpatel2 opened #677 "Not able to generate YAML for the Bootstrap Cluster"
Follow this guide: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md

run this command: $ docker run --rm \
  -v "$(pwd)":/out \
  -v "$(pwd)/envvars.txt":/envvars.txt:ro \
  gcr.io/cluster-api-provider-vsphere/release/manifests:latest \
  -c management-cluster

and it will generate:

cluster.yaml | The cluster resource for the target cluster
contr

[2019-12-04 15:03] akutz commented on #677
Hi @akashpatel2,

It works for me:

[code]

I imagine it's your network connectivity. The line with the error is trying to fetch the CAPI and CABPK components from GitHub. Please make sure your container runtime can access GitHub and try again.

[2019-12-04 15:21] akutz commented on #583
Hi @MaxRink,

First of all, **wow!**, what a phenomenal deep-dive into this problem. Kudos to you sir!

Yet, a solution may be simpler than we think...

Both NetworkManager (RHEL) and SystemD Networking use [predictable network interface naming](https://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames/), so I'd rather not explicitly fuss with their names. That's why the g

[2019-12-04 15:26] akutz commented on #583
Alternatively, I've also considered [replacing `NetworkManager` from the CentOS image with `systemd-networkd`](https://renediepstraten.nl/?p=56). This would put things in parity with the debian image as far as networking is concerned. The only caveat is that the cloud-init RedHat distro file would need to support the correct network output, and [it currently selects the `sysconfig`](https://github

[2019-12-04 17:45] MnrGreg commented on #583
Hello @akutz

The `/etc/udev/rules.d/70-persistent-net.rules` file is being created on first boot. It does not exist within the OVA post build. Also, if one boots the CAPV deployed OVA into single user mode, before cloud-init and the rest of the services have run, the `/etc/udev/rules.d/` folder is empty.

I went so far as to symlink /dev/null to the file within the ansible playbook:
[code]

Unfor

[2019-12-05 02:21] MnrGreg commented on #583
@akutz @figo @codenrhoden

A little more digging and it seems that if `set-name` is not defined within the version 2 config, then cloud-inits network_state.py retrieves the name of the ethernet dict. In our case "id0":

[code]
https://github.com/canonical/cloud-init/blob/ec6924ea1d321cc87e7414bee7734074590045b8/cloudinit/net/network_state.py#L645

The sysconfig renderer then later uses this for th

[2019-12-05 03:32] akutz commented on #583
Ugh. Any side effect for Debian if we add the set-name? I will also need to or have someone check for Photon as well.

[2019-12-05 03:33] akutz commented on #583
Then again, I could always just make the dict key follow the eth standard...

[2019-12-05 08:25] akashpatel2 commented on #677
It was proxy issue, after passing proxy details with --env to docker run, it's working fine.

Thank you @akutz

[2019-12-05 08:25] #677 closed

[2019-12-05 08:50] #186 closed

[2019-12-05 10:49] vukg commented on #528
Use case for that feature that we are working on is multi-site multi-infrastructure on-prem Kubernetes engine that provisions worker clusters in different administrative domains our technology stack at networking unit of Deutsche Telekom.

Due to network segmentation design we are running multiple vCenter instances which can not be realistically unified due to segregation of concerns (management d

[2019-12-05 16:31] MnrGreg commented on #583
Debian boots without issue, using whatever is defined in the set-name. kubeadm installs and it joins the cluster.

Photon seems to have some issue. Not sure if it's related. Will need to look into it. Also noticed ImageBuilder is configured with 3.0 and not 3.0 Rev2.

The Predictable Network Interface Naming was designed to avoid all the "seemly" random eth* numbering. By using the `set-name` and

[2019-12-05 18:01] akutz commented on #663
Hi @MaxRink,

I think there may be some confusion as to the intended use of the `preferredAPIServerCidr` field. The purpose of the field is not to influence which IP is selected by the guest operating system, but to indicate to CAPV which IP *will be* selected by the guest operating system.

The use case we considered when creating the notion of the `preferredAPIServerCidr` is related to DHCP. For

[2019-12-05 22:48] MnrGreg commented on #583
So interestingly Photo also wasn't applying the cloud-init v2 static IP configuration either, until `set-name` was specified.

Note the Photon `systemd` config with `Name=id0`:
[code]

Then after including the `set-name: eth0` within cloud-init v2 config:
[code]

@akutz I suspect the project maybe hasn't noticed this as the test scripts don't make use of static IPs? Also, within the Photon OS the

[2019-12-05 22:50] akutz commented on #583
Hi @MaxRink,

You know better than I at this point. What makes more sense? Making the prefix of the scalar `id0` configurable or implementing `set-name`? From what you said it's the same thing. I was thinking we'd make the scalar prefix configurable and default it to `eth`. Unless that means Photon will always treat that device as DHCP regardless?

[2019-12-06 12:22] akashpatel2 opened #680 "How to pass http_proxy and https_proxy details to management cluster which is created by kind on vSphere infra"
How to pass http_proxy and https_proxy details to management cluster which is created by kind [ny clusterctl] on vSphere infra ?

I was able to create management cluster by creating management-controlplane node / VM on vSphere infra / vCenter server through clusterctl. [Followed the get_started guide.]

Most of the pods were under pending state in management cluster; i was suspecting it because of

[2019-12-06 15:38] akutz commented on #680
/kind feature

Hi @akashpatel2,

Where would the requested settings need to be applied?

[2019-12-06 15:38] akutz commented on #680
/priority important-longterm

[2019-12-06 18:11] akutz opened #682 "Delete bootstrap data after a VM is online"
/kind feature

**Describe the solution you'd like**
A VM's bootstrap data from `guestinfo.userdata` and others should be removed once a VM is online to prevent leaking of potentially sensitive data.

[2019-12-06 18:12] akutz commented on #682
Related to kubernetes-sigs/cluster-api#1739

[2019-12-06 18:31] akutz opened #683 "The roadmap to CAPI v1alpha3"
/kind feature

**Describe the solution you'd like**
Create a plan for moving CAPV to v1alpha3. This [Google doc](https://docs.google.com/document/d/1KSbbg3Xns7EVlD61iX1hlZEyariNd_yD_kPJEoC-7fg/edit?usp=sharing) is for discussing the topic.

[2019-12-06 18:33] akutz commented on #683
/assign @akutz
/assign @yastij

[2019-12-06 18:34] MnrGreg commented on #583
Hey Andrew, Greg here.

Either will work for now, but if we go the route of naming the scaler as `eth*`, when the issue with the `Device Configuration ID` is eventually fixed in cloud-init v2, it will likely cause our then scalar named `eth*` to go back to their `Predictable Network Interface Names` e.g. `ens192`. This will cause confusion.

If we were to leave the `Device Configuration IDs` as `i

[2019-12-06 18:37] akutz commented on #583
sgtm @MaxRink. If you submit the PR I will take a look ASAP. I also need to remember to open a PR that augments our e2e to deploy a machine from all three templates we use - CentOS, Ubuntu, and Photon. I know we technically need to test static IPs as well, but that would involve our test infra managing some static IP pool to avoid conflicts. :(

[2019-12-06 18:42] akutz commented on #454
/close

[2019-12-06 18:42] #454 closed

[2019-12-06 18:42] akutz commented on #455
/close

[2019-12-06 18:42] #455 closed

[2019-12-06 18:52] MnrGreg commented on #583
Yup, I noticed some Issues such as https://github.com/kubernetes-sigs/cluster-api/issues/1740 that mention possibly incorporating Static IP use.

Perhaps we need an IPAM Controller similar the envisaged Load Balancer Controller to address this. I can imagine there must be a number or customers that use IPAM over DHCP on-premises.  Also having stable IPs might simplify the Load Balancer Controller

[2019-12-06 18:57] MnrGreg commented on #673
Closing as the bootstrap KIND process and clusterctl will be deprecated with future versions of cluster-api.

[2019-12-06 18:57] #673 closed

[2019-12-08 02:44] akutz commented on #682
/close

This is a duplicate of #582

[2019-12-08 02:44] #682 closed

[2019-12-08 02:44] akutz commented on #582
Related to kubernetes-sigs/cluster-api#1739

[2019-12-08 04:00] jessehu commented on #582
A quick solution is adding the following command into cloud-init before the kubeadm command:
[code]

[2019-12-08 04:06] akutz commented on #582
Hi @jessehu,

That's a really good suggestion, but it would be required to be placed in the generated `KubeadmConfig` resource ahead of time. Plus, we're trying to move away from `vmtoolsd` in favor of `vmware-rpctool` as the former seems to have performance issues, especially on Photon (see https://github.com/vmware/cloud-init-vmware-guestinfo/pull/23 for more information).

My current thought is

[2019-12-08 04:19] jessehu commented on #582
Thanks @akutz for the notice. Make sense. We will need to find out the earliest time when CAPV controller can safely delete userdata, because the sooner the safer.

[2019-12-08 04:42] akutz commented on #582
Absolutely. My other thought is to actually update the datasource so I can pass in a flag via the metadata, which is built at runtime in CAPV. If the flag is set, then it will automatically add the `vmware-rpctool` command to the end of the user data's `runcmd` list to delete `guestinfo.userdata`.

For example, imagine the following **metadata**:

[code]

The flag `guestinfo.metadata.cleanup-userd

[2019-12-08 04:45] akutz commented on #582
Hi @jessehu,

It's worth noting that all of the options we've discussed thus far will still leave the user data file on disk that cloud-init writes on first-boot, `/var/lib/cloud/instance/user-data.txt`.

[2019-12-08 04:49] akutz commented on #582
Hi @jessehu,

Perhaps we should augment the datasource metadata with a more in-depth user data cleanup option? For example:

[code]

The problem is that I am not aware of the consequences that might occur, possible side-effects, of removing the user data file(s) cloud-init creates on the local filesystem under `/var/lib/cloud`. @detiber, I know removing `/var/lib/cloud` is part of getting `cloud-i

[2019-12-08 06:16] akutz commented on #582
Hi @jessehu,

Please take a look at https://github.com/vmware/cloud-init-vmware-guestinfo/pull/25. It should account for this. As soon as we can merge it and build new images, we will be able to leverage the feature to remove the userdata as early as possible.

[2019-12-08 07:16] akutz opened #684 "Potential problem patching VSphereMachine.Status leads to redundant operations"
/kind bug

**What steps did you take and what happened:**
Using [a work-in-progress, feature branch](https://github.com/akutz/cluster-api-provider-vsphere/tree/feature/task-source) to address #655 I started to be able to reproduce an issue we've seen occasionally with CAPV -- a second clone / power / reconfigure operation for a VM. Ultimately everything works, but we've never been able to figure o

[2019-12-08 07:25] akutz commented on #684
And lo and behold the following change produced at least a single no-drift run at [`capv-resource-sync.1.log`](https://gist.github.com/akutz/f4b2f8a327ea78542842a374ab8e2c15#file-capv-resource-sync-1-log):

[code]

[2019-12-08 07:26] akutz commented on #684
cc @ncdc on the off-chance this is related to the patch helper...

[2019-12-08 07:33] jessehu commented on #582
Thanks @akutz. I added some minor comments for https://github.com/vmware/cloud-init-vmware-guestinfo/pull/25, please take a look.

[2019-12-08 07:37] akutz commented on #684
And it looks like it **is** related to the patching. If not the helper, then the time it takes for the cache/API server to sync. The next run with the above change showed the drift again, but now we can see more interesting things about it:

[code]

The first log entry says `resource is not patched` and prints the diff between the resources. The only difference is the `VSphereMachine.Status.TaskRe

[2019-12-09 00:54] akutz commented on #582
Good news, I tested https://github.com/vmware/cloud-init-vmware-guestinfo/pull/25 with a newly built CentOS image, and it works!

[code]

And here I go reading the `guestinfo.userdata` field directly:

[code]

And Kubernetes was initialized successfully (I booted the machine image without CAPV, so the add-ons were not configured, hence the pending CoreDNS pods):

[code]

[2019-12-09 14:15] voor commented on #582
What ended up being the end result of deleting the files off the file system?

[2019-12-09 15:38] detiber commented on #582
I wouldn't expect any issues as long as this is done at the end of the final stage. There shouldn't be anything else making use of the userdata on the local system at that point.

[2019-12-10 14:58] akutz commented on #684
@ncdc posted [a nice tl;dr](https://kubernetes.slack.com/archives/CKFGK3SSD/p1575910983213500?thread_ts=1575906518.197400) of the underlying issue:

[2019-12-10 22:16] #655 closed

[2019-12-10 22:16] #684 closed

[2019-12-10 22:55] akutz commented on #676
Is this still an issue or did #681 fix it?

[2019-12-11 00:31] shawnho1018 commented on #676
@akutz  thanks for your reply. I apologized that I don't know how I could apply this patch. Is there any new clusterctl being released or I need to change version in yaml file? I could not find the instruction in either this or #681 issue.

[2019-12-11 07:01] mooperd opened #687 "How does the bootstrap work"
Hi,

Could someone explain how the bootstrap works? Does the provider inject a bootstrap which connects to the master IP address? Does the provider and the new node need to be able to talk to each other when the new node is booting or does it just connect directly to the K8s api?

Cheers,

Andrew

[2019-12-12 22:47] #413 closed

[2019-12-13 23:10] #217 closed

[2019-12-13 23:10] #54 closed

[2019-12-16 14:08] yastij commented on #468
/remove-lifecycle stale

[2019-12-16 19:06] ntfrnzn opened #692 "machine reconcilation never completes"
/kind bug

In creating a set of machines, the first VM is created, but not others.  On looking at the logs
I see repeated logging from the deferred patch function, "resource is not patched", seemingly
waiting forever for the patch to be applied.

A little debugging shows that the two status objects are different, one with an ip-address slice of nil, the other of []string{}.

**Anything else you wo

[2019-12-16 19:20] akutz commented on #692
Hi @ntfrnzn,

Thank you for finding this. Also, dammit, why did you find this? :)

Your fix looks fine (thank you for that), but for one thing -- the diff function:

1. `Diff` will return a non-empty string **only** if the `Equal` call returns false. Thus, don't do both the `Equal` **and** `Diff` calls. Just do the `Diff` and save the output and let `diff == ""` determine if the objects are equal.

[2019-12-16 20:43] akutz commented on #687
Hi @mooperd,

Somehow I whiffed on this. I can explain it when I get a minute. In the meantime there are [docs in the cluster-api book](https://cluster-api.sigs.k8s.io/architecture/controllers/bootstrap.html) that might be helpful.

Hey @ncdc / @chuckha, any idea of where else we can point Andrew?

[2019-12-16 20:43] akutz commented on #687
/area documentation

[2019-12-16 20:43] akutz commented on #687
/area docs

[2019-12-16 20:44] ncdc commented on #687
/kind documentation

[2019-12-16 20:44] ntfrnzn commented on #692
Leaving the diff out is fine by me. It's not very readable. For my part, I copied the munged text out of the log and ran it through printf,
[code]
So the problem here is that there's a second storage NIC which, for whatever reason, is not getting an IP. Probably an unusual scenario.

[2019-12-16 20:47] akutz commented on #692
Yeah, today there's a requirement that all NICs report some form of IP. If you're trying to stand up a system with a NIC that has no IP, it won't work today.

[2019-12-16 20:52] ncdc commented on #687
If you're looking for generic info on Cluster API & bootstrap providers, see https://cluster-api.sigs.k8s.io/architecture/controllers/bootstrap.html and https://master.cluster-api.sigs.k8s.io/providers/bootstrap.html.

If you're looking for information as to specifically what the kubeadm bootstrap provider is doing, I'm not sure we have that written down anywhere. If this is what you want, I would

[2019-12-16 20:59] #683 closed

[2019-12-16 21:20] #692 closed

[2019-12-16 21:35] akutz commented on #680
ping @akashpatel2

[2019-12-16 21:36] akutz commented on #676
/assign

[2019-12-16 21:37] akutz commented on #675
Hi @MnrGreg,

So how you like to solve this solution? You seem ambivalent to include the option, but at the same time you opened this issue?

[2019-12-16 21:38] akutz commented on #674
I agree this is a good ask, but it just isn't something I've had time to do. Can you possibly file a PR? Thanks!

[2019-12-16 21:39] akutz commented on #671
Hi @shivaani0505,

Do you think you'll have time to file a PR for this?

[2019-12-16 21:39] akutz commented on #671
/kind documentation

[2019-12-16 21:39] akutz commented on #671
/kind documentation

[2019-12-16 21:41] akutz commented on #663
ping @MaxRink

[2019-12-16 21:47] akutz commented on #652
/close

I realized this was dumb.

[2019-12-16 21:47] #652 closed

[2019-12-16 21:48] akutz commented on #647
ping @mylesagray

[2019-12-16 21:50] akutz commented on #639
@andrewsykim is on PTO, assigning this to myself.

/assign

[2019-12-16 21:52] akutz commented on #639
Hey, @dougm, thoughts?

[2019-12-16 21:52] akutz commented on #636
/assign @yastij

[2019-12-16 21:53] akutz commented on #635
Reminder, update this and link it to the OVA issue.

[2019-12-16 21:54] akutz commented on #625
/close

Fixed by #655

[2019-12-16 21:54] #625 closed

[2019-12-16 21:55] akutz commented on #620
/assign @yastij

[2019-12-16 21:55] akutz commented on #591
Ping @codenrhoden

[2019-12-16 21:55] akutz commented on #587
This has been resolved.

/close

[2019-12-16 21:55] #587 closed

[2019-12-16 21:57] akutz commented on #586
This is only applicable when a cluster exists without DRS.

[2019-12-16 21:58] akutz commented on #583
ping @MaxRink - we need to figure out how to resolve this I think...

[2019-12-16 21:58] shivaani0505 commented on #671
Yes @akutz , I will be able to file a PR for this.

[2019-12-16 22:50] dougm commented on #639
Yeah, I suppose the CNS driver should check the host version too.  There is a `HostSystem.Config.Product` field, which is the same structure as `Client.ServiceContent.About` currently used here:
https://github.com/kubernetes-sigs/vsphere-csi-driver/blob/5b197c4ca5079ea0ad4274e649f40f16c489120a/pkg/csi/service/cns/controller.go#L96

[2019-12-17 11:59] yastij commented on #620
/unassign @codenrhoden

[2019-12-17 14:36] akutz opened #695 "Update pre-submit e2e job to use VPN"
/kind feature

**Describe the solution you'd like**
The [pre-submit e2e job for CAPV](https://github.com/kubernetes/test-infra/blob/2125a004bd89e422dcb639feb3d4d54907a6a3c4/config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml#L199-L227) should use the VPN to perform testing with the e2e framework directly from the Prow cluster.

/assign

[2019-12-17 15:09] akutz commented on #695
/assign @yastij

[2019-12-17 15:09] akutz commented on #695
I'm leaving myself assigned as well until the SA is created.

[2019-12-17 15:10] yastij commented on #695
@akutz - sounds good

[2019-12-17 22:03] #671 closed

[2019-12-17 23:15] akutz commented on #175
ping @pdaigle

[2019-12-17 23:15] akutz commented on #528
ping @pdaigle

[2019-12-17 23:32] akutz opened #696 "Create release branch release-0.5"
This issue tracks the creation of a release branch `release-0.5`. This branch should be based on the last commit prior to updating to v1a3.

[2019-12-17 23:37] akutz opened #697 "Add support for an annotation that specifies the control plane endpoint in the VSphereCluster resource in v1a2"
/kind feature

**Describe the solution you'd like**
After speaking with @rsmitty on Slack, he needs to support a non-kubeadm bootstrap provider in CAPV. In v1a3 this is possible because the control plane endpoint is part of the cluster spec. In v1a2 CAPV explicitly searches for a `KubeadmBootstrapConfig` resource for the information. This does not help if not using the Kubeadm bootstrap controller

[2019-12-18 10:21] akashpatel2 commented on #680
Hi @akutz

We can set the http/https proxy details by cloud init way.

1] set env proxy
2] set apt-get proxy [to download any packages, i am assuming the OS is ubuntu]
3] set docker proxy

Thanks,
Akash

[2019-12-19 21:15] jayunit100 opened #703 "envatrs.txt is a directory when generating with docker"
/kind bug

**What steps did you take and what happened:**

When attempting to generate release manifests, the envars.txt is reported as a directory.

**What did you expect to happen:**

manifests would generate, and envars.txt would end up being a file.

**Anything else you would like to add:**

Very little context, first time trying CAP-v

**Environment:**

running from the docker image on master

[2019-12-20 19:44] chipzoller opened #704 "machine_images.md missing in docs/"
README.md references a link called `OVA images` to a file at docs/ called `machine_images.md` which is missing.

[2019-12-21 23:18] #427 closed

[2019-12-22 18:37] #461 closed

[2019-12-26 03:57] #465 closed

[2019-12-26 20:13] #314 closed

[2019-12-26 22:15] #329 closed

[2019-12-29 02:23] akutz commented on #216
/reopen

[2019-12-29 02:23] akutz commented on #216
/remove lifecycle-rotten

[2019-12-29 02:23] akutz commented on #216
/remove-lifecycle stale

[2019-12-29 02:24] akutz commented on #216
/remove-lifecycle rotten

[2020-01-02 11:51] #480 closed

[2020-01-03 13:16] #483 closed

[2020-01-05 22:55] #216 closed

[2020-01-07 07:19] MnrGreg commented on #577
@akutz the `socket.getaddrinfo()` in this function is returning the first name matched in the `/etc/hosts` entry which is sometimes not the actual hostname:

[code]

https://github.com/vmware/cloud-init-vmware-guestinfo/blob/9e69060170b5b4210ec60ba2f09caf644617d91b/DataSourceVMwareGuestInfo.py#L544-L545

This seems to be why some CAPV machines are being renamed on reboot.

CAPV machine /etc/hosts:

[2020-01-07 12:12] sheriefhammam opened #710 "failed to reconcile VM: error getting network specs"
/kind bug

**What steps did you take and what happened:**
After following https://blah.cloud/kubernetes/clusterapi-for-vsphere-now-with-cns-support/

**i get the following Error:**
[code]

**using while**
[code]

**envvars.txt:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
i cannot create VM using the same specs from the GUI and using Terraform as well

**E

[2020-01-07 12:33] sheriefhammam commented on #710
for a better clarification:
I0107 12:31:26.569379       1 vspheremachine_controller.go:176] capv-controller-manager/vspheremachine-controller/default/management-cluster-controlplane-0 "level"=4 "msg"="VSphereMachine.Status.TaskRef OnEntry"  "task-ref"=""
I0107 12:31:26.572681       1 clone.go:43] capv-controller-manager/vspheremachine-controller/default/management-cluster-controlplane-0/vcenter "l

[2020-01-07 14:33] akutz commented on #710
Hi @sheriefhammam,

I'm aware that you said this works manually and/or with Terraform, but the logs are pretty clear that it's a permissions issue:

[code]

Specifically:

[code]

This seems related to https://github.com/vmware/govmomi/issues/1517. @dougm, was there ever any resolution on that issue? It appears to be the same one that @sheriefhammam is encountering here. Thanks!

[2020-01-07 14:45] sheriefhammam commented on #710
@akutz my bad i corrected it. i can not deploy using terraform or manually.

i get that the error is pretty clear but what's confusing that i have the right clone other templates to vm but not the published one here

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/README.md#kubernetes-versions-with-published-ovas

thanks a lot for following up with me.

[2020-01-07 14:53] akutz commented on #710
Hi @sheriefhammam,

Of course!

Hmmm, it sure seems like a permissions issue. I would start by using `govc` to list the permissions for a template that works and one that doesn't:

[code]

That will list all of the principals (users) that have rights to an object, and the role to which the principal belongs. From there you can use `govc role.ls` and `govc role.usage` to discover what permissions a

[2020-01-07 21:01] sheriefhammam commented on #710
@akutz Both of them are exactly identical in terms of principals and the right to objects

[2020-01-07 21:48] sidharthsurana commented on #710
@sheriefhammam I think the issue is more related to the read permission on the distributed port group `DistributedVirtualPortgroup:dvportgroup-2960` and not on the template. Please make sure that the networks you are trying to use have proper access to your user.

[2020-01-07 22:19] sheriefhammam commented on #710
@sidharthsurana  that's exactly what confuses me as i have the proper access for it.
what makes me think it's more related to the template is that deploying any other template for the same specs everything works fine but not the three official centOS7 templates for cluster API

[2020-01-07 22:28] dougm commented on #710
No resolution, I'll take another look and let you know what I find.

[2020-01-07 23:17] dougm commented on #710
govmomi is trying to collect the DistributedVirtualPortgroup's `config.distributedVirtualSwitch` property.  According the [docs]:(https://code.vmware.com/apis/196/vsphere/doc/vim.dvs.DistributedVirtualPortgroup.ConfigInfo.html)

Note that "the object" in this case is the Switch, not the Portgroup.

@sheriefhammam  are you able to read the Switch properties using govc and the same credentials used

[2020-01-08 00:27] jiatongw commented on #500
/remove-lifecycle stale

[2020-01-09 12:42] yastij commented on #697
/close

[2020-01-09 12:42] #697 closed

[2020-01-09 12:43] yastij commented on #695
fixed by https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/709
/close

[2020-01-09 12:43] #695 closed

[2020-01-09 14:40] sheriefhammam commented on #710
Hi @akutz @dougm you are perfectly correct it's all about the read privilege on Virtual switches and currently searching why i was able to clone the first template with the same spec and virtual switch but not the cluster API CentOS7 templates but generally speaking this solves my problem here and you can gladly close this bug.

ps:
- i didn't work till the end but at least i get rid of this probl

[2020-01-09 15:40] sheriefhammam commented on #710
everything works fine at the moment and the control plane cluster is deployed at the moment

[2020-01-09 15:40] #710 closed

[2020-01-10 17:26] akutz commented on #696
/close

[2020-01-10 17:26] #696 closed

[2020-01-10 17:27] akutz commented on #703
Hi @jayunit100,

Did you ever confirm this happened due to our conversation on Slack? That the `envvars.txt` file was missing and thus Docker bind mounted an empty directory? Thanks!

[2020-01-10 17:30] akutz commented on #680
/help-wanted

[2020-01-10 17:31] akutz commented on #680
/help

[2020-01-10 17:34] akutz commented on #676
Hi @shawnho1018,

This should be fixed in v0.5.4, and I saw you're using 0.4. Can you please try with 0.5.4 and verify this has been fixed? If so, you may close this issue. Since I've seen this as fixed, if you're unable to verify this by the next CAPV bi-weekly call, we'll close this issue during triage.

[2020-01-10 17:49] akutz opened #717 "Update release-0.5 to use VPN for testing"
/kind feature

**Describe the solution you'd like**
Update release-0.5 to use VPN for testing

/assign

[2020-01-10 17:52] akutz commented on #505
/unassign @andrewsykim
/assign @yastij

[2020-01-10 18:00] akutz commented on #704
/assign @jayunit100

[2020-01-10 18:00] akutz commented on #704
Hey @jayunit100, could you please go grab K8s SIG membership so I can assign you items? If you have a k/k membership, the SIG membership is a formality as I recall.

[2020-01-10 18:01] akutz commented on #687
Hi @mooperd,

Do you have any other questions? Or may I close this issue? Thanks!

[2020-01-10 18:02] akutz commented on #676
FYI, we know this is fixed in v1alpha3, as well as v0.5.4, just waiting for @shawnho1018 to confirm.

[2020-01-10 18:04] akutz commented on #675
Related to https://github.com/kubernetes-sigs/cluster-api/issues/1767

[2020-01-10 18:08] akutz commented on #675
ping @MnrGreg
cc @yastij

[2020-01-10 18:09] mooperd commented on #687
@ncdc I am very interested in what the kubeadm bootstrap provider is doing thanks!

I am also trying to find the minimum set of vsphere permissions that I need to make this work. Should I open a new ticket for that?

[2020-01-10 18:11] akutz commented on #675
Is this an issue in v1alpha2 or v1alpha3? If v1alpha3, can @fabriziopandini please chime in and kindly remind me if clusterctl v2 has the ability to apply JSON patches?

[2020-01-10 18:19] akutz commented on #561
/remove-lifecycle rotten

[2020-01-10 18:19] akutz commented on #561
cc @yastij @andrewsykim

[2020-01-10 18:20] fabriziopandini commented on #675
@akutz the JSON patches are applied by kustomize during the manifest generation.
clusterctl v2 uses the generated manifest

[2020-01-10 18:21] akutz commented on #647
/close

[2020-01-10 18:21] #647 closed

[2020-01-10 18:22] akutz opened #718 "deploy CSI with ClusterResourceSet"
/kind feature

**Describe the solution you'd like**
This is to discuss whether or not CSI should be installed as an add-on, and not reconciled as part of CAPV when deploying workload clusters.

cc @voor @mylesagray

[2020-01-10 18:23] akutz commented on #639
Blocked by #718

[2020-01-10 18:25] akutz commented on #635
Follow up with @fabriziopandini on clusterctl v2 many-to-one owner refs, because idea for implementing support for OVA import on demand would result in many-to-one relationships.

[2020-01-10 18:30] akutz commented on #591
Ping @codenrhoden

[2020-01-10 18:32] akutz commented on #586
There's value in supporting the initial host placement for VMs on vSphere systems sans DRS.

[2020-01-10 18:32] akutz commented on #583
/close

[2020-01-10 18:32] #583 closed

[2020-01-10 18:33] akutz commented on #582
/assign @yastij

[2020-01-10 18:41] akutz commented on #675
Does that mean `clusterctl` itself doesn't support applying any type of patches to the YAML to which it points? Like `kubectl` has built-in support for kustomize in order to apply patches?

The point is that this person wants to use a custom version of kube-rbac-proxy, but since that is used by more than CAPV, even if *we* supported generating YAML with a custom version of kube-rbac-proxy, it woul

[2020-01-10 19:54] #577 closed

[2020-01-10 22:34] fabriziopandini commented on #675
@akutz I got your point and I kind of like the idea, so, if you/the user can open the issue in the CAPI repo we can rally on defining details (e.g. how to pass the patches to clusterctl/how to define to which providers the patch should apply)

But just to set the expectations, from my point of view this is on top of was discussed with the CAEP/with the POC, so, unless someone steps in to help, I w

[2020-01-11 02:50] shawnho1018 commented on #676
I'll check on my lab next week and reply here. Thanks for all team's efforts.

[2020-01-11 14:42] mylesagray commented on #718
@akutz is there more context for this? A meeting recording or such that I missed? Is the proposal to remove CSI as part of the default installation when using CAPV?

[2020-01-13 08:37] ac06012014 opened #720 "Error writing Crisocket information for the control-plane node"
/kind bug

Hi team,

I've encountered some troubles with this OVA ubuntu-1804-kube-v1.16.3.ova during cloud-init process on the management cluster as you can see in /var/log/cloud-init-output.log:
[code]

No problem with PhotonOS.

I'm not sure if this is a bug.

**Environment:**
- Kind v0.6.1 + go1.13.4 + clusterctl (v0.2.9) to bootstrap the cluster
- Cluster-api-provider-vsphere version: 0.5.4
-

[2020-01-13 09:25] MaxRink commented on #663
Ok, understood.
THX for the detailed explanation.
And sorry for the late answer, i was on holidays until today.

[2020-01-13 16:28] akutz commented on #663
/close

[2020-01-13 16:28] #663 closed

[2020-01-13 16:30] akutz commented on #720
Hi @ac06012014,

Thank you for filing this. Per our debug session on k/k Slack, we determined this to be an issue with https://github.com/kubernetes-sigs/image-builder/pull/113, corrected by https://github.com/kubernetes-sigs/image-builder/pull/114. Unfortunately it seems machine images were built after https://github.com/kubernetes-sigs/image-builder/pull/113 merged, but not after https://github.

[2020-01-13 16:31] akutz commented on #720
ping @randomvariable Just wanted you to be aware of this potential bug as a result of the incorrect boot stage order (that you fixed).

[2020-01-13 19:17] #431 closed

[2020-01-13 19:17] #469 closed

[2020-01-14 21:31] jayunit100 opened #723 "No event metadata for workload cluster VMs which are Pending / Deleting / Running"
/kind bug

(might be a broader CAPI feature request - to add status conditions as a norm to machines?) ....

**What steps did you take and what happened:**

After creating a VSphere cluster, i see all machines in the 'pending state' but i don't see any status updates to them, and i don't see any `describe` metadata to explain why they are pending.  i.e. there are no `events` records.

I tried to c

[2020-01-14 22:38] akutz commented on #723
Hi @jayunit100,

Once upstream CAPI decided on a standard for events, CAPV will either adopt them or the instructions will be to query `machines`, not the infrastructure provider machines.

For questions like this, it's okay to start with Slack (cluster-api or cluster-api-vsphere) as this isn't a bug, but just an inquiry. Thanks!

cc @ncdc, if you agree with the above regarding CAPI events, please

[2020-01-15 01:46] #477 closed

[2020-01-15 14:20] jayunit100 commented on #723
per @fabriziopandini  ... 'there is an ongoing effort to add events in CAPI" ... so, wi suppose i should link this to some upstream issues at some point.

[2020-01-15 14:23] jayunit100 commented on #723
thanks @akutz  ! will do that from now on.  feel free to close, if not ill leave this open... gotcha !

[2020-01-15 14:36] akutz commented on #723
/close

[2020-01-15 14:36] #723 closed

[2020-01-15 18:40] akutz commented on #723
Hi @jayunit100,

I raised this issue in the upstream Cluster API call today, and @ncdc pointed me to https://github.com/kubernetes-sigs/cluster-api/issues/1658. Maybe it's something at which you'd like to take a look?

[2020-01-17 10:50] moshloop commented on #175
/remove-lifecycle stale

[2020-01-17 10:51] moshloop commented on #175
/remove-lifecycle rotten

[2020-01-17 20:48] akutz commented on #586
/unassign

[2020-01-22 14:47] yastij commented on #561
@akutz - I'm strongly in favour of that. with clusterctlv2 we're going to publishing a workload cluster template as part of the release assets, so my guess is that It won't support pre 6.7u3

[2020-01-22 15:52] chipzoller opened #728 "Static IP pool mechanism"
More of a general inquiry about how/if static IP pools can be assigned/consumed by CAPV. Currently, it appears to be DHCP only. As this project matures and is consumed by various automations, the desire to either pull from a vCenter static IP pool or external IPAM integration will be required. Wondering if this is being thought about.

[2020-01-22 16:30] ncdc commented on #728
Hi @chipzoller, please take a look at https://github.com/kubernetes-sigs/cluster-api/issues/1740 for some additional information that is relevant here.

[2020-01-22 19:13] andrewsykim commented on #561
The only reason we have split configuration is because the storage configuration of the cluster varies based on the vSphere version. I think ideally we should support the minimum version of vSphere that is compatible with CCM + CSI which today is 6.7u3 but tomorrow can be 6.5

[2020-01-23 01:33] rhockenbury opened #729 "Support for adding created VM to DRS group"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The user is able to specify the name of a vsphere DRS group, and the created vms are added to this DRS group.

This would grant a user better control over VM placement since the DRS group could be used to specify VM-host affinity rules.

**Anything else you would like to add:**
[Miscel

[2020-01-23 19:43] jayunit100 commented on #723
thanks , will follow up ther

[2020-01-27 21:40] yastij commented on #729
/assign @akutz

[2020-01-27 21:44] yastij commented on #720
ping @ac06012014 - any news on this ? can you use a new image ?

[2020-01-27 21:59] akutz commented on #718
Per my discussion with @mylesagray we decided a good cutline for what is an external add-on should be whether the platform leveraged by the "add-on" is built into vSphere. Since CSI depends on container network storage (CNS), and it **is** built into vSphere, CSI can be deployed by CAPV.

On the other hand, the NSX container plug-in (NCP), a container network interface (CNI) solution, should be de

[2020-01-27 21:59] akutz commented on #718
I will leave this issue open until someone files a PR that adds documentation to the effect of the above.

/help wanted

[2020-01-27 22:01] akutz commented on #718
/help

[2020-01-28 17:17] yastij opened #734 "dump logs from CAPI and CAPV components into the artifacts directory"
/kind feature

**Describe the solution you'd like**
Currently our e2e test do not dump logs from CAPI and CAPV, this makes hard to debug things while running on CI.
We should invoke `kubectl  cluster-info dump` and add the content to the artifacts directory before garbage collecting the kind cluster

**Anything else you would like to add:**

/assign @yastij
/priority important-soon

**Environment:

[2020-01-28 17:18] yastij commented on #734
cc @akutz

[2020-01-28 17:18] ncdc commented on #734
FWIW, this is what CAPA dumps: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/24b2057904692380d419db6e8ab56ec35779993c/hack/ci/e2e-conformance.sh#L31-L93

[2020-01-28 17:23] yastij commented on #734
@ncdc - we'll probably dump the same thing, Thanks !

[2020-01-29 16:05] akutz commented on #500
/help

[2020-01-29 16:05] akutz commented on #500
/remove-lifecycle rotten

[2020-01-29 17:56] timmycarr commented on #500
I'll start with this guide and digging into each of the values specified here: https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GUID-4D0F8E63-2961-4B71-B365-BBFA24673FDB.html

[2020-01-30 20:59] ac06012014 commented on #720
Hi Yassine,
It works with photon OS. I didn't find time to test again with ubuntu.

[2020-01-30 21:18] vincepri commented on #505
/lifecycle frozen

[2020-01-31 15:17] yastij opened #744 "Add conversion webhooks for CAPV"
/kind feature
/priority important-soon

**Describe the solution you'd like**
users should be able to upgrade CAPV without breaking their existing setups. conversion webhooks should be able convert resources between v1alpha2 <-> v1alpha3

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from

[2020-01-31 15:25] ncdc commented on #744
Working on getting this assigned

[2020-01-31 15:36] ncdc commented on #505
Would it make sense to make these fields in VSphereMachine.Spec?

[2020-01-31 15:41] akutz commented on #505
Now that it's v1alpha3, sure. But this was from last fall when it was v1alpha2. I think this issue was frozen because there was a misunderstanding of failure domains and CAPI and the CPI's Zones interface. This is for the latter. However, I didn't have time to respond yesterday when I saw this frozen. I intended to ping @vincepri later about it.

[2020-01-31 15:48] ncdc commented on #744
/assign @noamran

[2020-01-31 15:56] ncdc commented on #505
Perhaps we could have fields for region & zone as well as a map for tags. Merge them together, but the region & zone fields override any value in the map for the same keys.

[2020-01-31 16:00] jayunit100 opened #745 "Getting started guide for v1alpha3"
/kind feature

**Describe the solution you'd like**

We need an updated getting started guide

**Anything else you would like to add:**

There are differences with clusterctl that need to be explained, like the original cluster creation part, which v1alpha2 did *for* you.

cc @yastij @fabriziopandini

[2020-01-31 16:05] yastij commented on #505
@ncdc - we'd still need a way to convey other random tags desired by the users ?

[2020-01-31 16:09] akutz commented on #505
That's what Andy meant by the _map for tags_. Whether it's still needed is unclear, but it's not the worst feature to include.

[2020-01-31 16:17] yastij commented on #505
sgtm

[2020-01-31 17:21] jayunit100 opened #747 "Update calico -> 3.11"
/kind feature

**Describe the solution you'd like**

Calico 3.11 , as 3.6 tends to hang up on cni-install in some corner cases

**Anything else you would like to add:**

#746

[2020-01-31 21:11] fabriziopandini commented on #745
rif getting started guide in cluster API book for clusterctl https://master.cluster-api.sigs.k8s.io/clusterctl/overview.html
Not sure if this is going to merge with https://master.cluster-api.sigs.k8s.io/user/quick-start.html or not

[2020-02-02 17:31] MnrGreg commented on #675
@akutz @fabriziopandini While the Manifest Generator worked well initially, in our use-case there are quite a few additional, common settings we need apply to the Workload clusters. We found ourselves applying Kustomize Patches on top of the CAPV Manifest generated templates in order to address these.

Some examples:
- adding company CA certs with **Files**
- adding registry mirrors to CRI Toml wi

[2020-02-02 18:18] MnrGreg commented on #680
@akutz this is another example where we could capture the proxy key-value variables in a clustervars.txt as discussed here: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/675#issuecomment-581157898

and then use Kustomize varReference to Patch in the below content to **KubeadmConfig/spec/files/path: /etc/systemd/system/containerd.service.d/http-proxy.conf** with **KubeadmCo

[2020-02-03 09:26] fabriziopandini commented on #675
This CAPI issue extend the support for custom user templates https://github.com/kubernetes-sigs/cluster-api/issues/2133; this can work with any method used for template generation (kustomize, manifest generator or else)

[2020-02-05 21:16] jayunit100 opened #751 "Had to restart Capv-controller-manager to resume cluster creation."
/kind bug

**What steps did you take and what happened:**
I had a cluster running about 7 days.  The management plane was pretty healthy and so was the infra (no pod restarts).

I created a single node cluster, but never saw an VSPhere activity taking place.

The machine state was in `pending`.

**What did you expect to happen:**

The machine state would come up, or else there would be error messa

[2020-02-06 21:39] #490 closed

[2020-02-06 21:39] #494 closed

[2020-02-06 21:39] #488 closed

[2020-02-06 22:40] #549 closed

[2020-02-06 22:40] #527 closed

[2020-02-06 22:40] #496 closed

[2020-02-07 11:44] yastij commented on #729
/unassign @akutz
/assign

[2020-02-11 16:55] yastij opened #753 "provide workload cluster template for clusterctlv2"
/kind feature

**Describe the solution you'd like**
CAPV should provide provide workload cluster templates for clusterctl. The 2 flavours that we support are the following:

- mono: mono-instance control plane relying on `kubeadmConfig`
- ha: HA control plane relying on HA Proxy as a load balancer and the `KubeadmControlPlane`

/priority important-soon
/assign @randomvariable

**Anything else you

[2020-02-12 10:35] randomvariable commented on #753
/lifecycle active

[2020-02-15 20:15] timmycarr commented on #500
Putting together documentation here: https://hackmd.io/n-jBbLVkSsG_Dbm-eFTpIg

[2020-02-15 20:16] timmycarr commented on #500
/assign @timmycarr

[2020-02-16 00:12] #528 closed

[2020-02-17 14:06] chipzoller opened #755 "Default credentials for pre-built images"
I don't see anywhere where the default credentials are published for the pre-built machine images in OVA format. Is this written some place?

[2020-02-18 03:54] luniHw opened #756 "Fail to assign static ipv4 address to centos"
/kind bug

**What steps did you take and what happened:**
Fail to create Centos k8s cluster with static ip, static ip is not assigned to virtual machine.

**What did you expect to happen:**
successfully create centos k8s cluster with static ipv4 address

**Anything else you would like to add:**
Check the cluster vm, find that id0 network file is created, which shows that the value of dhcp is yes,

[2020-02-19 12:13] randomvariable commented on #572
/lifecycle frozen

[2020-02-20 04:47] edwardbadboy opened #761 "Cannot Delete Machine and VSphereMachine if VSphereCluster is Deleted First"
/kind bug

**What steps did you take and what happened:**
Created a new namespace.

Followed the getting started guide to create a workload cluster (https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md), all the resources a created in the dedicated namespace.

Then delete the namespace.

Then I found in capv log, it said:
[code]
and it didn't delete t

[2020-02-20 09:59] randomvariable commented on #761
Thanks for this.
We'll need to check we're iterating over all the owned objects and deleting them first when a cluster is deleted as the AWS provider does.

[2020-02-21 11:30] luniHw opened #765 "Fail to assign static ipv6 address to cluster vm"
/kind bug

**What steps did you take and what happened:**
Static ipv6 address is not assigned to cluster vm when creating photon k8s cluster.

**What did you expect to happen:**
Succeed to create k8s cluster with an all-IPv6 topology

**Anything else you would like to add:**

**Environment:**
- Cluster-api-provider-vsphere version:
   capv 0.5.4
- Kubernetes version: (use `kubectl version`):
   v1

[2020-02-21 12:02] yastij commented on #765
@luniHw - do you have any logs, especially ones of cloud init ?

[2020-02-21 15:22] #761 closed

[2020-02-22 02:12] MnrGreg commented on #756
@luniHw 0.5.5 released with fix https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/707

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/releases/tag/v0.5.5

[2020-02-24 20:06] outofmem0ry opened #769 "Creating control plane machine following the quick start guide fails with "failed to retrieve kubeconfig secret""
/kind bug

**What steps did you take and what happened:**
After following the instructions in the quick start guide and using the `Machine` object definition defined under the [usage](https://cluster-api.sigs.k8s.io/user/quick-start.html#usage) section for vSphere the VM is created successfully but the <cluster>-kubeconfig secret is not created. On further troubleshooting, the `capi-controller-man

[2020-02-24 21:18] yastij commented on #717
/close

[2020-02-24 21:18] #717 closed

[2020-02-24 21:19] yastij commented on #704
/assign @randomvariable @yastij

[2020-02-24 21:20] yastij commented on #703
/close

[2020-02-24 21:20] #703 closed

[2020-02-24 21:25] yastij commented on #675
/assign @randomvariable

[2020-02-24 21:29] yastij commented on #755
/assign

[2020-02-24 21:30] yastij commented on #756
closing since this was fixed in v0.5.5

[2020-02-24 21:30] #756 closed

[2020-02-24 21:31] yastij commented on #765
see #756

[2020-02-24 21:31] yastij commented on #765
see #756

[2020-02-24 21:34] yastij commented on #769
/assign

[2020-02-24 21:42] vincepri opened #770 "Clusterctl should not have a pkg/ directory"
/kind cleanup
/milestone v0.3.0

Pending a +1 from @fabriziopandini, we should cleanup the directory structure under `cmd/clusterctl` and remove the `pkg` directory.

[2020-02-24 21:42] vincepri commented on #770
Sorry wrong repo.

/close

[2020-02-24 21:42] #770 closed

[2020-02-25 01:44] #744 closed

[2020-02-25 09:33] yastij commented on #755
@codenrhoden - IIRC for AMIs we're disabling login/password, I guess we are doing the same for OVAs

[2020-02-25 15:31] moshloop commented on #506
/remove-lifecycle stale

[2020-02-25 15:46] codenrhoden commented on #755
@yastij Correct, there are no default credentials. An account/user/credentials has to be configured via cloud-init.

There are a couple of _sample_ scripts of how to do this at https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi/hack. Namely the `govc-cloudinit` script for talking to vSphere, or the `post-create-config` script if playing around with Fusion or Workstation.

Obv

[2020-02-25 19:55] randomvariable opened #774 "Validate / fixup manager defaults"
/kind bug

**What steps did you take and what happened:**
By default, all instances of capv will attempt leader election in the capv-system namespace. For v1alpha3, this breaks the webhooks

Fix up manifests / and or sync with CAPA in terms of behaviour.

Blocks #753

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2020-02-25 19:55] randomvariable commented on #774
/assign
/lifecycle active

[2020-02-25 20:50] randomvariable opened #776 "CAPV should support a credential file rather than env vars"
/kind bug
/area security

**Describe the solution you'd like**
Providing credentials via environment variables is considered an anti-pattern, as this can be read from `/proc`.

CAPV should take a credential filename as an argument, that could then be provided as a Kubernetes secret mount.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-02-26 15:53] MaxRink opened #779 "capv controller crashes with invalid memory warning"
/kind bug

**What steps did you take and what happened:**
Im deploying CAPV to a cluster to deploy another cluster and capv ends up in a crashloopbackoff

**What did you expect to happen:**
CAPV doesnt crash and starts deployment of new vms

**Environment:**

- Cluster-api-provider-vsphere version: 0.5.5
- Kubernetes version: (use `kubectl version`): 1.16.3
- OS (e.g. from `/etc/os-release`): ubun

[2020-02-26 15:55] yastij commented on #779
/assign

[2020-02-26 15:57] yastij commented on #779
@MaxRink - can you attach the resources used to create your cluster ?

[2020-02-26 15:59] MaxRink commented on #779
Sure

[cluster.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4256764/cluster.txt)
[controlplane.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4256765/controlplane.txt)

[2020-02-26 17:20] yastij commented on #779
adding `awaiting-more-evidence` as we'll need resources from the apiserver using `kubectl get`

[2020-02-26 17:29] MnrGreg commented on #755
It would be interesting to see how far one could get nowadays, without having to set credentials within the OS. If one treats the OS as a stripped down, immutable, Kubernetes appliance, is `cluster-admin` level authentication not sufficient? In our test environments we’re not adding any accounts and have gone so far as to disable SSH through `preKubeadmCommands`.

@codenrhoden there could be an ar

[2020-02-26 18:15] MaxRink commented on #779
here are all the resources related capi from when i could reproduce it.
[describe.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4257467/describe.txt)
[get.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4257468/get.txt)

[2020-02-26 19:32] randomvariable opened #780 "Log all errors before returning reconciler result."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Whereever any controller returns an error, adopt the convention of logging the error first then returning nil or bare error. This is to preserve the line number of the error, and is a convention followed in the AWS provider.

**Anything else you would like to add:**
[Miscellaneous info

[2020-02-26 20:50] randomvariable opened #781 "slow down requeue of vms when datastore is full"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Ran out of disk in the datastore
![image](https://user-images.githubusercontent.com/1441070/75386437-92aa4000-58d9-11ea-8343-646b1866b799.png)

**What did you expect to happen:**
Retries to slow down / backoff

**Anything else you would like to add:**
[Miscellaneous information that will

[2020-02-26 20:59] randomvariable opened #782 "HAProxyLoadbalancer causes kubeadm control plane join timeout"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

journald logs show:
[code]
Hackily clearing cloud-init, and rebooting did get the machine to rejoin

**What did you expect to happen:**
HA control plane created

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Unfortunately pod

[2020-02-26 22:58] Anuj2512 opened #783 "Control-Plane-Node getting power off during `clusterctl move` operation"
/kind bug

**What steps did you take and what happened:**
When I try to move clusterapi objects from capv cluster to temporary created kind cluster, ControlPlane VM for the cluster is getting powered off and move operation is failing.

Steps:
1. Provision capv cluster (`cluster-1`) with the help of temporary kind cluster(`temp-cluster-1`)
2. Move clusterapi objects for the `cluster-1`, from `temp-

[2020-02-26 23:09] yastij commented on #783
/assign

[2020-02-27 06:37] luniHw commented on #765
@yastij  in capv 0.5.5, use can customize the device name in manifests?

[2020-02-27 16:03] #753 closed

[2020-02-27 16:03] #774 closed

[2020-02-27 16:36] yastij commented on #769
/close

[2020-02-27 16:36] #769 closed

[2020-02-28 18:12] #783 closed

[2020-02-29 05:36] luniHw opened #790 "The name of vm contains numbers"
/kind bug

**What steps did you take and what happened:**
Use capv 0.5.4 to create vm, the name of vm is work-node-2-6fc4cbb677-vgthz, not work-node-2

**What did you expect to happen:**
Hope the vm name is completely customized, not with internal stuff.
At present, in DHCP scenario, get vm's ip by vm's name,  need consider how to match the vm name.

**Anything else you would like to add:**
[Misce

[2020-03-02 11:32] georgegoh opened #792 "error converting YAML to JSON: yaml: line 25: did not find expected alphabetic or numeric character"
/kind bug

**What steps did you take and what happened:**

When I have `VSPHERE_RESOURCE_POOL: "*/Resources"` defined in my clusterctl.yaml configuration, `clusterctl config cluster` fails. See following:

[code]

Modifying the line to `VSPHERE_RESOURCE_POOL: "\"*/Resources\""` makes the problem go away. This looks like a string escaping problem.

**What did you expect to happen:**

`cluster.yaml`

[2020-03-02 11:41] randomvariable commented on #792
/assign
/lifecycle active

[2020-03-02 21:26] sedefsavas opened #794 "Unable to create VsphereCluster without loadBalancerRef"
/kind bug

**What steps did you take and what happened:**
Applied this [yaml](https://gist.github.com/sedefsavas/653d05b7191f4ed7d17f3a0a73e153a3) to a bootstrap kind cluster. Only created Cluster, VsphereCluster, VSphereMachineTemplate, and KubeadmControlPlane. Getting this error:

`"msg"="Reconciler error" "error"="unexpected error while reconciling control plane endpoint for infrastructure.clus

[2020-03-03 10:30] randomvariable opened #795 "Release management parity with CAPA"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Adopt image promoter and release notes process as is done for CAPA, to make releases easier.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (u

[2020-03-03 10:32] randomvariable opened #796 "kubeadmcontrolplane without loadbalancer"
/kind bug

Reported via Slack by @sedefsavas

When I don’t provide loadBalancerRef in VSphereCluster, my management cluster does not come up. Keep getting this error: unable to determine control plane endpoint for infrastructure.cluster.x-k8s.io/v1alpha3, Kind=VSphereCluster default/sedef-cluster"

/assign

- Cluster-api-provider-vsphere version: 0.6.0-rc.1
- Kubernetes version: (use `kubectl vers

[2020-03-03 10:33] randomvariable opened #797 "kubeadm-controlplane upgrade does not delete old control plane pods"
/kind bug

reported on slack by @sedefsavas

**What steps did you take and what happened:**
After triggering kubeadm-controlplane upgrade, I see some errors. Is this a supported workflow: I only changed version in KubeadmControlPlane but not the VSphereMachineTemplate. It actually creates another machine and starts controlplane, but it does not delete old control plane pods.

**Environment:**

- C

[2020-03-03 11:01] #792 closed

[2020-03-03 11:08] yastij commented on #796
@sedefsavas - were you using `kubeadmControlPlane` ?

[2020-03-03 11:09] yastij commented on #797
@sedefsavas - I don't think it's supported to use the same `VSphereMachineTemplate`. Can you try using a new one ? (the old one is needed for existing nodes)

[2020-03-03 12:43] yastij commented on #790
This is expected. worker nodes are generated from machineSets, we need to append an uid to ensure uniqueness.

[2020-03-03 12:51] yastij commented on #765
you should be able to configure the following on the vsphereMachine:

[code]

[2020-03-03 14:15] yastij commented on #796
closing this as a dup of https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/794

[2020-03-03 14:18] #796 closed

[2020-03-03 14:19] yastij commented on #794
@sedefsavas - having an `HAProxyLoadBalancer` and a `LoadBalancerRef` is mandatory If you want to use `kubeadmControlPlane`

[2020-03-03 23:12] justinmurray opened #798 "csi.vsphere.vmware.com stays in pending mode when a new volume is requested by an Operator from Confluent"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Deployed the Cluster API Setup to create a TKG cluster as described in :  https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md

Using helm, installed a module from the Confluent Operator to create a set of Pods holding Zookeeper containers.

[2020-03-03 23:16] justinmurray commented on #798
The relevant section of the Operator deployed using Helm is below:
   storage:
      ## Use Retain if you want to persist data after CP cluster has been uninstalled
      reclaimPolicy: Delete

      provisioner: csi.vsphere.vmware.com

      parameters: {
          storageClassName: zookeeper-standard-ssd-myzones,
          storagePolicyName: k8s-storage-policy,
          datastore: HPC1

[2020-03-04 11:30] randomvariable commented on #795
/assign
/lifecycle active

[2020-03-04 13:56] MaxRink opened #799 "Predefined Mac-Adresses for MachineDeployments"
/kind feature

**Describe the solution you'd like**
In some of our environments we need predefined Mac-Adresses for DHCP to work.
For the controlplane this currently works fine, as i can just populate the MacAddr-Filed in the VSphereMachine with the "correct" Mac.
However, for MachineDeployments and VSphereMachineTemplates this currently doesnt work, as i cant preselect a mac there.
Thus i would p

[2020-03-04 14:13] detiber commented on #799
Unfortunately, this approach will not work with the KubeadmControlPlane introduced in v1alpha3, it will behave a bit more like MachineDeployments in that a template is used for stamping out the Machines that comprise the control plane.

[2020-03-04 18:01] kacole2 opened #800 "Omitting VSPHERE_SSH_AUTHORIZED_KEY creates nil/null error for deploying workload clusters"
/kind bug

**What steps did you take and what happened:**
Following the getting [started guide](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md) for the latest wit v1alpha3. I'm leaving `VSPHERE_SSH_AUTHORIZED_KEY:` set to `""` and not passing a SSH public key.

I'm creating the cluster spec with:
[code]

Then deploying with:
[code]

The error re

[2020-03-04 18:03] yastij commented on #800
/assign @randomvariable

[2020-03-04 18:07] randomvariable commented on #800
Limitation in clusterctl at present. See https://github.com/kubernetes-sigs/cluster-api/issues/2497

CC @fabriziopandini

[2020-03-04 19:17] yastij commented on #799
@detiber - we might want some sort of IPAM when you want to use a pre-defined subnet for machines

[2020-03-04 20:34] detiber commented on #799
+1, I think IPAM is probably a better approach here, since it is likely to work in a wider range of environments

[2020-03-04 21:45] justinmurray commented on #798
I found that I am on 6.7.0 build of vCenter Server - my ESXi host servers are on a post 6.7 u3 version. Since the error message references a call to vCenter, I believe, that version of VC may be the issue.
Error in CSI-controller VM:
2020-03-04T20:07:22.790293195Z stderr F E0304 20:07:22.790227       1 manager.go:437] CNS QueryAllVolume failed from vCenter "172.18.11.71" with err: ServerFaultCode:

[2020-03-05 00:44] justinmurray commented on #798
Issue resolved. vCenter was at a version prior to 6.7 update 3. I think we should explicitly mention in the Cluster API Getting Started Guide that both vSphere ESXi and vCenter should be at 6.7 u3 or later. It says "vSphere" but readers may make the assumption that is just the hypervisor.

[2020-03-05 00:44] #798 closed

[2020-03-05 13:27] randomvariable opened #801 "v1alpha3 docs roundup"
/kind documentation

Things that need adding to the docs:

- [ ] How to build the haproxy image if you don't want to use the upstream one
- [ ] Workaround for #800
- [ ] Mention the need to install a CNI after workload cluster deployment
- [ ] Known issues, if any
- [ ] Bump rc versions in `clusterctl init`
- [ ] Clarify supported vSphere versions across the repo
- [ ] Snapshot VMs to make use of

[2020-03-05 22:11] randomvariable commented on #657
/lifecycle frozen

[2020-03-05 22:17] kacole2 opened #804 "Cluster Creation Takes Upwards to 10-20 minutes to complete"
/kind bug

v1alpha3 seems to be much slower than v1alpha2.

**What steps did you take and what happened:**
I create this [CAPV QuickStart Script](https://gist.github.com/kacole2/f0f5f7c7f1ac4947d733de6472d6f1e7) to automate the [Getting Started Guide](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md)

Using an Ubuntu18.04 machine, I'm installing t

[2020-03-05 22:34] kacole2 opened #805 "Deleting a VM from a cluster ends up in a continual Loop and fails to recreate the VM"
/kind bug

**What steps did you take and what happened:**
When a VM is deleted from vCenter, CAPI/CAPV should clone a new VM from template and add it back to the cluster to account for the VM that was removed from the cluster. Instead, it ends up in a continual loop unable to create the VM.

Turn Off the VM
![Screen Shot 2020-03-05 at 5 18 29 PM](https://user-images.githubusercontent.com/4482386/7

[2020-03-06 07:33] moonek opened #808 "Failed to parse ProviderID for Node "XXX": providerID is empty"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

I made cluster and controlplane.
[code]

The cluster and controlplane node are well made, and the bootstrap seemed to be successful.
The `providerID` of the controlplane machine has also been set correctly.
Even kube api on the target cluster works.
(I haven't installed cni yet, so target

[2020-03-06 15:06] yastij commented on #794
closing this, as it's behaving as expected

[2020-03-06 15:06] #794 closed

[2020-03-06 19:59] randomvariable opened #809 "Strip sensitive information from logs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In verbose mode, the controller can end up printing bootstrap data to logs.

Take a look at reusing https://github.com/kubernetes-sigs/cluster-api/pull/2576 to strip sensitive data.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2020-03-07 17:03] fabriziopandini commented on #800
@kacole2 @randomvariable the fix on clusterctl for allowing empty env variables is merged

[2020-03-08 18:34] rhockenbury opened #811 "Extend vm annotations from template annotations"
/kind bug

**What steps did you take and what happened:**

VM config annotations ("notes") are set directly on the VM. See https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/17dd29cf07b136f823154cb5c92518e0a644a1ba/pkg/services/govmomi/vcenter/clone.go#L102

**What did you expect to happen:**
The VM annotations should be preserved from the template.  Additional annotations for CA

[2020-03-08 18:43] rhockenbury commented on #790
Somewhat related -https://github.com/kubernetes-sigs/cluster-api/issues/2217

[2020-03-09 02:36] moonek commented on #808
My question is that both Machine.spec.prividerID and VSphereMachine.spec.providerID are set, but the log is being output repeatedly.
It is still printing before machinedeployment is created.
[code]

[2020-03-09 07:16] moonek commented on #808
There is nothing special added to `joinConfiguration`.
I only removed `kubeletExtraArgs` from the defualt set.
The worker node is still pending.
[code]

[2020-03-09 11:51] yastij commented on #808
@moonek - you are missing `kubeletExtraArgs` specifically `cloud-provider: external`

[2020-03-09 12:05] randomvariable commented on #782
/assign
/lifecycle active

[2020-03-10 02:04] moonek commented on #808
@yastij
Is `cloud-provider` required for Cluster Provisioning with the Cluster API?
The controlplane node can't pull cloud-provider image because this is a private environment with the internet blocked.
So I removed both cloud-provider settings from `VSphereCluster` and `KubeadmConfig`.
If this is a requirement, I may need to build my own machine image.

[2020-03-10 06:13] luniHw commented on #790
I see it is userful in internal,  can we build the relation rule between vm name and uuid? not directly add uuid in the end of name

[2020-03-10 09:39] randomvariable opened #814 "conversion webhooks aren't actually present"
/kind bug
/priority critical-urgent
/lifecycle active
/assign

Copy-pasta from https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1629

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Arising from CAPV testing, I found that the conversion webhooks weren't active because at no point did we call v1alpha2.Infra*.SetupWebhookWithMana

[2020-03-10 10:23] #814 closed

[2020-03-10 11:05] yastij commented on #808
@moonek - you can override the images at the vsphereCluster level:

[code]

[2020-03-10 19:29] ncdc opened #817 "HAProxy image: make datasource and dataplaneapi URLs configurable"
/kind feature

**Describe the solution you'd like**
I'd like the following 2 URLs to be configurable, so I can pull them from a different source (e.g. if air-gapped):

- https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/379582ce23584b217af2b319a2af7421b9a9efd6/hack/tools/haproxy/ansible/roles/cloudinit/tasks/main.yml#L20
- https://github.com/kubernetes-sigs/cluster-api-provider-

[2020-03-11 02:27] moonek commented on #808
After `cloud-provider` setting all provisioned normally.
The machine phase only thought `provisioned` was normal, but it changed `running`.
Thank you all.

[2020-03-11 02:27] moonek commented on #808
/close

[2020-03-11 02:27] #808 closed

[2020-03-11 07:46] moonek opened #819 "Internal Load Balancer for ControlPlane HA (other types)"
/kind feature

**Describe the solution you'd like**
I fount it difficult to controlplane HA because the built-in load balancer is not in vsphere.
And I also found some attempts to solve this.
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/705 (a separate LB)
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/722 (nsx-t LB)

However, a separate LB do not guar

[2020-03-11 12:50] yastij commented on #817
fixed by https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/820

[2020-03-11 12:50] #817 closed

[2020-03-11 13:23] #811 closed

[2020-03-11 14:39] #809 closed

[2020-03-11 20:07] xgao3 commented on #805
I'm running into something similar issue except i can't delete the cluster in question.  cluster stuck in deleting status.
root@ubuntu:/home/ubuntu# kubectl delete cluster xgao-cluster
cluster.cluster.x-k8s.io "xgao-cluster" deleted

I tried to power down and delete from VC, but VMs stuck in the never ending clone cycle.

<img width="1624" alt="Screen Shot 2020-03-11 at 4 05 36 PM" src="https://us

[2020-03-11 20:34] randomvariable commented on #805
The correct behaviour should be to fail the machine completely if it has been deleted from vCenter. There should be a 1:1 correspondance between a machine and its manifestation on the provider, like pods. MachineSets can then replace the machine.

[2020-03-11 20:38] randomvariable commented on #805
cc @detiber

[2020-03-11 20:46] ncdc commented on #805
Fail the machine, yes. But that doesn't mean delete the machine. You'd still need MachineHealthCheck configured for that.

[2020-03-11 21:00] ncdc commented on #805
I am curious about users' expectations with deleted VMs in CAPV. In most/all the other Cluster API providers, if a VM goes missing, we do as you wrote @randomvariable and mark the machine as failed. That, combined with MachineHealthCheck, allows for automated remediation of Machines managed by MachineSets (and MachineDeployments, by extension) (we are still working on automated remediation for Kub

[2020-03-12 10:04] randomvariable commented on #805
/assign
/lifecycle active

I've speculatively made a start on matching the other providers. Noticed that VSphereVM doesn't have the Failure* fields, so we miss some possible state transitions.

[2020-03-12 10:06] randomvariable opened #825 "Move e2e to use only KubeadmControlPlane"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
e2e tests still create control plane instances manually, should switch over to HAProxyLoadbalancer and KCP.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernet

[2020-03-12 19:07] justinmurray opened #827 "While creating a TKG cluster using Cluster Api on vSphere 6.7, only the LB and Control plane VMs are created, not the other VMs for workers"
/kind bug

**What steps did you take and what happened:**

As a user I followed the guidelines at https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md closely but when the workload cluster is created there are no VMs created for the remaining nodes apart from the initial LB and control plane VMs.
I had gone through the entire cycle once before, I dele

[2020-03-12 19:08] justinmurray commented on #827
[logbundle-cap.tar.zip](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4325986/logbundle-cap.tar.zip)

[2020-03-12 19:17] detiber commented on #827
@justinmurray how many replicas are configured for the associated MachineDeployment?

Has a CNI provider been deployed to the workload cluster yet? The control plane will not pass readiness checks if the CNI provider is not running, which will block the creation of workers from the MachineDeployment.

[2020-03-12 19:35] #797 closed

[2020-03-12 19:36] yastij commented on #800
closing this since it's fixed in v0.3.0

[2020-03-12 19:36] #800 closed

[2020-03-12 19:50] scottd018 opened #828 "Machine Stuck in "Provisioning"; capi-controller logs "Failed to parse ProviderID""
/kind bug

**What steps did you take and what happened:**

Following the getting started guide to provision a cluster to vSphere (https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md).  The result was a **Machine** stuck in a **Provisioning** state and the following logs in the capi-controller:

[code]

The following steps were performed:

1) Create b

[2020-03-12 19:52] #782 closed

[2020-03-12 20:23] cprivite opened #829 "Repository topic is mispelled. k8s-sig-cluster-lifecyle should be k8s-sig-cluster-lifecycle"
See title.

[2020-03-12 20:49] scottd018 commented on #828
I did find that DNS was unable to resolve my vCenter provider in the first deployment, as my DHCP network is firewalled off from the network in which DNS resides on.  This caused the vsphere-csi-node DaemonSet pods to enter a CrashLoopBackoff state.  As soon as DNS resolution was fixed, the pods came up cleanly and everything was happy.

I provisioned a new cluster with clusterctl and it came up c

[2020-03-12 21:10] #776 closed

[2020-03-12 21:50] justinmurray commented on #827
Thank you @detiber : I used the command from the Quickstart Guide as follows, so I expected three VMs to be assigned for worker roles:clusterctl config cluster vsphere-quickstart \
    --infrastructure vsphere \
    --kubernetes-version v1.17.3 \
    --control-plane-machine-count 1 \
    --worker-machine-count 3 > cluster.yaml
How would I check on your CNI question above? Would CNI appear as one o

[2020-03-12 21:52] justinmurray commented on #827
Also seeing this error condition when I do a : kubectl describe pod cube-proxy-l8tmq -n Kubetnetes-system (I tried the docker command to see if I could get to the image in question):
Events:
  Type     Reason   Age                    From                        Message
  ----     ------   ----                   ----                        -------
  Normal   BackOff  11m (x7269 over 27h)   kubelet,

[2020-03-13 11:03] randomvariable commented on #828
it's likely kubelet and the cloud provider went into exponential backoff on the first cluster, so may take a long while before it retries to register itself again.

[2020-03-13 11:03] randomvariable commented on #829
/priority backlog
/milestone next

[2020-03-13 14:37] scottd018 commented on #828
@randomvariable How long would you expect it to take?  It's been running about 18 hours since being fixed and it's still stuck in a `Provisioning` state.

And excuse my ignorance, but which specific pod is registering itself with the cloud provider that you are referencing?  Is that the `vsphere-csi-node` pod that lives in the workload cluster that I referenced above?

Thanks!  I know the "it's al

[2020-03-13 14:56] detiber commented on #827
Hmm, that is odd, I would expect the kube-proxy image to have a tag of `v1.17.3` not `1.17.3`.

[2020-03-13 15:05] detiber commented on #827
@justinmurray what does `kubectl get kubeadmcontrolplane -o yaml` show for your environment? Mostly curious about the value of `Spec.Version`

[2020-03-13 15:36] justinmurray commented on #827
Here is the output for that command from the management cluster:

[root@capvm1 logs]# kubectl get kubeadmcontrolplane -o yaml
apiVersion: v1
items:
- apiVersion: controlplane.cluster.x-k8s.io/v1alpha3
  kind: KubeadmControlPlane
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"controlplane.cluster.x-k8s.io/v1alpha3","kind":"KubeadmContro

[2020-03-13 16:15] justinmurray commented on #827
Yes, I can manually docker pull the k8s.gcr.io/kube-proxy image when the "v" comes before the version, 1.17.3 but get the error when that v is missing. This I guess is built into the creation of the kind cluster somewhere, is that correct?

[2020-03-13 16:32] yastij commented on #827
`version: 1.17.3` should be `version: v1.17.3`

[2020-03-13 16:39] justinmurray commented on #827
Where should that change be made?

[2020-03-13 16:45] yastij commented on #827
when doing `clusterctl config` you'd need to pass `v1.17.3` as kubernetes version see: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md#creating-a-vsphere-based-workload-cluster

[2020-03-13 17:16] justinmurray commented on #827
Yes, I used the full clusterctl command with the parameters as specified there just now -  and the worker VMs now appear in vCenter. Thank you.

There was an earlier instruction on the Cluster Api page that did not show the option to create the cluster.yaml file and instead piped the output from "clusterctl config cluster" straight into the kubectl apply -f - command. I think the latter method was

[2020-03-13 18:30] justinmurray commented on #827
The cluster is created now in the sphere 6.7 U2 lab (Lab 1). However, I am still seeing issues in the vSphere 6.7 Update 3 lab (different hardware, different location, same Cluster Api release) where the CAPV controller pod within the cap-system namespace is producing these messages below and the creation of the cluster is going no further than the LB VM creation:

E0313 19:12:16.028134       1 co

[2020-03-17 17:42] #805 closed

[2020-03-17 19:54] MnrGreg opened #834 "Fail to assign static ipv4 addresses to machines"
/kind bug
/assign @yastij

Static IP assignment no longer works with CAPV v0.6.0. Cloud-Init is defaulting back to configuring network scripts with the Network Interface name `id0` rather than `eth0` or whatever `deviceName` is specified.

v1alpha3 types and machine CRDs need to be updated with PR #707  to make use of cloud-init `set-name` parameter.

**Environment:**

- Cluster-api-provider-vsphe

[2020-03-18 01:36] vincepri opened #835 "Cannot delete vSphereMachine with no backing VM"
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/controllers/vspheremachine_controller.go#L250-L254

This code in the deletion process tries to find the VSphereVM when deleting a Machine, if the VM cannot be found, it returns an error back to the reconciler and it goes in a backoff loop.

Is it fair to say that we should ignore the error when it's a 404 and remove the VS

[2020-03-18 10:06] yastij commented on #835
fixed by #836

[2020-03-18 10:06] #835 closed

[2020-03-18 17:46] randomvariable opened #839 "Allow extra args to be passed to cloud provider"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
If I set certain options on the API server, I also need to set the same on the cloud provider.

Provide a mechanism to do so.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere v

[2020-03-19 00:42] #839 closed

[2020-03-19 12:19] #834 closed

[2020-03-19 13:09] yastij commented on #804
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/841 should speed up things.  let me know if it improves things

[2020-03-19 13:45] scottd018 commented on #828
/close

Attempted to recreate this with the bad DNS settings, however after the machines were stuck in provisioning, fixing the DNS settings moved the systems into a running state. /shrug

[code]

[2020-03-19 13:45] #828 closed

[2020-03-19 17:09] randomvariable opened #844 "HAProxyLoadBalancer configuration comparison doesn't work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

#823 changed the configuration method for HAProxy to allow the correct API Server healthchecks to be installed. However, on every reconciliation, HAProxy is restarted, this has the following effects:

HAProxy is knocked out temporarily.
Healthchecks are reset, and endpoints start in Lay

[2020-03-20 09:36] randomvariable commented on #844
Most of the problem goes away switching the dataplane's reload command from `systemctl restart haproxy` to `systemctl reload haproxy`, but would like to eliminate most of the reloads as well as the healthchecks still get reset.

[2020-03-20 09:55] randomvariable opened #850 "After clusterctl move, all backends are removed from the load balancer"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Initiate a clusterctl move
Backends are removed from load balancer

**What did you expect to happen:**
Cluster continues operating

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vspher

[2020-03-20 09:56] randomvariable commented on #850
/assign
/lifecycle active

[2020-03-20 09:57] randomvariable commented on #850
Machine addresses likely not present because status has not been reconciled. Should add check to skip haproxy reconfiguration during this period.

[2020-03-20 14:10] #844 closed

[2020-03-20 14:10] #850 closed

[2020-03-22 14:49] chipzoller opened #853 "Validation needed for VSphereMachineTemplate.spec.template.spec.network.devices.ipAddrs"
****Have not inspected the code so unsure if bug or feature request.**

**What steps did you take and what happened:**
Populate the `devices` object with invalid string data for param `ipAddrs` specifying range.

[code]

Object is accepted and cluster builds. Invalid data causes first deployed control plane to have IP address unset causing a hang preventing further cluster build-out.

**What did y

[2020-03-22 14:53] chipzoller commented on #853
***Edit just to be clear:**  I'm well aware I supplied the value in an invalid way and that the IPs should have been added individually. This was only a test.

[2020-03-22 16:09] chipzoller commented on #755
Sorry for late reply. Use case here is to troubleshoot cloud-init scripts to see what payload is being passed as well as for other bring-up troubleshooting purposes where the logs on the K8s management cluster side are insufficient.

[2020-03-22 16:13] chipzoller opened #854 "Static IP assignment failure in pre-built Ubuntu 18.04 CAPV templates (1.16.3 and 1.17.4)"
/kind bug

**What steps did you take and what happened:**
Define a VSphereMachineTemplate spec with static IPs. Deploy the manifest. IP is attempted to be assigned in controller but is never applied with cloud-init.

**What did you expect to happen:**
Static IP is assigned.

**Anything else you would like to add:**
IP is pulled from range
[code]
but cloud-init never assigns IP.

**Environment:**

[2020-03-22 16:14] chipzoller commented on #854
See also issue https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/853

[2020-03-22 16:14] chipzoller commented on #755
See also issue https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/854

[2020-03-22 17:34] chipzoller commented on #854
Values for IP addresses need to be given in CIDR format.

[2020-03-22 17:39] chipzoller commented on #853
Validation on individual strings (if range not implemented) should check for proper CIDR format.

[2020-03-22 17:47] chipzoller commented on #755
Disregard. SSH key auth with `capv` username does work at this time.

[2020-03-22 19:56] #854 closed

[2020-03-22 20:06] chipzoller opened #857 "Static IPs in VSphereMachineTemplate not reserved if referenced in KubeadmControlPlane and MachineDeployment"
***Unknown if bug or feature request.**

**What steps did you take and what happened:**

1. Create a VSphereMachineTemplate resource with multiple static IPs
2. Reference said resource in both a KubeadmControlPlane resource and a MachineDeployment resource.
3. Deploy manifest with, for example, one control plane and one worker.
4. Observe that the first static IP in the list is assigned to both th

[2020-03-22 21:39] chipzoller commented on #857
After studying this a little more, it appears that this object is only designed to be mapped in a 1:1 fashion to either a KubeadmControlPlane or MachineDeployment. It's not a one-to-many "template" of a class of machine. If specifying multiple IPs in the VSphereMachineTemplate, **all** of those IPs get assigned to the VM(s) referenced by it. This consequently makes deploying a cluster with static

[2020-03-23 05:59] MnrGreg commented on #857
You're quite right @chipzoller. If using Static IPs, for every machine, one needs a separate single replica MachineDeployment referencing a VSphereMachineTemplate with the static IP definition.

We're in need of an IPAM Controller + Mutating Admission Controller to handle static IP assignment for machines with a MachineDeployment.

https://github.com/kubernetes-sigs/cluster-api/issues/1740

[2020-03-23 10:42] frapposelli opened #859 "HAProxy does not fully support IPv6"
/kind bug

**What steps did you take and what happened:**

Deploy a cluster with HAProxyLoadBalancer object with both `dhcp4` and `dhcp6` set to true

[code]

And the VM will come up without getting an IPv6 address, then K8s nodes will come up with both ipv4 and ipv6 addresses and they will be listed in the `/etc/haproxy/haproxy.cfg` rendering.

**What did you expect to happen:**

The HAProxy vm t

[2020-03-23 12:59] randomvariable commented on #859
/assign

[2020-03-23 13:00] randomvariable commented on #859
I did notice similar.
Have SLAAC enabled infra to test this on.

[2020-03-23 14:33] casibbald opened #862 "reconcile issues when deployed by helm with 0.6.2 - deploys occasionally with the exact same config"
[/kind](url) bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Cluster does not come up when files deployed by helm, can take a few hours or even a day.

**What did you expect to happen:**
Cluster starts.
screenshot attached when race conditions do not happen and the cluster does start.

**Anything else you would like to add:**
[Miscellaneous

[2020-03-23 21:31] ncdc opened #866 "MarshalCloudProviderArgs discards any user-specified ExtraArgs"
/kind bug

**What steps did you take and what happened:**
Create a `VSphereCluster` that looks something like this (some fields omitted):
[code]

The resulting DaemonSet has this:

[code]

My user-specified extraArgs have been dropped.

**What did you expect to happen:**

extraArgs merged with the hard-coded cloud-ocnfig, cloud-provider, v settings.

**Anything else you would like to add:**

The u

[2020-03-23 21:33] randomvariable commented on #866
/assign
/lifecycle active

[2020-03-24 10:20] #866 closed

[2020-03-24 16:57] casibbald commented on #862
Closing issue, and will produce a separate issue with more details.

[2020-03-24 16:57] #862 closed

[2020-03-25 08:42] moonek opened #870 "Cluster is not normally created due to delay in HAProxy configuration in CAPV v0.6.2."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In most attempts, only haproxy and controlplane nodes are created, not worker nodes.
[code]

As a result of the trace, it is understood that the communication timeout for the controlPlaneEndpoint(HAProxy) occurred during the `kubeadm init` process (timeout: `4m0s`).

Over time, communic

[2020-03-25 12:09] yastij commented on #870
@moonek - these issues were fixed in master and we also have https://github.com/kubernetes-sigs/cluster-api/pull/2763 in CAPI that fixes some join issues.

we'll likely cut a CAPV release today

[2020-03-25 13:25] moonek commented on #870
@yastij Okay.  I will test it as soon as it is released.

[2020-03-26 06:57] adrianriobo opened #872 "Images specification"
/kind feature

**Describe the solution you'd like**
I can not find any documentation regarding to images specification, as you point in the documentation: .*..it is highly recommended to build and use your own custom images*, but I assume there are some requirements regarding the image.

Amazon EKS will include a [project](https://github.com/awslabs/amazon-eks-ami) with Packer scripts to create th

[2020-03-26 10:17] yastij commented on #872
/assign @codenrhoden

[2020-03-26 12:47] randomvariable commented on #872
Btw @adrianRiobo , whilst we should add the docs here, the relevant packer bits and pieces are in https://github.com/kubernetes-sigs/image-builder for the CAPV images and in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/tree/master/hack/tools/haproxy for HAProxy

[2020-03-26 16:50] vuil opened #873 "Need clarification on whether resource pool backed by single host is supported."
/kind documentation

The getting started doc mentions one of the vSphere requirements is that a resource pool is provided, but is not clear on whether it has to be backed by a ComputerCluster or can it also be backed by a single HostSystem.

**What did you expect to happen:**

The documentation should state whether the latter is supported or not.

[2020-03-26 21:46] randomvariable opened #875 "HAProxy server cert generated before time is synced and has wrong validity"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If ESXi doesn't have NTP running, HAProxy can boot with the wrong time. Although systemd-timesyncd is active, the time doesn't sync before the serving certificate is generated, and therefore the certificate can have the incorrect validity.

**What did you expect to happen:**

**Anything

[2020-03-27 05:28] luniHw opened #876 "The task is pending when there is no resource pool in vCenter"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If not setting resource pool in vCenter, fail to create Kubernetes cluster

**What did you expect to happen:**
Expect there is no dependency of resource pool when creating cluster

**Anything else you would like to add:**
We also tried use the root resource pool, enter */Resource, but it

[2020-03-27 14:38] detiber commented on #875
If systemd-timesyncd is configured, can you leverage `timedatectl status` to determine when time is sync'd prior to generating the certificate rather than looping on ntpstat?

[2020-03-27 15:01] randomvariable commented on #875
Yup. Going to be a problem if there's no connectivity to time.google.com.

Going to hold off on this, and instead provide guidance that you must have ESXi time synchronised.

[2020-03-27 15:03] randomvariable opened #877 "Print controller version on startup"
/kind feature

**Describe the solution you'd like**
Would be great to to see the controller version in the logs, makes debugging issues for end users much simpler.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version: 0.6.2

[2020-03-27 15:40] akutz commented on #875
Hi @detiber,

I think the point was to *wait* for time-sync. Whether that is with `ntpstat` or `timedatactl status`, both need to be in a loop and serve the same purpose. Not sure there is value in one over the other here. Although at least on CentOS the [`ntpd` package](https://rpmfind.net/linux/RPM/centos/7.7.1908/x86_64/Packages/ntp-4.2.6p5-29.el7.centos.x86_64.html) includes `ntpstat` and not

[2020-03-30 14:21] randomvariable commented on #875
I.e. it's going to end up being distro specific:
timedatectl for photon
ntpstat where ntpd is available
whatever the equivalent for chronyd is for centos

[2020-03-30 14:27] detiber commented on #875
If I'm not mistaken, `timedatectl` should work for all cases, at least it does on my local Fedora 31 system running `chronyd`:
[code]

[2020-03-30 15:25] randomvariable commented on #875
oh, that's good. me being over-cynical for once.

[2020-03-30 15:35] detiber commented on #875
Probably need to also validate on an Ubuntu and Amazon Linux 2 image just to be on the safe side.

[2020-03-31 04:09] MnrGreg commented on #674
This is now simple enough to do with clusterctl cluster-template.yaml overrides.

Example:
[code]

I also noticed that if the vSphere Tag Categories do not exist then the vSphere Cloud Provider fails to start correctly. Probably safer to require that it be explicitly defined.

/close

[2020-03-31 04:09] #674 closed

[2020-03-31 16:35] yastij commented on #870
@moonek - can you retry with v0.6.3 ?

[2020-03-31 19:15] chipzoller opened #882 "Reevaluate bidirectional communication between management and workload clusters"
/kind feature

**Describe the solution you'd like**
Currently, an assumption within the CAPI project has been made predicated primarily on public cloud networking concepts that communication between management and workload clusters should be unidirectional. That is, the management cluster can speak to the workload cluster but returning any results or info from the workload cluster back to the mana

[2020-03-31 19:28] detiber commented on #882
If the requirement for bi-directional communication can be limited to the scope of just the vsphere infrastructure provider this *might* be okay.

One thing to keep in mind through this is the bootstrapping process of standing up Cluster API, though. In which case the bootstrapping cluster *may* be a `kind` cluster that is running on a local workstation. Can we say that this `kind` cluster will be

[2020-03-31 20:27] chipzoller commented on #882
Agree that's not an assumption which can be made, but I think we can make some concessions here. For example, although the bootstrapping cluster _may_ be a `kind` cluster, it could very well be a persistent, dedicated, management cluster also running in vSphere. In such a case, the management cluster, unlike `kind` would not be ephemeral and would (almost certainly) have connectivity out to the de

[2020-04-01 02:58] moonek commented on #870
@yastij yes, I tested it several times today(with capi v0.3.3 and capv v0.6.3). It works very well. good!

[2020-04-01 03:00] moonek commented on #870
I confirmed that this problem has been fixed in capv v0.6.3.

[2020-04-01 03:00] #870 closed

[2020-04-01 16:17] yastij commented on #857
/assign

[2020-04-03 01:00] codenrhoden opened #884 "Move the HAProxy build tooling over to image-builder project"
/kind feature

**Describe the solution you'd like**
With v1alpha3, CAPV started requiring a load-balancer image.  This repo contains code/tooling to build an OVA using the HAProxy dataplane API. The code to build this image was strongly modeled after the sigs.k8s.io/image-builder project. However, improves made to `image-builder` were not reflected here.

I propose that the HAProxy image be built

[2020-04-04 19:21] akutz opened #886 "Update the Kubernetes compatibility section in the README"
/kind bug

**What steps did you take and what happened:**
The [Kubernetes compatibility](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere#compatibility-with-cluster-api-and-kubernetes-versions) section in the CAPV README is out of date.

**What did you expect to happen:**
Current versions for:
* Kubernetes
* CAPV
* CAPI

**Anything else you would like to add:**
Nope

**Environment:*

[2020-04-04 19:27] akutz opened #887 "Update confusing language in README"
/kind bug
/kind documentation

**What steps did you take and what happened:**
There is a sentence in the README that is confusing:

**What did you expect to happen:**
I recommend the following change:

**Anything else you would like to add:**
Nope.

**Environment:**
NA

[2020-04-04 20:06] akutz opened #888 "Environment variables override the config file in getting started guide"
/kind bug

**What steps did you take and what happened:**
When following [the getting started guide](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md#configuring-and-installing-cluster-api-provider-vsphere-in-a-management-cluster), I created the file `$HOME/.cluster-api/clusterctl.yaml` with the appropriate configuration values. However, when I ra

[2020-04-06 12:36] randomvariable commented on #888
Doc error. It's a combination of clusterctl and how viper works that means that environment variables take precedence.

[2020-04-06 12:44] randomvariable commented on #884
No debate here if image-builder wants to own it. Would dedupe work here significantly.

[2020-04-06 13:05] yastij commented on #884
strong +1

[2020-04-08 19:23] shyaamsn opened #891 "HAProxy LoadBalancer transactions are not closed"
/kind bug

**What steps did you take and what happened:**
Created a CAPI cluster with HAProxy loadbalancer.

Looked at the HAProxy transactions and noticed a lot of transactions that are not closed,  resulting in stale transactions that are in progress

**What did you expect to happen:**
Transactions should be closed

**Anything else you would like to add:**
[Miscellaneous information that will as

[2020-04-09 11:40] randomvariable opened #892 "INI file escaping required for CSI configuration"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
CSI configuration fails if certain, typically escaped INI file characters are used.

**What did you expect to happen:**
Can use acceptable vcenter passwords

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- C

[2020-04-09 11:40] randomvariable commented on #892
/assign
/lifecycle active

[2020-04-09 15:31] codenrhoden commented on #884
This topic was discussed in yesterday's image-builder office hours and there were no objections, so I will work on this.

/assign

[2020-04-09 23:20] frapposelli opened #894 "Operating system and Container cache should live on different VMDKs"
/kind feature

**Describe the solution you'd like**
I would like to see CAPV separate the operating system from the local container cache, this would be achieved by cloning the OS from a template, and then creating a new disk of the size specified with `VSPHERE_DISK_GIB` that would host the local image cache, enabling faster provisioning time and the ability to specify a disk size when using linke

[2020-04-10 01:21] frapposelli commented on #884
+1 on deduplicating, since this is specific to CAPV, some guardrails should be implemented to make sure changes are driven by CAPV owners (separate OWNERS file maybe?)

[2020-04-10 02:08] jayunit100 commented on #506
There is renewed working going into this effort, not specifically around NCP though, but rather, around supporting
- NSX-T IPAM: For node IP Addresses that fall in a range allocated from NSX-T
- LoadBalancer: As a way to use native NSX rather then tools like HAProxy for APIServers.

[2020-04-10 14:40] detiber commented on #591
/lifecycle frozen

[2020-04-14 09:47] yastij commented on #676
closing this as this was fixed

[2020-04-14 09:47] #676 closed

[2020-04-14 18:45] chipzoller opened #895 "Ensure resource name consistency between related CAPI and CAPV objects"
/kind feature

**Describe the solution you'd like**
Today, when a cluster is created using CAPV, a number of resources are created owned/instantiated by a combination of CAPI and CAPV. For example, VSphereMachine, VSphereVM, Machine, and KubeadmConfig. These four resources are tightly coupled and have a distinct relationship which has been illustrated [here](https://neonmirrors.net/post/2020-04/ca

[2020-04-16 05:50] luniHw opened #896 "Error: File (centos-7.ova.vmdk) could not be found"
/kind bug

**What steps did you take and what happened:**
root@bootstrapper [ ~ ]# ovftool --network="VM Network" --acceptAllEulas --noSSLVerify --allowExtraConfig --X:injectOvfEnv --datastore="sharedVmfs-0" --name="istrator@vsphere.local':'Admin!23'@192.168.111.5/'os-test-dc'/host/compute_clustercentos-7-kube-v1.17.3.ova' vi://'admini
Opening OVA source: http://storage.googleapis.com/capv-images/

[2020-04-16 13:41] vincepri commented on #175
/lifecycle frozen

[2020-04-16 17:43] yastij commented on #827
@justinmurray - are you facing the same issue with a newer version of CAPV ?

[2020-04-16 17:48] #639 closed

[2020-04-16 17:49] #755 closed

[2020-04-16 17:50] yastij commented on #751
closing this, requeue did improve the situation

[2020-04-16 17:52] yastij commented on #718
@akutz - I think we should re-visit this assumption, as any fix to CSI implies cutting a new release of CAPV.

[2020-04-16 18:24] voor commented on #639
For reference this is because CAPV requires 6.7U3 or more to function now.

[2020-04-16 18:45] voor commented on #718
Since everything is manifest based (i.e., you're not putting static pods in anywhere) this also makes a lot more sense now, especially with the post-cluster apply stuff getting more fleshed out.

Referencing https://github.com/kubernetes-sigs/cluster-api/issues/2395

[2020-04-16 23:50] frapposelli commented on #894
Also I think having etcd as a separate VMDK could be a good idea, since using linked clones creates a write penalty on the disk due to copy-on-write, and etcd is very sensitive to it.

[2020-04-17 13:42] yastij commented on #720
@ac06012014 - closing this as this is working, feel free to re-open if you're still seeing an issue

[2020-04-17 13:42] #720 closed

[2020-04-17 13:45] yastij commented on #747
closing this as #746 merged

[2020-04-17 13:45] #747 closed

[2020-04-17 13:46] yastij commented on #745
closing this as the docs are you now relying on v1alpha3

[2020-04-17 13:46] #745 closed

[2020-04-21 09:55] randomvariable commented on #882
Related to https://github.com/kubernetes-sigs/cluster-api/issues/2554

[2020-04-21 09:58] randomvariable commented on #687
A new issue was created for the permissions, and https://cluster-api.sigs.k8s.io/developer/architecture/controllers/bootstrap.html has details on how bootstrap works.

/close

[2020-04-21 09:58] #687 closed

[2020-04-21 10:25] randomvariable commented on #659
/lifecycle frozen

[2020-04-21 10:27] randomvariable commented on #635
/lifecycle frozen
/milestone next
/priority important-longterm

[2020-04-21 11:59] randomvariable commented on #586
Closing this as we no longer use the envvar.txt in the clusterctl model in v1alpha3.

/close

[2020-04-21 11:59] #586 closed

[2020-04-21 12:07] yastij commented on #876
the default root resource pool is `*/Resources` 2 cases:
- set `*/Resources` at `vsphereCluster` level and no need to override at the `vsphereMachine` level
-  if you are setting a different resourcePool on the `vsphereCluster`, make sure to explicitly override in the vsphereMachine spec with the root resource pool

[2020-04-22 18:49] detiber opened #897 "Published templates for MachineDeployment have incorrect LabelSelector"
/kind bug

**What steps did you take and what happened:**
Creating a cluster with the default templates provided yields a MachineDeployment that has a Selector containing only a matchLabels on `cluster.x-k8s.io/cluster-name: <cluster name>`, this results in matching ANY machine deployed that belongs to the cluster.

If a label selector is provided, it should match only the Machines that belong to

[2020-04-24 09:47] randomvariable commented on #897
/assign
/lifecycle active

[2020-04-24 12:40] #897 closed

[2020-04-24 14:13] lelvisl commented on #165
what about this feature in 2020?

[2020-04-25 01:22] monfardineL commented on #876
I have the same scenario but I think the problem resides on another side.
I have a licensed vCenter Server 6 **Standard**, which doesn't support **DRS** and consequently doesn't support also the creation of resource pools, and even through VMware documentation says there's a default resource pool, I don't think it's capable of distribute the VMs among the hosts on cluster, as it's supposed to happ

[2020-04-27 10:06] sachinphogat opened #901 "vCloud Director Support"
/kind feature

Does cluster-api is planning to support vCloud Director  as we are moving all our vsphere infra to vCloud Director for managing VMs and and if yes, any ETA?

[2020-04-27 10:08] sachinphogat opened #902 "vCloud Support for Cluster api"
/kind feature

Does cluster-api is planning to support vCloud Director  as we are moving all our vsphere infra to vCloud Director for managing VMs and and if yes, any ETA?

Or is there any way in which we can use current cluster-api-provider-vsphere for managing lifecycle on vCloud Director?

[2020-04-27 14:24] vincepri commented on #902
Transferred to CAPV repository

[2020-04-27 14:26] yastij commented on #902
thanks @vincepri for moving this. @sachinphogat CAPV's scope is only vsphere, I'd see this as a totally different provider as the API are different

[2020-04-27 15:31] vincepri opened #903 "Move e2e tests to clusterctl framework"
With the introduction of the new clusterctl test framework, we should draw a plan of action and publish a gap-analysis of the current e2e tests CAPV has today, and how we can port them to the new framework.

/kind cleanup
/assign @sedefsavas
/cc @fabriziopandini @yastij

[2020-04-27 15:35] yastij commented on #903
@vincepri - that's on my plate of things to do this week.

[2020-04-27 16:04] sedefsavas commented on #903
This CAPV config is working with the new e2e, may be useful: https://github.com/kubernetes-sigs/cluster-api/pull/2950

[2020-04-27 16:11] fabriziopandini commented on #903
happy to help if required!