[2018-08-14 20:26] sflxn opened #5 "Replace the terraform code with govmomi"
Terraform calls govmomi underneath so using Terraform for the vSphere provider adds yet another layer in the provisioning stack that we need to debug.  In addition, Terraform has it's own state file for their source of truth.  We've found from previous projects that letting vSphere be the source of truth is much less problematic in the long run.

[2018-08-14 20:40] sflxn opened #6 "Create a dockerfile to build clusterctl"
Create a dockerfile to build clusterctl.

This is a mirror of https://github.com/kubernetes-sigs/cluster-api/issues/289.  Since it's now up to the vendor specific providers to build clusterctl, we should look into completing this issue.

[2018-08-15 00:37] sflxn opened #7 "Create a docker container that contains clusterctl and minikube drivers"
Currently, if users want to use clusterctl to create a cluster using minikube in the bootstrap workflow, requires a lot of manual steps just to get minikube working.  There must be a way to create a docker container that has clusterctl and all the necessary minikube drivers.

This issue differs from #6.  That issue is for creating a Dockerfile for a container to build clusterctl.  This issue is to

[2018-08-17 21:53] roberthbailey opened #8 "Calico Manifest assumes Service IP range"
_From @krousey on June 11, 2018 16:57_

A Calico manifest has a hard-coded service IP that makes an assumption that it falls within the cluster's service cidr. This assumption is made https://github.com/kubernetes-sigs/cluster-api/blob/7fdecc5cc4b4174ab5c540a027fcfccc7183f66f/cloud/vsphere/templates.go#L372 and https://github.com/kubernetes-sigs/cluster-api/blob/7fdecc5cc4b4174ab5c540a027fcfccc718

[2018-08-17 21:53] roberthbailey commented on #8
_From @karan on June 11, 2018 16:59_

/assign @satyasm

[2018-08-17 21:53] roberthbailey commented on #8
_From @k8s-ci-robot on June 11, 2018 16:59_

@karan: GitHub didn't allow me to assign the following users: satyasm.

Note that only [kubernetes-sigs members](https://github.com/orgs/kubernetes-sigs/people) and repo collaborators can be assigned.

<details>

In response to [this](https://github.com/kubernetes-sigs/cluster-api/issues/324#issuecomment-396312749):

Instructions for interacting with me

[2018-08-17 21:53] roberthbailey commented on #8
_From @karan on June 11, 2018 16:59_

/cc @cadmuxe @satyasm

[2018-08-17 21:53] roberthbailey commented on #8
_From @cadmuxe on June 11, 2018 18:28_

Thanks, I will create a patch.

[2018-08-17 21:55] roberthbailey commented on #8
@sflxn - feel free to close if you aren't going to fix, but since this was a vsphere specific issue I moved it out of the cluster-api repo.

[2018-08-17 21:58] roberthbailey opened #9 "[vSphere] Store provider config variables in secrets"
_From @karan on May 29, 2018 17:13_

This is for security and safety, since the provider config blob can contain sensitive credentials.

/kind feature

/assign @karan

_Copied from original issue: kubernetes-sigs/cluster-api#226_

[2018-08-17 21:58] roberthbailey commented on #9
_From @karan on May 31, 2018 23:45_

After a little more thought, this might not work since the provider config will still need to exist on the objects. So we can't actually have them only in secrets.

[2018-08-17 21:58] roberthbailey opened #10 "[vSphere] Support machine setup config map in vSphere"
_From @karan on May 29, 2018 17:12_

/kind feature

/assign @karan

_Copied from original issue: kubernetes-sigs/cluster-api#225_

[2018-08-17 22:03] roberthbailey opened #11 "VMware: support VM images that come with container runtime pre-installed"
_From @rsdcastro on April 17, 2018 18:43_

_From @rsdcastro on April 14, 2018 1:46_

VM images provided by users might have the container runtime. This issue tracks verifying if the container runtime is already pre-installed and matches the version specified by the user.

_Copied from original issue: kubernetes/kube-deploy#687_

_Copied from original issue: kubernetes-sigs/cluster-api#79_

[2018-08-17 22:03] roberthbailey commented on #11
_From @rsdcastro on May 29, 2018 21:51_

/cc @karan

Karan - can you update this issue based on the current implementation using Ubuntu images?

[2018-08-17 22:03] roberthbailey commented on #11
_From @karan on May 29, 2018 23:53_

Currently, we disregard user preference and install docker anyways - https://github.com/kubernetes-sigs/cluster-api/blob/master/cloud/terraform/templates.go#L251 (terraform) and https://github.com/kubernetes-sigs/cluster-api/blob/master/gcp-deployer/machine_setup_configs.yaml#L40 (gcp)

[2018-08-21 16:05] sflxn opened #12 "Bug: clusterctl fail when using existing external cluster"
Using the clusterctl from this repo fails when using an existing cluster.  Using a nested ESX on Fusion on Mac, I attempted to deploy a cluster with the following command,

[code]

What I see is a constant loop waiting for the master to come up,

[code]

What I see from the machine actuator's logs (via kubectl log):

[code]

[2018-08-21 16:58] sflxn opened #13 "Bug: clusterctl using the minikube to bootstrap the external cluster fails"
This bug involves the minikube vsphere PR to use Fusion/Workstation as the vm driver.

When I use minikube directly to create the bootstrap cluster and then call clusterctl, the cli is able to get passed applying the cluster api server onto it.

1. minikube --vm-driver vmware --bootstrapper kubeadm start
1. clusterctl create cluster ...

When I use clusterctl with no existing external cluster, it

[2018-08-21 17:05] sflxn commented on #13
Turns out this issue is a subset of the existing cluster issue (#12).

[2018-08-21 17:05] #13 closed

[2018-08-22 00:59] sflxn commented on #12
I've debugged this further... the hard way, and found the clusterctl simply wasn't bubbling up the actual provisioning error from Terraform.  The problem was my machines.yaml provider config.

[2018-08-27 16:27] sflxn commented on #12
This is not a bug.  The provider only works with VC, and I was using ESX.

[2018-08-27 16:27] #12 closed

[2018-08-27 17:41] sflxn opened #16 "Feature: support Windows node"
This is a feature request for Windows pod support once Windows support has been added to Kubernetes.

[2018-08-27 17:44] sflxn opened #17 "Feature: device support"
Support VM nodes that have access to the host's devices (e.g. GPU).  There is currently a proposal for ResourceClass that will allow this support.

[2018-08-27 17:46] sflxn opened #18 "Feature: isolated pod support"
Kubernetes will support isolated pods (e.g. pod vm) in the future.  There is a proposal for RuntimeClass that will support in-host isolated pods (e.g. Kata and gVisor).  This may not be the only method of supporting RuntimeClass.  We should support this feature when deploying a cluster to vSphere.

[2018-08-27 17:48] sflxn opened #19 "Feature: custom cloud init scripts"
The cloud init scripts are currently hardcoded in the template.go file.  We can make those the default, but we should also allow users to pass in custom user-defined scripts.

[2018-08-27 18:24] sflxn opened #20 "Feature: support Vsan"
Add vsan support.

[2018-08-27 19:40] sflxn opened #21 "Feature: give clusterctl the ability to query created clusters"
Give clusterctl the ability to query a list of created cluster and also describe the cluster.  Currently, clusterctl can create and delete the cluster.  A user can create multiple clusters, but there is no way to query existing clusters and describe the configuration of the clusters from clusterctl.

[2018-08-27 19:53] sflxn opened #22 "Feature: persist bootstrap cluster config in the event of crash"
We can have a scenario where a single bootstrap cluster is created and never destroyed.  In the event that this cluster goes down, there needs to be a persistent source of truth with which we can recreate the bootstrap cluster.  Part of this issue is picking the persistent store.  Some ideas are native vSphere store or an etcd cluster outside of kubernetes.

[2018-08-27 19:58] sflxn opened #23 "Feature: backup/recovery of the cluster config"
Define, design, and implement a backup/recovery approach for the cluster config.  This is most likely just the etcd database.

[2018-08-27 20:40] sidharthsurana opened #24 "Feature: Add multiple nic support"
Add support multiple nics on to the node machines.
This will help in setting the cluster in a way that the k8s API network and the data plane network could be possibly isolated

[2018-08-27 21:06] sidharthsurana opened #25 "Change the default CNI to weave"
Request to change the default CNI to weave as it does not need an additional etcd, and it supports much richer network constructs.

The choice of weave for CNI is based on some available comparison here:
https://chrislovecnm.com/kubernetes/cni/choosing-a-cni-provider/

[2018-08-27 21:59] sflxn opened #26 "Feature: support zones"
We've just added zone support in the vSphere cloud provider.  We should add the ability to recognize zones when performing CRUD operation on a cluster.

[2018-08-27 22:01] sflxn opened #27 "Feature: add support for multiple nics in the machine defintion"
Add the ability to create nodes that contains multiple nics.  The yaml definition also needs to be updated to support multiple nics.

[2018-08-27 22:02] sflxn opened #28 "Feature: support static IP in machine definition"
There are times when there is a desire to create machine nodes with static IPs.

[2018-08-27 22:03] sflxn opened #29 "Feature: support subnet ranges for machines"

[2018-08-27 22:05] sflxn commented on #27
duplicate of #24

[2018-08-27 22:05] #27 closed

[2018-08-28 15:54] sflxn opened #30 "Refactor the MachineActuator to make it easy to transition to govmomi"
To help with the transition from Terraform to govmomi, we should refactor the machine actuator in this provider.  It will help make it easier for multiple developers to contribute to this effort.

[2018-08-28 15:54] sflxn commented on #30
/assigned

[2018-08-28 15:55] sflxn opened #31 "Transition MachineActuator.Create to govmomi"
Move the machine actuator's create operation to govmomi from the Terraform code today.

[2018-08-28 15:56] sflxn opened #32 "Transition MachineActuator.Delete to govmomi"
Transition the machine actuator's delete operation to govmomi.

[2018-08-28 15:59] sflxn commented on #30
I plan to use the command/functor pattern to do this.  It's more of a C++/Java pattern, but I think it's appropriate.  I've used the same pattern in other OSS GoLang projects.

[2018-08-30 17:05] sflxn commented on #32
/assigned

[2018-08-31 20:01] sflxn opened #34 "Setup CI/CD for cluster-api-provider-vsphere"
Get a CI/CD pipeline setup for this provider.

[2018-09-04 18:35] #25 closed

[2018-09-04 21:28] sflxn opened #35 "Add vcsim tests for the machine actuator's create workflow"
We can use vc sim (simulator) to run unit tests for the machine actuator.  We need unit tests for the existing machine actuator.  There may be some problems running Terraform against vc sim.  We need to identify those issues and raise them in the vcsim repo.

[2018-09-04 23:44] sidharthsurana opened #36 "Add provider specific cluster controller for vsphere provider"
The "API Endpoint" for the cluster ideally should be handled by the provider specific cluster controller. Without this we are dependent on the clusterctl client to drive the workflow as currently the cli updates the API Endpoint at the moment.

We need to add a cluster controller for the vsphere implementation and have that maintain the "API Endpoint" for the cluster

This topic has been discussed

[2018-09-05 17:17] sflxn opened #38 "Vendor in the CRD updates from the main cluster-api repo"
The main cluster api repo is migrating to CRD.  The controllers will change.  Re-vendor in the repo for this provider and update the vsphere provider.

[2018-09-07 22:31] sflxn opened #39 "Design and implement a central store to track clusters created by the cluster api"
For enterprise use case, we want some central source of truth for information about clusters created with the cluster api.

1. Identity of the clusters created via vSphere console
2. Identity of the clusters created via clusterctl
3. Retrieval of the kubeconfig for the cluster

**Background:**
---
Today, the Terraform provisioner keeps information about the cluster in various places, including con

[2018-09-10 23:14] sflxn opened #40 "Deleting the cluster object takes too long and often fails"
When deleting an existing target cluster, clusterctl usually takes 10s of minutes or simply times out trying the last step in the workflow -- delete cluster objects.  The suspicion is that the cluster object has too many finalizers as shown in the snippet below,

[code]

The above is from the cluster object on the bootstrap cluster.

[2018-09-11 18:43] sidharthsurana commented on #31
/assign @sidharthsurana

[2018-09-11 20:41] sflxn opened #41 "docs: add design doc folder with some design for the current workflow"
A lot of the workflow for the cluster api are not documented.  We should add a design doc folder and add some markdown pages describing the current workflow.  This will help people on-ramp onto the cluster api work.

[2018-09-11 20:41] sflxn commented on #41
I have some diagrams for the current workflow of cluster create and delete.  Just need to add some markdown pages and then I will check them in.

[2018-09-12 23:47] sflxn commented on #40
/assigned

[2018-09-12 23:48] sflxn commented on #40
Seems like every time we copy the cluster objects from one cluster to another, the same finalizer is added.  Still not sure if the multiple finalizer is causing this issue yet.

[2018-09-13 17:20] sidharthsurana opened #44 "Feature: Support spreading nodes across multiple VC"
When deploying a machineset, we should support specifying a different VC in the spec that overrides the VC specified in the cluster object. This way from the infrastructure point of view, we can spread the node VMs across VCs. In doing so that assumption is that the user deploying this cluster will make sure that the VMs created across the VC will have a proper L3 connectivity to each other.

[2018-09-17 21:46] #36 closed

[2018-09-18 16:57] sflxn opened #45 "Add ability to log to a remote log server"
Debugging the cluster api stack is very time consuming and very complex.  If the system had the ability to log to a remote log server, it will significantly improve development productivity.  It will also be helpful for users of the cluster apis.  Not sure if glog can concurrently write to a remote server or we need another sidecar container to stream the logging to the server.

[2018-09-18 17:52] sflxn opened #46 "Move all yaml and startup scripts out of code or allow overrides"
There are quite a few yaml definitions and startup scripts currently captured in code.  This makes the development/debug cycle very onerous.  It may be fine to keep these in code, but we should allow overrides via clusterctl or other CLI.  The following are scripts and yaml definitions in the code:

1. cluster-apiserver yaml in the main cluster-api repo at cluster-api/pkg/deployer/clusterapiserver

[2018-09-18 18:46] sflxn opened #48 "unit test: write test for the govmomi provisioner"
Write unit tests for the new govmomi provisioner.

[2018-09-18 18:47] sflxn opened #49 "unit test: write test for the namedmachines.go"
Write unit tests for cluster-api-provider-vsphere/cloud/vsphere/namedmachines/namedmachines.g.o

[2018-09-18 19:54] sflxn opened #51 "ci/cd: add software to CI to run cluster api with a minikube bootstrap cluster"
To test clusterctl with a bootstrap cluster using minikube, we need some software installed on some machines in CI.  Specifically,

1. Vmware workstation
2. minikube with the Vmware support built in (https://github.com/kubernetes/minikube/pull/2606)
3. the docker-machine driver for vmware (https://github.com/machine-drivers/docker-machine-driver-vmware/releases)

It doesn't matter if these compone

[2018-09-18 20:02] sflxn opened #52 "ci/cd: create pods/containers/scripts to kick off clusterctl tests in CI/CD"
Based on what I've been told, we will likely kick off clusterctl tests by creating a pod on the existing kubernetes cluster in CI.  We need the pods/containers/scripts that kick off clusterctl tests in CI written.  The following are categories of tests we need written,

1. clusterctl create cluster
2. clusterctl delete cluster
3. clusterctl validate cluster

Note, each of these tests must be able

[2018-09-18 20:05] sflxn opened #53 "ci/cd: add cluster api and the vsphere provider repos to prow"
Add both cluster-api and cluster-api-provider-vsphere repos to prow.

1. https://github.com/kubernetes-sigs/cluster-api
2. https://github.com/kubernetes-sigs/cluster-api-provider-vsphere

[2018-09-18 20:07] sflxn opened #54 "ci/cd: trigger the k8s conformance tests on the target cluster"
We need to run the k8s conformance tests on the target cluster, created by the cluster api.  Add this capability to our CI system.

[2018-09-18 20:14] sflxn opened #55 "ci/cd: add some tests to validate the bootstrap and target clusters"
Add some end to end test to validate the bootstrap and target clusters are correct.  These tests can include the following as examples:

1. Clusters, Machines, MachineSet, MachineDeployment objects
2. Correct annotations

[2018-09-18 21:00] sflxn opened #56 "docs: add how-to guide to readme.md"
The current repo has no usage documentation.  Add a quick start guide to the readme markdown page.

[2018-09-19 19:01] sidharthsurana opened #57 "Refactor template.go out of terraform provisioner"
Now that we are adding a govmomi based implementation as well, the script templates as they stand today should be used by both govmomi and terraform implementations. Thus refactoring the template.go is needed to be consumable with both implementations

[2018-09-19 21:56] sflxn commented on #30
@sidharthsurana will be rebasing some code on top of my wip and submitting the PR.

[2018-09-20 20:57] #30 closed

[2018-09-20 21:55] #57 closed

[2018-09-20 22:12] sidharthsurana opened #60 "Cloud provider config should not come from master config"
The cloud provider configuration to be setup for the cluster today is rendered using the machine variables used for the master node. This assumption is not correct as the machine variables are there to provide information about **where** and **what** to deploy as a master node and **_not_** to serve as the input for the cloud provider config that the target kubernetes will use.
We need to clearly

[2018-09-21 22:54] sidharthsurana opened #62 "Make Cluster object provide the status of the realized cluster"
The current `ClusterStatus` object does not contain any high level field that someone could look at and tell if the target cluster is `ready` for consumption. Given that the very definition of `ready` is subjective. As we could claim ready potentially at different stages:
1. master/s are ready and the APIs are up
2. workers are all deployed and nodes are in ready state

This is an open issue to be

[2018-09-24 13:17] #56 closed

[2018-10-08 10:28] #5 closed

[2018-10-08 10:28] #62 closed

[2018-10-08 10:28] #31 closed

[2018-10-08 10:28] #32 closed

[2018-10-08 18:04] frodenas opened #66 "Migrate to Kubebuilder"
Cluster-API has migrated to kubebuilder and CRDs (PR https://github.com/kubernetes-sigs/cluster-api/pull/494). We need to sync the vsphere cluster-api provider with the upstream changes.

[2018-10-08 23:42] figo opened #67 "we need to run CI job for presubmit"
we need to add the CI job that integrated with Prow that run all unit tests

[2018-10-11 00:32] sflxn opened #70 "Bug: clusterctl create cluster fails with govmomi actuator"
Using clusterctl, cluster creation always fails.  After some debugging, it appears kubeconfig cannot be pulled.  Root cause still unknown.

[2018-10-11 01:13] sflxn commented on #70
I've found multiple causes for this.

1. IP is found, but it cannot ssh the kubeconfig out
2. clusterctl completes, but the VM hasn't finished booting yet
3. VM can't continue booting because 'device root not found'.  Pressing a key in the vSphere console allows it to proceed.

[2018-10-11 04:29] sflxn commented on #70
I think I found the problem.  It took quite a bit of time looking in the wrong place (machine controller) for clues.  The real clue came from looking at clusterctl's code.  The logic problem is in machine controller, and it's the result of the actuator's contract not being clear.

I'll work on a fix tomorrow.

[2018-10-11 16:55] sflxn opened #73 "Add a way to better switch between the govmomi and terraform variants"
Currently, switching between the two variants requires commenting/uncommenting out some code in the machine controller and rebuilding.  We need a better solution.  The concept of variants was introduced in the working group.  We should adopt whatever approach they agreed on or come up with our own proposal.

[2018-10-11 18:24] sflxn opened #74 "Support out-of-tree vSphere cloud provider"
We need the ability to also deploy the vSphere Cloud Provider into the target cluster.  This refers to the out-of-tree cloud provider.

[2018-10-15 17:54] frapposelli opened #76 "Support standalone ESXi server when deploying a cluster"
Right now the only supported endpoint to deploy a cluster is vCenter, deployment should be supported even on standalone ESXi servers.

[2018-10-15 17:55] frapposelli commented on #76
/kind feature

[2018-10-15 17:58] frapposelli commented on #76
/assign

[2018-10-15 22:48] sflxn opened #78 "Bug: Clusterctl delete cluster fails with Govmomi actuator"
Using clusterctl to delete a cluster that was previously created using the govmomi actuator fails.  It appears to succeed calling the CLI but the cluster is not actually deleted.

[2018-10-16 15:46] #70 closed

[2018-10-16 18:19] sflxn commented on #78
Here's the logs for a failed run.

[code]

[2018-10-16 19:17] figo commented on #53
https://github.com/kubernetes/test-infra/pull/9784
https://github.com/kubernetes/test-infra/pull/9813
https://github.com/kubernetes/test-infra/pull/9815

after the changes, the CI will automatically run for every PULL

[2018-10-16 19:27] figo opened #79 "CI/CD: add a job to build clusterapi-provider-vsphere into container and upload to registry"
job should run for every merge at master branch.

the job does build cluster-api-provider-vsphere into container
and upload the image to registry

[2018-10-18 18:11] sflxn opened #81 "Clean up folder structure and code to conform to standard go project."
The folder structure doesn't match standard go projects' standards and the code breaks some go-ism.   Clean this up.

[2018-10-18 22:26] sidharthsurana opened #82 "Make the vm-moid reference transferable during pivot"
In the recent change [PR#77](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/77) we moved the `vm-moid` property from `annotations` to `status` field. This has a side effect such that now when the pivot happens, the `status` field does not get transferred, thus on the target cluster the machine controller  does not know which is the actual vsphere vm backing the machine object

[2018-10-18 23:45] #81 closed

[2018-10-19 23:00] sidharthsurana opened #85 "Use only the types from the v1alpha1 version"
Currently our code uses a mix of "v1alpha1" versioned resource and the release versioned resource present under the parent directory of the "v1alpha1".  Since currently the project is in "v1alpha1" release we should only be using the types from "v1alpha1" release.

Ideally we should remove the duplicate type information currently present under the parent directory  of the "v1alpha1" folder.

[2018-10-22 22:49] figo opened #87 "remove dependency on SSH when bootstrap cluster"
/kind feature

**issue**
the current problem we encountered while build e2e CI with [VMC](https://cloud.vmware.com/vmc-aws?utm_source=cpc&utm_medium=ot&utm_campaign=cpc-ot-all-t-119-g-en_us-awargoog--&utm_content=awargoog&kxconfid=sm4lyyz1v&kxcampaignid=926678632&creative=301746484520&keyword=%2Baws%20%2Bcloud&matchtype=b&network=g&device=c&k_clickid=85762a1a-e9a6-4b30-9c1e-179adf5430ec) environme

[2018-10-23 18:26] sidharthsurana opened #89 "Deployed K8s 1.11.x fails to provision PVs"
When deploying k8s version 1.11.x with the cluster-api the control plane come up. However, deploying PVCs fail with the error on the controller around not able to find the VM.
This is mainly the same issue as https://github.com/kubernetes/kubernetes/issues/65933

The main reason being that kubelet on the worker nodes are missing the `--cloud-provider=vsphere` parameter. The reason this gets missed

[2018-10-23 18:31] figo commented on #67
https://github.com/kubernetes/test-infra/pull/9784
https://github.com/kubernetes/test-infra/pull/9813
https://github.com/kubernetes/test-infra/pull/9815

with those 3 commits, the presubmit job is running for every pull.

[2018-10-23 18:31] #67 closed

[2018-10-23 18:35] figo opened #90 "setup periodic job to run e2e test"
this job is run at post-commit, publish test result to testgrid

[2018-10-24 10:06] #24 closed

[2018-10-24 10:06] #28 closed

[2018-10-24 10:06] #82 closed

[2018-10-24 12:25] #89 closed, assigned to nobody

[2018-10-24 17:18] sflxn commented on #66
/assigned.  In progress.

[2018-10-24 17:19] sflxn commented on #38
/assigned in progress

[2018-10-26 00:03] sidharthsurana opened #91 "Missing glog flags in the built controller binary"
Currently the --v flag is missing from the built controller binary. Thus not allowing to set the glog log level and other options

[2018-10-26 18:25] sflxn opened #93 "Investigate a way to remove the ssh client from the provider container"
The provider container is larger than it needs to be because it needs the ssh client.  We base the container image on an OS image instead of scratch just for this.  Once #87 has been resolved, we can streamline the container by removing the ssh client and basing the container on scratch.

[2018-10-26 21:15] sidharthsurana opened #94 "Waiting condition for the worker nodes should be the APIStatus "Ready""
Recently we added a `APIStatus` field that tracks the status of the target k8s cluster's API status. The status turns into `Ready` once we are able to interact with the target API server. This status is what we should be waiting on when creating worker nodes as they need to generate the kubeadm token prior to cloning.
Prior to the `APIStatus` addition we used to wait on the `APIEndpoint` to show u

[2018-10-26 21:59] sidharthsurana opened #95 "Investigate failure during caching the kubeadm token"
Currently when creating multiple workers are the same time, in the logs we can see the following errors consistently
`Operation cannot be fulfilled on clusters.cluster.k8s.io "test-cluster": the object has been modified; please apply your changes to the latest version and try again`

Needs investigation and possible fix

[2018-10-26 22:17] sidharthsurana opened #97 "Cannot deploy k8s 1.12.x with current code"
The kubeadm template config schema has changed in a non backwards compatible way from 1.11.x to 1.12.x  The current kubeadm template inside our code is only compatible uptill 1.11.x and breaks for k8s 1.12.x

[2018-10-27 00:49] neolit123 commented on #97
is this the code in question?
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/pkg/cloud/vsphere/provisioner/common/templates.go#L482

chronology:
- pre-1.11 - v1alpha1
- 1.11 - v1alpha2
- 1.12 - v1alpha3
- 1.13 - v1beta1 (TBD)

the API (config) is ever changing because it's still under development.
a MINOR release of kubeadm includes a tool called `kubeadm config migrat

[2018-10-29 22:47] #91 closed

[2018-10-30 20:49] figo commented on #55
a end to end test CI job has been configured with travis-ci to run for pull request.
https://github.com/figo/cluster-api-provider-vsphere-ci
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/.travis.yml

the foundation of end of end test is here.
we could extend for more verifications, so i would recommend to close this PR.
and open new issue for individual verification w

[2018-10-30 20:54] figo opened #102 "CI/CD: manage CI credential separately from travis-ci"
currently, we store  CI related credential in travis-ci, this limit CI job to be run only on non-fork repo pull request.

@akutz has done work before to manage credential file separately, we would like to adopt this approach in our travis-ci job.

[2018-10-30 20:55] figo commented on #102
/assign @akutz

[2018-10-30 21:00] sflxn opened #103 "Document the design of the bootstrap OVA"
We have done some initial design of the bootstrap OVA for the vsphere provider.  We need to document the design of this.  Kubebook would be a great mechanism for this.

[2018-10-30 21:05] sflxn opened #104 "Build the bootstrap OVA"
We need a bootstrap OVA that installs an initial kubernetes cluster, mainly just the master, that has the cluster api controllers running on startup.  Perhaps we can use a custom Yakkity OVA for this.

Requirement:

- [x] Create a cluster with a kubernetes master
- [ ] Has the ability to create VM templates from a cloud init image.  Perhaps we can use the VMDK that is packaged with the OVA.
- [x]

[2018-11-01 18:28] sflxn opened #106 "Write scripts to validate successful deployment"
We should have some bash scripts that uses kubectl to debug the deployment of the cluster api system on either bootstrap (management) or target cluster.  These scripts will be helpful for both development and for CI.

---
- [ ] Script that determines if all the CRDs, statefulsets, services, pods were deployed properly.  If not deployed properly, dump the logs or event logs.
- [ ] Script that deter

[2018-11-06 21:35] figo commented on #102
we decide to integrate with Prow so that job can be available to everyone, so close the current issue now.

[2018-11-06 21:35] #102 closed

[2018-11-06 21:46] figo opened #108 "integrate presubmit ci job with Prow"
the current job run with travis-ci limit the job to limited contributors.

Prow has some basic requirements before a job been run:
1) the sender is a kubernetes member (trusted)
2) or the PR been added `ok-to-test` by a kubernetes member.

in order to integrate our job with Prow, we need to
store all credential into secret, and the job itself need be in a container.

[2018-11-07 00:39] sidharthsurana opened #109 "VMTemplate property may not be able to accurately point to the template VM"
The `MachineSpec.VMTemplate` currently is treated as name of the VM to be searched. In certain cases the name of the VM can be duplicated inside a VC, thus we need a more precise mechanism to point to a VM to be used as a template.

As discussed in the bi-weekly cluster-api-provider-vsphere-sigs meeting, for this purpose we need to allow the `VMTemplate` to also be a valid UUID that would then be

[2018-11-07 22:49] sidharthsurana opened #111 "Enable Node Labels and Taints on the nodes"
This is a child Issue of [Issue#493](https://github.com/kubernetes-sigs/cluster-api/issues/493) on the main cluster-api repo.

In this Issue we want to handle the labeling and taints on the node created using the vsphere provider implementation.
Based on the discussion on the cluster-api sig call, we would implement this using kubelet args for now. Once the broader sig has consensus over a better

[2018-11-08 17:53] sflxn opened #113 "Propose a general method to apply taints and labels without using kubelet args"
As discussed during the wg meeting, there are disagreement on the best way to apply taints and labels to a node.  There were some suggestions that we can pursue.  However, for the present, the vsphere provider is going to perform this using kubelet args on startup.  This issue is to do an investigation and create a general proposal that can be used to apply taints and labels without using kubelet

[2018-11-08 18:06] sflxn commented on #95
@sidharthsurana Hey, as a general rule, if I have notes on an issue, I tend to add them to my own issues as comments.  I view github as kind of a historical log.  People will scan github for similar issues, looking for possible resolutions.  If you note how you solved the issue in the issue, they will see it, and it'll be more useful.  You noted it in the PR, but they're not as easy to search and

[2018-11-08 20:16] sidharthsurana commented on #95
@sflxn sure. So the root cause for this issue for reference, was that the worker machines that got created at the same time prior to the APIStatus being ready would re-queue for a retry after the exact same time. Thus when the APIStatus does become active, the machine actuator gets called at the exact same time racing to acquire and cache the token. Resulting in both of them trying to cache the to

[2018-11-08 20:26] sidharthsurana opened #114 ""machine" annotation on the node does not contain the namespace"
When the node is being bootstrapped, the init script adds a annotation for "machine" with the value of the machine's name from the `Machine` object. This annotation is then used by the cluster-api controller to tie the `Machine` to a `Node` object and then it populates the `MachineStatus` with the `NodeRef` based on this matching.
Currently, we are not adding the namespace the `Machine` is deploye

[2018-11-08 22:29] #109 closed

[2018-11-08 23:43] #94 closed

[2018-11-08 23:43] #95 closed

[2018-11-09 00:02] #111 closed

[2018-11-09 00:14] #114 closed

[2018-11-09 01:56] sflxn opened #118 "docs: update quickstart docs based on the CRD migration"
There is a PR https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/105 to migrate this provider to CRDs.  We need the quickstart documentation to get updated.  Perhaps we should go ahead and update it to gitbook.

[2018-11-09 21:52] sflxn opened #119 "Migrate the yaml from the ci E2E test container to the provider repo"
Currently, the CI container has a copy of provider-components.yaml, machines.yaml, and cluster.yaml.  Every time the provider changes any of those, both the provider repo and the CI container repo must be updated.  If we moved it all to the provider repo, then only one repo needs to be updated.

---

- [ ] Remove all 3 yaml files from the CI container
- [ ] Add a kv file with infrastructure values

[2018-11-09 22:29] sflxn opened #120 "Add cluster deletion path to E2E tests"
For awhile, clusterctl delete cluster did not allow the option of using an existing cluster or specifying VMware's fusion for a minikuibe-based bootstrap VM.  This prevented us to actually exercise the delete path to our E2E tests since we either use an existing cluster or fusion in our tests.

Clusterctl now has both options.  We need to add cluster delete to our E2E tests.

---

- [ ] Add cluste

[2018-11-09 23:05] sflxn commented on #78
We put this issue on the back burner to work on the CRD migration.  Now the CRD migration has a PR, I retested this issue with the new version.  It's still an issue.

[2018-11-14 22:19] sidharthsurana opened #121 "init script trying to install packages even in case of using preloaded template"
Currently, the init scripts are broken into 2 main parts, `install` and `configure`. The idea is if a user brings in a template that is already pre-loaded with all the required packages and marks `preloaded: true` in the spec , only the `configure` part of the init script is executed that **should only configure** and ***not install*** new packages.

[2018-11-15 00:28] sflxn opened #122 "Design a method to get error feedback from a node running the init scripts"
Currently, once a node is initializing and running the init scripts, there is no feedback on error conditions until we ssh into the machines.  There are two problems with this.

1. it assumes the ssh server started up properly
2. it assumes we use ssh.  If we want to remove the ssh dependency, we need another mechanism for error feedback.

[2018-11-15 01:43] sflxn opened #123 "Bug: kubectl delete cluster doesn't delete the machines"
When I issue `kubectl delete cluster` on the bootstrap cluster, it deletes the cluster object without deleting the machines.  Once the cluster object is gone, it is not possible to delete the machines as the controller will complain the cluster does not exist.

In a way, allowing users to delete a whole cluster with a simple command that doesn't ask for verification is very dangerous.  Perhaps, we

[2018-11-16 02:03] sflxn commented on #78
I have found the root cause of clusterctl delete cluster failing.  The delete code in the main repo still assumes a self-provision workflow (minikube bootstrap cluster).  It fails if the user has an existing cluster or is using cluster api in a manager model (central management cluster).

There is no need to delete cluster api components from the target cluster or do any pivoting for our provider.

[2018-11-16 18:57] sflxn commented on #78
For kubecon, I am not sure how we get these changes into the main repo as the commands in clusterctl have rigid workflows.  I'm going to put together a design proposal to resolve the rigidity but it won't be finish in time to fix delete.  For kubecon, I will just use a branch.

[2018-11-16 22:51] sflxn opened #125 "Remove the terraform actuator code and dependencies"
The govmomi actuators have been implemented and all development work over the last 2 months have been focused on the govmomi code base.  Since no one is working on the terraform actuators, it is slowly getting out of date and there are no plans on updating it.  Terraform, itself, uses govmomi for vSphere.  There is no point in keeping the terraform actuators around.  It's time to remove this legac

[2018-11-20 07:50] #97 closed

[2018-11-20 07:50] #121 closed

[2018-11-20 18:09] dougm commented on #35
/assign

[2018-11-20 18:40] sflxn commented on #106
duplicate of #55

[2018-11-20 18:40] #106 closed

[2018-11-21 19:11] #38 closed

[2018-11-21 19:11] #79 closed

[2018-11-26 22:18] sidharthsurana commented on #125
There is some more clean up required beyond the PR #126
Re-opening this for the moment so that we can resolve this issue once the clean up is complete

[2018-11-26 23:51] #125 closed

[2018-11-27 18:21] figo opened #132 "migrate e2e test to main repo"
the current e2e test lived at https://github.com/figo/cluster-api-provider-vsphere-ci
we will migrate it to main repo very soon.

here is the proposal for the layout:
pkg/scripts/e2e.sh    # it is driver of e2e job

the following files live in a sub-folder and going to
produce a container which run as job at bootstrap cluster.
pkg/scripts/bootstrap-job/Dockerfile
pkg/scripts/bootstrap-job/Makefile

[2018-11-27 21:32] sflxn commented on #73
Closing this issue as we've removed the terraform actuator and associated code from the repo completely.  It was not being maintained.

[2018-11-27 21:32] #73 closed

[2018-11-27 21:34] sflxn commented on #40
Closing this issue as we've decided to remove the terraform actuators.  No one was maintaining it and we have confidence the govmomi actuator is working well.

[2018-11-27 21:34] #40 closed

[2018-11-27 22:56] sflxn opened #134 "Add integration tests for the OVA"
We need some integration tests for the OVA artifact.

[2018-11-27 23:30] sflxn commented on #51
We are lowering this in priority as using minikube with Fusion in CI was very problematic.  It introduces another software stack that we would have to debug if bootstrapping failed.

[2018-11-27 23:30] #52 closed

[2018-11-27 23:37] sflxn commented on #90
Set this up in prow, once we have moved to prow.  Update test-grid with results.

[2018-11-28 00:08] figo commented on #52
the container is uploaded to gcr.io/cnx-cluster-api/cluster-api-provider-vsphere-c
the code is currently at https://github.com/figo/cluster-api-provider-vsphere-ci but will be at main repo pretty soon.

[2018-12-01 00:34] figo opened #139 "bug: controller keep re-clone VM with same name although first clone already success."
It is not easy to reproduce, but saw it twice in CI environment, it could be a race condition.

once got into the condition:
machineActuator keep cloning VM with same name, although the VM already exist at vCenter.
vCenter keep failing the clone action because VM with same name already exist.

i forgot to collect the `vsphere-provider-controller-manager` log, will get it once reproduced again.

/c

[2018-12-03 21:56] sidharthsurana opened #141 "Move vsphere credentials from the Spec to k8s secrets"
Currently, the vsphere credentials are part of the Spec definition in plain text which is a huge security gap.
We need to move the credentials into k8s secrets to make a bit secure.

[2018-12-03 22:51] #132 closed

[2018-12-04 19:11] sidharthsurana opened #144 "Make references for the various vsphere objects using moref/identifiers followed by search using name"
Currently all the fields in the `MachineSpec` are usually references to the vsphere object via their name with the exception of the template which can be an instance UUID as well.

However, in vsphere the names of an object are not strictly enforced to be unique. Thus, this creates a situation, where just the name may not be sufficient for uniquely identifying the underlying sub-resources. Thus we

[2018-12-04 20:04] #6 closed

[2018-12-04 21:17] ntfrnzn opened #145 "bug: generated kubadm token includes log output"
I’m observing a problem with the workers being unable to join a cluster because they haven an invalid token.

In fact, the /tmp/boot.sh script includes
[code]

Log output is prepended to the actual token value

The create-token utility is here:
https://github.com/kubernetes-sigs/cluster-api/blob/e1903be683739379be57f78a4095cd51726495fd/pkg/kubeadm/kubeadm.go#L56

and used:
https://github.com/kuber

[2018-12-04 21:48] frapposelli commented on #104
Decided to have the user provide their own image, everything else is completed and fixed by #142

[2018-12-04 21:48] #104 closed

[2018-12-04 22:04] ntfrnzn commented on #145
sample master machine definitions which is at least similar to the one that involved in the problem
[code]

I don't think there's anything unique about the template _ubuntu-cloudimg-template_, pretty vanilla ubuntu iirc.

[2018-12-04 22:32] ntfrnzn commented on #145
I can confirm that a machine definition like the one above still has the problem, and that the extra text can be filtered out, using a regexp.FindString to get the token:
[code]

[2018-12-05 01:33] neolit123 commented on #145
like already mentioned on slack the instead of doing the kubeadm CLI call to generate a token, either the raw cluster-bootstrap repo k8s.io/cluster-bootstrap should be used directly or this kubeadm backend which is slightly handier:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/bootstraptoken/node/token.go#L37

[2018-12-05 01:53] neolit123 commented on #145
but yes, this is a bit of a problem in 1.12 and we cannot backport a fix for it.
on the other hand the output of the command is not machine readable anyhow.

[2018-12-05 02:11] figo commented on #139
saw another instance, re-clone only happened one time, which means controller able to reconcile the correct status.

[2018-12-05 23:34] sflxn commented on #145
We cannot pull in kubeadm.  It would force us to vendor kubernetes.  We're using cluster-bootstrap to help with this.

[2018-12-05 23:41] neolit123 commented on #145
ok, that makes perfect sense.

[2018-12-05 23:58] sflxn commented on #145
@ntfrnzn I wasn't able to reproduce your results; however, code inspection lead to the conclusions we chatted about on slack and that Lubomir mentioned above.  I have a wip to fix this and testing it, but I may have to ask you to see if it fixes your issue.

[2018-12-06 00:05] ntfrnzn commented on #145
@sflxn Sounds great. I'm confident that using _cluster-bootstrap_ is the right approach.  I'm not sure myself what part of my configuration causes the problem, so it's not a very good test framework.

[2018-12-06 00:22] sflxn commented on #145
@ntfrnzn We have a theory that your bootstrap cluster is running 1.12 and you're creating a target cluster with 1.13, or vice versa.

The token itself is relatively simple to create (random string generator), and that's what cluster-bootstrap does for us.  It took me a little while to see what kubeadm was doing with the token (writing it as a secret into the cluster).

[2018-12-06 00:29] ntfrnzn commented on #145
@sflxn running 1.12 and creating target clusters of 1.11.5. I'm not sure why kubeadm is concerning itself with 1.13, and debugging it requires reading the /var/log/cloud-init-output.log on the target master, so that's annoying.  I did think that there was something more complex than just the secret creation.

[2018-12-06 00:34] neolit123 commented on #145
kubeadm has this logic of fetching the latest stable version version of upstream.
so a 1.12 client will find the latest stable 1.13 or it could be newer but it will fallback to 1.12 and show the warning.

obviously the warning is intrusive in terms of parsing stdout, so some of these commands should simply not do the remote fetching. i think this is resolved in 1.13, but still an issue in 1.12 tha

[2018-12-06 21:38] frapposelli commented on #134
/assign @figo

[2018-12-06 21:38] frapposelli commented on #74
/assign

[2018-12-06 21:44] frapposelli opened #149 "Refactor provisioner templates into discrete files"
Currently, all the templates are declared as raw string literals under `pkg/cloud/vsphere/provisioner/common/templates.go`, for better readability and code hygiene, we should refactor those into discrete files.

[2018-12-07 01:57] #145 closed

[2018-12-07 17:42] sflxn commented on #145
@ntfrnzn Would you mind retesting your scenario with the latest update?  The controller from the main repo hadn't been updated updated in awhile (last time I looked).  However, we've built a very recent version that we're using.  You may also use the same.

[code]

That will generate the yaml files that will utilize the main repo's controller we built and our controller for the provider.

[2018-12-07 22:06] figo opened #153 "e2e test enhancement - test CI code change from a PULL request"
when developer open a PULL request, mostly the code change to scripts/e2e/* will
be tested in the same PULL, but the subfolder scripts/e2e/bootstrap_job is
packaged into container, the container been updated separately instead of building at runtime.

we need to change this, and build this container at runtime.

[2018-12-07 22:23] figo opened #154 "e2e test enhancement - run e2e test locally and at Prow"
we want to make sure run e2e test locally is the same as running at Prow for developers

although they are driving by two different environments:
Prow:
- Prow system is at google cloud
- the ci job definition is at: test-infra/config/jobs/kubernetes-sigs/cluster-api-provider-vsphere

Local:
- run a minikube cluster on a developer laptop
- job definition is at https://github.com/kubernetes-sigs/clu

[2018-12-07 22:52] figo opened #155 "e2e test enhancement, support parallel job running"
the current e2e test only support 1 Prow and 1 debug job running at the same time.
because the bootstrap cluster is based on vm snapshot.

we can use clone method to avoid this limitation.

note: although ideally we also want to use clusterapi delete to properly do clean up.
so we can move away from deleting VM by e2e.sh (which is a workaround)

[2018-12-07 22:57] #153 closed

[2018-12-10 23:55] ntfrnzn commented on #145
@sflxn I built new images for both and it works fine. Thanks!

[2018-12-19 20:46] stobias123 opened #163 "Cannot get kubeconfig"
I'm using the OVA bootstrap cluster, and getting the below error from the `vsphere-provider-controller-manager` pod.

I've tried with both dhcp and static network types.. not sure what I'm missing. Seems to be an annotation?

Error from controller pod...
[code]

[2018-12-20 01:06] stobias123 commented on #163
@figo That VM doesn't exist.

[2018-12-20 02:32] stobias123 commented on #163
@sidharthsurana

Saw this bit
[code]
Resolved via
[code]

Now getting an error about disks.
[code]
Is the govmomi code not applying customization?

[2018-12-20 03:01] stobias123 commented on #163
Deleted  `disks` block, and made sure to specify full `govc` paths to objects, I was then able to have the master provisioned.

[2018-12-21 01:20] sidharthsurana opened #165 "Feature: support to inject custom trusted certs into the nodes"
Often, we need the ability to inject custom CA certs into the machines so that the non-standard CA signed certs can be trusted on the created machines for various reasons.

The proposal is as follows:
- Add a new optional field named `TrustedCerts` to the `MachineSpec`. This field would be a list of base64 encoded custom certs that would be added to the instance's trusted CA certificates for SSL/T

[2018-12-21 19:15] sflxn opened #166 "Automated versioned builds"
Currently, we tag the git repo and build and push release containers manually.  Even the makefile does not have the updated version.  We need to automate this.

[2018-12-22 05:59] craigtracey commented on #165
Has consideration been given to other means of accomplishing this? I think there could be two alternatives that would, perhaps, remove the need for an implementation-specific modification to the current API types.

The first would be to support immutable images that may be provided by the user. (This would obviate the need for runtime OS configuration, and provide for support beyond just Debian/Ub

[2019-01-03 20:00] sidharthsurana opened #168 "Remove redundancies and name clash with the core cluster-api objects"
The naming convention in the current `config` dir that generates the yaml used to deploy the cluster-api-provider-vsphere objects has some redundancies like repeated `apiGroups:` section in the `rbac_role.yaml`. Also the name generated for the cluster wide object clash with the same names generated by the similar deployment script in the core cluster-api repository.

[2019-01-09 23:33] sidharthsurana commented on #165
@craigtracey thanks for the comment. Apologies for the late reply.

Not that I am aware of other than your comment here.

The immutable image is kind of possible in the current implementation by setting the property `preloaded: true` in the spec. With this the script run on the machines only include the configuration part and not the install parts. The generation of these  I think there are 2 case

[2019-01-11 00:02] sidharthsurana opened #174 "Feature: Support additional OS images other than ubuntu"
Current code only supports ubuntu based image. Ideally we should support more operating systems.

[2019-01-11 20:11] figo commented on #108
the migration from travis-ci to Prow has been done since early Dec.2018, all the cluster-api vsphere tests will be on Prow from this point.

[2019-01-11 20:11] #108 closed

[2019-01-15 20:40] dougm commented on #35
@zpratt thanks, I'll have a PR for that issue soon.

[2019-01-22 19:09] sidharthsurana opened #175 "[Feature] Support for anti-affinity/affinity rules for the created machines"
vsphere DRS supports defining anti-affinity / affinity rules for VMs. This feature is to add support for the user to specify affinity/anti-affinity grouping for the VMs.

Use case: User created 3 Machine object, and want all 3 VMs to run on different hosts to improve resiliency from host failures. This can easily be realized by creating the anti-affinity rule for the 3 VMs

[2019-01-22 19:43] sflxn opened #176 "OVA: Add a webserver to get logs and status"
We've used this pattern in the past with great success.  We should develop a webserver for the OVA to get various information about management server.

- [ ] Logs
- [ ] kubeconfig
- [ ] Status of the management cluster
- [ ] List of created target clusters

[2019-01-22 19:45] sflxn opened #177 "Feature: Update and merge in the ESX provisioner"
We currently support vCenter with the provider.  We have a WIP to support single ESX provisioning.  We need to update and merge that provisioner.

[2019-01-23 22:49] #168 closed

[2019-01-23 23:58] sidharthsurana opened #179 "recurring reconcile loop for the cluster and machine objects not happening"
Prior to moving to CRDs the controller behavior was that it would have a recurring reconcile loop resulting in the actuators `update` method getting called in a recurring pattern. After moving to CRDs, the recurring behavior has stopped. This causes the Machine/Cluster objects to not be able to reconcile the state with the underlying infrastructure. For instance if a VM resulted from a Machine obj

[2019-01-23 23:59] sidharthsurana commented on #179
/kind bug

[2019-01-25 22:12] sflxn commented on #179
I tested this issue with the self-service workflow and found the cluster would eventually recover and stand up a new node to replace the deleted one.  This happened whether I was using a machineset or just machine for the worker nodes.  The only problem is that it is taking hours to recover.  It may just be a matter of how often the reconcile is run.

[2019-01-28 18:18] figo opened #181 "make CI independent of clusterctl"
currently, CI use clusterctl as the first step.
but we can accomplish the task by kubectl and some library code.

the goal of this issue:
1) clearly document steps with kubectl
2) add library code if needed

[2019-01-29 16:54] figo opened #182 "e2e test: add test coverage"
i will start with a few scenarios that need be added into coverage:
machineset
machine delete
cluster update
machine update

[2019-01-29 21:41] figo commented on #154
this is finished, https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/tree/master/scripts/e2e has the information regarding how to run locally (debug) and at Prow.

[2019-01-29 21:41] #154 closed

[2019-01-30 21:51] #165 closed

[2019-01-31 14:45] tkrausjr opened #184 "docs: fix errors in self service quickstart"
Proposing two documentation changes to Quickstart.

In  cluster-api-provider-vsphere/docs/self-service/README.md  from my testing, there are two syntactical mistakes in CLI commands I believe.

In “Create a target cluster” section below:

` - $> clusterctl create cluster --provider vsphere --bootstrap-type minikube --bootstrap-flags "--vm-driver,vmware" -c cluster.yaml -m machines.yaml -p provider

[2019-01-31 23:47] sflxn commented on #7
There is actually little value in doing this, and it may actually not be possible.  Minikube needs to know about the desktop hypervisor and the drivers.  They kind of need to sit locally.  Having the driver in the container doesn't help minikube without a lot of jumping through hoops.  In addition, the PR for Fusion support in Minikube has been merged so a few steps have been removed from the depl

[2019-01-31 23:47] #7 closed

[2019-01-31 23:54] sflxn commented on #8
We're currently using weave.  However, I am keeping this issue around in case users want to use calico in the future.

[2019-02-01 00:14] #51 closed

[2019-02-01 00:15] sflxn commented on #51
Adding this would make CI really unreliable.  We'd be adding multiple software stacks that would end up making debugging failing builds very difficult.

[2019-02-01 00:16] sflxn commented on #54
We should look at using Sonobuoy for this.

[2019-02-01 00:20] sflxn commented on #66
This was completed.  https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/105

[2019-02-01 00:20] #66 closed

[2019-02-01 00:22] tkrausjr opened #185 "clusterctl create cluster fails because IP is never assigned to master"
Already looked at [issue-63](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/163) and this is a little different.

Using clusterctl to create a cluster results in an inability for the Provisioned Master node on vSphere to obtain an IP Address as specified in machines.yaml.
[code]
It appears that the only address returned is an IPv6 address.

[addons.yaml.txt](https://github.

[2019-02-01 00:38] sidharthsurana commented on #185
@tkrausjr This is happening because the image you are using does not have the `VMware GuestInfo` cloud-init datasource. The pre-packaged version of the cloud-init inside the ubuntu cloud image does not support static IP. I think we probably need to add documentation around the static IP support to make it more explicit for the users.
(see https://github.com/kubernetes-sigs/cluster-api-provider-vsp

[2019-02-01 12:43] frapposelli commented on #74
/priority important-soon

[2019-02-01 12:45] frapposelli commented on #103
/priority important-soon
/assign

[2019-02-01 12:47] frapposelli commented on #85
/priority critical-urgent
/assign @sidharthsurana

@sidharthsurana this is just an initial assignment, feel free to comment or reassign

[2019-02-01 12:50] frapposelli commented on #55
/priority critical-urgent

[2019-02-01 12:50] frapposelli commented on #55
this is a must for v1alpha1

[2019-02-01 12:52] frapposelli commented on #29
/priority awaiting-more-evidence
/milestone Next

[2019-02-01 12:57] frapposelli commented on #119
/assign @sflxn @figo

What's the status here? can this issue be closed?

[2019-02-01 12:58] frapposelli commented on #120
/priority important-soon
/kind cleanup

[2019-02-01 12:59] frapposelli commented on #122
/kind design
/priorty important-longterm

[2019-02-01 13:00] frapposelli commented on #123
@sflxn Is this still valid?

[2019-02-01 13:02] frapposelli commented on #134
/priority important-soon
/kind feature

[2019-02-01 13:02] frapposelli commented on #134
opportunistic for `v1alpha1`

[2019-02-01 13:03] frapposelli commented on #139
/priority important-soon

[2019-02-01 13:04] frapposelli commented on #141
/priority important-longterm
/kind enhancements

[2019-02-01 13:07] frapposelli commented on #144
/priority important-longterm
/kind feature

/assign @sidharthsurana

[2019-02-01 13:08] frapposelli commented on #149
/priority important-longterm
/kind feature

/assign @frapposelli

[2019-02-01 13:15] frapposelli commented on #184
@tkrausjr would you mind opening a PR for this?

/kind documentation

[2019-02-01 13:15] frapposelli commented on #182
/kind feature
/priority important-longterm
/assign @figo

[2019-02-01 13:16] frapposelli commented on #181
/kind feature
/priority important-longterm
/assign @figo

[2019-02-01 13:17] frapposelli commented on #179
/priority awaiting-more-evidence

[2019-02-01 13:17] frapposelli commented on #177
/priority important-longterm
/kind feature
/assign @frapposelli

[2019-02-01 13:17] frapposelli commented on #177
opportunistic for `v1alpha1`

[2019-02-01 13:18] frapposelli commented on #176
/kind feature
/priority important-longterm
/assign @frapposelli

[2019-02-01 13:18] frapposelli commented on #175
/kind feature
/priority important-longterm
/assign @sidharthsurana

[2019-02-01 13:19] frapposelli commented on #174
/kind feature
/priority important-soon
/assign @frapposelli @sflxn @sidharthsurana
/cc @timothysc

[2019-02-01 13:19] frapposelli commented on #166
/kind feature
/priority critical-urgent
/assign @figo @frapposelli

[2019-02-01 13:21] frapposelli commented on #163
@stobias123 were you able to solve this?

/priority awaiting-more-evidence
/kind bug

[2019-02-01 13:21] frapposelli commented on #155
/priority important-soon
/kind feature
/assign @figo

[2019-02-01 13:22] frapposelli commented on #155
maybe consider pulling this into `v1alpha1` as opportunistic

[2019-02-01 13:25] frapposelli opened #186 "Move documentation to Gitbook or similar"
Current documentation for `cluster-api-provider-vsphere` is living in this repo as markdown documents. These are fine for consumption by developers working on the project, but we need a proper documentation website that we can point users to.

- [ ] Evaluate platform for documentation
- [ ] Start moving existing documentation

/priority important-longterm
/kind documentation
/assign @sflxn @frappo

[2019-02-01 14:46] tkrausjr commented on #185
thanks @sidharthsurana .  Going to rebuild the vsphere VM / Template I am using with the VMware Guestinfo datasource. After that maybe I will see about putting something in the documentation.

[2019-02-01 16:01] timothysc commented on #54
Depending on how you want to use sonobuoy it's really easy to kick via command line, but there is also an interface library for the folks who want todo deeper CI integrations.  https://github.com/heptio/sonobuoy/blob/master/pkg/client/interfaces.go

cc @johnSchnake

[2019-02-01 16:07] figo commented on #54
@timothysc thank you, we will start with sonobuoy CLI

[2019-02-01 17:41] sflxn commented on #141
@sidharthsurana This is a duplicate of issue #9.  Let's keep that issue and close this one since there are already some people on that issue and any updates we do there will ping them.

[2019-02-01 17:41] #141 closed

[2019-02-01 18:32] figo commented on #90
@frapposelli  just updated the comment to remove the travis-ci part, the issue still valid, we will setup period job for expanded coverage.

[2019-02-01 18:43] sflxn commented on #186
I moved this to v1alpha1.  I already have one in progress but haven't finished it since I was asked to lower the priority on documentation.

[2019-02-01 18:46] sflxn commented on #184
Hey @tkrausjr, just a tip.  If you follow the standard git message standard, your PR merges will trigger closing of the issue.  The standard is as follows,

Title
<newline>
Small description
<newline>
Resolves/Fixes [issue number]

The last part is what causes the closing of the issue.

[2019-02-01 18:46] #184 closed

[2019-02-01 19:00] ntfrnzn opened #188 "template/kubeadm support for k8s versions > 1.11"
The boot scripts in _pkg/cloud/vsphere/provisioner/common/templates.go_ use kubeadm v1alpha2 which is incompatible with k8s 1.13, and uses a flag (--skip-preflight-checks) incompatible with k8s/kubeadm 1.12.

Only k8s versions 1.11 and below are currently buildable.

[2019-02-01 19:05] ntfrnzn commented on #188
I have a functioning code change at https://github.com/StackPointCloud/cluster-api-provider-vsphere/pull/1 available.

My change merely enables the newer versions of k8s, within the existing codebase.  It does not

- refactor the templates into separate files
- extend the kubeadm templating to enable more configuration options
- do away with the templating entirely and replace versioning/configura

[2019-02-01 19:14] sflxn commented on #188
Thanks @ntfrnzn.  You're also welcome to submit PRs for issues.

I am going to add the other items you listed in the next upcoming meeting notes for discussion.  We'll either add issues to this repo or the main repo.

[2019-02-01 19:19] sflxn commented on #29
This issue is to support a specific product request.

[2019-02-01 19:21] frapposelli commented on #29
Can you add description and expand?

[2019-02-01 19:25] sflxn opened #189 "Update the quickstart with the latest clusterctl params and info on KIND for bootrapping"
We recently updated the vendored code from the main cluster api repo.  That brought in changes to the clusterctl params and introduced compatibility with KIND as the bootstrap cluster in the self-service workflow.  The quickstart docs needs to be updated.

Also, the vsphere changes to minikube have merged.  That information needs to be updated also.

[2019-02-01 19:37] sflxn commented on #123
still valid.  Some people are actually working on the same issue in the main cluster api repo.

[2019-02-02 19:41] stobias123 commented on #163
Running off the latest version/build I was able to use the OVA properly. The master node is created, kubeconfig is pulled, but then basically nothing happens... Could be other issues.

Running into some other possible issues related to machine objects, and multiple cluster resource objects. The bootstrap cluster seems to only pull from kubeconfig from the first created master. more testing to come

[2019-02-03 03:34] figo opened #191 "create a second target cluster with the management cluster failed"
/kind bug

steps to reproduce:
1) create a bootstrap cluster
2) create a cluster with kubectl create -f cluster.yaml, machine.yaml, machineset.yaml
target cluster created fine
3) deploy another set of cluster.yaml, machine.yaml, machineset.yaml
expecting the second target cluster been created, but it is not happening.

vSphere manager log:
[code]

[2019-02-03 03:37] figo commented on #163
@stobias123 thanks for providing the feedback, i can confirm that creating a second cluster failed in my setup, please refer this issue: #191

[2019-02-03 17:36] stobias123 opened #192 "Adding machine set to target cluster induces go panic"
1. Bootstrap a cluster
2. Add a machine set of nodes. (either to target cluster or bootstrap cluster.
3. ???
4. Go Panic.

**Machineset.yaml**
[code]

**Output**
[code]

[2019-02-03 18:03] figo commented on #179
my test with a management cluster shows:
deleting a master node, in a few minutes, it been re-created automatically.
deleting machineset node (worker node), waited 30 minutes, did not come back.

[2019-02-04 21:31] figo commented on #139
i think i understand the issue now, but need to test it out,

here is the vSphere manager log:
[code]
will add more detail in comment.

[2019-02-04 22:54] sidharthsurana opened #194 "[Security] vsphere cloud provider configuration should use secrets for credentials"
Currently the cloud config that we generate as `/etc/kubernetes/cloud-config/cloud-config.yaml` file on the master node contains the vsphere credentials in plain text format. vsphere cloud provider supports providing these sensitive credentials via secrets out of the box. (for e.g see the test case [here](https://github.com/kubernetes/kubernetes/blob/153bc23365c85a3b9a02a350bf0c4e9e420d78b0/pkg/cl

[2019-02-05 18:09] vincepri commented on #191
/cc

[2019-02-06 01:09] figo commented on #191
@stobias123 i can confirm that if creating two clusters with different namespaces, it works.
specify all three types of resources: Cluster, Machine, MachineSet with unique namespace per cluster, for example:
[code]

let me know whether this works for you as well.

[2019-02-06 01:11] sflxn commented on #191
@figo Creating multiple clusters in the same namespace is coming but for now you need different namespaces.

[2019-02-06 04:38] vincepri commented on #191
Related PR: https://github.com/kubernetes-sigs/cluster-api/pull/728

[2019-02-06 18:39] sflxn opened #195 "Community Improvements CY 2019 Q1"
This is an issue to track continual improvements to the community process for this provider.  This issue hopes to help both the internal VMware team and external community become better community members.

Areas of improvements:
- [x] Adopt a shared process (w/ rest of cluster-lifeycle) for issue grooming
- [ ] Adopt a shared process (w/ rest of cluster-api) for versioning and building release art

[2019-02-06 18:40] sflxn commented on #195
We have already adopted the same issue grooming process that was used by kubeadm.  Other projects within cluster lifecycle has also started using the same processes for milestones and labeling.

[2019-02-06 21:46] sflxn opened #196 "Add machineset.yaml to the default list of generated files from the yaml makefile target"
Currently, when a user use the prod-yaml or dev-yaml makefile targets, it generates a few sample yaml files in an `out` folder.  The set of sample yaml files does not include machineset.yaml.  We should go ahead and add this file to the set.  This was a request from the kubernetes sig-vmware channel.

[2019-02-07 17:50] #189 closed

[2019-02-07 18:40] #196 closed

[2019-02-07 19:05] #139 closed

[2019-02-07 19:48] figo opened #200 "handle the case when vm clone task do not finish timely"
cluster-api vSphere relying on vm-clone to create VM, the vm-clone task takes some time, potentially this task can take unreasonable long time (or forever), the current design is to let reconcile loop wait the task until finish.

the impact to customer is: when this happen, customer will not able to see success (a node) or a failure .

the question is: should clusterapi enforce a deadline for this

[2019-02-11 22:00] sflxn commented on #191
Multiple clusters in the same namespace will be supported in cluster api main repo.  Closing this issue.

[2019-02-11 22:00] #191 closed

[2019-02-13 17:48] sidharthsurana commented on #179
The root cause for this issue has been identified now. It seems like after me move to CRD the default `SyncPeriod` is set to 10 Hrs instead of previous timeout of few sec/min.

See https://github.com/kubernetes-sigs/cluster-api/issues/748 for more details.

FYI I am still verifying the fix, and will post a PR shorty after verifying it works.

[2019-02-14 18:42] figo commented on #134
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/164

[2019-02-14 18:42] #134 closed

[2019-02-15 12:12] sverrirsig opened #202 "Multiple ssh keys"
There is currently only support for a [single public key](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/a5ec7eace875047cf17d3a29ccce980a05747dae/pkg/cloud/vsphere/provisioner/common/templates.go#L220). This public key is by default the one that is used to fetch kubeconfig.

Having the option of more public keys seems sensible. Which would however only be an option if [this c

[2019-02-27 08:26] yuyangbj opened #205 "Generating yaml files for self-service steps is wrong using "make prod-yaml" with kustomize master branch"
The project kustomize has already changed the kustomization.yaml format based on patch below.

https://github.com/kubernetes-sigs/kustomize/pull/700  == all files must be set in sub folder same as kustomization.yaml
https://github.com/kubernetes-sigs/kustomize/pull/752 == secretGenerator has removed commands field

[2019-02-27 21:46] sflxn opened #208 "Kustomize v2+ does not work with the repo"
The repo works fine with kustomize v1 but not v2.  Update the yaml generation to be compatible with kustomize v2.

[2019-02-28 01:04] sflxn commented on #208
This issue is a duplicate of #205

[2019-02-28 01:04] #208 closed

[2019-02-28 01:06] sflxn commented on #205
The issue is more related to kustomize v2 and not kustomize.  The repo currently does work with kustomize v1.

[2019-02-28 02:01] yuyangbj commented on #205
@sflxn so should we support kustomize v2 now? Or leave it for v1 and create a new branch for v2?

[2019-02-28 18:38] sflxn commented on #205
@yuyangbj I believe the other providers are moving to v2 so we might as well move to v2 also.  I assigned myself to this issue, but if you would like to work on this yourself, I can give it to you.  We welcome contributions.

[2019-02-28 18:40] sflxn commented on #205
Oh, hi Yang.  Are you Yang from the VIC team?  If so, I didn't realize that at first.  In that case, you're welcome to contribute.

[2019-02-28 21:12] sflxn opened #209 "Add bazel back into this provider's repo"
When we migrated this provider to CRDs, we removed bazel support.  Now we're learning more about the benefits of bazel, I think we should add bazel back in.

[2019-02-28 21:21] sflxn commented on #202
@sverrirsig Go for it.  I don't have any opposition to it.  If you make the change, please also update the files in /config and cmd/clusterctl/examples/vsphere/generate-yaml.sh to get the keys in.  Also, if you can add those key files to the .gitignore file so we don't accidentally check them into the repo.

btw, there is an upcoming PR that updates the repo to use Kustomize v2.

I'm marking this

[2019-02-28 21:23] frapposelli commented on #202
👍 go for it

[2019-02-28 21:30] sflxn commented on #200
@figo I think we should add this to the next public meeting's agenda for discussion.  You are right that the controller takes an optimistic approach to creating the VMs.  We need to build in a little more fault tolerance.  We may want to create a whole epic around fault tolerance for creation/deletion.  I'm sure there are other areas where we're taking an optimistic approach.

[2019-02-28 21:46] sidharthsurana commented on #202
👍 I like the idea.

However, few things to keep in mind (note these are open concerns that still need to be deal with in the current implementation)
- LCM of user provided ssh keys
  - Do we want to support adding user defined ssh keys only as a day-0 operation or can we have a day-2 support as well?
    - When the user creates the cluster, they specify a set of user defined ssh key/s. With the he

[2019-02-28 21:50] sflxn commented on #192
@stobias123

1. Can you provide me more details of the steps you took?
- Did you use clusterctl or kubectl to create the bootstrap and target clusters?  Based on your description, it appears you probably used clusterctl.
2. Does this still occur with the lastest code?

[2019-02-28 22:11] sflxn commented on #202
Sidharth, you bring up good points.  I'll reply with my usual reply to these deeper design questions and add another wrinkle to your points.

If we like what Sverrir is proposing and believe there is a utility here, we can go ahead and add this now.  Long term, we do need an epic that thinks this through.  Unfortunately, cluster api and many open source projects I've seen tend to code before requi

[2019-03-01 03:11] yuyangbj commented on #205
@sflxn yes, it is me :) how are you! I tried the cluster-api on my side, but you know everything I build by myself, so something is broken. I will continue to follow up the PR.

[2019-03-01 19:22] sflxn commented on #192
I was able to reproduce this.

[2019-03-02 00:39] sflxn commented on #192
Found the root cause.  Just trying to figure out the best way to fix this.  It is as I suspected.  You do not have a proper yaml, but the provider shouldn't panic either.

[2019-03-02 00:41] sidharthsurana opened #212 "Cloning from template with snapshot and simultaneous disk expansion fails"
Currently, if the source template used has snapshots and the in the target machine spec the disk is requested to be expanded the clone operation fails.

[2019-03-04 16:40] #205 closed

[2019-03-04 17:38] sflxn commented on #212
@sidharthsurana Your solution appears to be a workaround.  I think it's reasonable, but you should write up a bug in our internal bugzilla for this issue.

[2019-03-04 18:15] sflxn opened #214 "Update makefile to check kustomize version"
We have updated the repo to be compatible with kustomize v2.  We should look into warning users using kustomize v1 and ask them to update.

[2019-03-04 18:16] sflxn commented on #214
cc @yuyangbj

[2019-03-04 18:45] sflxn commented on #192
I do not believe we can fix this with just changes to the machine actuators.  We're going to need to make some changes to the main cluster api repo in conjuction with whatever changes we make to the vsphere machine actuators.

[2019-03-04 19:53] figo opened #215 "remove ova build code dependency on host /dev/loop devices"
the current ova build code is depends on host /dev/loop devices.

cc @frapposelli

[2019-03-04 21:06] frapposelli commented on #215
This will be resolved as part of the larger "Image stamping" effort in Cluster API, ref: kubernetes-sigs/cluster-api#723

[2019-03-04 22:38] sidharthsurana opened #216 "Feature: Support creating linked clone from snapshots"
Today we are doing a full clone of the template when creating the nodes.
We should support doing a linked clone as well. That would tremendously help speed up the VM
creation. Linked clone should be presented as an option for the user creating the `Machine` if they want to use it.

[2019-03-04 22:51] figo commented on #216
will be great to cover this topic here:

disk consolidation for every clone can be expensive, we should try to avoid it,
we can discuss snapshots use case here:

1) if user trying to use snapshot to create multiple versions of template, could user use multiple templates instead?
2) we are not restricting snapshot, but we can detect snapshot, potentially give a warning.

[2019-03-04 23:18] sidharthsurana opened #217 "Feature: Support specifying a particular snapshot for cloning purpose"
In vsphere the users can create number of snapshots on a VM, giving them the ability to use the VM through it various stages of evolution. Currently, we only take the template name. Ideally we should be able to specify the particular snapshot if available to clone

[2019-03-05 01:50] yuyangbj commented on #214
@sflxn yes, I can take it but I cannot update the assignees by myself, do you know why?

[2019-03-05 02:43] yuyangbj commented on #194
I agree, actually I also noticed this problem when I tried the cluster api first time.

[2019-03-05 02:44] yuyangbj commented on #194
In the cluster.yaml file,  I am thinking if we need to  use fernet to encrypt the vsphere credential.

[2019-03-05 14:33] chuckha commented on #166
cc

[2019-03-05 14:34] chuckha commented on #166
Interested to learn how this project is releasing. I'm working on unifying (if possible) or at least adding tooling to cluster-api for providers to use with regards to automated releases.

See https://docs.google.com/document/d/17tY88ysZPDH2rZ9BkewPxETViqivdWDJPrVl_P1TpLg/edit for more detail

[2019-03-05 19:44] sflxn commented on #192
I am going to go ahead and submit a PR for this issue.  It fixes the crash but it exposes a user experience issue in the main cluster api project.  Since we create resources with kubectl (including shelling from clusterctl), users will not see that the machine wasn't created unless the run

`kubectl describe machine <>`

That will show there is no status field for the machine.  It will also not sh

[2019-03-05 20:02] #192 closed

[2019-03-05 21:22] sflxn opened #219 "Creating a machine without clusters.k8s.io/cluster-name prevents the machine from being deleted"
If I create a machine that doesn't have a label, `cluster.k8s.io/cluster-name`, a machine object is created and no VM is created.  If I then try to delete the machine, the machine is never deleted.

During create, the logs shows,

[code]

This is repeated over and over.  The reconcile loop doesn't seem to handle error conditions well.  This is not the issue that this bug is addressing.  The bug co

[2019-03-05 21:30] sflxn opened #220 "Created machines do not show up as nodes when running `kubectl get node`"
I create a worker machine.  The machine object shows up when running `kubectl get machines` but does not show up when running `kubectl get nodes`.  This appears to be a recent development as I believe it used to work.

[code]

[2019-03-05 21:33] figo commented on #219
in this case, if update yaml with `cluster label` and apply the yaml, will machine eventually join the cluster?

[2019-03-05 21:35] sflxn commented on #219
No.  Once you submit that invalid yaml, it gets stuck in the reconcile loop, trying to create the machine.  You can neither delete it nor fix the yaml and recreate it.  It is this "stuck" condition that I am worried about.

[2019-03-05 22:04] sflxn commented on #220
Looks like it's trying to bring up the node as a master, the cloud-init-output.log on the node has the following tidbits:

[code]

and

[code]

[2019-03-06 00:22] sflxn commented on #220
Closing this bug.  Upon further investigation, it appears the two cases I was investigating had explanations for why the node didn't appear.  The one above, where I created a single node listed `controlPlane` in the versions section so it was started up with the master node cloud init.  The second case, where I was starting up a machineset, the machine object appeared, but the k8s node was still s

[2019-03-06 00:22] #220 closed

[2019-03-06 23:10] sflxn commented on #179
@sidharthsurana has a fix in his internal repo.  Just needs a PR open.

[2019-03-06 23:12] sflxn commented on #188
Closing.  PR #190 fixed it, but @ntfrnzn didn't put in 'fix' or 'resolve' in the description so the issue wasn't closed automatically.

[2019-03-06 23:12] #188 closed

[2019-03-06 23:29] sflxn commented on #175
This potentially can get done for v1alpha1, but it isn't a feature that's absolutely needs to go in for this release.  If it gets done in time and the PR has been reviewed, we can make a judgement call at that time.

[2019-03-06 23:36] sidharthsurana commented on #85
This issue is fixed after we moved to CRDs

[2019-03-06 23:36] #85 closed

[2019-03-07 00:05] sflxn commented on #55
I think we can use `clusterctl validate cluster` for this; however, it's not fully working.  This needs to be updated in the CAPI (main) repo.  Given that, I am unsure we can complete this issue for v1alpha1 since we might be punting fixing the validate command in clusterctl.

[2019-03-07 00:11] figo commented on #90
the periodic job been configured, and we need a fix on test-infra: https://github.com/kubernetes/test-infra/pull/11527

[2019-03-07 15:33] ncdc opened #222 "Document alignment with supported Cluster API and Kubernetes versions"
Let's add a section to the README that describes which versions of Cluster API work with which versions of this repository.

Let's also add a section that describes which versions of Kubernetes this provider is able to provision.

**Example:**
This provider's versions are compatible with the following versions of Cluster API:

||Cluster API 0.1|Cluster API 0.2|
|-|-|-|
|XYZ Provider 0.1|✓||
|XYZ P

[2019-03-08 18:11] sflxn opened #223 "Ensure noderef is added to machine objects"
CAPV provider was not ensuring noderef was filled out in machine objects.  It wasn't clear that this was needed.  clusterctl validate cluster uses this to determine a valid machine object.

[2019-03-08 22:30] sflxn opened #224 "Repo is broken with kustomize v2"
I tried to generate a fresh yaml output folder after updating kustomize to v2.  It's currently broken.  It complains about the main cluster-api (CAPI) CRDs.

[2019-03-08 22:44] sflxn commented on #224
This issue was closed with #225

[2019-03-08 22:44] #224 closed

[2019-03-08 23:04] #223 closed

[2019-03-08 23:20] #212 closed

[2019-03-11 16:23] #179 closed

[2019-03-11 20:48] sidharthsurana commented on #163
@stobias123 based on your last comment, were you able to do further testing?
Can you confirm if you still encountering this issue?

[2019-03-11 22:31] stobias123 commented on #163
@sidharthsurana I'm unable to `make prod-yaml` in the latest code as of yesterday.

[2019-03-13 14:08] frapposelli commented on #222
/help

[2019-03-14 15:59] sflxn commented on #35
I'm revising this issue to focus only on the create workflow.  The issue was too broad.  It was more like an epic.  I will open up new issues for further work around vcsim.

[2019-03-14 15:59] #35 closed

[2019-03-14 16:01] sflxn opened #228 "Add vcsim tests for the machine actuator's delete workflow"
Add vcsim tests for the CAPV's machine actuator's delete workflow

[2019-03-14 20:54] sflxn opened #229 "When using kustomize v2, the order of make target seems to matter"
With kustomize v2, if I run a make build target before the example yaml generation, it generates a provider-components.yaml file that clusterctl does not like. The reason is that it updates the CRDs in config/crds/ folder, modifying the conditions and storedVersions fields in the status section. It changes those values from [] to null.

When a yaml generation target is run before a build target, t

[2019-03-14 23:40] sflxn opened #230 "Ubuntu cloud init image is now failing for CAPV"
Something has changed in the last 2 days that's causing CAPV to fail creating cluster.  It started happening in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/227.  I've verified that it is happening locally as well.  I tried doing code archaeology to find the root cause, but it's failing on commits that merged successfully.

This does appear to be something new around the cl

[2019-03-14 23:43] sflxn commented on #230
One symptom of this issue that makes it hard to debug is that the ssh key is not getting set correctly.  I cannot use the generated key to ssh into the failing machines.  After some research, I found a way to bypass the key and upon looking at the cloud init output logs, it appears Ubuntu has updated the docker package to one that kubeadm does not support.

[2019-03-15 00:09] sflxn commented on #230
This is what clusterctl keep repeating,

[code]

[2019-03-15 00:25] sflxn commented on #230
The problem is in the kubeadm init code in the template.  I can add a workaround for now.  I will write up an issue to consider installing a specific version of docker on the cloud init image instead of just pulling from Ubuntu's server.

[2019-03-15 02:44] #230 closed

[2019-03-15 03:12] #214 closed

[2019-03-19 18:15] sidharthsurana opened #232 "Bug: Cluster-api-provider-vsphere crashes in case the cluster's providerStatus is not yet set"
Observed a controller crash with the following trace:

Reason seems to be that the method `vsphereutils.GetClusterProviderStatus(cluster)` can possibly return `nil, nil` which is not handled properly in the code https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/f67fa04674f2aefc620f1157e51723b8ad30e255/pkg/cloud/vsphere/provisioner/govmomi/create.go#L561

Causing the below crash

[2019-03-19 20:14] #232 closed

[2019-03-21 18:25] sflxn commented on #90
Pushing this to next milestone as there is uncertainty around whether the test-infra issue will be resolved in time and whether @figo will have the bandwidth to work on it.

[2019-03-21 20:14] sflxn commented on #163
@stobias123 There seems to be multiple problems mentioned in this issue.

In reference to your issue with `make prod-yaml`, we've merged in some fixes for the yaml generation in the last 10 days.  You must upgrade your kustomize version to 2.x.  Even with that version, the repo had an issue with kustomize but we merged in some fixes recently, and it should work now.  Can you verify?

In reference

[2019-03-22 00:00] #185 closed

[2019-03-25 20:17] sflxn commented on #163
/milestone next

[2019-03-25 20:37] ntfrnzn opened #235 "Bug: VM orphan left running after machine CR is deleted"
While running some manual tests, I twice observed a VM that continued running long after the machine CR had been deleted.  The general scenario involved a machineset that was scaled up and down in quick sequence by independent processes. It appears that a machine was deleted by a controller without successfully invoking the vsphere provider code.

The cluster-api and cluster-api-provider-vsphere c

[2019-03-25 20:50] sidharthsurana commented on #235
@ntfrnzn I know the issue. This is because the delete operation currently, does not take in account the time when the clone operation has started but not completed. (This behavior was kind of on my personal list to operations to improve, but just didn't got time to implement this)

The issue is that the current delete implementation only covers the simple case of delete the VM as tracked by the Ma

[2019-03-26 01:38] ntfrnzn opened #237 "Bug: k8s 1.14 release exposes cni and kubeadm problems"
(a) creating a k8s 1.13.2 cluster exposes a problem in cloud-init installing kubelet and kubeadm:
[code]
In order to make this work, we'd have to specify kubernetes-cni 0.6.0-00 for 1.13 and lower, and 0.7.5-00 for 1.14, which feels very ugly to me. Carefully specifying the apt-get installation process seems to belong ... somewhere else, idk.

I think it is reasonable to simply say, no support for

[2019-03-27 17:00] sflxn opened #238 "After k8s 1.14 was release, installation of kubeadm and kubelet failing because it wants kubernetes-cni 0.6.0"
With the latest k8s 1.14 update,  CAPV is failing on node bootstrap.  This is a known issue.  There is a work around by pinning kubernetes-cni=0.6.0-00.  This issue is here to track our resolution for v1alpha1.

Issue 75683 on the kubernetes repo.

[2019-03-27 17:03] sflxn opened #239 "Latest kubeadm unable to decode our kubeadm_config.yaml during node bootstrap"
With the latest kubeadm update, our node bootstrapping is failing.

[code]

[2019-03-27 17:16] sflxn commented on #222
I have a potential PR for this, but since we do not have CI testing to verify the different versions of k8s, I am doing this manually.  However, I ran into the k8s 1.14 release that is breaking node bootstrap so I am unable to verify the compatibility till those issues are resolved.

#238 and #239

[2019-03-27 17:58] sflxn commented on #238
On the main issue page, @neolit123 suggested we try to pin this package to 0.7.5, but the repo's release page doesn't even show this version.  https://github.com/containernetworking/cni/releases

[2019-03-27 18:03] neolit123 commented on #238
just download from here:
https://packages.cloud.google.com/apt/pool/kubernetes-cni_0.7.5-00_amd64_b38a324bb34f923d353203adf0e048f3b911f49fa32f1d82051a71ecfe2cd184.deb

i can also give you a link from the GCS buckets, but it's pretty much the same DEB.

[2019-03-27 22:25] sflxn commented on #238
I need to note that this issue exist with ubuntu 16.04 and 18.04, the two versions I tested.

[2019-03-27 23:27] sflxn commented on #239
It appears to be an ubuntu bionic issue.

[2019-03-28 00:46] sflxn opened #242 "Applying provider-components.yaml onto a k8s 1.14 cluster results in error"
Once #240 and #241 are merged, we will be able to deploy a k8s 1.14 cluster.  However, using clusterctl to create the cluster, I get the following error,

[code]

When I try to manually apply the yaml with kubectl, I also get the same error.

[code]

[2019-03-28 01:01] sflxn commented on #242
/close This issue was related to the version of kubectl on my mac.

[2019-03-28 01:01] #242 closed

[2019-03-28 16:18] sflxn commented on #49
This file was removed back in November when we removed the Terraform provisioner.  Closing.

[2019-03-28 16:18] #49 closed

[2019-03-28 19:07] #238 closed

[2019-03-28 19:38] #239 closed

[2019-03-28 21:37] ntfrnzn commented on #237
this is resolved by https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/240

/close

[2019-03-28 21:37] #237 closed

[2019-03-29 20:15] sflxn commented on #48
Moved to release 0.3 as we've run out of time and this issue was not a `P0`.

[2019-03-29 20:16] sflxn commented on #55
Moving this issue to the next release, 0.3, since it is not a `P0` and we have run out of time.

[2019-03-29 22:19] #222 closed

[2019-04-08 20:33] sidharthsurana opened #244 "Feature: Support ntp"
At times the time on the hypervisors can be off, thus causing various issues when running the k8s cluster. For .e.g. Certificated that are generated may become invalid due to time sync discrepancies.

Thus we should be able to define ntp servers in the machine specs, so that they all should come up with the same time.

[2019-04-08 20:55] sflxn opened #245 "Feature: Add support for load balancer for HA"
In environments that have load balancers, we need to add some programmatic support to set that up before we create HA clusters.  For environments that do not have load balancers, we need to set up separate load balancers (e.g. running in a separate VMs).

[2019-04-08 20:59] sflxn opened #246 "CI: Add programmatic support to set up IP on VMs to remove the jump host"
Our CI runs on VMC today and we use a jump host to bypass cluster API need to access the created target cluster.  The jump host can actually be removed.  If we programmatically set up the IP for the VMs.  We will need to use VMC APIs for this.

[2019-04-08 21:01] sflxn opened #247 "Feature: create the resource pool programmatically"
For cluster api users on vSphere today, they must have a resource pool set up prior to creating a target cluster.  This can be handled programmatically.

[2019-04-08 21:04] sflxn opened #248 "Feature: create an automated solution to get node images created, stored, and referenced"
Today, we require users to create a VM template from a cloud init image.  The image must be stored in the vSphere datastore, and the name must be referenced in the machines.yaml file.  This is a big barrier of entry for users of cluster api on vSphere.

Design a better solution that can automate most of this.

[2019-04-12 23:37] sflxn commented on #177
Trying to get this in soon.  Found a copy issues with Ubuntu images.  The boot sequence will not finish.  After the image is cloned and booted, the boot sequence shows

`random: wait-for-root: uninitialized urandom read`

A google search seems to indicate it's related to grub config and that there is a workaround by adding a serial port to the cloned image.  I have been able to verify that works b

[2019-04-16 22:56] sflxn commented on #177
https://github.com/vmware/govmomi/issues/1435

With the advice from @dougm in the issue above, the vm will now boot.  The drive resize is still left.

[2019-04-17 18:58] dvonthenen commented on #247
/assign

[2019-04-17 22:50] sidharthsurana opened #249 "[Bug] Wrong IP gets registered with the Machine object"
In case where one can have multiple nics (or even single nic) for a `Machine` object, the current implementation registers the VM's IP as the first one reported by the vmware tools. This in certain cases depending on the timing of when the vmware tools were started inside the guest could lead in the vmware tools reporting the non-primary IP (for e.g. the IP of the docker bridge instead of IP of sa

[2019-04-18 20:36] dvonthenen commented on #247
Implemented and now currently testing

[2019-04-19 20:21] #9 closed

[2019-04-22 18:33] frodenas opened #252 "[Feature] support vCenter Clusters and Host Groups"
When deploying a machine, we would like to specify a VC Cluster or a DRS Host Group. This will allow deploying master and worker machines in different fault domains. Right now, we can only specify a Resource Pool.

[2019-05-01 16:11] sflxn commented on #177
Worked through a few issues with the cloud init bootstrapping.  I have gotten the ESXi provisioning to work now.  There is some code clean up and updates to do, but I believe I can have a PR possibly in today.

[2019-05-01 20:30] #244 closed

[2019-05-01 21:02] figo opened #255 "validate providerSpec with validatingadmissionwebhook in the case of OpenAPIschema is not enough"
validate provider spec early can provide much better UX (instead of controller re-try forever with error logs)
OpenAPIschema only give limited capability of express: `required` or not, and `type`.

there are other cases that OpenAPIschema is not enough:
1) username, password, secret can not be empty at the same time
2) for ipConfig , probably does not make sense to only specify ip but not netmask

[2019-05-01 21:44] sidharthsurana opened #256 "Node not removed when Machine is deleted"
The default behavior observed in k8s 1.11.x was that when one deletes the Machine object, the node associated with the machine would automatically get removed from the node list in a couple of minutes. This behavior got changed soon after 1.11.6 or so. Thus with k8s 1.12.x or newer, the node object is left behind even after the Machine object and the underlying VM is deleted.

[2019-05-01 23:23] figo commented on #255
i believe the openAPI schema `anyOf` is designed for the use case above, will dig into it more.
https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/

[2019-05-02 14:58] sidharthsurana commented on #144
/remove-lifecycle stale

[2019-05-06 11:05] gyliu513 opened #258 "Fix image security issues"
/kind bug

Please refer to https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/115#issuecomment-489579864 for detail. There are some security issues for the controller image, we should fix it.

[2019-05-07 02:49] jpweber commented on #46
I discovered this today when trying to figure out a way to use something other than weave. I found that was in a go template as well as the kubeadm conf file. As far as I can tell there are not any ways to modify the kubeadm config file to fit user needs other than modifying the `pkg/cloud/vsphere/provisioner/common/templates.go` file.

[2019-05-07 02:50] jpweber commented on #23
This would be an appropriate use case for velero

[2019-05-07 02:52] jpweber commented on #46
Is this possible a dupe of #19 Or possibly they could be combined.

[2019-05-07 17:29] jpweber opened #259 "applying changes to machineSpec in MachineSet are not handled."
After a machineSet manifest has been applied and nodes are up and running, if one modifies that file within `machineSpec`. for example, changing `numCPUs: 2` to `numCPUs: 4` then `kubectl apply -f machineset.yaml`, no changes occur and there are not any logs about any updates or modifies.

We should probably be able to handle changes to `machineSpec`, but it does bring up another question of what

[2019-05-10 14:11] ncdc commented on #259
I am checking to see if this is documented, but we strongly encourage treating everything as immutable infrastructure. If you want to change a machine characteristic, you can create a new machine with the desired changes and then delete the old one. This is handled by MachineDeployments for you - they manage multiple revisions of MachineSets in response to changes you make to a MachineDeployment.

[2019-05-10 14:27] ncdc commented on #256
@sidharthsurana do you know which PR or commit changed this behavior in Kubernetes?

[2019-05-10 14:32] jpweber commented on #259
@ncdc yup that all makes sense. I think validation of some kind to provide feedback is a good idea so it doesn't just fail silently. Closing.

[2019-05-10 14:32] #259 closed

[2019-05-10 16:47] frapposelli commented on #166
/priority critical-urgent
/assign @sflxn

[2019-05-10 23:28] sidharthsurana commented on #256
@ncdc I don't really know which PR introduced that changed behavior, but I got to know about that when I was chasing some other issue with PVs created with VCP.
@gnufied may have some idea about this behavior, as he was the one who told me about it.

[2019-05-11 02:01] gnufied commented on #256
In 1.12 branch - https://github.com/kubernetes/kubernetes/pull/66619 the commit that introduced that behaviour (there is a small chance I could be wrong but commit should be in vicinity of this stuff). This also brings vsphere in-line with other cloudproviders where node object is kept around when a node is shutdown.

In 1.11 series then to fix detach issue from shutdown nodes on vSphere, I intent

[2019-05-15 13:53] derryos opened #263 "Unable to pull kubeconfig"
Testing out the vsphere cluster api provider - the following is the output from my clusterctl call:

[code]

I've tried ssh-ing in manually using the laid down key:
[code]

Is it correct that the key in provider-components.yaml should be laid down in my .ssh and also on the booted master? I just ran make prod-yaml and then customised the settings. I'm using the ubuntu 16.04 ova (converted from a v

[2019-05-15 14:26] figo commented on #263
@derryos could you confirm that ssh keys in `.ssh` (where you run `clusterctl`) and provider-components.yaml matched?   (it was not clear to me by reading your description)

[2019-05-15 14:33] derryos commented on #263
Yes, they are present:
[code]

[2019-05-15 14:49] figo commented on #263
looks like the ssh key is not the issue, then it most likely the OVA image, could you clarify where is your ubuntu 16.04 ova download from? we need to make sure it support cloud-init.

[2019-05-15 14:58] derryos commented on #263
For reference, i'm running local bootstrap cluster on macos using kind:
[code]
I'm using a recent commit from master (e1a0555411eee447fa0321f32cad4edb3d90e093)

I've also downloaded https://cloud-images.ubuntu.com/releases/16.04/release/ubuntu-16.04-server-cloudimg-amd64.ova as per the docs....i assumed this had cloud-init already on it as the steps are:
1 download https://cloud-images.ubuntu.com/

[2019-05-15 17:35] figo commented on #263
@derryos  the best way to move forward right now is: please send the controller manager log as a link here, for example: you can use gist.

you can get controller manager log by:
[code]

[2019-05-15 17:39] sflxn commented on #263
@derryos I'm not sure if you wrote the full ssh command or not, but when you ssh, you need to also to specify the default user name, which is ubuntu.  If you've changed that in the scripts in templates.go (which is not recommended and only for dev), then the user name will be different.

[2019-05-15 18:02] sflxn commented on #263
@derryos @figo As further debugging assist, you can bump up the log level in provider-components.yaml.

[code]

[2019-05-15 19:30] derryos commented on #263
Am away from laptop until tomorrow (GMT here!) - but i'll add those logs in the AM. I haven't edited any go code (e.g. changed usernames etc) and tried with ubuntu user (same result).

[2019-05-16 00:16] sflxn opened #265 "Align the feature support of this provider with the AWS provider"
Get the vSphere provider to feature parity with the AWS provider.

Features
---
- [x] Document the feature difference.  Add issues for the differences and add them here.
- [ ] Multi-master support
- [x] Remove dependency on ssh #87

Repo
---
- [ ] Add Bazel back to the repo #209

[2019-05-16 06:23] derryos commented on #263
Added gist with requested output to https://gist.github.com/derryos/2ed5a3d9e8515673dbb0d4420ad07762 (I removed some username/internal info)

[2019-05-16 06:26] derryos commented on #263
Also
[code]

[2019-05-16 06:32] derryos commented on #263
Is it possible that there is an issue with the key?
[code]

Also: https://github.com/net-ssh/net-ssh/issues/633 https://github.com/net-ssh/net-ssh/issues/638#issuecomment-441189002

[code]

[2019-05-16 06:40] derryos commented on #263
This also seems relevant https://serverfault.com/a/941893
I'm on mojave 10.4.4 for reference:

Generating a key the old and new way and validating after...
[code]

[2019-05-16 07:08] derryos commented on #263
Unfortunately, same error even after adding the -m PEM to the generate-yaml.sh script:

[code]

[2019-05-16 18:06] sflxn commented on #177
There seems to be a problem with VMC for CI right now.  The PR can't build till the VMC issue is resolved.

[2019-05-23 02:09] jichenjc opened #268 "[question] secret cloud-provider-vsphere-e2e-config how to create and keep private"
cluster-api-provider-ibmcloud is trying to build e2e and encounter some issue,
we found vsphere uses secret cloud-provider-vsphere-e2e-config to store the credential for login before push. but we are not sure how to create and keep credential private.

https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/154 has more info ..

[2019-05-23 04:01] figo commented on #268
@jichenjc the secret `cloud-provider-vsphere-e2e-config` need be set on Prow(https://github.com/kubernetes/test-infra/tree/master/prow), in a short answer: you need to talk to sig-testing to setup secret for your provider.

[2019-05-23 04:08] jichenjc commented on #268
@figo thanks a lot, we will switch to sig-testing for more info~

[2019-05-23 04:08] #268 closed

[2019-05-26 19:42] derryos commented on #263
@figo  / @sflxn  - any idea how to progress on the above?

[2019-05-27 16:33] figo commented on #263
@derryos from the log you linked, it is able to ssh into VM, but the kubeconfig was not ready.

[code]
it suppose to say: SSH error if it is not able to ssh into VM.
and you can not SSH into VM for debugging is a separate issue (let discuss it a bit later).

now could you share your cluster.yaml, machine.yaml, or machineset.yaml?  if yaml has non-valid configuration, it could result in cloud-init

[2019-05-28 07:43] derryos commented on #263
@figo thanks for responding. I'm not sure if i really understand your comment - i thought i should be able to ssh into the machine?

As said earlier, i can't log into the machine manually using the pub file:
[code]

I'll anonymise the config files and add a gist. I agree that we need to SSH into vm to debug fully - the template that we are using is used in other (terraform) scripts to boot images

[2019-05-28 08:25] derryos commented on #263
BTW, made some 'related' progress on this. I think the issue is with the template.

As i was saying previously, i could not use our existing templates (that we use with terraform vsphere provider - also govnomi) but tried again with
[code]
in my machines and machineset.yaml

This now allows me to ssh into an instance using the ubuntu user/keys:
[code]

Does that flag need to be set for the ubuntu

[2019-05-28 14:45] figo commented on #263
yes, you should able to ssh into VM manually, but that is a separate issue (debugging issue),
clusterctl was able to ssh into VM based on log you provided.

[2019-05-28 14:52] derryos commented on #263
clusterctl was able to ssh into the newer vm I spun up (based on our own template vs the documented ubuntu ova template).

Unfortunately, i now have a vm i can log into but no way of knowing why kubernetes components will not start (i see content in //etc/kubernetes/cloud-config/cloud-config.yaml )

How do i debug that part of the process (e.g. what components are installed on the booted master vm

[2019-05-28 15:37] kisanth88 opened #270 "Build fails in an environment with a proxy"
The below scripts fail when executed in an environment with a proxy server.

package_provisioning.sh
provision_govc.sh
provision_kubernetes.sh

Workaround was to declare -x http_proxy="x.x.x.x:yy" and declare -x https_proxy="x.x.x.x:yy" directly in the scripts, this is not an extensible solution however. Need a mechanism for passing proxy information into the scripts from farther upstream.

Thanks

[2019-05-28 17:04] figo commented on #263
could you check a few log files if you have access to VM?
/var/log/cloud-init*.log
/var/log/startup.log
please paste the logs file here if possible, thx

[2019-05-28 17:05] figo commented on #263
also, please link the yaml file (cluster.yaml, machine.yaml etc) as well, just want to make sure the configurations are valid.

[2019-05-28 17:19] kisanth88 commented on #270
This is also an issue in system_settings.sh
We declared proxy in this file at the top as well.

Error was not intuitive:  curl#7: Couldn't connect to server
(breadcrumbs for searchers)

This may be an issue with build-disks.sh - however, we pre-emptively declared proxy in function setup_grub

[2019-05-28 17:33] kisanth88 commented on #270
And build-app.sh :-)

[2019-05-28 17:41] figo commented on #270
@kisanth88 you are right, the current build scripts has the assumption of direct internet access.
but you are encouraged to add proxy support with PULL request.

cc @frapposelli

[2019-05-29 08:14] derryos commented on #263
The only difference to the previous yaml inputs was replacing the existing template reference with our own template (vs the ova one) and setting vsphereCloudInit to true:
[code]

This template is a centos 7.6 image with the cloud init/vmware datasource configured.

This makes a lot of sense now:
[code]

Is it possible to download all external requirements and place on the template vs downloading a

[2019-05-29 13:05] sidharthsurana commented on #263
Yes, there is. You can preload all the binary artifacts (like kubelet, kubeadm, docker, etc.) in the image and then set the `preloaded: true` flag in the `MachineSpec`. This will then only trigger the configuration aspect of the scripts.

[2019-05-29 14:16] derryos commented on #263
Thanks - i got to the point where it complained about kubeadm not being installed, once i solved that, its failing on some pre flight checks which are all issues on my side.

I think the only issue outstanding is why i can't ssh into the ubuntu 16.04 ova?

[2019-05-29 14:35] sidharthsurana commented on #263
you should be able to ssh into the VM via ssh keys
try `ssh -i ~/.ssh/vsphere_tmp ubunutu@<IP of VM >`

[2019-05-29 15:27] derryos commented on #263
@sidharthsurana thanks - see earlier comments (from https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/263#issuecomment-492938595 onwards), i was not able to login using the ubuntu user/key on the ubuntu 16.04 ova included in documentation (but could do so with my own centos template)

[2019-05-29 15:35] sidharthsurana commented on #263
I think the issue might be because you are using the OVA as the template itself. I have never tried that personally, and I doubt if it will work since that OVA most likely has some other boot scripts set to run. Can you try using the Ubuntu cloud image directly from the internet [https://cloud-images.ubuntu.com](https://cloud-images.ubuntu.com)
The only catch is that since these images do not have

[2019-05-30 12:36] derryos commented on #263
@sidharthsurana thanks

What exactly do you mean by 'using the ova as the template'? Is there something to be done between booting the OVA and creating the template?

I just assumed that i needed to create a template from the ova and i used ovftool to do this:
[code]
(and then created a template from that vm)

I'm using DHCP for all my testing and i only set the vsphereCloudInit: true when i moved

[2019-05-30 16:56] sidharthsurana commented on #11
We already have the flag `preloaded` that the user can set to `True` in case the template used already has all the binaries pre-installed.

[2019-05-30 16:56] #11 closed

[2019-05-30 17:36] sidharthsurana opened #272 "[Feature] Enhance the provider specific status field `VsphereMachineProviderStatus`"
Currently, if there is an issue with the provisioning process, the user does not know where to begin.
Given we have `VsphereMachineProviderStatus` type to represent the status based on the provider perspective, we should enhance this type to capture and make available the provider-specific status that the user can look at the begin troubleshooting the issue.

[2019-06-01 15:04] sidharthsurana commented on #174
/remove-lifecycle rotten

[2019-06-01 15:07] sidharthsurana commented on #181
/remove-lifecycle rotten
 /remove-lifecycle stale

[2019-06-01 15:07] sidharthsurana commented on #181
/remove-lifecycle rotten

[2019-06-03 16:25] akutz opened #275 "Please create the branch "feature/capa-parity-phase-one""
Please create the topic branch `feature/capa-parity-phase-one` in order to facilitate contributors working on this effort to open pull requests to a shared branch that is not `master`. Thank you!

cc @frapposelli @andrewsykim

[2019-06-04 07:12] frapposelli commented on #275
done! [`feature/capa-parity-phase-one`](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/tree/feature/capa-parity-phase-one)

[2019-06-04 07:13] frapposelli commented on #275
/close

[2019-06-04 07:13] #275 closed

[2019-06-04 07:16] frapposelli commented on #265
/assign @akutz @frapposelli

[2019-06-04 13:20] james65535 opened #277 "Add troubleshooting information to Docs"
I aggregated troubleshooting notes which were gleaned from the github issues.  I thought it may be helpful to place them in docs/self-service/README.md so new users are able to quickly find out trouble shooting methods.

Draft:
## Troubleshooting Resources to Aid in Resolving Provisioning Failures

1. Ensure provider-components.yaml specifies a container image for the vsphere-provider-controller-m

[2019-06-05 00:25] sidharthsurana opened #282 "Bug: Fetching kubeconfig via ssh poses problems in certain cases"
In cases where the template used say has an ssh banner or message of the day enabled then the way currently we fetch the kubeconfig does not work.
More specifically, we are using the `stdout` of the remote command `cat /etc/kubernetes/admin.conf` which in cases like the above and some more will contain extra text which makes the fetched kubeconfig incorrect, causing failures in the provider contro

[2019-06-06 07:22] moshloop commented on #76
Duplicate of https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/177

[2019-06-06 07:29] frapposelli commented on #177
This was implemented with #264
/close

[2019-06-06 07:29] #177 closed

[2019-06-06 07:29] frapposelli commented on #76
This was implemented with #264
/close

[2019-06-06 07:29] #76 closed

[2019-06-06 07:30] moshloop commented on #282
One approach to this would be to generate the CA's first, and then pass them to the machines on boot (via cloud-init, iso, server, etc..)

The advantage is that SSH would not be required on the nodes at all.

[2019-06-06 08:24] moshloop opened #284 "Build cloud-init examples on-demand"
The keys included in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/tree/master/build/images/cloudinit are a security incident waiting to happen, while there is a warning, people often don't read them.

I suggest just generating these on demand,

[2019-06-07 04:26] vincenthanjs opened #288 "docker: Error response from daemon:"
Hi,
I'm getting this error. Running this on a ubuntu 18 box with dockerd running.

root@ubuntu:~/cluster-api-provider-vsphere/installer# ./build/build.sh ova-dev
--------------------------------------------------
starting docker dev build container...
docker: Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"./build/build-ova.

[2019-06-07 08:10] moshloop opened #289 "ESXi: Support thin cloning"
The current implementation causes thick clones, which eats into my laptop disk unnecessarily.

Please assign to me, I have a working implementation.

[2019-06-07 08:11] moshloop opened #290 "ESXi: Support linked clones"
Depends on #217

[2019-06-07 08:17] moshloop commented on #87
I think we still need to solve for the remote connectivity, as I am pretty sure machine controller will need to start implementing machine health / readiness checks at some point?

[2019-06-07 08:19] moshloop commented on #122
I would close in favor of #176

[2019-06-07 08:26] moshloop commented on #45
Why is this an issue If you run the manager via go run it logs to stdout ?

[2019-06-07 08:28] moshloop commented on #200
I think waiting in the main control loop is generally not recommended, from what I have heard it is better to requeue and check the status on the next reconcile run.

This would have the added advantage of being able to spin up multiple instances in parallel greatly reducing cluster creation time.

[2019-06-07 08:32] moshloop commented on #175
Any reason why this can't be supported without DRS? Not sure DRS works across multiple clusters, and scheduling aross multiple clusters in a vcenter seems like a reasonable thing todo?

[2019-06-07 08:36] moshloop commented on #44
What is the benefit of this? Deploying across multiple vSphere clusters I fully agree with, but that can be done with a single vCenter?

within a single VC #175 would cover that use case.

[2019-06-07 08:36] moshloop commented on #39
+1 for Option 3.

[2019-06-07 08:40] moshloop commented on #245
An alternative is to setup client-side load balancing of the api-server.  I have an implementation using consul, consul-template and nginx running on every node in the cluster, and masters registering as services.

[2019-06-07 14:07] frapposelli commented on #219
/remove-lifecycle stale

[2019-06-07 14:07] frapposelli commented on #217
/remove-lifecycle stale

[2019-06-07 14:08] frapposelli commented on #216
/remove-lifecycle stale

[2019-06-07 14:09] frapposelli commented on #215
/close

[2019-06-07 14:09] #215 closed

[2019-06-07 14:13] frapposelli commented on #209
/remove-lifecycle stale

[2019-06-07 14:14] frapposelli commented on #174
/remove-lifecycle rotten

[2019-06-07 14:15] frapposelli commented on #176
/close

[2019-06-07 14:15] #176 closed

[2019-06-07 17:13] andrewsykim opened #292 "Add license headers"
There are many files that don't have license headers, we should add them.

[2019-06-07 18:57] andrewsykim opened #294 "make prod-yaml doesn't work on Linux"
On Linux, the output of `kustomize version` is
[code]

Notice `2.0.3` not `v2.0.3, this breaks the Makefile and some scripts in a few places because it assumes the semantic version has `v2` which seems to only be true on darwin.

[2019-06-07 18:57] akutz commented on #294
Hi @andrewsykim,

There's a fix for this in PR #283.

[2019-06-07 19:14] andrewsykim commented on #294
Ah, will check there thanks

[2019-06-07 22:48] akutz commented on #39
I'm not sure this is still relevant. Is the non-pivot method still valid? If so, then there is no sense of a management cluster anyway. It seems to me the answer is "If you want to keep track of clusters created by CAPV then make sure you pivot to a persistent management cluster." Otherwise everything is a one-off.

To me the source of truth is the management cluster. Beyond that, it's not a prior

[2019-06-07 22:49] frapposelli commented on #39
/remove-lifecycle rotten

[2019-06-07 22:50] akutz commented on #44
Hi @moshloop,

I think I agree with you. Let's allow the affinity rules cover how these are spread out. While long-term there may be benefits (cross-site redundancy) of machines across multiple vCenters, I'm not sure short-term it's necessary to prioritize this.

I'd rather push back on vSphere product group to enhance affinity rules to support cross-vCenter migration.

[2019-06-07 22:52] akutz commented on #175
This may need to be punted to v1alpha2. If not we need to resource this work yesterday.

cc @frapposelli

[2019-06-07 22:56] frapposelli commented on #39
As we're aligning with CAPA, the non-pivot use case, while being valid, is deprioritized at the moment.

[2019-06-07 22:57] frapposelli commented on #39
also, this issue is particularly old and references the terraform provisioner which is long gone, we should probably close this issue altogether.

[2019-06-07 22:58] akutz commented on #200
Hi @moshloop,

I don't know you, but as I triage your responses, I think I like you :)

Yep. I do this already in another project with a cap on the number of parallel operations.

However, for failed deployments, there's simply no great to handle this. Whether or not we wait on the main control loop (we will likely use a goroutine, so it's a non issue), the problem is we can't actually know if som

[2019-06-07 22:59] akutz commented on #39
While true it was based on TF, the notion of a master registry of clusters isn't TF dependent.

Still, I stand by my assertion that if you want a registry, then pivot to the management cluster. Otherwise there is no registry.

[2019-06-07 23:03] akutz commented on #45
This should likely be closed in favor of #200. However, @detiber and I **have** discussed something similar to this. However, in the short-term, combined with the new, standardized images, I am going to ask for lazy consensus on closing this issue in favor of the approach I outlined at https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/200#issuecomment-500064346.

If no one obj

[2019-06-07 23:04] akutz commented on #122
Closing as related to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/45#issuecomment-500065308. Please see that comment for the prescribed conversation forward.

/close

[2019-06-07 23:04] #122 closed

[2019-06-07 23:05] frapposelli commented on #175
@moshloop affinity/anti-affinity rules are defined within a DRS-enabled cluster, a cluster is also a fault-domain boundary for vSphere. Deploying across multiple clusters should be possible today using `MachineSets`.

@akutz this is potentially a noop (see kubernetes/cloud-provider-vsphere#179), but even if not, definitely needs to be punted to v1alpha2.

[2019-06-07 23:05] akutz commented on #39
I'm time boxing this and will close it based on the above discussion unless no one objects by next Friday.

[2019-06-07 23:09] akutz commented on #87
Hi @moshloop,

This has been addressed in-part with #267 and will be finished with a PR I intend to open soon. We're aligning CAPV with CAPA, and part of that is the bootstrap process. Since the CAs are either defined as part of the ClusterConfig or generated in the Cluster actuator, the `kubeconfig` can now be generated in Go code in the Cluster `reconcile` method by using the CA to generate a ne

[2019-06-07 23:11] akutz commented on #290
There are no current plans to support ESXi. While that support was added recently, any net-new work around ESXi is not a priority. I am going to close this issue as this will not be addressed directly in the near future.

/close

[2019-06-07 23:14] akutz commented on #289
Hi @moshloop,

I look forward to seeing it! Let's set up a call to discuss this as we may need to rework your implementation as the method of deploying VMs is changing. We're going to move to the following model:

**Cluster Resolve**
1. Import OVA into content library

**Machine Create**
1. Deploy VM from OVA in content library

However, because thin-clones is definitely a must-have for some users

[2019-06-07 23:15] akutz commented on #217
Please see #289

[2019-06-07 23:16] akutz commented on #290
Hmm. I'm going to reopen this as I'm unclear on the distinction between this and #289

/reopen

[2019-06-10 17:25] moshloop commented on #289
I think OVA's should be a helper, not a dependency in cluster or machine creation. (i.e. `--create-template-from-ova` option to clusterctl.

Many organizations will want to use an image created and maintained internally that bundles in their combination of security, management, monitoring tools etc. Forcing the use of an ova, prevents this and/or makes it much harder to fit into common image pipel

[2019-06-10 17:46] akutz commented on #289
Hi @moshloop,

Thank you for the continued and fantastic feedback!

We still plan to support deploying from an existing OVA in the content library or from a template for linked clones. However, the default mode will be to automatically import an OVA. And it won't be *that* time consuming as it will happen once in the Cluster provision (not per machine), and only if the OVA doesn't already exist in

[2019-06-10 17:49] moshloop commented on #200
I think we should follow the pod model of readiness/conditions and back off loops.

i.e. In every loop check the readiness of the vm (as reported by vm-tools), report state changes from:

- MachineCreating
- MachineCreated
- MachingBooting
- MachineBooted (Reported by vm-tools)
- MachineIpReported (Reported by vm-tools)
- MachineReachable (As visible by the controller)
- MachineReady (As reported

[2019-06-10 17:53] akutz commented on #200
Hi @moshloop,

This is great stuff. I wonder if this conversation isn't one that should occur at at the CAPI community since the readiness process and resolution model for failed deployments is applicable to all CAPI providers. @timothysc, do you happen to know if there an existing issue for discussing this?

[2019-06-10 17:59] moshloop commented on #289
If the plan is to support either OVA or a template for thin/linked cloning then I don't see any issues as an end-user.

As a developer/maintainer, I would want as few critical path's to provisioning as possible. The more path's available, the larger the test matrix becomes and the higher the likelihood of falling through the cracks become.

If OVA support is added as a helper to create the templat

[2019-06-10 18:05] akutz commented on #289
Hi @moshloop,

So let me get the refactored bits for the new deployment model in place, and then I can assign you this issue so you can enhance it with thin provisioning. Does that work?

[2019-06-10 18:08] moshloop commented on #289
👍

[2019-06-10 18:08] detiber commented on #200
The biggest challenge upstream in cluster-api is the [lack of remote node references](https://github.com/kubernetes-sigs/cluster-api/issues/520), which is what we would usually attempt to use to check for machine/node readiness. Once that is resolved, then we could easily add some type of a generic timeout condition as well. Until then, I'm afraid that any type of timeout would need to be handled

[2019-06-10 18:12] timothysc commented on #200
We're planning to try and address this in v1alpha2.

[2019-06-10 18:35] moshloop commented on #149
I am happy to submit a PR for this using [konfigadm](https://github.com/moshloop/konfigadm) to generate the cloud-init ?

[2019-06-10 18:36] akutz commented on #149
Hi @moshloop,

I am going to close this issue as literally all those templates are going away as we pull in bits from CAPA. Thank you though!

[2019-06-10 18:36] akutz commented on #149
/close

[2019-06-10 18:36] #149 closed

[2019-06-11 12:11] james65535 commented on #292
I'm happy to take this assignment.

[2019-06-11 12:28] frapposelli commented on #277
#278 fixed this

/close

[2019-06-11 12:28] #277 closed

[2019-06-12 18:26] moshloop opened #304 "Switch cloud-init generation to use konfigadm"
https://github.com/moshloop/konfigadm is a declarative tool designed to replace bash/ansible/cloud-init - it is also one of the potential options for phase 1 of the new SCL image builder tool - potentially providing a single tool to both build images and configure instances on startup

This will resolve and/or make redundant: #19  #284  #230 #121 #202 #174 #74

The primary end-state goal is to imp

[2019-06-16 17:10] moshloop opened #311 "move generate-yaml.sh into clusterctl"
As a cluster operator I want to install the `clusterctl` binary and deploy I shouldn't need to checkout out a git repo, and then run a bash script

[2019-06-16 17:11] moshloop opened #312 "clusterctl binary release"
As a cluster operator I want to install the `clusterctl` binary and deploy I shouldn't need to checkout out a git repo and build a binary

[2019-06-17 19:53] andrewsykim opened #314 "Aligning CAPV with vSphere Cloud Provider"
As it stands today, there are some behaviors between CAPV and both the in-tree and out-of-tree vSphere cloud provider that need to be aligned. Some examples of this below:

1) Networking configuration - in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/307, CAPV will assign a MAC addr for a VM network prior to the VM powering on. The MAC OUI prefix _needs_ to be acceptable fo

[2019-06-17 20:13] andrewsykim commented on #60
/remove-lifecycle stale

[2019-06-17 20:13] andrewsykim commented on #60
ref: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/314

[2019-06-17 20:20] akutz commented on #246
This is no longer applicable.

/close

[2019-06-17 20:20] #246 closed

[2019-06-17 20:26] akutz commented on #247
/close

[2019-06-17 20:26] #247 closed

[2019-06-17 20:26] akutz commented on #248
Related to #267

[2019-06-17 20:29] akutz commented on #48
Based on the model in CAPA, introduced in #307, let's look at gmock as a way to do better testing short of having a working environment. That or vc Sim.

[2019-06-17 20:30] akutz commented on #248
/assign @codenrhoden

[2019-06-17 20:34] akutz commented on #87
/close

[2019-06-17 20:34] #87 closed

[2019-06-17 20:38] akutz commented on #48
Also look at how we can provide coverage with integration testing using vC Sim

[2019-06-17 20:38] akutz commented on #48
/assign @frapposelli

Remember RADIO? Container as place to run workload.

[2019-06-17 20:45] andrewsykim opened #315 "Update clusterctl docs"
There's been a lot of assumptions around clusterctl that have changed recently. For example, clusterctl is now _only_ a bootstrapping tool for management clusters and workload clusters should only be provisioned via the API server on the management cluster directly. We need to update docs to reflect this assumption better.

[2019-06-17 20:48] akutz commented on #245
/assign @andrewsykim
/assign @moshloop

[2019-06-17 20:50] akutz commented on #163
/close

[2019-06-17 20:50] #163 closed

[2019-06-17 21:01] andrewsykim commented on #315
/milestone v0.3.0

[2019-06-18 15:14] andrewsykim opened #317 "Remove copied kustomization.yaml from sigs.k8s.io/cluster-api"
In https://github.com/akutz/cluster-api-provider-vsphere/pull/4 (PR eventually merged in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/307) we had to pull in the `kustomization.yaml` file for cluster API CRDs from `sigs.k8s.io/cluster-api` so we can override the manager image version. This isn't ideal since the kustomization.yaml config may deviate from this repo and the clu

[2019-06-19 00:51] yktsubo opened #318 "Unable to ensure namespace "default" in target cluster"
Tried to deploy cluster using vsphere cluster api but failed to deploy with the error, `unable to ensure namespace "default" in target cluster: timed out waiting for the condition`

[code]

After the error, I confirmed that k8s cluster is created and default namespace exist.

[code]

[2019-06-19 22:48] #317 closed

[2019-06-20 06:06] moshloop commented on #176
Why did we close this issue?

`kubectl logs machine` streaming the system logs off the machine would be nice to have for troubleshooting

[2019-06-20 06:08] moshloop opened #329 "Logging Conventions"
We need to standardize on how we use the different logging levels, these are conventions that I would propose:

## Logging

**Error (1)**
*Hard Errors that a user will likely need to fix*

Failed to connect, no hostname specified

**Warning (2)**
Soft Errors that a retry might fix

Failed to connect, connection refused

**Change (3)**
Machine created, updated

POST /api/v1/namespaces/default/event

[2019-06-20 14:06] randomvariable opened #331 "Support laying down arbitrary files on disk"
Copy of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/847

/kind feature

Describe the solution you'd like
Some Kubernetes API server features require additional configuration files.
Add support to the API to be able to lay down these files prior to kubeadm initialization.
cloud-init has a files section that can be utilised to achieve this

[2019-06-21 12:44] #292 closed

[2019-06-22 17:23] moshloop commented on #282
/close

[2019-06-22 17:23] #282 closed

[2019-06-22 18:00] moshloop commented on #263
@derryos you can try create a new vmTemplate using this OVA: https://storage.googleapis.com/capv-images/release/v1.13.6/ubuntu-1804-kube-v1.13.6.ova

The next release changes the mechanism for getting the kubeconfig,  it is no longer pulled via SSH, but generated from the CA that is injected into the master node. The need for the bootstrap OVA has also been removed (note that the bootstrap OVA is

[2019-06-22 18:00] #263 closed

[2019-06-22 18:03] moshloop commented on #103
/close bootstrap OVA no longer used

[2019-06-22 18:03] moshloop commented on #103
/close

[2019-06-22 18:03] #103 closed

[2019-06-22 20:06] mylesagray opened #338 "Clusterctl built through clusterctl-in-docker isn't cross-compiled"
/kind bug

`clusterctl` needs to be compiled to run on whatever hostOS is running the `clusterctl-in-docker` container.

**What steps did you take and what happened:**
On macOS:
* Clone repo and run `make clusterctl-in-docker`
* Try to execute `/bin/clusterctl`

**What did you expect to happen:**
`clusterctl` runs

**Anything else you would like to add:**
`clusterctl` from make command:

[code]

`

[2019-06-24 20:25] akutz opened #341 "Create missing resource pools/folders"
/kind feature

**Describe the solution you'd like**
PR #339 removed the capability for CAPV to resource pools or folders that were present in the machine spec but missing on the target vSphere platform. This was removed on purpose because any of the resource pools or folders created were not tracked, and therefore could not be safely removed upon a machine/cluster being deleted.

This issue tracks

[2019-06-24 20:35] akutz commented on #338
FWIW, `GOHOSTOS=$(go env GOHOSTOS) make clusterctl-in-docker` should work.

[2019-06-24 21:16] #235 closed

[2019-06-25 09:22] mylesagray opened #346 "OVF Spec on CAPV images fail to deploy when using Distributed Switches"
/kind bug

**What steps did you take and what happened:**
Download one of the CAPV images:
[code]

Set up govc env vars:
[code]

Attempt to import the OVA:
[code]

When exporting the ova spec and overriding the network in JSON and deploying with that, it works:

[code]

ubuntu.json:
[code]

Deploy ova:
[code]

**What did you expect to happen:**
OVA should be deployed with the network set as env va

[2019-06-25 09:37] mylesagray opened #347 "CAPV image template changes"
/kind feature

**Describe the solution you'd like**
CAPV images when deployed without any customisation (probably the standard) are all deployed with the same name, that is non-specific and requires quotes because of special characters.

I would propose that the VM name matches the OVA name when deployed.

Additionally, the annotation that is added could be a little more verbose (documented below)

[2019-06-25 11:14] mylesagray commented on #338
FYI - didn't work with the above, had to run `GOOS=$(go env GOOS) make clusterctl-in-docker`.

[2019-06-25 11:35] mylesagray opened #348 "`generate-yaml.sh` output directory option doesn't work"
/kind bug

**What steps did you take and what happened:**
Run:

[code]

Creates the folder `./workload-cluster-01` but all files are placed in `./out`

**What did you expect to happen:**

All files are placed into `./workload-cluster-01`

**Environment:**

- Cluster-api-provider-vsphere version:  0.3.0-alpha.0
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`): macOS

[2019-06-25 12:33] akutz commented on #348
/assign @akutz

[2019-06-25 14:25] akutz commented on #347
Hi @mylesagray,

Where were you when I was writing this stuff, huh? Huh? HUH?! :) Thanks for the info. I'll work on this ASAP!

[2019-06-25 14:27] akutz commented on #346
Hi @mylesagray,

Can you explain how to fix this? FWIW, I'm literally building the OVA from an OVF template I always use, which was originally generated off of VMC. You can see how it works [here](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/hack/image-build-ova.py). Thanks!

[2019-06-25 14:32] akutz commented on #347
Hi @mylesagray,

Aren't these the options when importing the OVA with something like `govc`? I think `govc` reads this file and acts on the options. I'm not sure how to actually build these into the actual OVF.

[2019-06-25 14:57] dougm commented on #347
The govc specific options are `MarkAsTemplate`, `PowerOn` and `WaitForIp`.  Currently not possible to set using the .ovf.  I suppose we could have govc look for a specific Property ovf:key to support this, not sure what other options there might be.

[2019-06-25 14:59] akutz commented on #347
FWIW, I do intend to add a feature that automatically imports the OVA into the content lib and deploys it as a template If the template is missing.

[2019-06-25 16:18] #348 closed

[2019-06-25 17:22] mylesagray commented on #347
Okay, well in the vein of your plans @akutz and what we chatted about on zoom, simple changes to Annotation and Name on deploy would close this one off for me :)

[2019-06-25 17:31] mylesagray commented on #346
Yeah, seems this was a me problem after all @akutz:

[code]

You absolutely have to define `Network` and pass it in via `-options ubuntu.json` or similar, just exposing the env var `export GOVC_NETWORK="Cluster01-LAN-1-Routable"` doesn't make `import.ova` use that network for OVA deployment.

Maybe a FR to raise against `govc`.

[2019-06-25 17:31] #346 closed

[2019-06-25 18:52] codenrhoden opened #353 "E2E test continues even if "make test" fails"
/kind bug

**What steps did you take and what happened:**
I noticed on one of my PRs with a flaky test that the e2e test continues on, even after `make test` has failed. here is an example log: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-vsphere/352/pull-cluster-api-provider-vsphere-e2e/1143588252314243072

Even after the test failure, it conti

[2019-06-26 09:49] mylesagray commented on #341
+1 - would very much like to see this reintroduced, rather than having to pre-create each item.

[2019-06-26 10:56] mylesagray opened #359 "QoL: Have generate-yaml.sh generate folders based on cluster name and type"
/kind feature

**Describe the solution you'd like**
I would like generate-yaml.sh (any maybe, by extension - it's invocation method) to take a cluster name and type argument.

Valid types would be:

`prod, dev, ci`

Name would simply be the name applied to that K8s cluster when deployed, whether it's management or workload.

As an example:

`hack/generate-yaml.sh -t ci -n workload-cluster-1`

This

[2019-06-26 12:23] mylesagray opened #360 "QoL: Have addons.yaml set up a StorageClass for the defined Datastore"
/kind feature

**Describe the solution you'd like**
`addons.yaml` has a StorageClass at the very top called `standard` - this currently has no `datastore` value or `storagePolicyName` value applied, meaning it's useless to the VCP.

I would propose that we populate this using the `storagePolicyName` method:

Add an ENV VAR for `VSPHERE_STORAGE_POLICY` that would define the SPBM policy that the VMs

[2019-06-26 15:23] akutz opened #363 "Create CAPV images for v1.14.4, v1.15.0, and v1.15.1"
/kind feature

**Describe the solution you'd like**
Create CAPV images for v1.14.4, v1.15.0, and v1.15.1

**Anything else you would like to add:**
Nope

**Environment:**

[2019-06-26 15:30] akutz commented on #363
/assign @akutz

[2019-06-26 15:42] james65535 opened #364 "Update README.MD to Link New Quickstart Guide"
/kind feature

Update the README.MD to direct users to the new quickstart guide as well as replace stale information to be in alignment with v0.3.x.  For example, but not limited to:

- `vSphere provider version`
- `Compatibility Matrix`
- `Cloud Images`

[2019-06-26 15:45] akutz commented on #363
For reference, here are the steps I use to build images on the CAPV image builder host `cib` on VMC:

## The working directory

1. Build as the `capv` user (`sudo su - capv`)
2. Switch to the CAPV repo (use the alias `capv` to quickly change to the correct directory)
3. Change to the images directory (`cd build/images`)

## Generate the new `kubernetes-SEMVER.json` file(s)

[code]

## Build the im

[2019-06-26 17:07] codenrhoden opened #366 "Delete cluster-api-provider-vsphere-ci image after E2E test"
/kind feature

**Describe the solution you'd like**
When E2E tests are run by CI, a new image for cluster-api-provider-vsphere-ci is built and tagged with the git Pull git hash and pushed to gcr.io. THis happens for every PR, and the image is never deleted.

This CI image will never be used again. We could enhance our E2E test to automatically delete the image when the E2E test is finished. Right

[2019-06-26 17:45] sidharthsurana opened #369 "Support taking a `Machine` temporarily offline"
/kind feature

**Describe the solution you'd like**
In vsphere env, there are cases when an admin might want to power off some VMs in order to do routine software/hardware maintenance . The current behavior for CAPV actuator is to power ON the VM if it is not already powered on. This means even if the admin intentionally powered OFF a VM it would automatically be powered on by the actuator.
This w

[2019-06-26 17:46] akutz commented on #369
Thank you @sidharthsurana, I agree, this is definitely a worthwhile feature, and should be pretty easy to implement.

[2019-06-26 21:35] #359 closed

[2019-06-26 21:51] #369 closed

[2019-06-27 13:28] mylesagray opened #377 "make prod-yaml doesn't honour CLUSTER_NAME for mgmt cluster"
/kind bug

**What steps did you take and what happened:**
Export env vars for mgmt cluster:

[code]

Note `CLUSTER_NAME` is set to `capv-mgmt-cluster`.

Execute `make prod-yaml`

[code]

`CLUSTER_NAME` overridden by default in `generate-yaml.sh`:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/9da65b679baf8f2b4fb57d75391be89af96f7c5e/hack/generate-yaml.sh#L29

**What did you

[2019-06-27 13:37] akutz commented on #377
We need to update docs. Users should not use the make yaml targets anymore, but the script directly

[2019-06-27 13:50] andrewsykim commented on #377
Open a fixed here https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/378, agree with using script, though prefer post v0.3.0 since a lot of docs will need updating if we remove those targets

[2019-06-27 14:47] codenrhoden commented on #377
I can open an issue to to cover the docs and changes to not use `make prod-yaml`. I didn't open it last night, but mentioned in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/352#issuecomment-506042576 that that was on my plate. It's something I'd like to take on as part of a bigger refresh in this whole area. =)

[2019-06-27 14:50] codenrhoden opened #379 "Remove `make prod-yaml` target"
/kind cleanup

**Describe the solution you'd like**
Instead of using `make prod-yaml` to generate YAML, we should document the use of `hack/generate-yaml.sh` directly. `generate-yaml.sh` can be enhanced as needed to handle any scenarios around dev/ci/prod, but it is mostly there anyways. The main changes are to documentation, and removal of Makefile target.

/assign

**Environment:**

- Cluster-ap

[2019-06-27 16:15] #377 closed

[2019-06-28 18:05] codenrhoden commented on #353
This might warrant a separate issue, but in [this](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-vsphere/388/pull-cluster-api-provider-vsphere-e2e/1144662693072867328), the E2E test reported success when it actually failed.

[2019-06-28 18:09] akutz commented on #353
Given that the PR executes the test job separately, even if it fails here because etcd is missing, I think that’s okay.

Ideally we don’t execute the test target in the e2e job at all.

[2019-06-28 18:17] codenrhoden opened #390 "pull-cluster-api-provider-vsphere-test is flaky"
/kind bug

**What steps did you take and what happened:**
We've seen the test `pull-cluster-api-provider-vsphere-test` be very flaky, and it always fails at the same spot:

[code]

Digging into this, the error is actually coming out of [controller-runtime/pkg/envtest](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/server.go), which in turn is using [testing-framework

[2019-06-29 19:11] moshloop commented on #329
@akutz @andrewsykim @figo @ @frapposelli @sflxn @sidharthsurana

[2019-06-29 19:22] moshloop commented on #202
0.3.0 does support multiple keys
/close

[2019-06-29 19:22] #202 closed

[2019-06-30 01:20] akutz commented on #363
/close

[2019-06-30 01:20] #363 closed

[2019-06-30 01:20] akutz commented on #315
/close

[2019-06-30 01:20] #315 closed

[2019-06-30 01:20] akutz commented on #265
/close

[2019-06-30 01:20] #265 closed

[2019-06-30 12:11] #390 closed

[2019-07-01 00:21] akutz commented on #329
Hi @moshloop,

First of all, thank you for doing this!

We're using the standard K8s logging facility. Also, trace is level 8 I believe. Can you please update #328's description with the template and link to this issue?

Please use the template where possible. Thanks.

Also, the link you provided would move CAPV to being **far** more verbose. Please rephrase this proposal to be in sync with the li

[2019-07-01 00:21] akutz commented on #329
/milestone Next

[2019-07-01 00:22] akutz commented on #338
Fixed

/close

[2019-07-01 00:22] #338 closed

[2019-07-01 00:56] akutz commented on #8
/close

[2019-07-01 00:56] #8 closed

[2019-07-01 01:55] yktsubo commented on #318
Tested in the latest version and didn't see this issue.

[2019-07-01 01:55] #318 closed

[2019-07-01 02:10] #10 closed

[2019-07-01 02:10] #16 closed

[2019-07-01 02:10] #19 closed

[2019-07-01 02:10] #18 closed

[2019-07-01 02:10] #17 closed

[2019-07-01 02:10] #20 closed

[2019-07-01 02:10] #21 closed

[2019-07-01 02:10] #22 closed

[2019-07-01 03:11] #26 closed

[2019-07-01 03:11] #41 closed

[2019-07-01 03:11] #78 closed

[2019-07-01 03:11] #93 closed

[2019-07-01 04:12] #113 closed

[2019-07-01 08:13] #258 closed

[2019-07-01 15:23] #120 closed

[2019-07-01 15:23] #155 closed

[2019-07-01 15:23] #181 closed

[2019-07-01 19:55] akutz opened #400 "ESXi support"
This issue is to track the discussion on whether or not CAPV should include support for deploying Kubernetes clusters directly on ESXi. PR #321 reintroduces support ESXi as it was previous part of CAPV for a short period prior to the 0.3.0 release.

| Concern | Risk |
|---------|------|
| Branching code paths | low |
| CI testing | high |
| Support costs | dependent on the previous two |

## Branc

[2019-07-01 20:38] akutz commented on #400
* Testing is easier with ESXi (@moshloop)
    * This doesn't necessarily provide the same coverage as the vCenter pipeline and by definition cannot cover all of the same features available to vCenter
    * @moshloop is prepared to own this feature
* Perhaps add it back but not for public/supported consumption, but rather for use by developers
    * Gate adding to list of supported platforms until

[2019-07-01 20:41] moshloop commented on #289
Issue #400 now covers this
/close

[2019-07-01 20:41] #289 closed

[2019-07-01 20:53] akutz commented on #229
/close

[2019-07-01 20:53] #229 closed

[2019-07-01 21:11] dougm commented on #400
The developer/resource issue that @moshloop described on the community call today isn't unique to CAPV.  Which has me wondering, what if we moved this to vcsim where in a nutshell:

* vcsim supports connecting a real ESXi host (some form of proxy)

* vcsim supports `CloneVM` in this mode using the logic/code that's currently in CAPV

There is some vCenter specific functionality already supported b

[2019-07-01 21:29] #29 closed

[2019-07-01 21:29] #123 closed

[2019-07-01 21:39] akutz commented on #400
I don't want to discount the use of the Gmock library already used by CAPA to provide a lot of unit testing. It can help add coverage where it's not strictly necessary to have a true backend.

[2019-07-02 05:36] ykakarap opened #401 "kube-controller-manager does not start if "vmFolder" is not provided in config"
"vmFolder" is an optional parameter to be set while generating the manifests. "vmFolder" in `VsphereMachineProviderConfig` defaults to an empty string while generating the manifests.

Using these manifests with `clusterctl` results in a management cluster in which `kube-controller-manager` does not work, resulting in a broken management cluster.

**Possible reason**:
Spinning up of `kube-controlle

[2019-07-02 06:23] yktsubo opened #402 "Getting started needs how to delete workload cluster"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The getting started has how to deploy workload cluster but doesn't have how to delete it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

When deleting clusters, there seems to be manner in order.
When I deleted cluster res

[2019-07-02 07:44] akutz commented on #401
The solution will be number two:

This falls under the issue discussed by @andrewsykim and myself regarding moving several cloud provider config settings to the cluster provider spec.

[2019-07-02 07:44] akutz commented on #401
By the way, awesome job catching this!

[2019-07-02 12:48] figo commented on #401
agree that fix should be number 2,
i guess moving several cloud provider config settings to the cluster provider spec is a separate effort, as long as VM folder needed in both cloud provider and vm clone, fix is needed.

good job @ykakarap, there is 1 or few more (not sure yet) capv issues with nimbus setup.

[2019-07-02 14:24] andrewsykim commented on #401
I might be missing some context, but if the in-tree vSphere provider requires VM folder to be set, then we should require that here otherwise storage plugins will not work?

[2019-07-02 14:33] akutz commented on #401
With some objects, like pools, folders, datastores, you can do a “GetThisOrDefault”. We do that for those objects, just not ahead of the construction of the cloud config.

/assign @akutz

I’ll fix this with a quick patch.

[2019-07-02 14:33] figo commented on #401
yes, folder is required field for in-tree provider vSphere,  it up to debate whether it should be required input from user, figure out default at runtime should work ( as long as user has permission to the default folder)

[2019-07-02 14:35] andrewsykim commented on #401
I would say that CAPV shouldn't try to find defaults here and should require an explicit VM folder. The default behavior should be something the cloud provider does and it should document clearly what happens if it is not set. My experience with vSphere in that area is lacking though so will defer to folks with more experience here.

[2019-07-02 14:36] figo commented on #401
@ykakarap might has a fix in working,  anyway, should be a straightforward fix.

[2019-07-02 14:41] akutz commented on #401
@ykakarap Sounds good, let me know when it’s ready.

@andrewsykim, except a lot of people don’t know the path of the default folder or pool, hence the reason these helpers exist. Trust me, it’s not something to put on users or the UX.

[2019-07-02 14:51] andrewsykim commented on #401
Good to know, thanks

[2019-07-02 16:10] ykakarap commented on #401
Thanks. I got great help from @figo in figuring this out.

@akutz  Sure. I will need some time to understand the code flow. I will keep you posted when I have an update.

[2019-07-02 16:10] ykakarap commented on #401
I will open other issues for them.

[2019-07-02 17:03] ykakarap commented on #401
/assign @ykakarap

[2019-07-02 17:29] moshloop commented on #400
I think @dougm's  idea for vcsim is brilliant

Maybe we add ESXi back in temporarily with the goal of replacing it with vcsim once it is made available ?

[2019-07-02 19:02] dougm commented on #400
Yes, adding back ESXi support for the short-term and possibly we can replace that functionality with the vcsim idea later on.

[2019-07-02 21:44] dougm commented on #401
I agree `FolderOrDefault` should not be used here.  Using `*OrDefault` for Datacenter, ResourcePool, Datastore, types is ok as it is possible there is only a single instance in the environment.  In the case of the `Folder` type, there will be a minimum of 5 instances: the root folder and each Datacenter has at least 4 folders (vm, host, datastore, network).  If CAPV were to provide a default folde

[2019-07-03 11:04] mylesagray commented on #402
In my testing if you want to destroy everything, delete the management cluster and it will cascade delete all the workload clusters, like so:

[code]

[2019-07-03 14:54] yktsubo commented on #402
Thanks for comment. Actually my intention is to delete cluster created by management cluster individually.  According to getting started, kubectl is used to create workload cluster. So I assumed kubectl is also used to delete workload clusters.
Now I wonder whether to use clusterctl command to create and delete workload cluster.

[2019-07-03 15:46] mylesagray commented on #402
Sorry for the confusion, `kubectl` indeed should be used to delete workload clusters individually - @andrewsykim may have more details on this though.

[2019-07-03 16:40] ykakarap commented on #401
@akutz Leaving the `VmFolder` option out of the cloudconfig does not create a problem while creating the VM but does create one while spinning up the `kube-controller-manager`. The `kube-controller-manger` needs the `Folder` option (which it is likely reading from the cloudconfig).We need to use the `FolderOrDefault` function to set the default folder value in the cloudconfig for this reason.

The

[2019-07-03 16:41] akutz commented on #401
Hi @ykakarap,

According to @dougm above if we use `FolderOrDefault` then the folder name in the cloud config may be set to `vm`.

[2019-07-03 16:57] ykakarap commented on #401
@akutz With this fix the `FolderOrDefault` will end up returning `"vm"` as the default folder.  I think this is more consistent as `"vm"` is generally the default folder and it makes sense to return that as the result of `FolderOrDefault`.

We wont have to add an extra check to see if the default folder is empty and then set it to "vm".

What are your thoughts?

[2019-07-03 16:59] akutz commented on #401
Hi @ykakarap,

I do not disagree. I'm saying there is a fix we can do in CAPV and there is a fix we can do in GoVmomi. Fix it in CAPV as is and file an issue to track the fix in GoVmomi and revisit this later. Heck, just add the empty string check in CAPV, and at some point, when we update the GoVmomi dependency, it won't ever be empty and the CAPV fix code won't be hit.

Either way, this unblocks

[2019-07-03 18:08] mylesagray commented on #400
This is likely going to be an unpopular opinion, but I don't think we can focus on ESXi support here as CAPV matures more and more things will draw gaps between ESXi and VC that simply cannot be implemented, for example using Content Library for deployment of these images is one enhancement for longer term that cannot be added without vCenter.

Additionally the complexity involved in attempting to

[2019-07-03 18:11] sidharthsurana commented on #400
+1 to @mylesagray comment above. I share the exact same sentiment.

[2019-07-03 18:45] tkrausjr opened #403 ""clusterctl create cluster" fails creating machines in default namespace"
/kind bug

Following the Getting Started Guide https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/v0.3.0/docs/getting_started.md

fails at the step for clusterctl create cluster.  Based on the logs and the error my clusterctl CLI cant authenticate to the Management cluster once its created. Probably doing something wrong but followed Getting Started Guide so we might have to make

[2019-07-03 18:47] akutz commented on #403
Hi @tkrausjr,

Did you try `--kubeconfig-out kubeconfig` or omitting that entirely (as it defaults to `kubeconfig` in the current directory). That flag takes a file path, not a directory.

[2019-07-03 18:52] akutz commented on #403
Hi @tkrausjr,

By the way, what does this mean?

Is that the OS from which you're running `clusterctl`?

[2019-07-03 19:21] andrewsykim commented on #402
That is correct, deleting workload clusters should involve running `kubectl delete -f` on the same manifest files you applied to create the cluster. I will follow-up with doc updates shortly. Thanks @yktsubo

[2019-07-03 21:44] tkrausjr commented on #403
@akutz
Yes I did try both with and without --kubeconfig-out.  I added --kubeconfig-out because I definitely think it has something to do with credentials (kubeconfig) file that is generated for the Management Cluster.  In my case it seems the underlying KIND implementation is generating a working at
 $HOME/.kube/kind-config-clusterapi

And that subsequent parts of the clusterctl are not using the

[2019-07-03 22:02] akutz commented on #403
Hi @tkrausjr,

Based on your logs, that was my immediate conclusion as well. I see `172` in your logs. Are you doing anything inside of a container?

[2019-07-03 22:18] #347 closed

[2019-07-04 02:10] shawnho1018 opened #407 "Inconsistent Machine-Set Healing Behavior"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am testing the Node Healing Capability on ClusterAPI. My guest cluster has 3 nodes. If I power off the third node, cluster api would re-poweron the shutdown node. However, if I power off the second node, the healing capability does not trigger.

**What did you expect to happen:**
Not s

[2019-07-04 02:57] shawnho1018 commented on #407
I found the log (and realize the healing cycle is 10 minutes. I don't want long enough the healing on 2nd node which leads to my wrong observation. I will close this ticket myself.

[2019-07-04 02:57] #407 closed

[2019-07-04 04:27] tkrausjr commented on #403
Not besides the container spun up by Kind for the management cluster.

[2019-07-04 07:20] moshloop commented on #400
@mylesagray If there an easily deployable OVA of a low resource (< 4GB RAM) vCenter to go along with @lamw's Nested ESXi appliance ?

@dougm could you comment on the potential timeline for vcsim support for ESXi ?

If either of the above solutions would be available/ready in a matter of weeks, then yes I would support dropping ESXi, if they are more medium-term goals then we should enable ESXi in

[2019-07-04 11:26] shawnho1018 opened #408 "Delete Cluster Object will result in machineset scale failed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
kubectl delete cluster [xxxx] will remove the existing cluster in kubectl but machineset/machine remains. However, when I test kubectl scale machineset [] --replicas, cluster does not grow as I expected.

**What did you expect to happen:**
Number of node should increase as replicas indic

[2019-07-04 11:28] shawnho1018 opened #409 "Externally delete VM won't automatically heal"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If I use kubectl delete machine to delete a VM, clusterapi will automatically grow one back. However, if I manually delete one VM from vCenter, clusterapi won't remedy the cluster.

**What did you expect to happen:**
clusterapi should resurrect the node.

**Anything else you would like t

[2019-07-04 11:31] shawnho1018 opened #410 "[docs] add network requirements in readme.md"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Hope our document should explicitly specify
1. the config client must connect to control-plane VM or the installation would fail.
2. addon.yaml should apply to the workload cluster not management cluster

**Anything else you would like to add:**
[Miscellaneous information that will ass

[2019-07-04 12:03] pathcl commented on #403
Im running into the same issue with kind 0.3.0/0.4.0. Also tried to change the image for ' gcr.io/cnx-cluster-api/vsphere-cluster-api-provide' but now Im stuck here:

`
E0704 12:01:54.353989       1 actuator.go:143] [cluster-actuator]/cluster.k8s.io/v1alpha1/default/my-cluster "msg"="unable to get client for target cluster" "error"="failed to retrieve kubeconfig secret for Cluster \"my-cluster\" i

[2019-07-04 14:02] lamw commented on #400
@moshloop Regarding the VCSA resources, there's definitely no VCSA that can be deployed <4GB today :( In fact, the VCSA has gotten larger over the years and today, the default "Tiny" is 10GB of memory. You can tune it down by a few GB, but you'll most likely run into issues with anything less than 6-8 (not tried 6 in latest version).

I think VCSIM + my Nested ESXi image could work out depending o

[2019-07-04 14:14] akutz commented on #409
Kubernetes is the author of state, not the backend platform. If you remove a machine in the backend, it *will* be reconciled eventually, but not for several cycles.

[2019-07-04 14:15] akutz commented on #410
Doesn’t the doc note requirement one? Also, the second note is incorrect. The addons is primarily for the management cluster bootstrapped with clusterctl, not the workload clusters (although it could be used for that as well if you want).

[2019-07-04 14:18] akutz commented on #403
Hmm, I’m beginning to wonder if y’all’s manifests are using the correct images. Can you please post your provider components?

[2019-07-04 16:01] pathcl commented on #403
Indeed I went for git clone && make dev-push to create my own image since
0.3.0 didn't work for me

On Thu, Jul 4, 2019 at 16:18 Andrew Kutz <notifications@github.com> wrote:

[2019-07-04 16:19] shawnho1018 commented on #410
Hi, I hope to clarify my earlier statement. Don't want to get you confused.
The addon I meant is the addon.yaml in workload folder, not the one for management cluster folder. This addon.yaml is mainly for Calico deployment for now. It should be applied to workload cluster. If it does not apply,  workload cluster would be in Not-Ready state. I have to manually apply addon.yaml kubectl --kubeconfig

[2019-07-04 16:19] akutz commented on #403
Hi @pathcl,

FWIW, I am going to personally remove the `*-yaml` and `*-push` targets as they cause more issues than provide solutions. People should use `generate-yaml.sh` directly:

[code]

Please let me suggest the following:

[code]

A few things:

* The `-d` flag on `hack/generate-yaml.sh` disables the environment variable validation. Ideally you'd `source ENV_VAR_FILE` before invoking `genera

[2019-07-04 16:24] shawnho1018 commented on #409
Hi,
I actually waited for 7 hours (from 11:00AM this morning until 5:00PM this afternoon) and the deleted machine was not reconciled. I then use kubectl delete machine [machine-name] to reproduce the machine.
If I understand correctly, the cycle you meant is 10 minutes, monitored by the pod in management cluster, right? I

I happened to have today's log:

Time zone is in UTC+0.
[code]

[2019-07-04 16:27] akutz commented on #410
Hi @shawnho1018,

That is correct. I too was confused by this when I started working on Cluster API a month ago. I initially operated under the assumption that the goal of a CAPI provider is to deploy clusters on which workloads may be scheduled. It turns out that was a false assumption.

It was the agreement of the Cluster API community that applying CNI to anything other than the initial managem

[2019-07-04 16:30] akutz commented on #409
Hi @shawnho1018,

Thank you for these logs. There is indeed a bug here. What's happening is that the machine object in Kubernetes has the `MachineRef` set and no `TaskRef` exists for this machine, and so that asserts that the VM must exist.

What **should** happen instead is iff:

* the `MachineRef` is set
* there's no `TaskRef`
* and the VM can't be found

The `MachineRef` should be removed, caus

[2019-07-04 16:30] akutz commented on #409
/assign @akutz

[2019-07-04 16:35] shawnho1018 commented on #410
Thanks for your explanation. It's clear to me now.
I simply hope to add this "hint" in the readme.md since addon.yaml is the only yaml applied to a different target. All others, including machine, machineset, cluster.yaml, were all applied to management cluster, which have been clearly documented.

[2019-07-04 18:35] akutz commented on #409
Hi @shawnho1018,

I don't suppose you have time to test the fix? If you don't, or are not sure how to test it (building a new image, etc.), then don't worry about it :)

[2019-07-04 19:32] pathcl commented on #403
@akutz thank you! I'll try it out tomorrow morning and come back with results. Indeed today I was able apply machines.yaml/machinesset.yaml/cluster.yaml after the workaround. Im not that familiar with the codebase yet

[2019-07-05 08:45] shawnho1018 commented on #409
Dear Andrew,
Actually, I hope to learn how to fix it and then test it. I pull your modification and will try to use the current tool for a quick testing.

Sincerely,
--
Tzunghsien (Shawn) Ho

Solution Architect @ VMware
+886-920-201-322
hos@vmware.com<mailto:hos@vmware.com>
[signature_1634399214]

From: Andrew Kutz <notifications@github.com>
Reply-To: kubernetes-sigs/cluster-api-provider-vsphere <

[2019-07-05 15:34] figo opened #413 "generate ssh key pair for VM if user does not set sshAuthorizedKeys"
/kind feature

**Describe the solution you'd like**
generate ssh key pair of VM if user does not set sshAuthorizedKeys, so that user can SSH to vm for debugging

**Anything else you would like to add:**
N/A

cc @akutz

[2019-07-05 22:52] #409 closed

[2019-07-06 04:10] #23 closed

[2019-07-06 04:10] #46 closed

[2019-07-07 13:25] vincenthanjs opened #415 "unable to create control plane machine: timed out waiting for the condition"
/kind bug

**What steps did you take and what happened:**

root@ubuntu:~/cluster-api-provider-vsphere/out/my-cluster# clusterctl create cluster --provider vsphere --bootstrap-type kind -c cluster.yaml -m machines.yaml -p provider-components.yaml --addon-components addons.yaml
I0705 21:16:09.041966   10874 createbootstrapcluster.go:27] Preparing bootstrap cluster
I0705 21:17:41.882087   10874 clust

[2019-07-07 21:13] akutz opened #417 "Please allow for custom requeue values"
/kind feature

**Describe the solution you'd like**
Currently requeues are issued with a `20s` duration. This value should be modifiable for more rapid dev and test, but also due to varying speeds of back-end implementations.

PR #392 suggested reducing the default requeue time to `3s`:

* Three seconds is much too short based on testing [I've seen on VMC](https://github.com/kubernetes-sigs/cluste

[2019-07-07 22:51] #44 closed

[2019-07-07 23:52] #45 closed

[2019-07-08 06:19] moshloop commented on #417
/nit - I don't know if this perhaps adds too many configuration options

I am happy as long as we have a way to configure the requeue to reduce the feedback loop time.

[2019-07-08 06:21] moshloop commented on #413
Why doesn't sshAuthorizedKeys solve this use case?

[2019-07-08 06:24] moshloop commented on #186
/remove-lifecycle rotten
Note changes in gitbooks business model don't make it a good fit anymore

https://github.com/kubernetes-sigs/cluster-api/issues/1122

[2019-07-08 06:27] moshloop commented on #175
/remove-lifecycle rotten

[2019-07-08 06:27] moshloop commented on #54
/remove-lifecycle rotten

[2019-07-08 06:27] moshloop commented on #54
/remove-lifecycle stale

[2019-07-08 14:30] tkrausjr commented on #403
Here are my Provider Components.
[code]

As for the correct workflow. It looks like the clusterctl command is both trying to provision the management cluster AND the Target and there is no command switch to JUST create bootstrap cluster.  Are you saying for now I should do something like this to create bootstrap cluster ?

`clusterctl alpha phases create-bootstrap-cluster <> <>`

Then use hack/gen

[2019-07-08 14:56] frapposelli commented on #194
/remove-lifecycle rotten

[2019-07-08 15:24] #194 closed

[2019-07-08 15:56] #417 closed

[2019-07-08 18:38] #401 closed

[2019-07-08 20:32] ykakarap commented on #415
@vincenthanjs Can you please provide the `machines.yaml` file used.

[2019-07-09 15:06] dougm commented on #400
@moshloop I have a few other items to wrap up first (including some PTO), but could shoot for a prototype in the next few weeks.  I started to experiment this weekend and need to think about which direction to take, trying to keep it as simple as possible.  I'll share more info when I can.

[2019-07-09 21:16] tkrausjr commented on #403
Hi @pathcl  - I was still unable to get this working using @akutz specific instructions. Not sure what I am missing or what I can provide here to help others point me in the right direction.  I will start to look at the code more over next few days but now guessing my generated manifests perhaps network settings are incorrect.

[2019-07-09 21:22] akutz commented on #403
Hi @tkrausjr,

If you're using the current `master` to generate YAML you can't use 0.3.0 or 0.1.3. That could be an issue.

[2019-07-10 02:16] tkrausjr commented on #403
Yes I saw that from previous comment. I am using updated images in provider.yaml
[code]
Here are the steps I followed.
[code]
Where am I going wrong ?

[2019-07-10 02:23] tkrausjr commented on #415
I am having the same issue. See below.
[code]
My machines.yaml file being used:
[code]

[2019-07-10 03:07] ykakarap commented on #415
The `resourcePool` is probably the issue. I had the same issue. If 'Physical-CAPV' is the name of your resource pool then provide just 'Physical-CAPV' as `resourcePool` (without the "*/"). Providing the complete path like "*/Resources/<path>/<to>/<pool>/Physical-CAPV" also works. But using "*/Physical-CAPV" does not work.

Please re-try with just 'Physical-CAPV'.

[2019-07-10 03:49] tkrausjr commented on #415
Thanks. Retried with updated Full Path for ResourcePool and VM Folder and same results. See updated machines.yaml.  Is there any logs or easy way to determine if the issue is with the bootstrap KIND cluster or the vSphere parameters ?

[code]

[2019-07-10 03:51] tkrausjr commented on #415
This looks like it could be a Duplicate of #403

[2019-07-10 15:26] tkrausjr commented on #403
It looks like the reconcile is failing because of credentials. Specifically an inability to find a Secret in the Default namespace.

[code]
Looking in Default Namespace of the Bootstrap cluster. I see a Secret for default Service Account Credentials.
[code]

[2019-07-10 20:49] ykakarap commented on #415
The way I generally check if the `resourcePool` name I am using is acceptable or not is to use [govc](https://github.com/vmware/govmomi/tree/master/govc) to get the info of the resource pool using the specific name.
[code]
If it is able to fetch the information then I consider it acceptable.

@tkrausjr can you retry with just the name of both the folder and resourcepool.
[code]

Also,  are you try

[2019-07-11 00:15] akutz commented on #403
Hi @tkrausjr,

So this line is definitely an issue:

[code]

That should be:

[code]

or

[code]

I recently did a deep-dive on what values are valid for inventory objects. For example:

[code]

Now, if I want to reference `Compute-ResourcePool` I can do one of the following:

[code]

**or**

[code]

But what I **cannot** do is to just prefix the name with a wildcard:

[code]

Any inventory object

[2019-07-11 15:48] akutz opened #427 "Activity diagrams for central workflows"
/kind feature

# Activity diagrams

This issue tracks the creation of activity diagrams for all of the CRUD operations for the Cluster API provider for vSphere's (CAPV) cluster and machine workflows. This includes:

* Cluster
	* Reconcile
	* Delete
* Machine
	* Create
	* Update
	* Delete
	* Exist

## Requirements

The solution should:

* Use PlantUML to build plain-text, activity diagrams that may

[2019-07-11 16:40] tkrausjr commented on #403
Thanks @akutz . Tried with your format and I have the same error. I have attached my machines.yaml, cluster.yaml, and provider-components.yaml  to see if you see anything else.

[code]
[cluster.yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/3383076/cluster.yaml.txt)
[cluster.yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/3383077/clu

[2019-07-11 16:43] tkrausjr commented on #415
Thanks @ykakarap  Might make sense move this over to Issue #403. Dont want two people spending time on this if they dont have to. Working with @akutz and tried same thing he suggested.

[2019-07-11 16:54] ykakarap commented on #403
@tkrausjr silly question. Just wanted to confirm if you are replacing the `$VSPHERE_USERNAME` in you `cluster.yaml` with the correct user name when you are using it.

[2019-07-11 17:03] ykakarap commented on #427
/assign @ykakarap

[2019-07-11 17:04] ykakarap commented on #427
/unassign @ykakarap

[2019-07-11 17:11] tkrausjr commented on #403
Yes I did. I updated cluster.yaml.txt above to reflect that.  Isnt there something fundamentally wrong based on these logs on bootstrap cluster ?

[code]

[2019-07-11 19:52] akutz opened #429 "Validating inputs"
/kind feature

# Validating inputs

When an initial target cluster deployment with `clusterctl` fails, it's often an opaque experience. When the failure is due to invalid inputs, it's frustrating twice over since there is no reason these inputs could not be validated ahead of the bootstrap process.

This issue tracks the creation of a Golang package in CAPV to validate the manifests for `Cluster`

[2019-07-11 20:36] vijaykatam commented on #403
I am seeing a similar issue with logs from capi pod complaining about `ProviderID`. From what I can gather the error message `"unable to get client for target cluster" "error"="failed to retrieve kubeconfig secret for Cluster \"capv-target\" in namespace \"default\": secret not found` from capv pod is expected until the cluster is created.

[code]

[2019-07-11 20:41] pathcl commented on #403
The way I solved was to use  a different image:  gcr.io/cnx-cluster-api/vsphere-cluster-api-provider:33dec11d-dirty instead of 0.3.0

[2019-07-11 21:15] tkrausjr commented on #403
Awesome thanks. I was using akutz/capv:v0.3.0-34-gc7baf504. Will try that shortly and report back.

[2019-07-11 21:37] pathcl commented on #403
If that doesnt work I also created an image using make dev-push: pathcl/vsphere-cluster-api-provider:0.3.0

[2019-07-11 21:38] akutz commented on #403
All, the image I pushed is off of master. I'm sure this is all because y'all are mixing images with manifests that don't support them. I posted a few days ago a complete config. I'll try to find time to throw up another.

[2019-07-12 00:14] ykakarap commented on #403
If you are referring to this log:
[code]
then it is totally fine.

If I am correct, and @akutz can correct me if I am wrong, the `machine` and the `cluster` both are simultaneously running their "reconcile" cycles (the logical cycles, not the actual methods). The `cluster` reconcile cycle keep repeatedly checking to see if a kubeconfig secret is available. Upon not finding the secret it re-queues

[2019-07-12 00:40] akutz commented on #403
Indeed. Reconciliation takes a while. I’m on my phone, but perhaps @ykakarap can provide a link to the issue with the diagram for the machine reconciliation process. It’s incomplete, but should provide some idea of how things work.

[2019-07-12 00:58] tkrausjr commented on #403
Success. Thanks for all the help on this. I switched over to image: **gcr.io/cnx-cluster-api/vsphere-cluster-api-provider:33dec11d-dirty**  and I now have a Management cluster running on vSphere.

So the root cause of this was a disconnect between the most recent version of clusterctl and the v0.3.0 Release which is what I was specifically using ?  The images that are referenced when you run gener

[2019-07-12 01:01] ykakarap commented on #403
Here is the link: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/427

[2019-07-12 01:01] akutz commented on #403
You've described the problem solved by #412, and the comment https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/403#issuecomment-508531894 in this issue describes a solution.

I don't think people were regenerating the manifests.

[2019-07-12 01:03] vijaykatam commented on #403
I understand the reconciliation process, I think it would be less confusing if the log was info and not error.

There is also a bug in the machine actuator that creates a configmap to determine if a control plane exists. The config map gets created even if there was error creating the control plane vm(s) and reconcile process keeps looping waiting for the non-existent control plane to come up.

ht

[2019-07-12 01:04] akutz commented on #403
This handles the happy path for now.

Kubernetes is built on errors until reconciliation is met. It's just the way it is. And yes, it will keep looping. CAPI will eventually implement a hard timeout. That's all there is to do at this time.

[2019-07-12 01:06] akutz commented on #415
/close

[2019-07-12 01:06] #415 closed

[2019-07-12 01:08] akutz commented on #403
Hi @vijaykatam,

PR #387 has the original safe-init logic. There are diagrams that describe it as well.

# Machine message loop - admission

![machine message loop - admission](https://raw.githubusercontent.com/kubernetes-sigs/cluster-api-provider-vsphere/master/docs/design/cluster-admission-machine-controller.svg?sanitize=true)

# Cluster message loop - admission

![cluster message loop - admissi

[2019-07-12 01:18] vijaykatam commented on #403
Hi @akutz, maybe I wasn't clear. Let me describe the scenario.

1. Create cluster and machine resources. The machine spec has invalid template or resources.
2. The machine actuator creates a configmap with name `uuid`-controlplane.
3. Tries to create control plane using `govmomi.Create` but fails.
4. Reconcile loop doesn't try again to create control plane due to existence of above config map even

[2019-07-12 16:21] akutz opened #431 "Mark machine in error if VM cannot be cloned because same name exists"
/kind feature

**Describe the solution you'd like**
If VM cannot be cloned because it already exists then mark the machine in error.

**Anything else you would like to add:**

[2019-07-12 20:09] #403 closed

[2019-07-12 20:17] tkrausjr commented on #429
/assign tkrausjr

[2019-07-14 02:33] vincenthanjs commented on #415
root@ubuntu:~/cluster-api-provider-vsphere/out/my-cluster# cat machines.yaml
apiVersion: cluster.k8s.io/v1alpha1
kind: MachineList
items:
- apiVersion: cluster.k8s.io/v1alpha1
  kind: Machine
  metadata:
    name: "my-cluster-controlplane-1"
    labels:
      cluster.k8s.io/cluster-name: "my-cluster"
  spec:
    providerSpec:
      value:
        apiVersion: vsphereproviderconfig/v1alpha1

[2019-07-15 20:07] frapposelli commented on #54
/assign @codenrhoden

[2019-07-15 20:08] frapposelli commented on #54
maybe considering a lower priority for this specific issue

[2019-07-15 20:10] tkrausjr opened #433 "VSPHERE_USERNAME Env Var mismatch in GSG & generate-yaml.sh"
/kind bug
/doc

**What steps did you take and what happened:**
Both GSG (https://github.com/tkrausjr/cluster-api-provider-vsphere/blob/master/docs/getting_started.md) and hack/generate-yaml.sh  have errors in one of the Environment Variables being exported that is used in the hack/generate-yaml.sh script. Can change the code or the GSG.
This line in GSG:
export VSPHERE_USER=viadmin@vmware.local

[2019-07-15 20:10] tkrausjr commented on #433
/assign tkrausjr

[2019-07-15 20:12] frapposelli commented on #217
Is this a prereq for linked clones?

[2019-07-15 20:29] frapposelli commented on #400
Let's freeze this issue for about a month and see what progress can be made in supporting this use case with `vcsim`.

[2019-07-15 20:35] frapposelli commented on #413
ref: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/416#issuecomment-511559445

[2019-07-16 09:10] andrefelixbr opened #435 "Can not create cluster using CAPV lastest version V.0.3.XX"
/kind bug

 **DISCLAIMER**: The issue is when using the version v0.3.0-65-g14293965. The latest version for this ticket creation date. It's running fine on version v.0.3.0.

**What steps did you take and what happened:**

  I'm following the get started on CAPV https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md. I'm blocked on  "Using clusterctl".

[2019-07-16 12:42] figo commented on #435
@andrefelixbr could you check the provider-component.yaml, is it still point to `/root/manager`? please run `generate-yaml.sh` to update the yamls since you updated the capv version.

[2019-07-16 13:04] andrefelixbr commented on #435
@figo there is no info on provider-component.yaml pointing to "/root/manager". See **my provider-components.yaml** attached. [provider-components.yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/3397081/provider-components.yaml.txt)

Actually, I didn't update my capv version. I executed with the latest version first as it didn't work I cloned version v0.3.0 separatel

[2019-07-16 13:58] figo commented on #435
@andrefelixbr my previous comment is wrong, that is for the much older version of yaml.

look at your yaml, it is point to `image: gcr.io/cnx-cluster-api/vsphere-cluster-api-provider:0.3.0`
which is the released version, where are you trying to apply `version v0.3.0-65-g14293965`?

[2019-07-16 14:12] tkrausjr commented on #435
@ andrefelixbr  Does you cluster.yaml have the correct parameter set in ProviderSpec for vSphere username ?

[2019-07-16 14:27] andrefelixbr commented on #435
@figo, if you clone the current version of capv and execute **git describe --tags** you'll see the version
v0.3.0-65-g14293965.

This is image: gcr.io/cnx-cluster-api/vsphere-cluster-api-provider:0.3.0 image version and
version **v0.3.0-65-g14293965** is the repository tag.

[2019-07-16 14:45] andrefelixbr commented on #435
@tkrausjr yes, it does.

[2019-07-16 15:33] figo commented on #435
did u compile base on repo and generate the new image? the new image should be version like
```image: gcr.io/cnx-cluster-api/vsphere-cluster-api-provider:14293965```

[2019-07-16 15:35] akutz commented on #435
Hi all,

The tags now use `git describe`. This is pretty straight-forward and simply an artifact of something handled in the upcoming #412. Here's an example of what to do: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/403#issuecomment-508531894.

Please note that we don't use the `Makefile` anymore, and when you generate YAML, please specify the manager image to use with

[2019-07-16 18:06] tkrausjr commented on #433
PR Passed Tests and Accepted

[2019-07-16 18:06] #433 closed

[2019-07-16 21:59] tkrausjr opened #438 "Docker instructions for Workload Cluster Manifest generation have error"
/kind bug

**What steps did you take and what happened:**
Using Docker Instructions in GSG to generate a Workload Cluster manifests fails because` docker -v Volume bind ends up creating a directory out of envvars.txt`

**What did you expect to happen:**
I expected a generated set of manifests for a workload cluster.

**Anything else you would like to add:**
[code]

**Environment:**

- Cluster-api-

[2019-07-16 22:51] akutz commented on #438
Hi @tkrausjr,

Was `envvars.txt` an existing file? The above command works for me:

[code]

It will create that as a directory if there isn't a file named `envvars.txt` per [the instructions](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md#generating-yaml-for-the-bootstrap-cluster).

[2019-07-16 23:10] akutz commented on #435
PR #412 has been merged. Can you please try with the docs now? Thanks!

[2019-07-17 11:12] andrefelixbr commented on #435
Hi @akutz, it works smoothly with new instructions on **Get started**. Thanks!!

Closing this ticket now.

Thanks @figo and @tkrausjr for the support.

[2019-07-17 11:12] #435 closed

[2019-07-17 15:10] tkrausjr commented on #438
Thanks @akutz . Worked through that but I found something else. the hack/generate-yaml.sh file in the Docker Image gcr.io/cluster-api-provider-vsphere/release/manifests:latest  needs to be updated with the changes we made in #434 to change VSPHERE_USER to VSPHERE_USERNAME

[code]

[2019-07-19 15:41] akutz opened #444 "Use generated instead of committed specs for pre-submit e2e test"
/kind feature

**Describe the solution you'd like**

Currently the e2e pre-submit uses spec files from [`./scripts/e2e/bootstrap_job/spec`](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/tree/master/scripts/e2e/bootstrap_job/spec). However, this requires updating them every time any change occurs to CRDs, RBAC, etc.

This issue tracks the work required to use [`./hack/generate-yam

[2019-07-19 16:09] akutz commented on #438
Hi @tkrausjr,

Can you please confirm whether or not this is still a problem?

[2019-07-19 23:52] akutz commented on #438
I've tested it, and this is fixed.

/close

[2019-07-19 23:52] #438 closed

[2019-07-20 04:10] ylvmw opened #447 "Actuator"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-07-20 04:10] #447 closed

[2019-07-24 14:02] yktsubo opened #450 "Failed to create management cluster by kind"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Followed getting started and failed to deploy management cluster by kind.
In clusterclt create process, those errors were seen.

[code]

**What did you expect to happen:**

Management cluster is successfully deployed.

**Anything else you would like to add:**
[Miscellaneous information

[2019-07-24 17:23] ykakarap commented on #444
/assign @ykakarap

[2019-07-24 17:26] akutz opened #453 "Generated manifests should be modifiable on the local host"
/kind feature

**What steps did you take and what happened:**
The Getting Started guide has the following command:

[code]

However, the above command produces manifests with a permissions level that prevents modification on the host.

**What did you expect to happen:**
The manifests should be modifiable on the host.

**Anything else you would like to add:**
The fixed command is:

[code]

However,

[2019-07-24 17:44] akutz opened #454 "A control plane endpoint sans port should still be valid"
/kind bug

**What steps did you take and what happened:**
When a `ControlPlaneEndpoint` in the cluster provider spec's cluster config is specified without a port the following error occurs in the vSphere manager:

[code]

This should not occur.

**What did you expect to happen:**
A control plane endpoint value without a port should still be valid.

**Environment:**

- Cluster-api-provider-vsphere

[2019-07-24 17:48] akutz opened #455 "Setting ControlPlaneEndpoint results in invalid endpoint value"
/kind bug

**What steps did you take and what happened:**
When a `ControlPlaneEndpoint` in the cluster provider spec's cluster config is specified, the kubeconfig has an invalid endpoint value. For example:

#### `cluster.yaml`

[code]

#### `machines.yaml`

[code]

In the vSphere manager logs the following errors occur:

[code]

The error is originating from [this](https://github.com/kubernetes-s

[2019-07-24 20:51] #453 closed

[2019-07-24 20:53] ykakarap commented on #427
/assign @ykakarap

[2019-07-24 20:55] ykakarap commented on #427
@akutz Are we planning to move to CAPI v1alpha2 in the coming days? If so, is it suggested to make these diagrams after we move to v1alpha2, possibly because there will be changes?

[2019-07-24 20:57] akutz commented on #427
Hi @ykakarap,

I opened that topic [for discussion](https://kubernetes.slack.com/archives/CKFGK3SSD/p1563560454007400) on July 19th and have yet to have any feedback from the CAPV community. @ncdc responded, and I'm inclined to agree that sooner is better. I'm currently putting together what a move to v1alpha2 means for CAPV. Still, I don't think it hurts to have diagrams of v1a1 since people may

[2019-07-24 21:31] ykakarap commented on #427
Ok. I will work on it.

This will also help me understand what changes we might need when moving to v1a2.

[2019-07-25 15:03] moshloop opened #461 "On-Premise HA Support"
With most of the development and testing of CAPV happening on VMC, I think it is important to outline the plan for supporting traditional on-premise workloads that CAPV is intended for.  I would guess that most people who are deploying in AWS will use CAPA and not CAPV on VMC.

[2019-07-25 15:08] akutz commented on #461
VMC on AWS does not mean AWS. VMC on AWS is bare metal vSphere on AWS.

[2019-07-25 15:17] moshloop commented on #461
VMC means not on-premise - CAPV needs to cater for on-premise environments as that is where 99.9% of vSphere is deployed.

[2019-07-25 16:08] akutz commented on #461
Fair. I suggest rewording the problem description to focus on 'on-prem' as the distinction of AWS vs VMC on AWS. FWIW, VMC on AWS is actually marketed as "on-prem in the cloud," so the distinction may not be as clear as you might think it should be.

[2019-07-25 16:52] akutz commented on #461
FWIW, I've had conversations with colleagues at VMware germane to this issue. I'm going to copy some of those details below:

[2019-07-25 16:56] akutz commented on #461
Hi @timothysc,

I suggest using this issue to discuss HA support for CAPV moving forward. Please also read the above comments to make sure the scope of this issue is understood. This issue refers to HA access:

* to the control plane endpoints
* from clients external to the cluster

Solutions that provide HA access for the API server for clients inside the cluster or are focused on HA for K8s serv

[2019-07-26 05:15] ylvmw opened #465 "Failed to create management cluster"
/kind bug

**What steps did you take and what happened:**
I failed to create the management cluster with the version v0.4.0-beta.2.

The create task failed with: unable to create control plane machine: timed out waiting for the condition

Generating YAML command:
docker run --rm \
  -v "$(pwd)":/out \
  -v "$(pwd)/envvars.txt":/envvars.txt:ro \
  gcr.io/cluster-api-provider-vsphere/release/manifes

[2019-07-26 18:59] andrewsykim commented on #465
/assign

[2019-07-26 19:02] jpweber commented on #465
Additional information, I see this issue _only_ when I have multiple interfaces specified in my `machines.yaml` file

example
[code]

[2019-07-26 21:35] akutz commented on #39
/close

[2019-07-26 21:35] #39 closed

[2019-07-26 21:42] akutz commented on #74
/remove-lifecycle rotten.

[2019-07-29 02:10] ylvmw commented on #465
@jpweber I only have one interface, the detailed machines.yaml

apiVersion: cluster.k8s.io/v1alpha1
kind: MachineList
items:
- apiVersion: cluster.k8s.io/v1alpha1
  kind: Machine
  metadata:
    name: "management-cluster-controlplane-1"
    labels:
      cluster.k8s.io/cluster-name: "management-cluster"
  spec:
    providerSpec:
      value:
        apiVersion: vsphere.cluster.k8s.io/v1alpha1

[2019-07-29 14:43] yastij opened #468 "add support for VMC"
/kind feature

**Describe the solution you'd like**

Machines deployed in VMC are not accessible from the public internet by default, and the ability to link an SDDC to AWS to utilize AWS services such as ELB provides a useful solution to this problem and more (e.g. HA setups).

we need to add the ability to provision an ELB  for clusters deployed to VMC on AWS

/assign

**Anything else you would

[2019-07-29 15:50] andrewsykim opened #469 "Machine actuator errors on multiple network devices even if some are valid"
/kind bug

**What steps did you take and what happened:**
See this comment https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/465#issuecomment-515565029. The 2nd network device is invalid because it has dhcp disabled but no static IP addrs is defined but the 1st network device should still be used for the control plane endpoint.

**What did you expect to happen:**
When there ar

[2019-07-29 15:51] andrewsykim commented on #469
cc @jpweber @akutz
/assign

[2019-07-29 17:53] akutz commented on #314
I've spent the last several days working on a PR to address the second item called out in this issue description -- the configuration of the vSphere cloud provider when deployed with CAPV.

This work has solved problems, but also raised new points of discussion. I am writing this comment to set the context for the discussion of how to align the vSphere cloud controller manager and CAPV with respec

[2019-07-29 19:43] akutz opened #472 "Migrating to CAPI v1alpha2"
This issue tracks the work necessary to update the `master` branch to CAPI v1alpha2.  All work is based on the guide for [_Updating v1alpha1 providers to v1alpha2_](https://github.com/akutz/cluster-api/blob/feature/update-provider-to-v1alpha2-docs/docs/developer/update-v1alpha1-provider-to-v1alpha2-infra-provider.md).

# Cluster API Provider ([link](https://github.com/kubernetes-sigs/cluster-api))

[2019-07-29 19:54] akutz commented on #329
Hi @moshloop,

Is there anything you need to move forward on this?

[2019-07-29 19:54] rbankston opened #473 "Typo in error message"
/kind bug

**What steps did you take and what happened:**
Creating aCAPV cluster but failed at setting the template location correctly. The error in the logs state:

 1 machine_controller.go:229] Failed to create machine "capv-mgmt-example-controlplane-1": unable to find tempate by name "ubuntu-18.04-kube-1.15.0": vm 'ubuntu-18.04-kube-1.15.0' not found

**What did you expect to happen:**

Didn't

[2019-08-01 22:43] andrewsykim opened #477 "Crypto verification error when creating cloud provider secret"
/kind bug

**What steps did you take and what happened:**
Clusterctl errored with the following when creating a management cluster:
[code]

This stalled the bootstrap process. I couldn't reproduce it after the first time around.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Clust

[2019-08-02 16:46] jpweber opened #479 "Documentation update in troubleshooting doc"
Under the Preferring an IP Address section the example yaml is as follows
[code]

`preferredAPIServerCidr: "192.168.5.0/24"` needs to be before `devices:` or after all the networks that are properties of `devices`.

A working exmaple
[code]

[2019-08-04 01:28] #195 closed

[2019-08-04 01:28] #182 closed

[2019-08-04 02:29] #119 closed

[2019-08-05 09:55] sujeet-banerjee opened #480 "[CAPV][Clusterctl] Misleading logs while creating cluster - 'unable to get client for target cluster: failed to retrieve kubeconfig secret for Cluster "management-cluster" in namespace "default": secret not found'"
/kind bug

**What steps did you take and what happened:**
I followed steps: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/troubleshooting.md

I gave the incorrect "ResourcePool" name in envvars.txt

CLI: bin/clusterctl create cluster -a ./out/management-cluster/addons.yaml -c ./out/management-cluster/cluster.yaml -m ./out/management-cluster/machines.yaml -p ./out

[2019-08-05 10:37] sujeet-banerjee opened #481 "[CAPV] Should allow specifying more details to avoid ambiguity in the provider/machine spec"
/kind feature

**Describe the solution you'd like**
Currently, the machine/machineset requires "ResourcePool" name/reference. However, the provider-controller fails to create a cluster if there is another vC resource-pool with the same specified name (with a different vSpere-cluster, in the same VC). The user has no option but to remove/rename the resource-pool from another cluster in his/her vCen

[2019-08-06 09:10] sujeet-banerjee commented on #175
Short Answer: No. Without-DRS, it won't be effective.

Long Answer:
#1 One may use VM-Host rules without the "DRS enabled" on a vShpere cluster. However, the worker nodes will not be auto-migrated (or vMotioned) to support a balanced spread of the nodes across Hosts (i.e. HA in true sense). And CRDs do not expose Host details.
#2 That also means "vMotion" must be enabled for the Hosts.
More Detail

[2019-08-06 09:26] moshloop commented on #175
@sujeet-banerjee Can you create a google doc for commenting and review?

vMotion is something I believe should be turned off for kubernetes clusters as it conflicts with kubernetes view of the system. If a host fails then kubernetes should reschedule the pods that become not ready, cluster-api machineset should then detect unresponsive nodes, and create new ones.

Same applies to DRS, it should be

[2019-08-06 11:28] dkirrane opened #483 "Windows clustercli binary release"
/kind feature

**Describe the solution you'd like**
Currently only Linux binaries are available for `clustercli`.
Would it be possible to also build a Windows `clustercli.exe`

**Environment:**

- Cluster-api-provider-vsphere version: latest
- Kubernetes version: (use `kubectl version`): latest
- OS (e.g. from `/etc/os-release`): Windows 10 Enterprise 64-bit

[2019-08-06 15:29] andrewsykim commented on #175
+1 to this, please use Google docs so we can comment/review :)

[2019-08-06 16:53] jpweber opened #485 "Cannot bind kube-apiserver to specific NIC in a machine with multiple valid interfaces"
/kind bug

**What steps did you take and what happened:**
I have a VM with IPV4 interfaces. One Static one DHCP. Both on different Networks. Because of how `DataSourceVMwareGuestInfo.py` plumbs the IP information from cloud-init to the `kubeadm.conf template` I cannot force the kube-apiserver to come up on the address I want.

I then took the approach of passing in kubeadm config properties throug

[2019-08-06 16:57] andrewsykim commented on #485
/assign

[2019-08-06 23:58] #444 closed

[2019-08-07 06:31] sujeet-banerjee commented on #175
Could you point me to the shared location where I could add the doc?

[2019-08-07 10:16] sujeet-banerjee opened #488 "[CAPV][Machine Create][Cloning] Clusterctl bails out leaving an in-progress VM cloning in vSPhere, and cannot resume from where it left in the next run."
/kind bug

**What steps did you take and what happened:**
I ran,

VM cloning took almost 48 minutes for my vCenter, and in the meantime, the clusterctl bailed out leaving an in-progress VM cloning. When I re-ran the clusterctl..., it did not pick the state from where it bailed out the last time - leaving a dangling VM 'management-cluster-controlplane-1' (in powered-Off state).

Clusterctl logs:
"W

[2019-08-07 15:21] jpweber opened #490 "A mechanism to provider a query string for choosing values from cloud-init instance data"
/kind feature

**Describe the solution you'd like**
Provide an ability to provide a query string in a machine resource for choosing an interface from the cloud-init instance data.

**Anything else you would like to add:**
Currently this value is a constant
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/a66fb0c7b77b41a07762544540802c76e37b1d4d/pkg/cloud/vsphere/services/govmom

[2019-08-07 16:13] akutz commented on #490
/assign @akutz

[2019-08-07 18:28] #479 closed

[2019-08-08 07:51] sujeet-banerjee commented on #175
Proposal Doc: https://docs.google.com/document/d/1fNm53l5K0OfPrGc3zhjNDYzVQNBEc85uEJfNwtiDQrY

I would invite folks to review the proposal and add suggestions (if any).

Thanks,
Sujeet

[2019-08-08 08:01] davidopp commented on #175
I believe
https://github.com/kubernetes/enhancements/pull/997
https://github.com/kubernetes/enhancements/pull/1127
are related?

[2019-08-08 08:21] brysonshepherd commented on #175
@moshloop
Wouldn't it be better to vmotion, rather than build a whole new node on another vhost? To me that would lead longer time with pending pods.

[2019-08-08 08:26] moshloop commented on #175
@brysonshepherd vMotion requires shared storage which is really expensive, slow and unreliable (when compared to just starting a new vm)

[2019-08-08 08:31] moshloop commented on #175
antiAffinity using a topology key would work as new hosts, clusters and datancenters are added and removed:

e.g.
[code]
and to distribute nodes across multiple clusters
[code]

[2019-08-08 08:46] brysonshepherd commented on #175
@moshloop

Some users may pay for that higher level of service for higher uptime.

In our current use case, drs and vmotion are needed.

[2019-08-08 09:03] moshloop commented on #175
Shared storage is much more likely to reduce uptime than it is to increase it, especially when your application is stateless and doesn't need persistent storage. Even when an application requires clustered or replicated storage, the control plane (kubernetes) should not share the same shared fault domain.

vMotion has it's advantages and is often the easiest solution from an operational overhead,

[2019-08-08 09:11] brysonshepherd commented on #175
@moshloop I'm not saying that vmotion is what I want, it is just faster than making a new node.  If making a new node (along with rescheduling/starting up the pods) was faster, then that is what I would do. But it isn't. At least not that I'm aware of.

[2019-08-08 09:20] moshloop commented on #175
The time to recover a pod doesn't need to be instant, just reasonable - You should be running multiple pods with enough headroom to survive the loss of one pod,  If you lose a physical ESXi host than the VM doesn't get vMotion'ed, it gets booted on a different host, potentially goes through disk crash recovery and rejoins the cluster - in the meantime the pods running on the node may have already

[2019-08-08 21:39] #60 closed

[2019-08-09 15:57] andrewsykim opened #494 "Improving E2E Coverage"
/kind feature

**Describe the solution you'd like**
Our current E2E tests don't validate the actual behaviors of created clusters and don't spin up more workload clusters with the provisioned management cluster. We should add some e2e tests, that validates:
* behavior of the management cluster (cloud provider integrations, storage, networking, etc)
* creating/deleting target clusters
* behavior of