[2020-04-28 14:20] #892 closed

[2020-04-28 18:10] yastij commented on #901
closing as dupe of #902

[2020-04-28 18:10] #901 closed

[2020-04-28 18:14] yastij commented on #896
/assign @codenrhoden

[2020-04-28 18:18] yastij commented on #891
/assign @randomvariable

[2020-04-28 18:22] yastij commented on #888
/assign

[2020-04-28 18:22] yastij commented on #887
/assign

[2020-04-28 18:23] yastij commented on #886
/assign

[2020-04-28 18:35] yastij commented on #779
closing this, If someone sees this back, please open an issue and link this

[2020-04-28 18:35] #779 closed

[2020-04-28 18:47] MaxRink commented on #729
We would be interested in such a feature as well.
We run multiple vCenters, some of which in georedundant datacenter setup.
So spanning across multiple Clusters within one vCenter would be interesting for us, but also a per-esxi-host approach would allow us to basically make sure that not all masters of a cluster get scheduled on one bladecenter frame for example.

[2020-04-28 18:54] yastij commented on #500
cc @maxrink

[2020-04-29 15:20] randomvariable commented on #891
/lifecycle active

[2020-04-29 15:31] codenrhoden commented on #896
Thanks for the report @luniHw and the ping @yastij. I'll try to look into this in the next day or two! Not sure what could have gone wrong between the image that works and the one that doesn't, but I'll find it!

[2020-04-29 16:33] MnrGreg opened #904 "Provide a clusterctl flavor for deploying CAPV with an external load balancer rather than HAProxy"
/kind feature

Provide a CAPV clusterctl flavor that:

1. Takes an externally pre-configured load balancer endpoint as variable input into VSphereCluster/spec/controlPlaneEndpoint during deployment.

2. Removes the HAProxy requirement from the template.

/assign @MnrGreg

[2020-04-30 22:37] tkrausjr commented on #429
/reopen
/remove-lifecycle rotten

[2020-05-01 13:31] detiber commented on #429
/reopen

[2020-05-04 10:11] MaxRink commented on #718
We honestly would also prefer it to be an add-on, as we have instances where we cant run the csi provider but would still like to provision clusters via CAPV

[2020-05-05 17:32] yastij commented on #718
@MaxRink - this is definitely happening

[2020-05-05 18:07] stevesloka opened #908 "Missing selectors from MachineDeployment"
/kind bug

**What steps did you take and what happened:**
This might be an issue for the `clusterctl` repo, but following the readme for my first time with ClusterAPI & vSphere I ran into a problem.

After creating the `cluster.yaml` (https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md#creating-a-vsphere-based-workload-cluster), I tried to apply the

[2020-05-05 19:09] yastij commented on #908
I'm able to reproduce, some logs from the webhook that is running
[code]

[2020-05-06 11:56] yastij commented on #908
@stevesloka - this should be fixed now, can you try now without your fix ?

[2020-05-06 15:17] #884 closed

[2020-05-08 15:21] ncdc opened #912 "Bootstrap failure detection"
/kind feature

**Describe the solution you'd like**
If bootstrapping doesn't succeed, set VSphereMachine.Status.FailureReason and FailureMessage to indicate there was an error.

**Anything else you would like to add:**
More information in https://github.com/kubernetes-sigs/cluster-api/issues/2554.

We may need to amend the bootstrap provider contract to require them to write a sentinel file indica

[2020-05-09 20:57] voor commented on #582
/remove-lifecycle rotten

[2020-05-11 12:55] #891 closed

[2020-05-11 13:36] randomvariable commented on #582
/lifecycle frozen

[2020-05-11 19:14] jzhoucliqr commented on #728
@yastij Is this being worked on? I'm interested in this and am glad to help.

[2020-05-11 20:25] codenrhoden commented on #896
I download this OVA and peeked inside. It definitely has the VMDK in it:

[code]

I also verified that both the `.mf` file and the `.ovf` file referenced the right file.

I also imported this OVA into Fusion, and it imported correctly. So unless there was something specific about import to vCenter to cause this, I'm inclined to think there was a download error.

I have also recently uploaded a new

[2020-05-12 09:53] randomvariable opened #914 "Replace LDAP server in test infrastructure with AWS Simple Active Directory"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Intermittently, the LDAP server that provides authentication for the vSphere infrastructure for e2e tests falls over.

We should replace it with AWS Simple Directory so we don't have to be LDAP server admins, because whomst wants to be an LDAP administrator?

AWS Simple AD is a managed

[2020-05-12 10:06] yastij commented on #914
fyi @akutz

[2020-05-12 10:20] randomvariable commented on #896
/priority awaiting-more-evidence

[2020-05-12 15:09] akutz commented on #914
Agree, but this should be closed and tracked internally.

[2020-05-12 15:09] #914 closed

[2020-05-12 15:09] akutz commented on #914
Let's be positive. LDAP is fine, it's an issue of time and resources.

[2020-05-12 16:49] MaxRink commented on #781
On a somewhat related note:
we had CAPV creating and not closing that many new sessions that our vcenter became quite slow and api calls began to timeout because the vcenter couldnt handle that many open sessions.
We had a small discussion about that here: https://kubernetes.slack.com/archives/CKFGK3SSD/p1589299823181200

[2020-05-12 18:07] randomvariable commented on #908
/priority important-soon
/milestone 0.6.x

[2020-05-18 13:13] randomvariable commented on #912
/assign

[2020-05-26 09:01] MaxRink opened #918 "CAPV Cluster stuck in deleting state"
/kind bug

**What steps did you take and what happened:**
We were trying stuff on a different Infrastructure and wanted to delete a cluster.
Now this cluster is stuck in the "Deleting" Phase.
The VMs are deleted tho.
We already tried restarting the CAPV controller

**What did you expect to happen:**
The Cluster CRD gets deleted

**Anything else you would like to add:**
[Miscellaneous information t

[2020-05-26 09:28] MaxRink commented on #918
We were able to delet the cluster with

[2020-05-26 10:52] randomvariable opened #919 "Ability to set custom VMX keys in MachineDeployments"
/kind feature

**Describe the solution you'd like**
As a cluster operator I want to manually allow some deployments to have transparent page sharing (whilst being aware of security concerns) by setting the sched.mem.pshare.salt value.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
The specific use case is a subset of allowing the settin

[2020-05-26 18:23] yastij commented on #908
I'll file a CAPI issue wrt ordering of validating and mutating webhook

[2020-05-28 08:23] MaxRink opened #920 "Node hostname gets reset during reboot"
/kind bug

**What steps did you take and what happened:**
We have a few nodes that dont survice a reboot without manual intervention.
The Issue is, that the Hostname gets reset to localhost during boot, altough /etc/hostname was correct before reboot.
Because of that i need to set the hostname manually aftewr reboot via ssh and restart kubelet, so the node becomes ready again.
The Node name reset

[2020-05-28 09:18] kannanvr commented on #902
Hi,
  When it will be available ?

[2020-05-29 12:13] farodin91 opened #921 "Stuck on replacing controlplane nodes"
/kind bug

**What steps did you take and what happened:**

- Create a Cluster
- Wait for the cluster to be running
- Change the configuration of a controlplane
- New controlplane node are spawned
- New controlplane stucks in the phase: Provisioning with the event: `Waiting for control plane to pass control plane health check to continue reconciliation: control plane machine namespace/node-cp-v2-s8

[2020-06-02 12:41] farodin91 commented on #921
It seems to be somthing with: https://github.com/kubernetes/cloud-provider-vsphere/issues/326

[2020-06-02 13:23] yastij commented on #921
@farodin91 - what is the output when you are trying to get the new node on the target cluster ?

[2020-06-02 13:32] farodin91 commented on #921
kubectl get node node-cp-v2-92xc5 -o yaml

[code]

Tried to things one this node: first set providerID manually and second taint the node as unintialized.
After this the node is mark as running in the capi cluster. No new nodes are spawn after the node is marked as running.

A different between a old node and a new node is that no externalIP is set.

I could created the cluster without the manual

[2020-06-02 13:42] yastij commented on #921
@farodin91 - can you also grab the logs from kcp and capi controllers ?

[2020-06-02 13:46] farodin91 commented on #921
It is reproducible. I can only say it for steps in the issue and not the manual changes.
KCP?

[2020-06-02 14:02] vincepri commented on #921
KCP: kubeadm-control-plane controller logs

[2020-06-02 14:09] farodin91 commented on #921
[capi-controller-manager.log](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4717634/capi-controller-manager.log)
[capi-kubeadm-control-plane-controller-manager.log](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4717635/capi-kubeadm-control-plane-controller-manager.log)
[capv-controller-manager.log](https://github.com/kubernetes-sigs/cluster-api-provi

[2020-06-02 14:18] farodin91 commented on #921
[vsphere-cloud-controller-manager.log](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4717706/vsphere-cloud-controller-manager.log)

I just replaced some internals.

[2020-06-03 05:46] dhawal55 opened #923 "Use dataSecretName instead of bootstrapRef to get userdata"
/kind bug

**What steps did you take and what happened:**
I create a machine resource with `bootstrap.dataSecretName` set to my custom userdata secret.

[code]

The vsphere controller doesn't use that secret and throws the below error:
`E0603 05:41:08.419266       1 controller.go:258] controller-runtime/controller "msg"="Reconciler error" "error"="failed to reconcile VM: failed to retrieve bootstr

[2020-06-03 06:48] dhawal55 commented on #923
This requires changing the `VSphereVMSpec` type to use `BootstrapSecret string` field instead of `BootstrapRef *corev1.ObjectReference` field so we can directly set the secret there.
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/3e0ae86bed8f5b3fb9c2d7d9d80fc427115468c1/api/v1alpha3/vspherevm_types.go#L40

However, since it is a breaking change, can we add the following line

[2020-06-03 10:36] MaxRink opened #924 "Remove dependency for API access of Clusters"
/kind feature

**Describe the solution you'd like**
Currently all clusters created by CAPV have the vsphere-cloud-controller-manager installed, even if i strip out all other CSI components.
Without vsphere-cloud-controller-manager nodes dont get marked as ready thus a 2nd or 3rd master node never get provisioned for example.

From my understanding vsphere-cloud-controller-manager only does the fol

[2020-06-03 15:07] MaxRink commented on #924
im currently using thsi script to manually trigger the correct data being present

[code]

[2020-06-03 15:50] ncdc commented on #924
@yastij have you thought about moving the deployment of CCM/CPI/etc to a ClusterResourceSet, once they're available? That should solve this request (assuming one has a separate controller to set the provider ID and remove the taint).

[2020-06-03 16:13] yastij commented on #924
@ncdc - that can be a solution. I'm also thinking about what it would take to run the CPI ias part of the management cluster

[2020-06-05 09:47] mylesagray opened #927 "CSI 2.0 driver"
/kind feature

**Describe the solution you'd like**
CSI 2.0 was released around a month ago now, I saw some structural work was done for CSI 2.0 addition, however the driver images are still targeting `v1.0.2`:

derived from https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests/1.14

const (
	DefaultCSIControllerImage     = "gcr.io/cloud-provider-vsphere/csi/release/driver:v1

[2020-06-15 10:42] jayunit100 opened #931 "Support for hierarchical networks"
/kind bug

Note the fix to this is easy, just upgrade to govmami - testing it will be tricky though as the environment to reproduce this requires a very specific network scenario.

**What steps did you take and what happened:**

In certain newer VSphere environments using CVDS related features a network name which exists in two places needs a / to disambiguate it.  i.e.

[code]

In the above scena

[2020-06-15 11:11] #927 closed

[2020-06-15 13:59] #931 closed

[2020-06-15 16:25] #923 closed

[2020-06-16 09:56] yastij commented on #561
closing this as we don't test against anything lower than 6.7u3

[2020-06-16 09:56] #561 closed

[2020-06-16 14:35] MaxRink commented on #918
We just had it happening again
[capv.log](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4787173/capv.log)

[2020-06-16 14:42] fabriziopandini opened #938 "VSphereVM should set ready state after network is reconciled"
/kind bug

**What steps did you take and what happened:**
created a cluster with a control plane node, and observed the VSphereVM being set ready before the network is reconciled.

**What did you expect to happen:**
VSphereVM being set ready when network is reconciled, thus providing a consistent signal with VSphereMachines and the HAProxyLoadBalancer that instead are setting ready only after netw

[2020-06-16 14:46] fabriziopandini commented on #938
/assign @yastij
If we are going to fix this change, the we should reflect "Waiting For network" on conditions

[2020-06-18 21:42] MaxRink commented on #924
Just verfified that running the CCM from the management cluster works

[2020-06-19 00:08] monfardineL opened #941 "Support for vCenter without DRS"
/kind feature

**Describe the solution you'd like**
I couldn't find a way to provision a cluster on vCenter Server 6 **Standard** environment, because it doesn't support **DRS** I think.
Even through there's a `*/Resources` resource pool, it isn't possible to distribute VMs among hosts on cluster and the deployment of instances never happens.
Maybe pointing directly to a host inside vCenter hosts,

[2020-06-22 14:12] #908 closed

[2020-06-22 16:22] MaxRink opened #942 "VMs that are long in "Provisioning" state get stuck in that state even after all provisioning is completed"
/kind bug

**What steps did you take and what happened:**

I did some debugging around running the ccm externally nad had a cluster which master nodes were stuck in provisioning within the master cluster.
Once CCM ran those never got ready, altough the cluster being ready and new nodes getting joined just fine.

**What did you expect to happen:**
Nodes become "provisioned"

**Anything else you wou

[2020-06-23 15:13] randomvariable commented on #620
This is more or less completed by clusterctl v2? Safe to close?

[2020-06-23 15:18] #620 closed

[2020-06-23 18:04] MaxRink commented on #924
So, here is my yaml-file that

i used to run the ccm from the mgmt cluster:
[external-ccm-san.yaml.txt](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/files/4821091/external-ccm-san.yaml.txt)
One thing i havent gotten to work with the this PoC: grabbing the vsphere credentials from a secret insetad out of a configmap.
That always gave me this errors. Directly in the config everyth

[2020-06-23 18:28] randomvariable commented on #924
Suspect it's not using local object reference to grab the secret and ended up in the wrong namespace. Possibly a bug for the vsphere provider.

[2020-06-23 19:05] MaxRink commented on #924
Might be. unfortuinately even with -v=10 i font get more logoutput regarding that error.

[2020-06-24 13:04] yastij commented on #675
closing this as it's supported now

[2020-06-24 13:04] #675 closed

[2020-06-26 15:31] jzhoucliqr commented on #728
/assign

[2020-06-26 15:32] jzhoucliqr commented on #728
Will put up a proposal with https://github.com/metal3-io/ip-address-manager

[2020-06-26 15:46] ncdc commented on #728
One thing that I'd recommend including: modify CAPV so that if both dhcp4 and dhcp6 are disabled, and there are no IP addresses in the VSphereMachine, have the reconciler wait until at least one of those 3 fields is true/populated. This way, we can have CAPV wait until some external IPAM controller sets an IP on the VSphereMachine.

[2020-06-26 15:58] jzhoucliqr commented on #728
Thanks @ncdc . That's exactly what I'm going to do!

[2020-06-29 13:47] jayunit100 opened #943 "Log metadata about VMObjects from Controller manager logs"
/kind feature

Impl suggestion- i think this is easy, just spam the `VMObject` json periodically using `marshallJson`.

**Describe the solution you'd like**
I'd like to always know, as a user, why a specific VM creation step is failing when, for example, i have inputted a wrong `VSPHERE_NETWORK` field.

Use case:
- This could save hours of time and enable good after-the-fact triage of problems (i.

[2020-06-29 19:52] MaxRink opened #944 "CAPV crashes if govmomi cant read uuid"
/kind bug

**What steps did you take and what happened:**
If govmomi cant read the uuid of an VM CAPV crashes because the error never gets caught.

**What did you expect to happen:**
CAPV doesnt crash and cathes the error

**Anything else you would like to add:**
Slack-thread regarding that issue: https://app.slack.com/client/T09NY5SBT/CKFGK3SSD/thread/CKFGK3SSD-1593457166.343000
Log:
https://gist

[2020-06-30 09:17] yastij commented on #944
ref https://github.com/vmware/govmomi/blob/ffbd963c889d82c914cc2fc44524a2cf56a69c04/object/virtual_machine.go#L858-L859

[2020-06-30 09:19] yastij commented on #944
this specifically comes from govmomi [here](https://github.com/vmware/govmomi/blob/1ddd1feea83c0d554b1434eec37c5307a8183fea/object/virtual_machine.go#L858-L859)

[2020-07-01 15:03] andrewsykim opened #947 "Set InternalIP machine status.addresses"
/kind feature

**Describe the solution you'd like**
Almost always a VM will have an address internal to the datacenter. In the case where we don't know if an address is external or internal to the datacenter, we should assume it is internal and set the type as InternalIP. Today we always set it as an ExternalIP

**Anything else you would like to add:**
[Miscellaneous information that will assist i

[2020-07-01 18:20] jzhoucliqr commented on #728
Proposal draft :  https://docs.google.com/document/d/10I-HH67_xBk73pazhNmbJjOvtPgq9Uk6ZrD3vj06srs/edit?usp=sharing

Please help take a look. @ncdc @yastij

[2020-07-02 14:59] dougm commented on #894
The [Etcd on data disk CAEP](https://github.com/kubernetes-sigs/cluster-api/pull/3048) has been accepted and implementation [merged](https://github.com/kubernetes-sigs/cluster-api/pull/3066).

The CAPA PR [Etcd EBS Volumes](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1707) is in progress based on the new CABPK disk support.

Is anyone looking at doing similar for CAPV yet?

[2020-07-02 17:32] #944 closed

[2020-07-02 17:34] vincepri opened #949 "Change default branch to "main""
Once the community agrees on the naming, we need to change our default development branch to `main`, and check that any tools or references to it are changed as well.

This includes the container image tag used in development.

/kind cleanup
/wg naming
/milestone Next

[2020-07-03 19:01] tamilhce opened #950 "support for Bringing up the External Load balancer"
**Using CAPV for bringing the External Loadbalacer**

1. Is there any support for bringing-up of additional resources during cluster creation.eg: External LB
Let's say I want to bring up   [Avi Controller](https://avinetworks.com/docs/18.2/installing-avi-vantage-for-vmware-vcenter/) as my external LB for the guest cluster. In that case, is there any way I can provision the Avi controller VM's usin

[2020-07-03 19:04] #950 closed

[2020-07-03 21:46] spyroot opened #951 "tkg during cluster creation pass cluster name, alternative vCenter."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

tkg cli to pass a cluster name during creation process or even better entire data center details.
For example you pass detail for another vCenter, so manager cluster de-coupled from vCenter.

Note for template VM,  we can always use vCenter library feature.  Where vCenter b subscribe

[2020-07-04 21:34] spyroot opened #952 "after first controller node up. completely dead state no progress."
Hi,

I see that Cluster API deploy HA load balancer and controller node.  After first controller node it fail to deploy anything else.
I cross check and see all logs mostly dead and idle.  So entire state frozen .
I'm not sure what to capture ?  if you help I'll capture all the data.
**Environment:**
vSphere 6.7.

- Cluster-api-provider-vsphere version:
I use TKG 1.1.2

- Kubernetes version: (use

[2020-07-05 04:24] spyroot opened #953 "reconcileUUID has issue. null pointer"
Below is a log, I check VM has UUID attached to it.  I'm not 100% positive it on the cluster API side. I open a bug in govmomi as well.  I 've checked it looks like

VirtualMachine.UUID on handle all null pointer checks.

2020-07-05T03:35:21.216104377Z stderr F I0705 03:35:21.215663       1 vspheremachine_controller.go:345] capv-controller-manager/vspheremachine-controller/default/dev-
cnfs-contro

[2020-07-05 04:28] spyroot commented on #952
I found the root cause, please check 953
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/953

[2020-07-05 04:28] #952 closed

[2020-07-05 11:03] yastij commented on #953
@spyroot - the fix was merged on the govmomi side https://github.com/vmware/govmomi/pull/2044 and picked up in CAPV https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/948, closing

[2020-07-05 11:03] #953 closed

[2020-07-05 14:40] spyroot commented on #953
Thank you !

[2020-07-06 10:24] moonek opened #954 "Support for UEFI boot OVAs"
/kind feature

**Describe the solution you'd like**
I may have gone ahead.
I believe GPU nodes will be supported in cluster api someday.
But I want to manually configure the GPU pass-through to the node created via the current state of CAPV.
GPU pass-through is only supported in UEFI boot mode.
All current CAPV OVAs are considered BIOS boot mode.
Can someone make a UEFI boot mode OVA?

[2020-07-07 09:52] MaxRink opened #956 "Support Storage Pools not only datastores"
/kind feature

**Describe the solution you'd like**
vSphere has Storage Pools with Storage DRS to cluster datastores.
Currently CAPV cant consume those, but as StorageDRS automates VM Disk placement this is desired.
Edit: I think the correct name for them is Storage Cluster, not Storage Pool
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-07-07 11:29] MaxRink commented on #956
We have had a small discussion here: https://kubernetes.slack.com/archives/CKFGK3SSD/p1594115208399600?thread_ts=1594113406.395200&cid=CKFGK3SSD

[2020-07-14 07:04] farodin91 commented on #921
The issue seems to be resolved with 0.6.6 and cluster-api 0.3.7-rc1.

[2020-07-14 07:05] #921 closed

[2020-07-15 14:55] randomvariable opened #967 "Review presubmit jobs against files and directories"
Some files and directories in this repo don't trigger the correct presubmits.

[2020-07-15 14:57] ncdc commented on #967
CAPV’s Prow config uses run_if_changed on a bunch of jobs. We do not use this anywhere for CAPI or CAPA. I’d recommend removing this from CAPV

[2020-07-15 14:58] ncdc commented on #967
Or we need to add go.mod/go.sum to the right places

[2020-07-15 18:03] cprivite commented on #829
/remove-lifecycle stale

[2020-07-16 18:33] jzhoucliqr opened #968 "GPU support"
/kind feature

**Describe the solution you'd like**
As an operator, I would like to add GPU cards to the worker nodes so data science team can utilize it.

**Anything else you would like to add:**

there are multiple options to add gpu support:
1.  PCI passthrough:  add dedicated GPU cards from host to VM directly, the card can not be attached to other VMs. Need to find the host which have the GPU

[2020-07-17 14:34] ncdc commented on #859
We have decided to deprecate HAProxy support because it is a single point of failure (i.e. it's not actually highly available with multiple HAProxy instances), and it's difficult or impossible to upgrade by creating a replacement HAProxy VM (it has to retain the IP address and that isn't a guarantee).

The replacement is to use something like kube-vip - see #965 for details.

/close

[2020-07-17 14:34] #859 closed

[2020-07-17 14:34] ncdc commented on #875
We have decided to deprecate HAProxy support because it is a single point of failure (i.e. it's not actually highly available with multiple HAProxy instances), and it's difficult or impossible to upgrade by creating a replacement HAProxy VM (it has to retain the IP address and that isn't a guarantee).

The replacement is to use something like kube-vip - see #965 for details.

/close

[2020-07-17 14:34] #875 closed

[2020-07-17 14:38] ncdc commented on #819
#965 shows an example for how to use kube-vip with CAPV to get a VIP for all the control plane machines. It removes the HAProxy VM. All traffic for the control plane goes to the VIP, which is bound to a single VM at a time. There is no load balancing in this approach - all requests go to whatever VM has ownership of the VIP. Would that be sufficient for you @moonek?

[2020-07-17 16:21] ncdc commented on #636
/unassign @akutz
/remove-lifecycle stale

[2020-07-20 04:28] moonek commented on #819
I am very happy with the removal of LB VM resource and SPOF.
The first request is sent to the VM with VIP ownership, but since then it isn't load balancing to each apiserver?

[2020-07-20 09:10] moonek commented on #968
I also need GPU worker node support.
Relatedly, OVA rebuild for GPU passthrough is also required. (https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/954)

If use the gpu-operator provided by nvidia, it can be easily installed without any additional driver operation on the worker node.
https://github.com/NVIDIA/gpu-operator

[2020-07-20 14:24] ncdc commented on #500
@timmycarr are you still working on this?

[2020-07-20 14:38] ncdc commented on #799
#728 is a feature request for an out-of-band static IP mechanism, and it's being implemented in #957. This is external IPAM integration, but not specifically MAC addresses. Would that work for you @MaxRink (you'd have to find/implement an IPAM controller)?

[2020-07-20 14:45] ncdc commented on #876
@luniHw were you able to test using `*/Resources` (note, there is an **s** at the end of the word)?

@monfardineL would you mind filing a separate issue if you're looking for CAPV to work on vSphere Standard?

[2020-07-20 15:48] jayunit100 opened #969 "Abillity to run conformance tests with different CNIs"
/kind feature

**Describe the solution you'd like**

Analogous to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1745 .  If we can start pumping out brioader CNI test coverage.

**Anything else you would like to add:**

Specifically probably start with adding antrea to the test matrix

**Environment:**

- Cluster-api-provider-vsphere version: all
- Kubernetes version: (use `kub

[2020-07-20 18:38] jzhoucliqr commented on #968
Thanks @moonek . Looks like this operator installs docker runtime? Does it conflict with the default containerd which cluster api is using?

[2020-07-20 18:40] jzhoucliqr commented on #968
Thanks @moonek . looks like the operator will install docker runtime? hopefully it wont cause any conflict with the default containerd runtime?

[2020-07-22 23:45] monfardineL commented on #876
I commented here because I think it's related, but I've already created issue #941.

[2020-07-23 13:15] #853 closed

[2020-07-23 17:03] #903 closed

[2020-07-23 17:36] yastij commented on #942
Probably worth exploring a limit for exp. backoff

[2020-07-23 17:43] yastij commented on #951
closing this as it's not specific to CAPV, but rather to a distro using CAPV

[2020-07-23 17:43] #951 closed

[2020-07-23 17:45] yastij commented on #968
cc @detiber @codenrhoden

[2020-07-23 17:49] yastij commented on #954
closing as dupe of #968 which has context and milestone

[2020-07-23 17:49] #954 closed

[2020-07-23 17:55] detiber commented on #968
It looks like `gpu-operator` has an open issue for containerd support, but currently still required docker: https://github.com/NVIDIA/gpu-operator/issues/7

[2020-07-23 19:09] jzhoucliqr commented on #968
we did some experiment with this and got it working with latest nvidia driver on ubuntu1804 with containerd. If anyone is interested I can clean it up and put it out here.

 https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/cmd/nvidia_gpu/README.md

[2020-07-23 23:13] #704 closed

[2020-07-24 14:11] yastij commented on #636
closing as we have webhooks in place now

[2020-07-24 14:11] #636 closed

[2020-07-24 14:13] yastij commented on #825
closing as #922 removed non KCP tests

[2020-07-24 14:13] #825 closed

[2020-07-24 14:17] ncdc commented on #877
Here's what CAPI does:

https://github.com/kubernetes-sigs/cluster-api/blob/60147823dc2131b822125598a73b2ad34e55b050/main.go#L181

The version package: https://github.com/kubernetes-sigs/cluster-api/blob/60147823dc2131b822125598a73b2ad34e55b050/cmd/version/version.go

https://github.com/kubernetes-sigs/cluster-api/blob/60147823dc2131b822125598a73b2ad34e55b050/Makefile#L105

https://github.com/kube

[2020-07-24 19:30] #728 closed

[2020-07-24 23:46] dhawal55 commented on #819
Once traffic flow to the VIP, can kube-vip redirect it to kubernetes service IP? If so, then kube-proxy will spread it to all apiserver instances.

[2020-07-27 14:10] ncdc commented on #819
@dhawal55 I imagine you could configure iptables to do that. I don't think kube-vip does that by default. You could file an issue there if you wanted?

[2020-07-27 16:22] yastij opened #975 "add support for static IP assignement in our test infrastructure for control plane endpoint in CAPV"
/kind feature

**Describe the solution you'd like**  #970 introduced kube-vip support for control plane endpoint, kube-vip requires to provide he VIP through an environment variable on the static pod (see #970 for more details). In order to get signal we need to be able to handout IP(s) to kube-vip (without DHCP) to be able to test this as it would be used by the users

/assign
/lifecycle active

[2020-07-27 16:23] yastij commented on #975
cc @ncdc @figo @vuil

[2020-07-28 21:42] gab-satchi commented on #877
/assign

[2020-07-30 11:06] #877 closed

[2020-07-31 16:09] #938 closed

[2020-08-03 12:06] randomvariable commented on #429
/lifecycle frozen

[2020-08-03 14:44] randomvariable commented on #780
/lifecycle frozen

[2020-08-03 22:20] zawachte-msft opened #979 "vsphere password starts with an"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-08-03 22:27] zawachte-msft opened #980 "vsphere password starts with an "@""
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Following the CAPV quickstart steps. CAPV pod comes up fine, but when it gets to machine creation, API calls to the vcenter were failing.

Logs pointed towards...
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/pkg/manager/options.go#L165

Turns out a yaml va

[2020-08-03 22:44] #979 closed

[2020-08-04 13:42] ncdc commented on #980
@zawachte-msft could you please provide an example of the before & after versions (please obfuscate/redact anything sensitive)?

[2020-08-04 14:55] randomvariable commented on #980
I think we would want to ensure there's quotes around the relevant parts in this part of infrastructure-components:

[code]
should be

[code]

backtick and `@` are sigils reserved for future use in the yaml spec.

[2020-08-04 16:22] #980 closed

[2020-08-06 14:34] mylesagray opened #984 "Config parameters should be linted/sanity checked prior to deployment"
/kind bug

**What steps did you take and what happened:**
Following the docs to install a new cluster with v0.6.6 - I messed up and put in the wrong folder as the target folder, installation hangs indefinitely with no indication of an error - looking at the logs however, an error is seen:

[code]

We should either test the vars or expose the error messages up to the CRD objects, as it's not obviou

[2020-08-06 14:40] ncdc commented on #984
@yastij would you have interest in trying to do this in a validating webhook, i.e. a live lookup against vCenter to validate things like this?

[2020-08-06 16:52] MnrGreg opened #985 "waitForIPAddresses does not appear to be working for v0.7.0-beta.0"
/kind bug

Increased machine deployment to initiate creation of new vSphere machine. The vSphereMachineTemplate is configured with `dhcp4: true` and no `ipAddrs`. The vsphereVM was created and the VMware Guest immediately created in vSphere.

[code]

**What did you expect to happen:**

waitForIPAddresses should hold up the creation of the VM until the vspheremachine `ipAddrs` is set.

[code]

**An

[2020-08-06 16:53] ncdc commented on #985
If dhcp4 or dhcp6 is true, it will proceed to create the VM. When the VM boots, it is expected to request an IP address via DHCP.

[2020-08-06 16:54] ncdc commented on #985
This is working as designed. I'm curious how you would anticipate this flowing without the VM booting and sending the `DHCPREQUEST`?

[2020-08-06 16:57] ncdc commented on #985
/priority awaiting-more-evidence

[2020-08-06 17:09] MnrGreg commented on #985
Makes sense. Will set dhcp4:false and confirm.

[2020-08-06 17:29] MnrGreg commented on #985
Working as expected.

[2020-08-06 17:29] #985 closed

[2020-08-07 16:49] #718 closed

[2020-08-07 17:15] #904 closed

[2020-08-10 15:31] codenrhoden commented on #896
I'm thinking we can close this?

[2020-08-11 15:39] randomvariable commented on #896
/close

[2020-08-11 15:39] #896 closed

[2020-08-11 15:39] randomvariable commented on #781
/lifecycle frozen

[2020-08-12 08:21] mkbhanda opened #990 "docs - Getting Started Page"
/kind feature

Newbie questions/comments!!

**Describe the solution you'd like**
1) What is PV? as in "To use PVs, "  persistent volumes?

2) govc -- need to tell folks what it is and how to download
https://starkandwayne.com/blog/newly-discovered-tool-vsphere-cli-govc/

3) typo s/provisiong/provisioning

4) would be more appropriate to call the cluster "managed cluster" versus "management cluster

[2020-08-12 12:01] randomvariable commented on #990
/priority important-soon

[2020-08-12 12:07] randomvariable opened #991 "Add conditions for deletion workflows"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Originally filed by @gab-satchi as https://github.com/kubernetes-sigs/cluster-api/issues/3383

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (u

[2020-08-12 13:39] fabriziopandini opened #992 "All templates should trigger CSI installation"
/kind bug

**What steps did you take and what happened:**
I run make release-flavors and noticed that:
- the default template is going to install CSI via CRS
- the other templates are not going to trigger CSI installation because `VSphereCluster.Spec.CloudProviderConfiguration.ProviderConfig.Storage` is empty

**What did you expect to happen:**
All the templates triggering CSI install

**Anything

[2020-08-12 13:44] fabriziopandini commented on #992
/assign
/lifecycle active

[2020-08-12 14:17] #992 closed

[2020-08-13 12:30] fabriziopandini commented on #990
/assign
/lifecycle active

going to address everything except 4, because "management cluster" is the right term (it is the place where you can manage "workload clusters).

[2020-08-13 13:44] #990 closed

[2020-08-13 18:27] spiegela opened #995 "Cluster with custom YAML fails to create cluster"
/kind bug

**What steps did you take and what happened:**

- Create new 0.7.0 management cluster with kind and `clusterctl init --infrastructure vsphere`
- For each version (1.17.5 and 1.18.2):
    - Create cluster.yaml with `clusterctl config cluster`
    - Patch cluster and machine templates (patch script attached)
    - apply cluster to management cluster

The 1.18.2 cluster was created normall

[2020-08-13 20:16] spiegela commented on #995
This appears to be an intermittent issue.  I just ran the CI job again with the same cluster and configuration, and it ran to completion in about 10 minutes.  That failed boot message did not appear this time.

[2020-08-14 00:38] abhinavnagaraj opened #996 "For a CentOS 7 VSphereMachine in static IP mode(dhcp:false), DHCP is not disabled"
/kind bug

**What steps did you take and what happened:**

Launch a 1 master/1 worker cluster with :

1) dhcp4 & dhcp6 set to false in VSphereMachineTemplate - to enable static IP mode
2) "centos-7-kube-v1.17.5" as the template

[code]

3) Edit and set required static IPs in the generated VSphereMachines - to mock external allocation

**What did you expect to happen:**
This https://github.com/kube

[2020-08-14 10:39] randomvariable commented on #995
Worth getting the results of `/var/log/cloud-init-output.log`

Also, for your kubeadmcontrolplane and kubeadmconfigtemplates, particularly in a vSphere environment, you will want to use `UseExperimentalRetryJoin: true`, as this makes kubeadm retries much more consistent.

[2020-08-14 10:39] randomvariable commented on #995
/priority awaiting-more-evidence

[2020-08-14 20:24] spiegela commented on #995
I've updated the gist with the cloud-init and cloud-init-output logs (the latter was in there, but mis-named).  I'll add a patch to enable `useExperiementalRetryJoin`.  I've re-run the cluster creation a couple times since yesterday, and the issue didn't resurface, so if you don't see anything obvious in the logs, its OK with me to close.

[2020-08-17 09:26] randomvariable commented on #995
Can't see anything obvious.
I'll close it for now, but feel free to reopen if you encounter it again.
/close

[2020-08-17 09:26] #995 closed

[2020-08-17 16:47] codenrhoden opened #998 "CAPV OVAs at HW image 15?"
/kind bug

**What steps did you take and what happened:**
Before we make the change in `image-builder`, I wanted to confirm something first. CAPV always deploys vSphere CSI, correct? If it does, the documented required version for vSphere CSI is [hardware version 15](https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/prerequisites.html), but `image-builder` is currently setting the hardware

[2020-08-17 17:37] randomvariable commented on #998
Version 15 would mandate ESXi 6.7 U2 minimum, as per https://kb.vmware.com/s/article/1003746 where as version 13 allows ESXi 6.5 to be used. We don't have a formal support statement for CAPV so may need to be discussed with a wider audience.

[2020-08-17 17:40] ncdc commented on #998
I don't know what's been discussed or declared previously with the CAPV community, but the only thing I've ever heard is that you need 6.7u3 minimum, and I think that's for CSI (?). Let's wait for @yastij to chime in tomorrow.

[2020-08-17 21:53] wfernandes opened #999 "Include metadata.yaml as part of release artifacts"
**Describe the solution you'd like**
Cluster API providers should provide a `metadata.yaml` artifact as part of their releases so that clusterctl can rely on it to enforce CAPI contract versions.
In [our documentation](https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#provider-repositories), we define a requirement of the CAPI providers to provide a `metadata.yaml` file.

Providing

[2020-08-18 10:13] yastij commented on #999
cc @fabriziopandini

[2020-08-18 10:22] yastij commented on #998
@mylesagray - did introduce the requirement of a HW version 13 for CSI[here](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/commit/78ba2a6fcd17b137bfda1766537217b8b1aecb60) but this probably changed given the docs @codenrhoden is pointing to.

Also @ncdc is correct, officially the project only support 6.7u3 and above.

[2020-08-18 10:30] randomvariable commented on #998
Just a note that this isn't formally documented, so as a follow up, this needs to be made clear somewhere in the repo.

[2020-08-18 10:31] yastij opened #1000 "CAPV doesn't delete the resources when the VM Folder doesn't exist"
/kind bug

**What steps did you take and what happened:**

When you provision a cluster with a wrong folder name, you won't be able to delete the resources on the management cluster unless you create that folder, then trigger a delete

**What did you expect to happen:**
CAPV should be able to delete the resources when the supplied folder doesn't exist

**Anything else you would like to add:**

**E

[2020-08-18 10:47] yastij commented on #998
we dropped 6.5 a while ago, this should have been documented somewhere. Let's use this issue to track the changes/docs to raise the bar to >=6.7u3

[2020-08-18 10:55] mylesagray commented on #998
Confirmed that @SandeepPissay has said internally HW15 is required for CSI, as was noticed by Robbie Jerrom when he was testing it.

The doc update was based on early internal research - that has since been updated to HW15.

[2020-08-18 14:58] codenrhoden commented on #998
image-builder [set this to 13](https://github.com/kubernetes-sigs/image-builder/pull/60) back when it was 6.5 and up, but hasn't been updated since. I figured this was a good opportunity to update everything across the board if that was what was needed. And it sounds like it is!

[2020-08-18 15:02] codenrhoden commented on #998
It is mentioned in the [getting started guide](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/getting_started.md) specifically calling out version 13 and needing to upgrade to that if using older images. So that will need to be updated to.

As a side-note, anyone know how to link to a specific line in a markdown file in GitHub? 😆  I've never figured that out since

[2020-08-18 15:03] randomvariable commented on #998
Click on the file, and then choose "Show source blob"
![image](https://user-images.githubusercontent.com/1441070/90530089-637bd980-e16c-11ea-95f3-d80c7f4fa704.png)

[2020-08-19 10:26] fabriziopandini commented on #924
@MaxRink I'm reporting here the TL;DR from the slack thread, please correct me if there is something incomplete or wrong.

- CAPV allows to opt-out from CSI and CCM installation via API config
- Without CCM, nodes do not get ready, so we are exploring the installation of CCM in the management cluster
- installation of CCM in the management cluster happens via the git-ops tooling, in sync with the

[2020-08-19 14:54] andrewsykim opened #1002 "Update vsphere cloud provider to v1.2.0"
/kind feature

**Describe the solution you'd like**
vSphere cloud provider v1.2.0 has some good improvements / bug fixes we may want to pick up here. v1.2.0 should be compatible with any Kubernetes versions v1.1.0 supported.

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-re

[2020-08-19 14:54] andrewsykim commented on #1002
/assign @gwang550

[2020-08-19 15:03] #996 closed

[2020-08-19 17:33] vincepri opened #1004 "Use pkg/errors `Is` to determine error types"
Brought up originally in #1003, we have a bunch of private functions that check if an error is of a certain type. These functions can become tedious and cumbersome over time to maintain. The `pkg/errors` package has an `errors.Is` function exposed that can be used for this purpose, we should cleanup our internal codebase.

/kind cleanup

[2020-08-19 17:41] #1000 closed

[2020-08-20 15:02] randomvariable opened #1006 "Support CoreOS Ignition for Flatcar Linux"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Tracking issue for FlatCar Linux support

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-relea

[2020-08-20 16:41] #1002 closed

[2020-08-20 20:18] ncdc opened #1007 "Run Kubernetes conformance tests as postsubmit and periodic Prow jobs"
**Describe the solution you'd like**
Once https://github.com/kubernetes-sigs/cluster-api/pull/3306 is merged and consumable here, we should add a postsubmit job and a periodic job to run Kubernetes cluster conformance tests.

**Anything else you would like to add:**
Supersedes #54

[2020-08-20 23:14] abhinavnagaraj opened #1008 "VSphereVM validation error on upgrading capv from v0.6.6 to v0.7.0"
/kind bug

**What steps did you take and what happened:**
Had an existing 1 master / 1 worker cluster running with capv v0.6.6
Upgraded the cluster to the latest capv version v0.7.0

The capv-controller-manager logs show this error in every reconcile:
[code]
On comparing the old and new VSphereVM specs, the only difference was the VSphereVM.Spec.BootstrapRef
This was updated from 'KubeadmConfig' t

[2020-08-24 08:37] kaitoii11 opened #1012 "Broken link on README"
/kind bug

**What steps did you take and what happened:**
The link to the OVA image in the Feature section on README has a broken link.
The referring document `doc/machine_image.md` is not found.

**What did you expect to happen:**
The link should jump to the OVA image list.

**Anything else you would like to add:**

[2020-08-24 09:45] #1012 closed

[2020-08-24 10:23] #1008 closed

[2020-08-24 11:43] Emc1992 opened #1015 "Machine stuck in Provisioning state"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The 'machine' never completes provisioning and remains in a "Provisioning" state for the master node and worker nodes never provision

`kind create cluster`
`clusterctl init --infrastructure vsphere:v0.7.0`
`clusterctl config cluster vsphere-quickstart \`
`    --infrastructure vsphere \`

[2020-08-24 14:16] ncdc commented on #1015
@Emc1992 could you please provide the core cluster-api logs? `kubectl -n capi-system logs deploy/capi-controller-manager`? This is what's responsible for changing the machine's state.

[2020-08-24 16:21] Emc1992 commented on #1015
`kubectl get machines -w`:
`vsphere-quickstart-4cf8c                  vsphere://REDACTED   Provisioning`
`vsphere-quickstart-md-0-b8578fbf5-7sk24                Pending`
`vsphere-quickstart-md-0-b8578fbf5-s57t6                Pending`
`vsphere-quickstart-md-0-b8578fbf5-wgsbj                Pending`

` KUBECONFIG=vsphere-quickstart.kubeconfig kubectl get nodes`:
`vsphere-quickstart-4cf8c   Ready

[2020-08-24 16:24] ncdc commented on #1015
If possible, could you please create gists of the full capi & kcp logs?

[2020-08-24 16:34] Emc1992 commented on #1015
https://gist.github.com/Emc1992/6e86da7403dab4b973d80d87ab9c7388 <- is that ok?

[2020-08-24 16:39] fabriziopandini commented on #1015
might be this is related to https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1011
@Emc1992 could you kindly test with vSphere provider v0.7.1?

[2020-08-24 16:42] Emc1992 commented on #1015
Sure, give me 5

[2020-08-24 17:12] Emc1992 commented on #1015
Same errors unfortunately - will keep digging

[2020-08-24 17:23] Emc1992 commented on #1015
Still digging but found this in capi-kubeadm-control-plane-system:

E0824 17:00:01.679395       1 controller.go:206] controllers/KubeadmControlPlane "msg"="Failed to patch KubeadmControlPlane" "error"="error patching conditions: The condition \"Ready\" was modified by a different process and this caused a merge/AddCondition conflict:   \u0026v1alpha3.Condition{\n  \tType:               \"Ready\",\

[2020-08-24 19:13] ncdc commented on #1015
Are you able to provide the complete log files (no grepping) for capi, kcp, and capv?

[2020-08-24 19:20] Emc1992 commented on #1015
I don't believe I was grepping, iirc that was pretty much it but I'll recheck tomorrow

[2020-08-24 19:23] ncdc commented on #1015
Thanks (I would expect more than 10 lines per log)

[2020-08-25 18:11] Emc1992 commented on #1015
https://gist.github.com/Emc1992/0baf9f52a73354db9cb4573aa66554ec

[2020-08-25 18:33] ncdc commented on #1015
It looks like there is something wrong with the connectivity from the management cluster to the workload cluster's apiserver. Are you using the HAProxy load balancer VM, or kube-vip?

[2020-08-25 18:48] Emc1992 commented on #1015
No however I think I'm on to something - it looks like the pod subnet is hardcoded in the cluster template to 192.168.0.0/16 and so assumes im on a class C network - is there a method I could use to override this?

[2020-08-25 18:59] ncdc commented on #1015
The pod CIDR needs to be a CIDR that is not already in use / conflicting with any existing subnet in your network. It's fine to be 192.168/16 if you aren't using that anywhere else. If you need to change it, you can edit your `cluster.yaml` file. You will probably need to adjust your Calico manifest too to match.

If 192.168/16 is not currently in use, you shouldn't need to make any changes.

I wo

[2020-08-25 19:19] Emc1992 commented on #1015
but if I can hit the api server to verify the manager node is in a ready state, doesn't that confirm connectivity?
i.e. KUBECONFIG=vsphere-quickstart.kubeconfig kubectl get nodes gives me an output

[2020-08-25 19:52] ncdc commented on #1015
Yes. I suppose the log lines that look like
[code]
maybe aren't happening any more?

Can you share `kubectl get kubeadmcontrolplane -o yaml`?

[2020-08-25 20:03] Emc1992 commented on #1015
https://gist.github.com/Emc1992/4b206a83aecd291d05ff1919629ff554

[2020-08-25 20:14] ncdc commented on #1015
[code]

It looks like this is because the management cluster is having a problem running the equivalent of `kubectl -n kube-system get configmap/kubeadm-config` against the workload cluster. Are you able to do that?

[2020-08-25 20:22] Emc1992 commented on #1015
sure let me check, however shouldn't we expect these to be false? i.e is isnt waiting waiting for kubeadminit(because its already kicked off) or did I miss read it that logic?

[2020-08-25 20:24] ncdc commented on #1015
I accidentally missed the last line (now fixed above) - you can see both the Ready and Available conditions are False, with the reason being WaitingForKubeadmInit.

[2020-08-25 20:41] Emc1992 commented on #1015
Ah ha!! I missed that! Thank you - I'll play around with that once I get back to the laptop and let you know.

[2020-08-26 10:35] randomvariable commented on #902
As discussed previously, vCloud Director's API is different enough to vSphere that it should be treated as a different project which would need to be proposed to SIG Cluster Lifecycle or the VMware User Group.

/close

[2020-08-26 10:35] #902 closed

[2020-08-28 16:10] fabriziopandini commented on #991
/assing
/lifecycle active

[2020-08-28 19:33] abhinavnagaraj opened #1020 "Control plane endpoint in VSphereCluster overwritten by Cluster"
/kind bug

**What steps did you take and what happened:**
 Launched a 3 master/3 worker cluster with static IP as the choice of IP allocation.

The kube-vip was not preconfigured in VSphereCluster( ControlPlaneEndpoint.Host = "", ControlPlaneEndpoint.Port= 6443 ). Instead, a third party IPAM controller set this IP when the VSphereCluster object was available.

Although this allocation went through

[2020-08-31 18:01] gab-satchi commented on #999
/assign

[2020-09-03 13:07] #999 closed

[2020-09-03 17:48] randomvariable commented on #1007
Had to reopen the PR anew, so it's https://github.com/kubernetes-sigs/cluster-api/pull/3593

[2020-09-03 17:48] randomvariable commented on #969
Depends on https://github.com/kubernetes-sigs/cluster-api/pull/3593

[2020-09-03 17:58] yastij commented on #1015
@Emc1992 - is this solved for you ?

[2020-09-03 17:59] Emc1992 commented on #1015
It wasn't, trying with the latest capi at the moment

[2020-09-03 20:55] Emc1992 commented on #1015
Looks to be working as of now, I played around with some ranges of the pod networks as well as bumping the versions and everything looks to be provisioning(apart from an issue with addons.cluster.x-k8s but doesn't appear to prevent deployment)

[2020-09-08 07:39] rakshith-ponnappa opened #1024 "Error moving the management cluster to vsphere: Unauthorized error"
/kind bug

We are trying to move the management cluster to vsphere.

Prompted with the below error on coredns, vpshere csi controller and cert-manager.

Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "f4e0b5741907d256c99dc0bade765f96937ccb1391f8be978c59a84e3c6bfc45": error getting ClusterInformation: connection is unauthorized: Unauthorized

All

[2020-09-08 08:49] fabriziopandini commented on #1024
If I should give my two cents I will investigate the weave logs/the weave setup. It seems that the CNI plugin is failing to provide networking for new pods due to RBAC issues...

[2020-09-08 10:04] yastij commented on #1015
closing this, If this re-appears please feel free to re-open

[2020-09-08 10:04] #1015 closed

[2020-09-08 10:08] yastij commented on #1024
as part of the podsandbox creation, the CNI needs to do all of the plumbing for the networking, as @fabriziopandini said looks like some weave RBACs are missing

[2020-09-08 15:20] rakshith-ponnappa commented on #1024
@fabriziopandini @yastij thanks for the insight. Post fixing the cni issue we were able to move the management cluster to vsphere.

[2020-09-08 15:21] #1024 closed

[2020-09-09 14:09] #1020 closed

[2020-09-11 09:01] Danil-Grigorev opened #1030 "Fail to shrink disk size while cloning VM template"
/kind bug

**What steps did you take and what happened:**

1) Clone VM from a template, and specify a lower `DiskGiB` then it's specified on the template
2) Cloning fails with an undescriptive error message: `Invalid operation for device '0'.`

**What did you expect to happen:**

Show an error on specifying an invalid user input, and do not attempt to clone the template.

**Anything else you would

[2020-09-11 09:37] randomvariable commented on #1030
Probably makes most sense to fail the machine (the other option would be at webhook validation, but feels wrong to be connecting to vcenter at that point).

[2020-09-11 15:42] #1030 closed

[2020-09-13 19:26] #468 closed

[2020-09-13 19:26] #827 closed

[2020-09-13 19:26] #857 closed

[2020-09-14 14:45] #895 closed

[2020-09-14 15:46] #680 closed

[2020-09-22 15:52] #882 closed

[2020-09-24 13:30] fabriziopandini opened #1033 "Delete load balances should not start if there are still VSphereMachines"
/kind bug

**What did you expect to happen:**
as per https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1019#discussion_r491992765

In reconcile delete, we are checking if there are pending VSphereMachines only _after_ deleting the load balancer, but in that case, the user won't be able to operate those machine due to the missing load balances.

https://github.com/kubernetes-sigs

[2020-09-24 17:51] randomvariable opened #1035 "Relax constraints on network devices and bubble up PCI port information"
/kind feature

**Describe the solution you'd like**
Assuming https://github.com/kubernetes-sigs/image-builder/issues/390, it should be possible to not have to specify the MAC address or device name for multiple devices, as the device name should be inferrable from the PCI port.

CAPV should not require either MAC address or device names to be specified for multiple NICs, and should additionally ex

[2020-09-24 18:07] yastij opened #1036 "Failure Domains support in CAPV"
/kind feature

**Describe the solution you'd like**

CAPV should be able to surface failure domains, so that machines are spread across these.

The current proposal can be found [here](https://docs.google.com/document/d/1WBsNQofkoXeT_KVNehs5E7HJ89kbpf5YBgIEPT5UXO0/edit?usp=sharing)

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes ver

[2020-09-25 09:54] fabriziopandini opened #1037 "Make VSphereMachine to report WaitingForControlPlane"
/kind feature

During cluster provisioning, we are observing

[code]

As you can see, the `VSphereMachine` is reporting `WaitingForBootstrap` data, so the user is required to jump to the `KubeadmConfig` object in order to discover the real reason we are waiting, which is because we are still `WaitingForControlPlaneAvailable`

This issue advocates for getting the `VSphereMachine` to report `Waiting

[2020-09-25 17:08] srm09 opened #1038 "Create v1alpha4 types, cleanup v1alpha2 and conversion webhooks from v1alpha3 to v1alpha4"
/kind feature

**Describe the solution you'd like**
- Generate types for v1alpha4
- Add conversion webhooks from v1alpha3 to v1alpha4
- Remove v1alpha2 types

**Anything else you would like to add:**
n/a

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-09-25 20:06] #790 closed

[2020-09-26 13:16] evalsocket commented on #572
/assign @evalsocket

[2020-09-26 13:18] evalsocket commented on #572
Hey @outofmem0ry  Can this assign to me? If you are not working on it

[2020-09-26 13:22] evalsocket commented on #1004
/assign @evalsocket

[2020-09-27 17:55] outofmem0ry commented on #572
@evalsocket sure, thanks for picking this up.

[2020-09-28 14:46] #991 closed

[2020-09-28 17:24] jzhoucliqr opened #1039 "Failure domain support"
/kind feature

**Describe the solution you'd like**
Add control plane failure domain support in CAPV.

**Anything else you would like to add:**
Design doc:  https://docs.google.com/document/d/1WBsNQofkoXeT_KVNehs5E7HJ89kbpf5YBgIEPT5UXO0/edit?ts=5f72090b#

If you have any use case for failure domain in capv, please leave a comment here or in the doc, about what kinds of topology that you are lookin

[2020-09-28 17:25] jzhoucliqr commented on #1039
/assign self

[2020-09-28 17:26] yastij commented on #1039
closing as a dupe of #1036

[2020-09-28 17:26] #1039 closed

[2020-09-28 17:27] jzhoucliqr commented on #1039
Thanks @yastij .

[2020-09-28 17:27] yastij commented on #1036
@jzhoucliqr - I'm not able to assign it to you as you're not part of the kubernetes-sigs orgs yet, but consider it assigned to you

[2020-09-29 10:56] randomvariable commented on #572
/assign @evalsocket
/unassign @outofmem0ry

[2020-09-29 10:57] randomvariable commented on #572
@evalsocket can you just put `/lifecycle active` when you start work on it.

[2020-09-29 13:06] evalsocket commented on #572
/lifecycle active

[2020-09-29 13:07] evalsocket commented on #572
@randomvariable @outofmem0ry  @voor  can you tell me the fields so that i can start

[2020-09-29 14:58] randomvariable commented on #572
Been off CAPV for a while, so whatever might be helpful to an end user if they do `kubectl get`, and then need to do a `kubectl describe` to do an actual task. things like host names, ip addresses. there will be some limitations, because of server side printing doesn't allow full json path expressions because of CPU cost. Have a look at CAPA's for examples.

[2020-09-30 18:00] randomvariable opened #1042 "Test if experimentalRetryJoin still needed for K8s 1.19+"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Run some e2e tests and see if experimentalRetryJoin is still needed as per https://kubernetes.slack.com/archives/C8TSNPY4T/p1601486982126900

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-pro

[2020-10-06 01:53] rhockenbury opened #1043 "Specify storage policy for VM"
/kind feature

**Describe the solution you'd like**
The vSphereMachineTemplate resource should allow a user to specify the storage policy for the VM.

**Anything else you would like to add:**
This can be accomplished today by specifying a vm template that uses the desired storage policy.  However, some users may want more flexibility.

**Environment:**

- Cluster-api-provider-vsphere version:
- Ku

[2020-10-08 10:31] yastij commented on #920
@MaxRink - are you still seeing this issue ?

[2020-10-08 11:42] MaxRink commented on #920
no, looking back to this i think this was related to the way how we initially botstrapped cni via shellscripts and files, which broke some parts of cloud-init

[2020-10-08 11:42] #920 closed

[2020-10-09 03:15] MnrGreg opened #1044 "Fully qualified hostname is truncated on reboot causing node registration failure"
/kind bug

**What steps did you take and what happened:**

1. MachineDeployment configured with DNS search domain under VSphereMachineTemplate/spec/template/spec/network/devices/searchDomains

[code]

2. deployed new machines which joined cluster successfully with fully qualified node names

[code]

/etc/hosts
[code]

/tmp/kubeadm-join-config.yaml
[code]

3. upon reboot the cloud-init seems to rec

[2020-10-09 13:16] yastij commented on #1044
@MnrGreg - is it the upstream OVA, or are you building one yourself ? what's the cloud-init version ?

[2020-10-09 14:57] MnrGreg commented on #1044
This is with the upstream OVA [photon-3-kube-v1.18.2.ova](http://storage.googleapis.com/capv-images/release/v1.18.2/photon-3-kube-v1.18.2.ova) and looks like its bundled with cloud-init 19.1-8.ph3

Will test with the v1.19.1 OVA and see if there is any difference.

[2020-10-10 03:54] MnrGreg commented on #1044
The latest [photon-3-kube-v1.19.1.ova](http://storage.googleapis.com/capv-images/release/v1.19.1/photon-3-kube-v1.19.1.ova) does not have the same problem. FQDN hostnames are stable through reboots.

This image uses cloud-init 19.4-9.ph3. Not where the problem originates, or where it is resolved, but it's working.

[2020-10-10 03:54] #1044 closed

[2020-10-14 14:07] fabriziopandini commented on #734
/lifecycle frozen
The CAPI e2e frameworks now support exporting logs from machines before deletion, but this requires to provide a log collector for CAPV.
This is an example from CAPZ https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/976

[2020-10-14 16:31] srm09 commented on #1038
/miloestone next

[2020-10-21 19:02] vincepri commented on #949
/lifecycle frozen

[2020-10-22 07:37] fabriziopandini commented on #967
/remove-lifecycle stale

[2020-10-22 07:38] fabriziopandini commented on #943
/remove-lifecycle stale

[2020-10-22 07:38] fabriziopandini commented on #942
/remove-lifecycle stale

[2020-10-22 07:38] fabriziopandini commented on #941
/remove-lifecycle stale

[2020-10-22 14:35] andrewsykim commented on #947
/remove-lifecycle stale

This is still pretty important from my perspective, in general we shouldn't label private addresses spaces as `ExternalIP`. It's also not consistent with how we address node addresses.

[2020-10-22 16:46] vrabbi opened #1048 "Build CAPV images as multi-arch images (arm support)"
/kind feature

**Describe the solution you'd like**
Now that there is the VMware ESXi on ARM fling, it would be great to have the images for CAPV to be multi-arch.
Currently, I know that kube-vip and the core CAPI components are multi arch making the CAPV controller the next step in getting this to work on ARM. i know that CPI and CSI are not yet multi-arch and i have opened an issue on the vspher

[2020-10-22 17:07] #1033 closed

[2020-10-26 10:59] yastij commented on #947
@andrewsykim - Agreed. As this is a breaking changing my thinking was to include this in the set of breaking changes of v1a4

[2020-10-26 13:59] andrewsykim commented on #947
It's only a breaking change if we stop setting ExternalIP. I don't think it would be a breaking change to start setting InternalIP now though?

[2020-10-26 15:47] yastij commented on #947
The interesting bit is that we don't have a way to distinguish between InternalIP and ExternalIP. Are you suggesting to set both ?

[2020-10-26 15:54] andrewsykim commented on #947
If we can't distinguish between the two, we should set the type based on what is most common -- which from my understanding is InternalIP, since almost always a VM's machine IP is internal to a vCenter. In an ideal world we would just set InternalIP, but removing ExternalIP is a breaking change.

My suggestion would be to set both InternalIP and ExternalIP for the remainder of v1alpha3 and remove

[2020-10-27 18:33] yastij commented on #947
that makes sense wrt timelines

[2020-11-04 18:21] yastij opened #1051 "support ca.crt Thumbprint verification for CAPV"
/kind feature

**Describe the solution you'd like**

CAPV needs to support secure communications from now on. https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/917 tried to add this through using a `secure` flag and offloading trust to the operator (e.g. by mounting the ca.crt into the `capv-controller-manager` which isn't ideal, especially when running with multiple vcenters)

[2020-11-05 11:50] yastij commented on #984
closing this, as we have now conditions that surface these issues

[2020-11-05 11:50] #984 closed

[2020-11-13 03:29] cprivite commented on #829
/remove-lifecycle rotten

[2020-11-13 16:09] #918 closed

[2020-11-20 15:21] yastij commented on #876
closing this, please re-open the issue, if it doesn't work for you

[2020-11-20 15:21] #876 closed

[2020-11-25 06:18] WenwuPeng opened #1055 "VM can't startup when cluster node with multi-nics"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Create Kubernets cluster which node with multi-nics, the VM can't start up when have multi-nics

During debug, found interface map mac addresses is mixed.
in the spec, the node have 4 nics(see the screenshot multi-nics-spec.png), the guest-info metadata showed the correct nic info includ

[2020-11-25 06:19] WenwuPeng commented on #1055
<img width="1313" alt="multi-nics-iplink" src="https://user-images.githubusercontent.com/8415148/100190384-19ec1900-2f29-11eb-8a19-573cbfa95310.png">
<img width="995" alt="multi-nics-guestinfo-metadata" src="https://user-images.githubusercontent.com/8415148/100190386-1a84af80-2f29-11eb-9d53-d87e8787914c.png">
<img width="627" alt="multi-nics-spec" src="https://user-images.githubusercontent.com/841

[2020-11-25 13:49] jonkerj opened #1056 "Generated CPI manifest has wrong toleration in K8S 1.19"
/kind bug

**What steps did you take and what happened:**
I am using CAPV to bootstrap Talos on vSphere (using CABPT and CACPPT), which mostly works fine. My workload cluster is based on K8S 1.19.3. At the final step, when the API endpoint becomes available, CAPV injects the CPI in the workload cluster. On my workload cluster, however, this consistently leads to a non working `DaemonSet`:

[code]

[2020-11-25 13:56] jonkerj opened #1057 "Generate cluster config depending on bootstrap/controlplane providers"
/kind feature

Note: it could very well be that I am filing this request in the wrong GH repo, since I do not know which part of the x-api projects is responsible for this area. Feel free to correct me.

**Describe the solution you'd like**
I am using CAPV in conjunction with Talos' CABPT and CACPPT. In order to get a working `cluster.yaml` containing the right resources to fire up a cluster, I ha

[2020-11-25 17:59] fabriziopandini commented on #1057
FYI clusterctl supports fetching cluster templates from other locations (different than the provider's repository) by using the `--from` flag; see [Alternative sources for cluster templates](https://cluster-api.sigs.k8s.io/clusterctl/commands/config-cluster.html#alternative-source-for-cluster-templates). This could avoid the need of creating a config file for providing an alternative source of art

[2020-11-26 07:12] jonkerj commented on #1056
There seems to be a proposed solution in kubernetes/cloud-provider-vsphere#392

[2020-12-01 12:23] yastij commented on #1056
@jonkerj - I checked quickly, default seems to be

[code]

but adding exists would cover your use case, so I'm +1

[2020-12-02 14:38] #919 closed

[2020-12-02 15:04] #1051 closed

[2020-12-07 22:27] embano1 commented on #1036
This proposal is great and implements most of the ideas in this old (in-tree) issue and relates PRs: https://github.com/kubernetes/kubernetes/issues/64021

The KEP is not specific about soft/hard DRS rules, and in case of soft how to deal with potential label drift (see issue above). Also, I'm curious why don't we propagate host group, eg "rack", failure domain labels for use case one? Any technic

[2020-12-15 18:44] yastij opened #1065 "Probe vcenter connectivity as part of vspherecluster readiness"
/kind feature

**Describe the solution you'd like**
the vspherecluster should probe vcenter to ensure it's reachable + able to resolve it and surface it clearly to the user through a condition

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version: 0.7.1
- Kubernetes version: (use `kubec

[2020-12-16 11:59] #801 closed

[2020-12-16 11:59] #872 closed

[2020-12-16 11:59] #873 closed

[2020-12-16 11:59] #888 closed

[2020-12-16 11:59] #887 closed

[2020-12-23 07:08] farodin91 opened #1068 "Support UEFI boot"
/kind feature

**Describe the solution you'd like**
It would be really if we can decide between BIOS or EFI as firmware.

**Anything else you would like to add:**
Their is already a PR in the image builder repo to support efi boots together with secure boot, see https://github.com/kubernetes-sigs/image-builder/pull/408.

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes versio

[2020-12-24 08:15] ZhangYW18 opened #1069 "Cannot create worker nodes with CentOS7 and K8S 1.19.1 OVA as template"
/kind bug

**What steps did you take and what happened:**
I'm using published OVAs (http://storage.googleapis.com/capv-images/release/v1.19.1/centos-7-kube-v1.19.1.ova) as machine template to create a workload cluster with 1 master node (KubeadmControlPlane) and 2 worker nodes in a management cluster. Part of the YAML file generated is like this:
[code]
After applying such YAML, the HAProxyLoadBal

[2020-12-24 16:12] #819 closed

[2020-12-25 10:19] farodin91 commented on #1068
Or it is just enough to set it in the template?

[2021-01-04 10:52] fabriziopandini commented on #1037
/remove-lifecycle stale

[2021-01-04 10:55] fabriziopandini commented on #1042
/remove-lifecycle stale

FYI some of the latest improvements in KCP for fixing race conditions during slow joins should help in avoiding join failures (e.g https://github.com/kubernetes-sigs/cluster-api/pull/3971).

[2021-01-04 17:51] yastij opened #1070 "rate-limit vcenter tasks for vsphereVMs"
/kind feature

**Describe the solution you'd like**: given that today CAPI doesn't scale/create machines gradually, CAPV should rate-limit the creation of tasks, to avoid overloading vcenter. This is especially true for a large number of workers (e.g. 1k node clusters).

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-vsphere version:  0.7.1
- Kubernetes version:

[2021-01-05 17:21] yastij opened #1071 "username and passwords should be escaped"
/kind bug

**What steps did you take and what happened:** currently credentials aren't escaped, this should be fixed when a user provides `DOMAIN\USER` username for example

**What did you expect to happen:**

**Anything else you would like to add:**

**Environment:**

- Cluster-api-provider-vsphere version: 0.7.1
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-01-05 17:21] srm09 commented on #1071
/assign

[2021-01-08 18:52] #1043 closed

[2021-01-11 17:30] #1065 closed

[2021-01-12 15:47] farodin91 commented on #1068
It is enough to activate Efi inside of the template.

[2021-01-12 15:47] #1068 closed

[2021-01-12 17:35] fabriziopandini commented on #1038
/remove-lifecycle stale

[2021-01-12 17:36] srm09 commented on #1038
/assign

[2021-01-12 23:22] #1071 closed

[2021-01-13 00:37] srm09 opened #1075 "Fix dev-manifests Makefile target"
/kind bug

**What steps did you take and what happened:**
During CAPV development, we use the Makefile target `dev-manifests` to generate the infra-components and cluster-config manifests to be used by clusterctl. Currently, this target does not copy the `metadata.yml` to the `~/.cluster-api/overrides/infrastructure-vsphere/<version>` directory which causes `clusterctl init` to fail.

**What did y

[2021-01-13 00:38] srm09 commented on #1075
/assign

[2021-01-13 00:51] srm09 commented on #1038
@yastij Is this issue blocked on anything? Can we start the v1alpha4 work on the main branch?

[2021-01-13 16:28] yastij commented on #1038
@srm09 - we should be okay starting the work in the main branch

[2021-01-14 14:35] gab-satchi opened #1078 "Update vsphere-csi to v2.1.0"
/kind feature

**Describe the solution you'd like**
Request to update the vsphere-csi version used in capv templating to the newly released [version](https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.1.0)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-01-14 14:37] gab-satchi opened #1079 "Update vsphere-csi to v2.1.0"
/kind feature

**Describe the solution you'd like**
Request to update the vsphere-csi version used in capv templating to the newly released [version](https://github.com/kubernetes-sigs/vsphere-csi-driver/releases/tag/v2.1.0)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-01-14 14:37] gab-satchi commented on #1079
/assign
/lifecycle-active

[2021-01-14 14:38] #1079 closed

[2021-01-14 14:39] gab-satchi commented on #1078
/assign
/lifecycle active

[2021-01-15 12:44] #500 closed

[2021-01-15 12:44] #975 closed

[2021-01-15 14:25] #1075 closed

[2021-01-15 20:52] srm09 opened #1082 "Update controller-runtime version"
/kind feature

**Describe the solution you'd like**
We are still using the v0.5.11 of the controller-runtime package. Since we want to follow CAPI and start using envTest for the controller tests, we might need to update the controller-runtime version to a v0.7.x or v0.8.x series.

**Anything else you would like to add:**
One thing to remember is that updating to v0.7.x/v0.8.x might require us to

[2021-01-15 20:54] srm09 commented on #1082
Potentially blocked on a newer version of CAPI. Having a discussion around it in the next CAPI meeting.

[2021-01-18 10:36] yastij opened #1083 "CloudConfigSecret should not be reconciled if CloudProviderConfiguration is empty"
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind bug

originally filed by @vijaykatam in https://github.com/kubernetes/cloud-provider-vsphere/issues/431

**What happened:** The controller fails clusters when CloudProviderConfiguration is empty trying to reconcile VSphereCluster.Spec.CloudProviderConfiguration.VCenter

**What you expected to happen:** Controller should skip reconciling cloud-co

[2021-01-18 16:27] #1083 closed

[2021-01-19 19:04] chris-milsted opened #1085 "TLS fingerprint error thrown - need example of how to specify this"
/kind bug

I have been following the walkthrough and it has broken with a TLS fingerprint error which I suspect may be a result of the code change to enable secure comms here:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1053

When I run the step to generate the cluster.yaml code it fails.

clusterctl config cluster vsphere-quickstart \
    --infrastructure vsphere \
    -

[2021-01-20 13:59] yastij commented on #1085
/assign

[2021-01-20 15:44] jayunit100 opened #1086 "No log message for missing VM Templates"
/kind bug

It looks like sometimes, if a vm template/ova isnt uploaded, cluster api vsphere starves (never does work to make the new clusters) , but it also never tells you that it can't find the VM Template.

Are there cases where missing VM Templates cause the capv-controller-manager to `skip` a beat, without being logged?  If so, lets pretty please increase the verbosity of logging failures aro

[2021-01-20 16:42] yastij commented on #1086
@jayunit100 - can you describe the `VSphereVM` object ?

[2021-01-20 17:02] #1085 closed

[2021-01-20 23:47] jayunit100 commented on #1086
too late i lost the cluster
is this a thing where we moved logs into conditions maybe?

[2021-01-21 15:42] yastij commented on #956
closing since this comes with storage policy support

[2021-01-21 15:42] #956 closed

[2021-01-21 17:55] shysank opened #1089 "Containers still run as root due to non-numeric user in Docker image"
/kind bug

**What steps did you take and what happened:**
This is a duplicate of [capi non root user bug](https://github.com/kubernetes-sigs/cluster-api/issues/4046)

**What did you expect to happen:**
capv should not fail when psp for non root users is enabled

**Anything else you would like to add:**
[capi fix](https://github.com/kubernetes-sigs/cluster-api/pull/4064)

**Environment:**

- cluste

[2021-01-21 18:46] srm09 commented on #1089
/label good-first-issue

[2021-01-22 08:23] stormobile commented on #968
Is there any progress here or help needed? I've seen that key propagation was merged in the latest release but is there at least some design around the feature? I am mostly interested if there are some ideas around VM scheduling cause all the VmWare guides require manual setup of the particular PCI Device for each VM (no scheduling)

[2021-01-22 16:10] MaxRink opened #1091 "StoragePolicyPlacement does not apply across Datastores"
/kind bug
Link to slack discussion https://kubernetes.slack.com/archives/CKFGK3SSD/p1611328804003700
**What steps did you take and what happened:**

we have two DS-clusters:
A policy called SSD is pointing to the SSD one, one called nearline to the Nearline one.
The templates are stored on nearline.
If i specify the SSD pool for my controlplane and the nearline pool for my workers, both the worker

[2021-01-22 22:31] srm09 commented on #1089
FYI other providers, to test https://github.com/kubernetes-sigs/cluster-api/issues/4046
create the `kind` management cluster with the following config:
[code]

[2021-01-25 13:22] #1089 closed

[2021-01-26 19:49] alexander-demichev commented on #1006
Hi, I'm interested in implementing support for ignition files.

[2021-01-27 10:43] JoelSpeed commented on #1006
/assign @alexander-demichev

[2021-01-27 23:33] srm09 commented on #1082
Waiting for this to merge https://github.com/kubernetes-sigs/cluster-api/pull/4109

[2021-01-28 14:02] marratj opened #1096 "Control Plane does not scale beyond one node"
/kind bug

**What steps did you take and what happened:**
When setting the Control Plane replicas to a larger number than `1` (in `KubeadmControlPlane`) the control plane becomes ready but never scales beyond one node. The CAPV Manager seems to be not even trying to scale the number of control plane nodes up:

`"msg"="skipping reconcile when API server is online"  "reason"="controlPlaneInitialized

[2021-01-29 12:07] marratj commented on #1096
After some more digging, I found that the capi-manager is complaining about an empty providerID:

[code]

[2021-01-29 13:04] marratj commented on #1096
Nevermind, I fixed the issue on our side. After reading some older, similar issues, I found that the CSI DaemonSet was not running as secrets were missing... but every time I created a new cluster I had the same issue, the ClusterResourceSet could not create the CSI config secret in the workload cluster.

Turns out that I shouldn't create the Cluster resources in the `cap-system` namespace... In a

[2021-01-29 13:06] #1096 closed

[2021-02-01 13:52] MaxRink opened #1097 "Support for NTP Pools in vSphereMachine(Templates)"
/kind feature

**Describe the solution you'd like**
Currently we can specify a DNS pool under spec.network.devices[].nameservers
We cant specify a ppol of NTP server tho, although NTP is also needed for a smooth Netwokr operation.
This becomes a problem if you use static IPs / an IPAM controller and not DHCP (which would provide the corrent NTP servers to use)
Cloud-init already has support for se

[2021-02-01 15:29] MaxRink opened #1098 "Support for complete control of Network section by IPAM controller in vSphereMachine(Templates)"
/kind feature

**Describe the solution you'd like**
Currently the NetworkName is mandatory in the CRDs.
https://doc.crds.dev/github.com/kubernetes-sigs/cluster-api-provider-vsphere/infrastructure.cluster.x-k8s.io/VSphereMachine/v1alpha3@v0.7.4#spec-network-devices-networkName
That causes a Problem if you want to outsource all Network config to an IPAM Controller, as you still need to add the necas

[2021-02-01 18:15] srm09 commented on #734
/assign

[2021-02-01 18:37] yastij opened #1099 "deploy CPI in same minor version as Kubernetes"
/kind feature

**Describe the solution you'd like**

As CPI runs some of k/k controllers, we  need to match the CPI image tag with the KUBERNETES_VERSION. the patch version might be different between the tag and the kubernetes version though. we can have the CPI patch version as a const in `packaging/flavorgen` and use it.

**Anything else you would like to add:**
[Miscellaneous information that w

[2021-02-01 18:53] yastij opened #1100 "enable vspherecluster controller to report failure domains"
/kind feature

**Describe the solution you'd like**

the first step to start working on failure domains, is to add logic to the vspherecluster controller to list the failure domains verify that they're usable by that given `VSphereCluster`.
Ideally we should try and find if the specified datastore, networks etc.. exist in that given vcenter, if it exists then it can be appended to the `VSphereClus

[2021-02-01 18:56] yastij opened #1101 "update CAPV to read informations from the failure domain spec to create vsphereVMs"
/kind feature

**Describe the solution you'd like**

when a `VSphereMachine` is created with `.spec.failureDomain` set, it should get it and read from it to generate `VSphereVMs`, this should enable spreading machine across the desired failure domains

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provid

[2021-02-01 19:27] srm09 commented on #1099
**Info dump:**
- vSphere CPI images are published at https://console.cloud.google.com/gcr/images/cloud-provider-vsphere/GLOBAL/cpi/release/manager?gcrImageListsize=30
- The idea is to keep the minor kubernetes and vSphere CPI versions to be the same.
- `generators.go` already has a variable `KUBERNETES_VERSION` which is used to input the k8s version. We could use something similar for the CPI vers

[2021-02-01 22:19] srm09 commented on #1099
@yastij Are we expecting the generated YAML to have this:
`controllerImage: gcr.io/cloud-provider-vsphere/cpi/release/manager:'${KUBERNETES_VERSION}'` and some bash magic to replace the k8s patch version with the CPI patch version?

[2021-02-02 07:26] namgizlat opened #1103 "The event ProvisioningSucceeded is missing after pvc is bound"
/kind bug

**What steps did you take and what happened:**
Creating PVC using csi v1 driver
after applying the pvc creation, in the description of the pvc the event ProvisioningSucceeded is missing :
$ oc describe pvc
Name:          my-pvc
Namespace:     pvc-ns
StorageClass:  csi-sc
Status:        Pending
Volume:
Labels:        <none>
Annotations:   volume.beta.kubernetes.io/storage-provisioner: cs

[2021-02-02 19:36] yastij commented on #1099
cc @fabriziopandini ptal when you can for templating ideas and if/how we can leverage clusterctl

[2021-02-02 19:54] #1037 closed

[2021-02-02 20:01] #1103 closed

[2021-02-03 16:05] yannalf opened #1104 "CONTROL_PLANE_ENDPOINT_IP"
**What steps did you take and what happened:**
Followed quicktart with capv plane_endpoint ip is not getting assigned

**What did you expect to happen:**
CONTROL_PLANE_ENDPOINT_IP assigned to created vm

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: 0.3.13
- Minikube/KIND version: 0.10.0
- Kuber

[2021-02-03 19:13] vincepri commented on #1104
/assign @gab-satchi @srm09

[2021-02-03 19:44] srm09 commented on #1104
Testing with kind@0.10.0

[2021-02-03 20:25] gab-satchi commented on #1104
Hey @yannalf, are you able to reach the cluster still? The VM should still have an assigned IP that could be used even if it isn't the CONTROL_PLANE_ENDPOINT_IP. If you can, confirm that you see the kube-vip pod running.

[2021-02-03 23:25] srm09 commented on #1104
Hey @yannalf in addition, could you also log onto to the VM and get a couple of other information:
- check if the api-server pod is up and running. `crictl --runtime-endpoint /var/run/containerd/containerd.sock ps -a | grep kube | grep -v pause`
- also, get the `kube-apiserver` container logs. It should be under the `/var/log/pods/` directory.

I see the following error on my side,
[code]
out of w

[2021-02-04 14:28] fabriziopandini commented on #1099
@yastij  this is a tricky request.
If we encoding the function that maps kubernetes version and cpi version in CAPV, that won't be accessible in clusterctl while processing the templates.
Also I see a potential problem for upgrades, because CRS currently only support applyOnce, and AFAIK at least in CAPI there is nothing that will take care of upgrading CPI
Least but not last, what is the expected

[2021-02-04 21:06] bleech1 opened #1106 "Storage policy is only applied to VM Home, not disks"
/kind bug

**What steps did you take and what happened:**
We updated to v0.7.4 to be able to define the `storagePolicyName` for the `VSphereMachineTemplate`.  However, when we set the `storagePolicyName` to an encryption policy and created a new `VSphereMachineTemplate`, the `VM Home` of the resulting machine was encrypted, but the `Hard Disk 1` was not.
![homeEncrypted](https://user-images.github

[2021-02-05 05:43] yannalf commented on #1104
Hi gab-satchi,
Yes i can ssh using VM IP, but kube-vip POD IS is not running.
@srm09 api-server is IP and running .
I do have simular stderr, will share it

[2021-02-05 06:52] yannalf commented on #1104
@srm09
 crictl --runtime-endpoint /var/run/containerd/containerd.sock ps -a | grep kube | grep -v pause
W0205 06:46:18.662518    1792 util_unix.go:103] Using "/var/run/containerd/containerd.sock" as endpoint is deprecated, please consider using full url format "unix:///var/run/containerd/containerd.sock".
W0205 06:46:18.663306    1792 util_unix.go:103] Using "/var/run/containerd/containerd.sock" a

[2021-02-05 11:10] yastij commented on #1106
/assign @gab-satchi

[2021-02-05 22:10] wcurry opened #1107 "Machines stuck Provisioning, Node.Spec.ProviderID not set"
/kind bug

**What steps did you take and what happened:**

We have seen this bug following testing deletion of VMs from VSphere as well as deletion of Machine objects in CAPI. It has been infrequent, and hard to reproduce, but in the last two days we've hit it twice and spent some time looking more closely into it.

The Machine and VSphereMachine objects have the providerID, but it is not set in t

[2021-02-05 22:25] gab-satchi commented on #1107
/assign

[2021-02-05 23:04] yannalf commented on #1104
Hi,
Any chane ro find out why kube-vip not starting.?

[2021-02-08 19:28] yannalf commented on #1104
Hey Assignees,
Can you help to troubleshoot the issue and find why controlendpointip is not coming up ?

[2021-02-08 19:42] gab-satchi commented on #1104
Are you seeing any errors in `/var/log/cloud-init-output.log` with kubeadm?

[2021-02-08 20:00] yannalf commented on #1104
Hi gab-satchi ,
The is no error related to kubeadmin

but syslog  has the error
Feb  8 19:55:11 tstdhpclmgt-c6cjg kubelet[1095]: E0208 19:55:11.285076    1095 pod_workers.go:191] Error syncing pod 4aba279fbee10704fbba2e10251c69fe ("kube-vip-tstdhpclmgt-c6cjg_kube-system(4aba279fbee10704fbba2e10251c69fe)"), skipping: failed to "StartContainer" for "kube-vip" with ImagePullBackOff: "Back-off pulling

[2021-02-08 20:02] yannalf commented on #1104
cloud-init-output content

[2021-02-08 19:53:55] [kubelet-check] Initial timeout of 40s passed.
[2021-02-08 19:57:24]
[2021-02-08 19:57:24]   Unfortunately, an error has occurred:
[2021-02-08 19:57:24]           timed out waiting for the condition
[2021-02-08 19:57:24]
[2021-02-08 19:57:24]   This error is likely caused by:
[2021-02-08 19:57:24]           - The kubelet is not running
[2021-02-08 1

[2021-02-08 20:07] gab-satchi commented on #1104
Thanks. Others are experiencing similar issues as well: https://kubernetes.slack.com/archives/CKFGK3SSD/p1612806002063100

There is a workaround that worked for someone: bumping kube-vip to v0.2.0

[2021-02-08 20:13] srm09 opened #1109 "Update the kube-vip version in flavorgen"
/kind feature

**Describe the solution you'd like**
Update the `kube-vip` version to `0.2.0` in the `flavorgen` directory.

**Anything else you would like to add:**
Here is the [Slack thread](https://kubernetes.slack.com/archives/CKFGK3SSD/p1612806002063100) surrounding the discussion.

**Environment:**
- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.

[2021-02-08 20:19] yannalf commented on #1104
I cannot access this slack workspace . Do you mind sharing the content

[2021-02-08 21:03] srm09 commented on #1104
It is the k8s public Slack channel, you can join using https://slack.k8s.io/

[2021-02-08 21:07] yannalf commented on #1104
Thank you Gab-satchi and Srm09.
I joined the channel but do not see how to bump kube-vip to v0.2.0 ...
How to do that ?

[2021-02-08 21:14] gab-satchi commented on #1104
In the yaml you apply to create the cluster, you should see `KubeadmControlPlane` with an infrastructureTemplate. It should specify a file that is a pod spec to be placed in the static manifests folder. In the pod spec, you should see `plndr/kube-vip:<version>` for the image to use. Updating that image should update the kube-vip pod

[2021-02-08 21:15] gab-satchi commented on #1104
regarding that, you should make sure the VM has access to that image.

[2021-02-11 18:10] #1106 closed

[2021-02-16 12:55] yastij commented on #1107
@wcurry - can you share which version of the CPI you're using + logs from the cloud-controller-manager ?

[2021-02-18 04:08] rwlib3 commented on #1107
experiencing the same thing. Nodes are deploying (visible via kubectl get machines and get vspsheremachines), but stuck in "Provisioning"...in the management cluster.

In the k8s cluster the nodes are visible and show "Ready" but no External IP is visible in the k8s cluster side.

capi-controller-manager log
E0218 03:41:53.126751       1 machine_controller_noderef.go:152] controllers/Machine "msg"

[2021-02-18 17:03] gab-satchi commented on #1104
@yannalf any updates to this issue?

[2021-02-18 18:11] MaxRink opened #1113 "RBAC deployed for CCM doesnt include leases"
/kind bug

**What steps did you take and what happened:**
The RBAC created for just the CCM doesnt include the Rights to read and write leases, thus the CCM deployment will fail.

Adding
[code]
to the ClusterRole will fix it.

**What did you expect to happen:**
The CCM can run and assign ProviderIDs

**Environment:**

- Cluster-api-provider-vsphere version: 0.7.4

[2021-02-18 18:14] MaxRink commented on #1113
I guess this should fix it: https://github.com/MaxRink/cluster-api-provider-vsphere/commit/9ca3cfd2de7f37649e293d7bc2ecf4de7d84a713

[2021-02-18 22:53] srm09 opened #1116 "VM Provisioning halts on incorrect conditions"
/kind bug

**What steps did you take and what happened:**
Creation of a VSphereVM with multiple virtual network devices waits for static IP address allocation even though when one of the devices has DHCP set as true.

Steps:
1. Create a VSphereVM with multiple virtual network devices
2. Ensure one of the virtual network specs has `DHCP4` set to `true`
3. Control plane or worker VMs are never provi

[2021-02-21 20:21] #1035 closed

[2021-02-23 14:12] #1091 closed

[2021-02-24 21:14] codenrhoden commented on #998
The getting started has this blurb in it:

So I think this is good now.

/close

[2021-02-24 21:14] #998 closed

[2021-02-25 14:17] randomvariable opened #1119 "Add helper printer columns to CAPV resources"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add printer columns to help with troubleshooting.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc

[2021-02-26 17:15] #572 closed

[2021-03-01 20:23] srm09 commented on #1113
@MaxRink We will need this fix on the `main` branch as well.

[2021-03-01 20:30] MaxRink commented on #1113
@srm09 hasnt main already deprecated the included CCM / CSI deploy and moved that into a CRS?

[2021-03-02 04:20] kplimack opened #1120 "kube-vip BGP"
/kind feature

I would like to be able to provide a kube-vip.yaml with bgp peering settings for kube-vip when creating a new cluster.

In some topologies that span multiple subnets, ARP will not work for the api loadbalancer.  kube-vip has BGP mode which supports layer3
https://kube-vip.io/kubernetes/bgp/

[2021-03-02 13:28] yastij commented on #1113
@MaxRink we're still using that code to generate, the CRS stuff, can you open a cherry-pick PR ?

[2021-03-02 13:34] yastij commented on #1120
@kplimack - the template we provide are quickstart ones. for the advanced use case, we recommend customizing your own through:

[code]

[2021-03-02 13:34] #1120 closed

[2021-03-03 05:45] wcurry commented on #1107
CPI v1.2.0. The logs are long gone. I'll try to get them next time.

[2021-03-03 10:27] MaxRink commented on #1113
@yastij  done :)

[2021-03-03 11:09] jonkerj commented on #1056
/remove-lifecycle stale

[2021-03-03 18:22] MaxRink commented on #1107
Yeah, update that to at least 1.2.1
1.2.0 has serious bugs

[2021-03-03 20:31] gab-satchi opened #1122 "Duplicate power on tasks in vcenter"
/kind bug

**What steps did you take and what happened:**
- Deploy a cluster
- Watch the `Recent Tasks` in vcenter console
- After the vm is cloned, multiple `Power on VirtualMachine` tasks are seen. All tasks after the initial one fails (as expected)

**What did you expect to happen:**
- A single task for powering on the VM is emitted and CAPV waits for the task to complete

**Anything else you w

[2021-03-03 22:24] gab-satchi opened #1123 "Multi-tenant support with a single manager instance"
/kind feature

**Describe the solution you'd like**
CAPV manager currently requires credentials to a vcenter through its runtime options to operate. This issue is to track support for multi-tenancy through a single instance of the CAPV manager.

There are currently less than ideal ways to deploy to multiple vcenters:
- Utilize the `Server` field in vsphere machine clone spec. This allows for machi

[2021-03-03 23:18] srm09 opened #1124 "CAPV E2E suite prow job is broken"
/kind bug

**What steps did you take and what happened:**
The prow job which runs the E2E suite is broken because of secrets not being available.

**What did you expect to happen:**
The job should run successfully.

**Anything else you would like to add:**
n/a

**Environment:**
n/a

[2021-03-03 23:18] srm09 commented on #1124
/assign @srm09

[2021-03-04 11:30] #1122 closed

[2021-03-04 12:12] yastij commented on #1124
closing as it's fixed

[2021-03-04 12:12] #1124 closed

[2021-03-04 12:28] #1113 closed

[2021-03-04 14:20] #1078 closed

[2021-03-04 15:06] jonkerj commented on #902
I know this issue is closed, and I think that's fair. I was wondering if the question was followed up somewhere in the right place, and if anyone could point me to that. Since both CAPI and VCD are not so obscure anymore, I have a hard time believing that my failed searches for a vcd infrastructure prove it is not there..

[2021-03-04 18:09] srm09 opened #1130 "Update CPI version to 1.18.1"
/kind feature

**Describe the solution you'd like**
This is a cherry-pick of #1128 to the `main` branch.

**Anything else you would like to add:**
Cherry-pick #1128 to the `main` branch

**Environment:**
n/a

[2021-03-04 18:09] srm09 commented on #1130
/assign

[2021-03-04 18:55] srm09 commented on #1116
The scope of this bug was changed to include a new reason around VMProvisionedCondition.

[2021-03-04 19:06] #734 closed

[2021-03-05 20:49] MaxRink opened #1134 "Setting thumbprint on existing clusters causes errors"
/kind bug

**What steps did you take and what happened:**
If im adding the thumbrint to an existing cluster capv tries to also add it to the vsperevms
that is prevenetd by the webhook
[code]

You might want to relaxt that, otherwise people will have bricked clusters if the vcenter cert ever changes for one reason or the other

- Cluster-api-provider-vsphere version: 0.7.3
- Kubernetes version: (us

[2021-03-06 00:33] cprivite commented on #829
/remove-lifecycle stale

[2021-03-06 00:34] cprivite commented on #829
So it's been about a year...

[2021-03-08 14:01] #1130 closed

[2021-03-08 14:15] #1134 closed

[2021-03-09 12:01] nikhita commented on #829
This is now fixed. Closing.

[2021-03-09 12:01] #829 closed

[2021-03-10 19:40] srm09 opened #1140 "Update golang version to 1.15 for release-0.7 branch"
/kind feature

**Describe the solution you'd like**
We are moving the `main` branch to use golang version `1.15.8` and eventually to version `1.16.x` series. As part of this, we need to update the image versions used in the prow jobs (to use ones with golang 1.15+). Since we do not wanna add multiple jobs, each for a release version, it seems reasonable to move the `release-0.7` to use the newer g

[2021-03-10 19:55] srm09 opened #1142 "Add setup for controller tests"
/kind feature

**Describe the solution you'd like**
This issue tracks adding the setup code to add Controller tests leveraging the `envtest` model from CAPI and controller-runtime.

**Anything else you would like to add:**
n/a

**Environment:**
n/a

[2021-03-11 04:32] srm09 commented on #1007
/remove-lifecycle stale

[2021-03-11 04:32] srm09 commented on #1007
/assign

[2021-03-11 04:34] srm09 commented on #1056
/assign

[2021-03-11 19:40] bleech1 opened #1146 "Storage policy applied before cloning causes clone to fail across datastores"
/kind bug

**What steps did you take and what happened:**
Use a template that doesn't have a storage policy to spin up worker nodes on a different datastore with a storage policy.  The current code sets the new storage policy before cloning, and we receive the following logs in our vCenter logs:
`Changing or applying VM Storage Policies with Data Service capabilities during clone operations is dis

[2021-03-17 17:58] kbreit opened #1148 "kube-vip version should be v0.3.2"
/kind bug

**What steps did you take and what happened:**
I had problems provisioning an Ubuntu based CAPV cluster where it wasn't responding to any requests from 6443 outside of the VM. I have worked with @gab-satchi and @yastij and upgrading to v0.3.2 for kube-vip fixed the problem.

**What did you expect to happen:**
The entire cluster should be stood up and provisioning should succeed.

**Anyt

[2021-03-18 17:11] srm09 commented on #1140
/close since the PR was merged

[2021-03-18 17:11] srm09 commented on #1140
/close

[2021-03-18 17:12] #1140 closed

[2021-03-19 11:06] yastij commented on #1148
/assign @srm09

[2021-03-19 17:56] wmedlar opened #1150 "Clusters fail to provision volumes: "no available topology found""
/kind bug

**What steps did you take and what happened:**

Volumes are failing to provision for new clusters after upgrading from capv v0.7.1 -> v0.7.6 with the error `failed to provision volume with StorageClass "[storageclass]": error generating accessibility requirements: no available topology found
`. Our StorageClass (see below) does not have any topology restrictions.

**What did you expect

[2021-03-22 15:32] stmcginnis opened #1152 "Generated code may go to `$GOPATH/src` instead of in repo"
/kind bug

**What steps did you take and what happened:**

Found in https://github.com/kubernetes-sigs/cluster-api/issues/4185

We [conversion-gen](https://pkg.go.dev/k8s.io/code-generator/cmd/conversion-gen) to generate some of the code. This command has an optional argument of `--output-base` that controls where the generated files are placed.

The default for this arg can vary. If `GOPATH` is s

[2021-03-22 15:32] stmcginnis commented on #1152
/assign

[2021-03-22 15:49] #1116 closed

[2021-03-23 14:22] yastij opened #1155 "capv-controller-manager pod is in a crash loop"
/kind bug

**What steps did you take and what happened:**
1. Create workload cluster with two devices
2. After workload cluster is deployed successfully, delete a device from VC
3. Step2 caused capv-controller-manager pod crash

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

[2021-03-23 23:43] srm09 commented on #1155
I understand the cause of the controller-manager failure here. I need direction around what should happen to the cluster/machine when a network device that it expects to be there is missing?

[2021-03-24 07:00] srm09 commented on #1155
Created the above PR with a possible resolution, we could discuss more around what could be the corrective action we could take here if any.

[2021-03-24 07:14] srm09 commented on #1109
/close in favor of #1148

[2021-03-24 07:15] srm09 commented on #1109
/close

[2021-03-24 07:15] #1109 closed

[2021-03-24 10:32] #1152 closed

[2021-03-24 17:14] wmedlar commented on #1150
@gab-satchi, @yastij you've worked on this recently, do you have any insight into this issue?

[2021-03-25 12:45] #942 closed

[2021-03-25 14:44] gab-satchi commented on #1150
yeah I think the feature gates need to be omitted according to: https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/381

/assign

[2021-03-26 16:12] kbreit commented on #1148
Looks like this was fixed in #1160. If it's fixed in the next release I'll close.

[2021-03-26 18:00] srm09 commented on #1148
The kube-vip version was upgraded both in the main and release-0.7 branch. This should be fixed now. Will close it.

/close

[2021-03-26 18:00] #1148 closed

[2021-03-29 20:56] kbreit opened #1162 "CAPV CSI driver isn't passing TLS thumbprint"
/kind bug

**What steps did you take and what happened:**
I have a largely stock configuration and the `vsphere-csi-controller` is in CrashLoopBackOff. Reviewing the logs I am seeing this:

[code]

I am providing the TLS fingerprint via the `clusterctl` configuration. I did notice the `secret/csi-vsphere-config` object doesn't include the fingerprint key/value pair.

**What did you expect to happe

[2021-03-30 14:23] srm09 commented on #1104
@yannalf If this issue is resolved, can we close it?

[2021-03-30 14:36] srm09 opened #1164 "Introduce support for k8s 1.21 and golang 1.16"
/kind feature

**Describe the solution you'd like**
Upstream CAPI main branch has moved to include support for k8s 1.21 and also uses go 1.16 version. CAPV should move to the same version train.

**Anything else you would like to add:**
- `test-infra` jobs would need to be updated to use 1.16 images.

**Environment:**

- Cluster-api-provider-vsphere version: `main` branch
- Kubernetes version: (us

[2021-04-01 18:48] wcurry commented on #1107
I hit this again while working on a Kubernetes version bump that we had to scrap due to both KCP and MD rollouts getting stuck. The MD rollout was stuck with this issue. I bumped CAPV to 0.7.2, CPI to 1.2.1 and all the other dependencies to what's in the repo, and still hit the issue.

We're going to wait until 0.7.7 before looking at this again as we hit issues with 0.7.6: https://github.com/kube

[2021-04-07 03:39] lynic opened #1165 "Update MTU won't take effect"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Update vsphereVM spec.mtu to 9000 for management interface, nothing changed.

**What did you expect to happen:**
eth0's mtu change to 9000 instead of 1500 by default.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environme

[2021-04-07 07:18] malikkal opened #1166 "OVA Image - Additional VMDKs"
/kind bug

**What steps did you take and what happened:**
Add an additional virtual disk to the OVA image.
 Message:               error getting disk spec for "infrastructure.cluster.x-k8s.io/v1alpha3, Kind=VSphereVM default/guest1-control-plane-7qf4c": invalid disk count: 2
    Reason:                CloningFailed

**What did you expect to happen:**
Guest cluster to come up with additional scsi b

[2021-04-13 17:06] srm09 commented on #1038
/lifecycle active

[2021-04-13 17:06] srm09 commented on #1038
Waiting for #1095 to merge

[2021-04-14 14:20] #1142 closed

[2021-04-14 15:37] gab-satchi commented on #1165
Hey @lynic,

you need to update the VsphereMachineTemplate.Spec.Template.Spec.Network.Devices[i].Mtu to 9000 prior to deployment for the vsphere vm to get created correctly. The network devices are allowed to be updated on the vsphereVM in order to support IPAMs that need to set the IP.

[2021-04-14 18:21] gab-satchi commented on #1166
That error is expected. We currently only support one disk per vsphere VM.

[2021-04-15 13:17] #943 closed

[2021-04-15 13:17] #967 closed

[2021-04-15 13:17] #1004 closed

[2021-04-15 13:17] #969 closed

[2021-04-15 15:22] gab-satchi commented on #1146
merged into master via #1168

/close

[2021-04-15 15:22] #1146 closed

[2021-04-16 13:48] #1155 closed

[2021-04-21 20:46] TerryHowe commented on #1104
seems like it

[2021-04-21 21:09] TerryHowe commented on #635
Was there an OVA issue?

[2021-04-24 08:32] #1055 closed

[2021-04-24 17:40] rosskukulinski commented on #894
@timmycarr can you evaluate relevance now?

[2021-04-24 19:33] #1057 closed

[2021-04-25 07:39] lynic commented on #1165
Hi @gab-satchi , Could this value take effect after cluster deployment, if I want to change MTU after that?

[2021-04-29 13:59] yastij commented on #1165
@lynic - machines are immutable, so you'd have to create a new `VSphereMachineTemplate` with the desired value, then update the `MachineDeployment` to point to it. This should trigger a machine rollout

[2021-04-29 17:29] srm09 opened #1174 "Log errors when verifying vCenter session validity"
**Describe the solution you'd like**
Expose/log the error while creating/fetching sessions back from vCenter.

**Anything else you would like to add:**
Currently, CAPV swallows the error from vCenter while verifying the validity of existing sessions in the session cache. This problem was masking a Permissions issue in a specific usecase.
Rather than swallowing the error, logging it would further h

[2021-04-29 17:34] srm09 commented on #1174
/good-first-issue
/help-wanted

[2021-04-29 17:43] srm09 opened #1175 "Allow MachineTemplates without network config to be created"
/kind feature

**Describe the solution you'd like**
Relaxing CAPV's webhook, to allow VsphereMachineTemplates without network configs.

**Anything else you would like to add:**
Instead of disallowing such requests, we can change the controller logic to wait for the VMs to have network configs assigned to them (maybe by an external IPAM controller) before provisioning the machine.

**Environment:**

[2021-04-30 13:12] MaxRink opened #1176 "Possible Deadlock scenario when permissions are not set correctly"
/kind bug

**What steps did you take and what happened:**
 if you have created a cluster on resources that you dont have permissions for you are not able to delete if without manually patching finalizers

[code]

**What did you expect to happen:**
the vsperemachine and thus the cluster get deleted properly
**Anything else you would like to add:**
[Miscellaneous information that will assist in solv

[2021-04-30 16:14] malikkal commented on #1166
@gab-satchi Could adding / allowing additional VMDKs as part of node image be considered as an enhancement? Thank you.

[2021-05-03 19:12] #1164 closed

[2021-05-05 09:43] fabriziopandini commented on #1042
/remove-lifecycle rotten

[2021-05-06 20:06] Promaethius commented on #1162
/assign

[2021-05-06 21:33] MaxRink commented on #1097
/remove-lifecycle stale

[2021-05-12 08:42] stormobile commented on #968
First of all let me describe our case: We've got big clusters to run stateless applications that we run on top of vSphere with CAPV. Part of the servers feature T4 Nvidia GPUs that are used for inference only - no training for those cards. The total number of cards that we have is around 200 so automation of provisioning of GPU-enabled VMs for K8s Nodes is really a must.

Taking into account that

[2021-05-12 19:06] TerryHowe opened #1183 "Documentation for VSPHERE_STORAGE_POLICY"
/kind feature

**Describe the solution you'd like**
It'd be nice if VSPHERE_STORAGE_POLICY was mentioned in the documentation

**Anything else you would like to add:**
An example and where to find it for the not great vSphere person

**Environment:**

- Cluster-api-provider-vsphere version:  v0.7.7
- Kubernetes version: (use `kubectl version`):  1.19.6
- OS (e.g. from `/etc/os-release`):  ubuntu 1

[2021-05-13 17:04] gab-satchi commented on #1183
should make the `VSPHERE_STORAGE_POLICY` optional and default it to ""

[2021-05-13 17:04] gab-satchi commented on #1183
/help

[2021-05-13 17:30] srm09 opened #1184 "Placeholder: Update v1alpha4 types to use pointers instead of strings"
/kind feature

**Describe the solution you'd like**
Change string to string pointers, to ease out defaulting after Failure Domain is merged.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-05-13 17:30] srm09 commented on #1184
/assign srm09

[2021-05-23 13:43] #1069 closed

[2021-05-25 21:41] gab-satchi opened #1186 "Secrets and ConfigMaps used for CRS collide when deploying clusters in the same namespace"
/kind bug
The default cluster templates create a new Cluster Resource Set (CRS) per cluster but the resources referenced in the CRS don't have unique names. There are things like:
Secrets named `csi-vsphere-config`
ConfigMaps named `vsphere-csi-node` and `vsphere-csi-controller`

**What steps did you take and what happened:**
- deploy a cluster to `Datacenter 1`
- notice the `csi-vsphere-config` w

[2021-05-26 18:55] srm09 commented on #1119
There is an open PR for a part of it, waiting for the author to squash the commits.
/remove-lifecycle stale

[2021-05-31 19:16] gab-satchi opened #1189 "Full clone of a template that contains a snapshot results in error if the disk is resized"
/kind bug

**What steps did you take and what happened:**
- use a fullClone machine template
- adjust the disk size so it's larger than the original vm
- ensure original vm had a snapshot

- the vsphere vm errors with `invalid operation for device '0'. Disks with parents cannot be expanded.`

**What did you expect to happen:**
vm is created successfully

[2021-06-01 19:59] kbreit opened #1191 "Controller secrets not synchronized to worker cluster secrets"
/kind bug

**What steps did you take and what happened:**
I have a new CAPV cluster and the CSI controller isn't coming up.

`kube-system       vsphere-csi-controller-5456544dd5-qc2r7                 4/5     CrashLoopBackOff   6          20m`

The log is showing:

[code]

However, when I lool at the syncer it shows

[code]

I don't know if this is relevant since it moved past that container. I do

[2021-06-02 14:05] gab-satchi commented on #1123
/remove-lifecycle stale

[2021-06-07 13:16] kbreit opened #1196 "Vspheremachinetemplate should support multiple disks"
/kind feature

**Describe the solution you'd like**
The ability to have multiple disks attached to a VM could be very useful in situations where a block device is needed to be attached to a node VM. For instance, Ceph often likes internal disks in the same system. Right now I can only specify a single disk.

**Anything else you would like to add:**
[Miscellaneous information that will assist in so

[2021-06-08 03:13] lzhecheng opened #1197 "When will K8s v1.21 machine images for CAPV be delivered?"
Hello, I wonder if we will have machine images for k8s v1.21 soon. I saw this issue https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1164 is closed and related PR is merged. However, the latest on README and `gsutil ls` is still v1.20.1.
Thank you!

[2021-06-15 14:34] gab-satchi opened #1199 "Document multi-tenancy feature"
/kind documentation

**Describe the solution you'd like**
Document how to utilize `VSphereClusterIdentity` and the new multi-tenancy feature.

[2021-06-15 15:31] gab-satchi opened #1200 "VSphereClusterIdentity tries to update a secret when it doesn't exist"
/kind bug

**What steps did you take and what happened:**
Deploy a VSphereClusterIdentity that references a secret that doesn't exist

**What did you expect to happen:**
An error stating the secret can't be found and reflected in the status of the VSphereClusterIdentity

Instead, the VSphereClusterIdentity tries to update a non-existent secret and see errors like: `"error"="resource name may not b

[2021-06-15 15:31] gab-satchi commented on #1200
/assign

[2021-06-15 20:21] kbreit opened #1202 "Machines aren't deleted during upgrade"
/kind bug

**What steps did you take and what happened:**
I followed the upgrade instructions to upgrade Kubernetes from 1.20.2 to 1.20.4 as an experiment. It seemed to work but the 1.20.2 worker isn't disappearing. Focus on the `capi-upgrade` cluster.

[code]

[code]

**What did you expect to happen:**
I would expect the `capi-upgrade-cluster-md-0-579bfc458d-trw57` machine to disappear.

**Anythi

[2021-06-16 11:19] kbreit commented on #1202
This was because this cluster didn't have a CNI so the nodes weren't marked as ready.

[2021-06-16 11:19] #1202 closed

[2021-06-16 14:42] gab-satchi commented on #1191
This is a feature yet to be implemented in Cluster Resource Set that would continuously apply the resources to a workload cluster. Should close in favour of [#4807](https://github.com/kubernetes-sigs/cluster-api/issues/4807)

[2021-06-20 00:51] #1086 closed

[2021-06-23 15:36] schrej commented on #1200
The GitHub automation in the PR didn't trigger, so let's see if I'm allowed to do this.
/close

[2021-06-23 17:03] gab-satchi commented on #1200
thanks :)

[2021-06-23 17:03] #1200 closed

[2021-06-24 16:45] gab-satchi commented on #1186
closing since quickstart templates are meant for testing and are expected to be customized by users.

[2021-06-24 16:45] #1186 closed

[2021-06-24 17:17] #1123 closed

[2021-06-24 17:44] cprivite commented on #1191
Is that thumbprint actually correct? It looks like an ssh publickey and not an SSL cert thumbprint.

[2021-06-28 11:25] kbreit commented on #1191
You're correct. I had the wrong value but the problem persists since there is only an applyOnce strategy.

[2021-06-28 11:25] #1191 closed

[2021-06-29 16:24] #1119 closed

[2021-07-08 17:54] ykakarap opened #1206 "Add VSphereClusterTemplate type"
/kind feature

**Describe the solution you'd like**
Add a new CRD named VSphereClusterTemplate. This is needed for ClusterClass.
In the short term this type will not be used outside of ClusterClass.

[2021-07-09 20:04] mcwumbly opened #1209 "Make VCenterAvailable status/condition more meaningful to enable better troubleshooting of issues related to connectivity or misconfiguration"
When bootstrapping a cluster using capv version `0.7.8` the `VCenterAvailable` condition stays `False` with  reason `VCenterUnreachable` and message `Secret "tkg-mgmt-vc" not found` long after VMs have been created.

[code]

From what I've observed, this condition stays in this state until the cluster is created successfully.

I've started to read through [the reconcile func](https://github.com/ku

[2021-07-13 13:57] mcwumbly commented on #1209
@tylerschultz and I started looking into this a bit more yesterday and so far we've found the following:

1. there's a timing issue
    the `VCenterAvailable` condition isn't always set; if the secret exists before reconcileNormal is called the first time, then [this code is never called](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/504148a6290b45dc8fcbb86f1781ccf6f22c58fd/

[2021-07-13 18:56] gab-satchi commented on #1209
There are two resources that use the `VCenterAvailable` condition: VSphereCluster and VSphereVM. VSphereVM actually interacts with vcenter so having the condition there is definitely useful. VSphereCluster doesn't interact with vcenter but I agree with your point:

I'd even say this should be classified as a bug. With setting conditions, any branch of code that sets a condition to false should als

[2021-07-13 18:57] gab-satchi commented on #1199
PR has been merged. closing issue

/close

[2021-07-13 18:57] #1199 closed

[2021-07-13 18:57] gab-satchi commented on #1189
PR has been merged, closing issue

/close

[2021-07-13 18:58] #1189 closed

[2021-07-13 20:11] mcwumbly commented on #1209
We were playing around with that just now and it feels like it solves the problem.

We're happy to contribute. We'll follow up with a pull request soon unless we run into additional questions or complications, in which case we'll reach out for help.

/assign @tylerschultz @mcwumbly

[2021-07-13 22:28] tylerschultz commented on #1209
Thanks all! (k8s bot wants me to comment so I can be assigned)

[2021-07-13 23:23] mrajashree opened #1211 "After clusterctl move, vsphere worker machines take ~10-12 minutes to go to "Running" phase"
/kind bug

**What steps did you take and what happened:**
Created a self-managed capv cluster following steps in the quickstart book
1. Created a Kind bootstrap cluster
2. Installed CAPI+CAPV providers through clusterctl
3. Created the target workload cluster
4. Installed CAPI+CAPV providers through clusterctl on this workload cluster
5. Performed clusterctl move to the workload cluster.

**What d

[2021-07-13 23:31] mrajashree commented on #1211
/assign @mrajashree

[2021-07-14 01:30] kbreit opened #1213 "Deletion process isn't reliable"
/kind bug

**What steps did you take and what happened:**
I created a Helm chart to deploy CAPV based Kubernetes clusters. I believe it produces identical manifests to `clusterctl` generated manifests. I create a new `kind` cluster, install the required components (CNI, CAPV, etc) and use Helm to deploy the cluster. After the cluster is created and the Machine resources are up, I do a `helm uninst

[2021-07-16 05:45] ykakarap commented on #1206
/assign

[2021-07-16 06:07] ykakarap commented on #1206
/lifecycle active

[2021-07-16 16:31] omniproc opened #1215 "Document how to use static-ips for workload clusters"
/kind feature

**Describe the solution you'd like**
VSphereMachineTemplate and VSphereMachine both seem to support providing static IP adresses. From older issues reported here it seems like a list of IPs could be provided to the VSphereMachineTemplate so all MachineDeployments use one of those IPs until none is left. However there is no documentation on how exactly to do this and at least with th

[2021-07-16 16:33] omniproc commented on #1215
/kind documentation

[2021-07-16 18:16] omniproc commented on #1215
Hm, ok. So besides the missing documentation I believe this is a bug: see
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/9a88c652fba6bb2ea1b7faf8a301796cba6e9a60/api/v1alpha4/vspheremachinetemplate_webhook.go#L52

[2021-07-16 18:17] omniproc commented on #1215
/kind bug

[2021-07-16 18:18] omniproc commented on #1215
/remove-kind feature

[2021-07-16 20:07] omniproc commented on #1215
After some further investigation it seems like there's currently no way to specify static ips for the machines directly in the manifest used to deploy a workload cluster. It seems more like a current feature limitation (see the mentioned validator hook above).

So in order to use static ips the only method I was able to find so far is:

- Use a `VSphereMachineTemplate` and configure `dhcp4` and `d

[2021-07-16 20:09] omniproc commented on #1215
I'd still leave this flagged as bug since the `VSphereMachineTemplate` definition clearly states that `ipAddrs` is a valid attribute but, as shown in the linked code above, the current VSphere Provider for ClusterAPI seems to just ignore that and throw an error.

[2021-07-20 21:06] omniproc commented on #1215
While the mentioned workaround seems to do the job to get the controller vm up an running after that the process seems to be stuck. The controller-vm never starts kubeapi and thus cluster creation hangs at that point. I'm not sure what else I could do at this point.

Could anyone confirm this is a bug? Any workaround?

[2021-07-21 13:46] omniproc commented on #1215
@abhinavnagaraj you implemented the waiting for ip patch in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/957
Did you actually verify it? Do you mind sharing a example manifest that works e.g. with the quickstart example?

[2021-07-21 15:52] omniproc commented on #894
One downside of this approach would be that it limits the number of PV's that can be attached since there's a hard limit of FCD's that can be added (max no. of SCSI controllers / SCSI slots)

[2021-07-22 17:11] yastij commented on #1213
as per discussion in the CAPV office hours, this seems to be a mismatch on the cluster name. Closing

[2021-07-22 17:11] #1213 closed

[2021-07-22 22:26] srm09 opened #1217 "multi AZ host placement is not enforced"
/kind bug

**What steps did you take and what happened:**
CAPV Multi AZ feature does not enforce the placement of VMs on hosts specified in the HostGroup mentioned in the VSphereFailureDomain associated with that machine.

**What did you expect to happen:**
CAPV enforces the placement constraint to place vSphere VMs on Hosts in the HostGroup.

**Anything else you would like to add:**
On triaging t

[2021-07-22 22:26] srm09 commented on #1217
/assign

[2021-07-23 02:49] haijianyang opened #1218 "Change the controlPlaneEndpoint during kubernetes cluster running"
/kind feature

**Describe the solution you'd like**
I found that the documentation and code didn't mention update/change the controlPlaneEndpoint after setting.
As a user I want to change the controlPlaneEndpoint(kube-vip or haproxyloadbalancer IP) during kubernetes cluster running, can CAPV provide support?

**Environment:**

- Cluster-api-provider-vsphere version: v0.7.9
- Kubernetes version: v1

[2021-07-23 19:36] srm09 commented on #1070
/milestone next
/reopen

[2021-07-26 12:29] sbueringer opened #1221 "Add webhook health check"
/kind feature

**Describe the solution you'd like**
It would be nice if the controller health checks would use the readiness of the webhook server (instead of the no-op Ping).

For reference, the implementation in cluster-api: https://github.com/kubernetes-sigs/cluster-api/pull/4989

**Anything else you would like to add:**
This requires at least controller-runtime v0.9.3.

**Environment:**

- Clu

[2021-07-29 18:51] randomvariable commented on #1176
/lifecycle frozen

[2021-07-29 21:11] srm09 opened #1222 "Validate infrastructure pre-requisites before VM creation"
/kind feature

**Describe the solution you'd like**
Validate the VM creation/update inputs before beginning the VM cloning process.

Currently, we do not have any validation on the fields used for VM creation. This issue proposes having a deep validation for the various inputs:
- Validating the presence of the infrastructure pre-requisites, for example: confirming the presence of the Datastore/Res

[2021-07-30 18:15] sbueringer commented on #1221
There was an error found in the healthcheck. The fix PR is already merged in controller-runtime, but we should wait until the next controller-runtime version is released (0.9.6) with adding it to CAPV.

xref:
* Slack discussion: https://kubernetes.slack.com/archives/CD6U2V71N/p1627643594012600
* bugfix PR: https://github.com/kubernetes-sigs/controller-runtime/pull/1616

[2021-08-01 17:06] srm09 commented on #1101
Closing in favor of #1208 and #1219
/close

[2021-08-01 17:06] #1101 closed

[2021-08-03 12:42] omniproc commented on #1162
As a workaround you can add `insecure-flag = true` to the `[Global]` section of the `csi-vsphere.conf` file of the `Secret:csi-vsphere-config` resource

[2021-08-04 18:58] srm09 commented on #1098
/remove-lifecycle stale

[2021-08-05 00:43] nwoodmsft commented on #1215
@yastij I am also following this thread with interest and noticed you had assigned the issue to yourself for follow-up. Are you able confirm/comment on the findings of @omniproc ? Is there any method we are missing or is static ip support for workload clusters not present at this time? Thanks!

[2021-08-05 17:20] jayunit100 opened #1224 "README: Disambiguate cloud providers from capi providers"
Somewhat unstructured notes to myself, on how we probably should clarify the intersection of cloud providers, the CAPI provider ID, and the CAPV provider ID implementation.... Id make a PR myself but im not sure i 100% understand it :)

Today I asked a question in slack, @randomvariable helped me answer it, but in general its tricky for me to reconcile the difference between

- cloud provider for

[2021-08-08 06:29] #1007 closed

[2021-08-08 11:32] jonkerj commented on #1056
/reopen

[2021-08-09 13:58] gab-satchi opened #1226 "VM disk placement isn't distributed across datastores when a datastore cluster is used"
/kind bug

**What steps did you take and what happened:**
env setup:
- datastore cluster with more than one datastore
- storage policy that targets the datastore cluster
- create multiple machines using the storage policy

**What did you expect to happen:**
- expected the machines' disks to be distributed across all the datastores.

**What actually happened:**
- a single datastore is repeatedly ta

[2021-08-10 09:24] randomvariable commented on #1224
We should probably move this issue to the cluster api repo, but in terms of documentation, it makes sense, as there's been similar confusion in the comments of the recent MachinePool Machines CAEP. we're not going to be in a position to do a wholesale rename of projects though, that boat has long sailed.

@vincepri could you do the honours (of hitting transfer)?

[2021-08-11 11:22] sbueringer commented on #1221
fyi controller-runtime v0.9.6 has been released with a fix. So we should be good to go (I also verified it via the e2e tests of the cluster-api repo).

[2021-08-11 17:38] #1206 closed

[2021-08-12 21:24] AartiJivrajani commented on #1222
/assign @AartiJivrajani

[2021-08-16 18:59] gab-satchi commented on #1226
/label triage/needs-information

[2021-08-16 19:03] gab-satchi opened #1227 "Support datastore clusters in Datastore field"
/kind feature

**Describe the solution you'd like**
Currently if a user provides a `DatastoreCluster` in the `Datastore` field, CAPV will fail with a not-found error. ~~This issue is a request to expand the datastore reconciliation logic to also cover datastore clusters~~

This issue is to request a new field `DatastoreCluster` on the `VSphereMachineTemplate` to specify a datastore cluster to be u

[2021-08-17 14:59] Cellebyte opened #1228 "[IPAM] Allow network interfaces without assigned IP address and without dhcp."
/kind feature

**Describe the solution you'd like**
Currently the VSphere VM gets stuck to get an IP assigned when you don't configure dhcp.
This behavior works pretty well in the use-case of manual or operator IP assignment and also with multiple interfaces.

When having multiple interfaces on a VM it is not always necessary to assign an IP. (e.g. Multus/MacVLAN)
A way of an opt-out feature for t

[2021-08-17 16:12] Cellebyte opened #1229 "[eCCM] If the kubeconfig or cloud-config changes the external CCM is not triggered."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Instantiate a cluster with an external ccm monitoring it to check for the availability.
Delete the cluster and recreate it.
The CCM will now fail because it did not receive the kubeconfig change.

**What did you expect to happen:**
The CCM is functioning as expected and reloads when the

[2021-08-17 18:34] vrabbi commented on #1227
this will be extremely useful especially now that CSI is planned to support Datastore Clusters and storage vmotion at least partially in 7.0u3 as indicated in the following issue https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/1192

[2021-08-17 18:41] vrabbi commented on #1196
this would help with implementing things like ceph as well as portworx or other  SDS CSI drivers which we are seeing alot of adoption of these days in vSphere environments especially.

[2021-08-19 11:55] geetikabatra commented on #1184
@srm09 Can I take this up?

[2021-08-19 17:23] gab-satchi commented on #1228
/assign @yastij

[2021-08-23 20:54] AartiJivrajani commented on #1174
/remove-lifecycle stale
/assign

[2021-08-23 21:07] AartiJivrajani commented on #1183
/remove-lifecycle stale
/assign

[2021-08-24 17:37] #1183 closed

[2021-08-24 18:36] AartiJivrajani commented on #1227
/assign

[2021-08-25 20:38] gab-satchi opened #1235 "Add e2e test that upgrades a cluster and runs the k8s conformance tests"
The CAPI test framework offers a way to run an upgrade followed by the Kubernetes conformance suite: https://github.com/kubernetes-sigs/cluster-api/blob/v0.4.2/test/e2e/cluster_upgrade.go#L48

This issue is to request adding a conformance test suite in e2e. These tests should then become part of the [periodic tests](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/c

[2021-08-26 09:47] simha5009 opened #1238 "Max pods on a node"
/kind feature

**Describe the solution you'd like**
Can we add max-pod support on the machines/nodes?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version: v0.7.10
- Kubernetes version: (use `kubectl version`): all
- OS (e.g. from `/etc/os-release`): all

[2021-08-29 20:53] #1107 closed

[2021-08-30 19:49] #1209 closed

[2021-08-31 18:31] yastij commented on #1098
we should probably use this issue to track the design for IPAM

[2021-09-01 12:37] #1229 closed

[2021-09-02 17:24] srm09 commented on #1235
/assign @srm09
Create a list of test cases to be supported in CAPV upstream jobs

[2021-09-02 17:27] srm09 commented on #1238
/assign @vrabbi

[2021-09-02 17:45] vrabbi commented on #1238
@simha5009 this is possible already via the kubeadmconfigtemplate and kubeadmcontrolplane crds.
this is done by adding in the kubeletExtraArgs section an arg called "maxPods"
an example bellow is how you could set it in a kubeadmconfigtemplate:
[code]

[2021-09-02 17:50] vrabbi commented on #1238
you can also set "podsPerCore" which is another option for limiting the number of pods on the node just based by core count.
for the full list of what you can set in the extraArgs section for kubelet look at the following doc: https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/

[2021-09-03 04:34] simha5009 commented on #1238
Are they available on templates? I could not see them.

Should we make them configurable?

[2021-09-03 05:05] vrabbi commented on #1238
They are not on the default templates as this is an advanced setting i dont believe also fits the standard use case. You will need to edit the manifest generated by clusterctl for you before applying it and add that value.

On Sep 3, 2021 07:35, Narasimha Karumanchi ***@***.***> wrote:

Are they available on templates? I could not see them.

Should we make them configurable?

—
You are receiving t

[2021-09-03 05:07] simha5009 commented on #1238
We can close this

[2021-09-03 05:08] #1238 closed

[2021-09-06 18:27] #1036 closed

[2021-09-07 12:27] #1056 closed

[2021-09-08 14:17] gab-satchi commented on #1165
hey @lynic closing this issue since the way to set MTU has been pointed out above.

/close

[2021-09-08 14:17] #1165 closed

[2021-09-12 16:22] #886 closed

[2021-09-21 08:31] sbueringer opened #1243 "Remove kube-rbac-proxy"
/kind cleanup

According to the v1alpha4 migration documentation kube-rbac-proxy should be removed: https://cluster-api.sigs.k8s.io/developer/providers/v1alpha3-to-v1alpha4

- cluster-api-provider-vsphere version: main

[2021-09-21 16:25] AartiJivrajani commented on #1227
The e2e tests are failing because of [this](https://github.com/kubernetes-sigs/cluster-api/issues/5283) issue

[2021-09-22 23:03] AartiJivrajani opened #1244 "🐛 Add quotes around the value of the `storagePolicyName` in release `cluster-template.yaml`"
/kind bug

**What steps did you take and what happened:**
Currently, the release `cluster-template.yaml` does not have quotes around the value of `storagePolicyName`.
In case when the `VSPHERE_STORAGE_POLICY` is set to `""`, `clusterctl generate` sets the value of `storagePolicyName` to `null` which leads to validation failure.

**What did you expect to happen:**
When the value of `VSPHERE_STORAGE

[2021-09-22 23:04] AartiJivrajani commented on #1244
/assign

[2021-09-22 23:07] AartiJivrajani opened #1245 "🐛 Add `storagePolicyName` field to the `/templates/cluster-template.yaml` file"
/kind bug

**What steps did you take and what happened:**
`storagePolicyName` is missing in the templates file [here](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/templates/cluster-template.yaml).
We need to add
[code]

/assign

[2021-09-22 23:29] AartiJivrajani commented on #1243
/assign

[2021-09-24 10:55] randomvariable opened #1249 "v1beta1 Tracking Issue"
/kind feature

**Describe the solution you'd like**

* Bump API version to v1beta1 to match Cluster API Core

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Rough task list

1. [x] #1250
  * Do immediately
1. [x] #1251
  * Do immediately
1. [x] #1252
  * Depends on #1251
1. [x] #1253
  * Depends on #1251
1. [x] #1254
  * Depends on #125

[2021-09-24 10:56] randomvariable commented on #1249
/milestone v0.8.0

[2021-09-24 10:56] randomvariable commented on #1249
/area api
/priority important-soon
/kind release-blocking

[2021-09-24 10:57] randomvariable commented on #1249
/kind release-blocking
/area api

[2021-09-24 10:59] randomvariable opened #1250 "Bump controller runtime version to v0.10 and controller tools to v0.7.x"
/kind release-blocking
/area release
/milestone v0.8.0
/priority important-soon

For v1beta1, bump CR release to v0.10
Controller tools on v0.7.x

[2021-09-24 11:00] randomvariable opened #1251 "Add v1beta1 types"
/kind release-blocking
/priority important-soon
/area api
/milestone v0.8.0

**Describe the solution you'd like**

Add v1beta1 types

[2021-09-24 11:01] randomvariable opened #1252 "Refactor v1alpha3 webhooks to convert to v1beta1 hub"
/kind release-blocking
/area api
/priority important-soon
/milestone v0.8.0

For v1beta1, refactor v1alpha3 webhooks to convert to v1beta1 hub.
We intend to support upgrades from v1alpha3 to v1beta1.

Depends on #1251

[2021-09-24 11:04] randomvariable opened #1253 "Add v1alpha4 to v1beta1 conversions"
/kind release-blocking
/area api
/priority important-soon
/milestone v0.8.0

**Describe the solution you'd like**

For v1beta1, add conversions for v1alpha4

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

We intend to support upgrades from v1alpha3 to v1beta1, so v1alpha3 conversions should not be deleted

Depends on #1251

[2021-09-24 11:06] randomvariable opened #1254 "Add e2e upgrade test for v1alpha3 to v1beta1"
/kind feature
/area testing
/priority important-soon
/milestone v0.8.0
/kind release-blocking

**Describe the solution you'd like**

With the new upgrade path being enabled for CAPI, we want to add the tests in e2e to upgrade from v1alpha3 to v1beta1
Depends on #1252

[2021-09-24 11:08] randomvariable opened #1255 "Add e2e test for upgrading v1alpha4 to v1beta1"
/kind feature
/area testing
/priority important-soon
/milestone v0.8.0
/kind release-blocking

**Describe the solution you'd like**

With the new upgrade path being enabled for CAPI, we want to add the tests in e2e to upgrade from v1alpha4 to v1beta1
Depends on #1253

[2021-09-24 11:10] randomvariable opened #1256 "Bump clusterctl metadata to v1beta1"
/kind feature
/area release
/milestone v0.8.0
/priority important-soon

Describe the solution you'd like
[A clear and concise description of what you want to happen.]
For v1beta1 support, we should bump our metadata to v1beta1

Anything else you would like to add:

Depends on #1252
Depends on #1253

[2021-09-24 11:13] randomvariable commented on #949
/milestone v0.8.0

This work should be ready to go. There are docs for the process at https://www.kubernetes.dev/resources/rename/

[2021-09-24 13:18] gab-satchi commented on #1250
/assign

[2021-09-24 13:18] gab-satchi commented on #1251
/assign

[2021-09-24 16:11] AartiJivrajani commented on #1252
/assign

[2021-09-26 20:06] #1175 closed

[2021-09-27 13:47] #1245 closed

[2021-09-27 13:49] #1244 closed

[2021-09-27 14:15] #1243 closed

[2021-09-27 15:33] gab-satchi commented on #1253
/assign

[2021-09-28 21:22] #1104 closed

[2021-09-29 18:19] AartiJivrajani opened #1259 "Add print columns to the controllers for better UX"
/kind feature

**Describe the solution you'd like**
Add print columns as mentioned in the Kubebuilder documentation for the CAPV controllers for a better user experience

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Thanks for pointing this out @randomvariable :)

[2021-10-01 19:00] #1100 closed

[2021-10-02 10:07] #1042 closed

[2021-10-07 22:17] srm09 opened #1266 "VSphereCluster reconciliation fails for VC with multiple Datacenters"
/kind bug

**What steps did you take and what happened:**
Using a VC with multiple datacenters configured causes the VSphereCluster reconciliation to error out with the following error:
[code]

During the VSphereCluster reconciliation loop, the presence/connectivity of the provided vCenter endpoint is verified. As part of the verification loop, CAPV creates a session object which gets reused for f

[2021-10-08 20:18] #1166 closed

[2021-10-12 16:15] AartiJivrajani commented on #1252
This is resolved as part of the v1beta1 types [PR](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1263)

/assign @gab-satchi

[2021-10-13 19:12] aartij17 opened #1267 "Add missing boilerplate header to the files in the packaging/flavorgen directory"
/kind bug

**What steps did you take and what happened:**
`make verify` fails with the below errors -
[code]

**What did you expect to happen:**
Make verify should successfully execute

/assign

[2021-10-13 19:21] gab-satchi commented on #1252
done by #1263

/close

[2021-10-18 12:55] #1184 closed

[2021-10-18 18:04] #1267 closed, assigned to aartij17

[2021-10-19 14:49] sadysnaat opened #1271 "nil vspheremachine for vspherevm ownerreference cause panic"
/kind bug

**What steps did you take and what happened:**
Create and migrate a cluster and if vspherevm doesn't have owner reference set it will cause capv pod to crashing
As
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/1ebdff7c84cd1f170e726c162c47350c12722a04/pkg/util/machines.go#L208-L218

can return nil

[code]
**What did you expect to happen:**
requeue reconcile if vsph

[2021-10-19 14:49] sadysnaat commented on #1271
/assign @sadysnaat

[2021-10-19 16:50] srm09 commented on #1174
@AartiJivrajani Were you able to make any progress on this one? Lemme know if you need help with this.

[2021-10-19 17:04] gab-satchi commented on #1255
fixed by #1269
/close

[2021-10-19 17:04] #1254 closed

[2021-10-19 17:06] #1256 closed

[2021-10-20 04:22] AartiJivrajani commented on #1174
I haven't gotten around to working on this unfortunately! I will take a look at this later this week.

[2021-10-21 15:47] gab-satchi opened #1275 "CAPV manager should refresh and use new credentials if the bootstrap secret is updated"
/kind feature

**Describe the solution you'd like**
If a user updates the `capv-manager-bootstrap-credentials` the manager won't pick up the new credentials.
One way to get the manager to use the new credentials is to restart the pod.

This feature request is for implementing a watch on that secret so the manager can use the most up-to-date credentials.

**Anything else you would like to add:**
[M

[2021-10-21 20:18] gab-satchi commented on #1070
/reopen

[2021-10-21 21:06] AartiJivrajani commented on #949
/assign

[2021-10-21 22:44] saimanoj01 opened #1276 "Bump govmomi to v0.27.1"
/kind feature

**Describe the solution you'd like**
With standard vSphere networking, duplicate port groups can't have the same names in the same network folder. With NSX, portgroups can have the same name in the same switch. In such a scenario where NSX is involved with duplicate portgroup names, using an inventory path results in a MultipleFoundError. govmomi fixed this recently and a new releas

[2021-10-27 09:31] perithompson opened #1281 "Exposed Prometheus metrics for unreachable workload clusters"
/kind feature

**Describe the solution you'd like**
When a Management cluster cannot reach a Workload Cluster it may be necessary to pause reconciliation of that cluster until a time when cluster connectivity can be restored in order to prevent capi from constantly trying to reconcile something it can't.  There is an [issue(#5394)](https://github.com/kubernetes-sigs/cluster-api/issues/5394) that o

[2021-10-27 16:31] #1276 closed, assigned to nobody

[2021-11-01 16:10] jayunit100 opened #1292 "Workaround the 15 character limit for AD in CAPV, temporarily (Cross linked issue to CAPI), until CAPI has a broader fix"
/kind bug

we can't easily add machines for AD (active directory on windows nodes) bc of https://github.com/kubernetes-sigs/cluster-api/issues/2217

Should we do a band aid similar to what is done in CAPZ? (ill try to dig up a link, but evidently CAPZ allows for smaller machine names by doing a provider specific fix for windows).

[code]

[2021-11-01 18:21] randomvariable commented on #1292
there's no way of determining the OS is Windows on vSphere, so will need something explicit.

[2021-11-02 08:49] mantipin opened #1293 "Patching VSphereCluster resource doesn't reconcile vccm configmap"
/kind bug

**What steps did you take and what happened:**

We tried to add labels (region: k8s-region, zone: k8s-zone) on our running cluster from vmware tags by editing VSphereCluster manifest, adding "labels" block:

[code]

**What did you expect to happen:**
Labels appear on nodes or even in vsphere-cloud-config configmap on workload cluster

**Anything else you would like to add:**
No labels a

[2021-11-02 10:15] omniproc commented on #1162
/lifecycle frozen

[2021-11-02 11:52] mantipin commented on #1293
Ah, it works as it should - updating vccm configmap is impossible via vspherecluster patch, as Maximilian Rink said: https://kubernetes.slack.com/archives/CKFGK3SSD/p1635852207063900?thread_ts=1635830093.063600&cid=CKFGK3SSD

[2021-11-02 11:52] #1293 closed

[2021-11-02 13:02] omniproc commented on #1162
It looks like this is the problematic code that's responsible for generating the default flavor template:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/0679b6187bc6b13e96265a3e4ee778ea8086e9bc/packaging/flavorgen/flavors/crs/csi.go#L129

It should be extended so the `Global` section looks like this:

[code]

With that config I can verify that the CSI integration works as exp

[2021-11-02 13:13] vrabbi commented on #1292
@randomvariable unless im misunderstanding,
you actually could tell the VMs OS from the vSphere API. for example
cmd: govc vm.info -json=true photon-3-kube-v1.19.8+vmware.3 | jq .VirtualMachines[0].Summary.Config.GuestId
returns: "vmwarePhoton64Guest"
cmd: govc vm.info -json=true Demo-EUC-WS1 | jq .VirtualMachines[0].Summary.Config.GuestId
returns: "windows9_64Guest"

the list of guestIds is in th

[2021-11-02 14:00] randomvariable commented on #1292
TIL

[2021-11-02 17:34] yastij commented on #1162
given the original assignee didn't respond on the original PR I think we can proceed with https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1220

[2021-11-02 19:43] #1266 closed

[2021-11-02 22:55] omniproc commented on #1162
right, my bad. I totally missed there was a PR in a duplicated issue for that already.

[2021-11-03 11:48] omniproc commented on #1215
/lifecycle freze

[2021-11-03 11:48] omniproc commented on #1215
/lifecycle frozen

[2021-11-03 14:52] srm09 commented on #1221
/close

[2021-11-03 14:52] #1221 closed

[2021-11-03 15:40] MaxRink commented on #1249
@yastij @randomvariable i guess this can be closed?

[2021-11-03 17:51] yastij commented on #1249
yeah

[2021-11-03 17:51] #1249 closed

[2021-11-05 04:56] #1197 closed

[2021-11-05 09:17] srm09 opened #1300 "Missing conversion functions for VSphereDeploymentZone and VSphereFailureDomain CRDs"
/kind bug

**What steps did you take and what happened:**
Deploy CAPI + CAPV using Tilt, and create a VSphereDeploymentZone & VSphereFailureDomain object. The CAPV controller logs show conversion errors between v1beta1 -> v1alpha4 and v1beta1 -> v1alpha3 types for both the objects.

**What did you expect to happen:**
Conversion should work successfully.

**Anything else you would like to add:**
n/

[2021-11-05 09:17] srm09 commented on #1300
/assign

[2021-11-10 18:16] sayantani11 opened #1304 "Fix a broken link in the getting started doc"
/kind bug

https://cs.k8s.io/?q=cluster-api%2Fblob%2Fmaster&i=nope&files=&excludeFiles=&repos=
As the branch is changed to main in the cluster-api repo, we need to update that in files mentioned in the above link.

Change branch name from `master` to `main` here:
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/9ea84f127c6430a258815e5632534c65e5755d6d/docs/getting_started.md#L2

[2021-11-10 18:16] sayantani11 commented on #1304
/good-first-issue

[2021-11-10 18:44] randomvariable commented on #1304
there's no way this is a good first issue as it needs to be done by maintainers.

[2021-11-10 18:45] randomvariable commented on #1304
there's no way this is a good first issue as it needs to be done by maintainers.

[2021-11-10 18:47] sayantani11 commented on #1304
@randomvariable I meant the file mentioned in the link not the branch of the project😅 Guess there's a little confusion there

[2021-11-10 19:24] randomvariable commented on #1304
Ah, ok. That makes sense.

[2021-11-10 19:50] sandipanpanda commented on #1304
/assign

[2021-11-10 21:39] #1304 closed

[2021-11-12 23:05] mrajashree opened #1307 "ClusterToVSphereMachine mapper should enqueue requests using VSphereMachine name"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Create a cluster where the Machine and its corresponding VSphereMachine have different names
2. Update the status field on cluster object. This should cause the clusterToVsphereMachine mapper to enqueue the vsphereMachine object so that the vspheremachine controller can reconcile it
B

[2021-11-12 23:06] mrajashree commented on #1307
/assign @mrajashree

[2021-11-15 18:50] #1307 closed

[2021-11-17 14:21] omniproc opened #1310 "Log missing vCenter privileges"
/kind feature

**Describe the solution you'd like**
Currently if the CAPV user is missing privileges in vCenter to perform operations this is not clearly reflected in the CAPV controller logs.
Vcenter always provides a detailed error message of what privilege is missing on what object if you try to perform a operation that your user is not permitted to do. Those error details should be forwared to

[2021-11-17 14:46] omniproc opened #1311 "Management cluster self-cleanup"
/kind feature

**Describe the solution you'd like**
As of CAPV 1.0.0 if you provision a workload cluster and pivot your management cluster to it, so the management cluster runs on the workload cluster that's managed by itself, `kubectl delete cluster clustername` won't fully delete the cluster. The worker VMs will be stopped but the controller VM won't and none of the resources will get deleted.
P

[2021-11-18 08:17] schrej commented on #1228
/remove-lifecycle stale

[2021-11-18 08:53] schrej commented on #1228
^ That was me. The bot took a while, so I thought I was missing permissions and deleted the original message.

[2021-11-18 10:59] dimatha commented on #44
We do have a use case for that. Examples:
- On-prem vCenter and VMC, different vxrail clusters deployed with its own venter (for various reasons)
- Migration of the clusters from one vcenter to another

[2021-11-18 11:12] dimatha opened #1312 "CAPV ControlPlane Failure Domain documentation"
/kind feature

**Describe the solution you'd like**
As a cluster admin I'd like to distribute k8s CP nodes across different hosts within the same cluster.

Referring to this proposal: https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/docs/proposal/20201103-failure-domain.md#for-user-story-1
I'm struggling to understand how to do the configuration using VSphereFailureDomai

[2021-11-18 21:56] omniproc commented on #728
@jzhoucliqr was that draft ever finalized and implemented? I'm unable to find any issue or commit for it. There is a patch for CAPV here that had IPAM added already by modifying the controllers. https://github.com/omniproc/cluster-api-provider-vsphere-static-ip

This is quite old and I'm wondering if IPAM is yet integrated at all. Maybe you can clearify the status?

[2021-11-18 22:20] omniproc commented on #1228
@Cellebyte do you have a working IPAM solution with CAPV or are you patching in static IPs?

[2021-11-19 08:24] schrej commented on #1228
We've built a small custom controller that interfaces with Infoblox which is available [here](https://github.com/telekom/das-schiff/tree/ipam/ipam).

I've also started working on a proposal for a proper ipam integration contract that different providers can interface with to retrieve IPs. If you're interested, feel free to comment [here](https://docs.google.com/document/d/1hvirbdV_QTbKBMxgvX045OuV

[2021-11-19 08:49] omniproc commented on #1228
You got that working with the "wait until static IP is available" behaviour CAPV offers currently? So I guess the job of your controller is to understand the structure of and patch CAPV resources? Sorry for all thsoe questions but I'm really interested in your approach. In [this approach](https://github.com/spectrocloud/cluster-api-provider-vsphere-static-ip) for example they simply hardcoded Meta

[2021-11-19 09:58] Cellebyte commented on #1228
@omniproc for IPaddresses their is some kind of same CRD which we use for our general purpose CNI.

It has the following CRDs.
[code]
a block can be any kind of `/8` to `/128` and a request says which size it should be.
The pools can be implemented with differen third-party providers in mind.

[2021-11-19 11:23] schrej commented on #1228
Our current approach is similar to the spectrocloud one, it just directly talks to Infoblox instead of interfacing with metal3-ip-address-manager. It relies on CAPV waiting for the IP and simply adds the IP Address to the VSphereMachine.

Interesting indeed, I wasn't even aware of that proposal. But it's very similar to mine and the current metal3-ip-address-manager. The idea is to build something

[2021-11-19 12:17] omniproc commented on #1228
Thanks, that's clear. My question was rather how you then assign those IPs defined and made availabe by your IPAM to the VsphereMachine resources? All solutions I've seen so far require a custom controler for that which will patch the resources with the IP provided by the IPAM.

[2021-11-19 12:20] omniproc commented on #1228
Well yes but you guys wrote a controller for that while the approach spectrocloud took in the repo i mentioned is patching the vSphereMachine controller code itself.

The missing piece seems to be the specification that you're working on so we can have a generic approach that all IPAM solutions can integrate on. I'm not sure however if this is only relevant for CAPV since it's being discussed in C

[2021-11-19 13:49] dimatha commented on #1312
Ok, I had to spend some time to understand it. And here is my experience.

From the proposal:

[code]
From my experience:

- Create vCenter Tags and categories
- Create Host Groups
- Create VM groups with a dummy VM as it can't be empty
- Create VM to Host rules
- Create CAPV resources: VSphereDeploymentZone => VSphereFailureDomain
- make sure VSphereDeploymentZone is ready
- no need to reference

[2021-11-19 23:52] Cellebyte commented on #1228
@omniproc the design proposed was exactly targeting to be a capi proposal and nothing else.
We are working on it to get a generic solution which can be implemented for different IPAMs.

Our current approach is not using the design and interfaces with the existing possibilities of the different providers so adding network config in capv and interfacing with metal3s approach.

[2021-11-24 07:49] saksham189 opened #1313 "vSphere VM spec stores UUID instead of MoRef ID"
/kind feature

**Describe the solution you'd like**
Looking through the code I see that we store the UUID in the VSphereVMSpec.
But when we have to perform an operation on the VM we have to first make an API call to get the managed object reference. I am wondering why we cannot store the managed object reference id in the spec so, that we can avoid making this API call everytime we need to perform

[2021-11-25 18:27] MaxRink opened #1314 "Move kube-vip to new init routine"
/kind feature

**Describe the solution you'd like**
The current template for new clusters still uses `start` as arg for kube-vip. Upstream moved their default to `manage` a while back.
IIRC new features only work with manage, not with start (  @thebsdbox pls correct me if im wrong)

**Anything else you would like to add:**
https://kubernetes.slack.com/archives/CKFGK3SSD/p1637609003082700

**Enviro

[2021-11-26 05:53] jzhoucliqr commented on #728
@omniproc yes it is there:  https://github.com/spectrocloud/cluster-api-provider-vsphere-static-ip

And changes for v1alpha4 will be merged soon.

[2021-11-26 14:16] omniproc commented on #1314
We already upgraded to kube-vip and all needed was editing the template. Am I correct to assume only the templates need to be changed?

[2021-11-26 14:24] omniproc commented on #1313
VMware wanted to get rid of MoRef a long time ago. Instance.UUID (not to be confused with BIOS.UUID) was implemented to be a better, more universal approach.
However AFAIK UUID never has seen much adoption by any tool mainly because UUID is rather unknown and MoRef IDs are shorter and thus easier to use by humans.

The *correct* way moving forward would be using UUIDs since they, at some point in

[2021-11-26 14:34] omniproc commented on #1228
@Cellebyte
according to @jzhoucliqr [this spectrocloud implementation I refered to earlier](https://github.com/spectrocloud/cluster-api-provider-vsphere-static-ip ) is going to be merged with upstream CAPV, see #728

[2021-11-26 14:35] omniproc commented on #728
in that case check out #1228 - those guys seem to be working on the same thing

[2021-11-26 14:39] omniproc commented on #728
@jzhoucliqr merge only with v1alpha4 or do you plan adding v1beta1 support as well?

[2021-11-26 15:29] Cellebyte commented on #1228
To come back to the main topic of this issue.

@omniproc we are not working on an CAPV specific IPAM implementation.
We are currently using the feature of CAPV which pauses the VSphereMachine in reconcilation until an IP address gets added.
We did not change any code in CAPV at all.

This Issue is only proposing a change for the current behavior of CAPV when the `VSphereMachine` does not have dhcp

[2021-11-26 15:35] schrej commented on #1228
No, it's not. They were referring to a PR in their repository, which adds support for v1alpha4 to their implementation. There is no ongoing effort to merge spectroclouds implementation into CAPV that I can see.

CAPV is also aware of [our proposal](https://docs.google.com/document/d/1hvirbdV_QTbKBMxgvX045OuV8_f-xZETuH6HENZ0uxQ/edit) and my impression is that they currently see it as the way forwar

[2021-11-27 15:37] omniproc commented on #1228
Oh sorry, you're right. I got that wrong. In that case forget what I said about it.

[2021-11-27 15:40] omniproc commented on #1228
Thanks for clearification. I can't wait to see the CAPI proposal implemented. I believe many people will be happy if they can drop dependencies on DHCP without having to patch ressources manually.

[2021-11-29 18:13] omniproc opened #1317 "Log error when no datastore compatible with specified storage policy was found"
/kind feature

**Describe the solution you'd like**
When not specifying a datastore and using a `VSPHERE_STORAGE_POLICY` CAPV will currently not report any errors when it doesn't find a datastore compatible with the specified policy. Instead the depolyment will hang in a reconcile loop forever without any indicator that explains why the depolyment stopped.

Log an error when no compatible datastor

[2021-11-29 19:50] abhinavmpandey08 opened #1318 "Nodes show up without an external IP after manually powering them off"
/kind bug

**What steps did you take and what happened:**
After I power off a VM running a worker nodes, the CAPV controller manager restarts the VM after some time but when I run `kubectl get nodes -o wide`, the node shows `<none>` for `INTERNAL-IP` and `EXTERNAL-IP`

[code]
Another thing I noticed is that the pods show up as running on that node but if I try to interact with them, it gives me a

[2021-11-30 00:50] #1211 closed

[2021-12-01 14:47] jayunit100 opened #1320 "docs/ demo on how to use tilt to make / run windows clusters"
/kind feature

**Describe the solution you'd like**

- Would be nice to get `ClusterClass` prototypes working, and have docs for it.
- For now though, even regular YAML examples for how to test windows on CAPV would be good.
- We'd like to possibly use these docs to drive upstream CAPV continuous integration for windows tests.

**Anything else you would like to add:**

**Environment:**

- Cluster-

[2021-12-06 20:49] gab-satchi opened #1324 "Re-enable LB network provider unit tests"
**Describe the solution you'd like**
The supervisor [controller_test_suite](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/controllers/vmware/test/controllers_suite_test.go#L76-L84) attempts to run the same test suite twice while toggling the suite parameter `isLB` to provision the `dummyLBNetworkProvider`

This issue is to re-enable those tests. The old way of calling

[2021-12-09 14:52] sadysnaat opened #1325 "support to filter vspherecluster vspheredeploymentzone by annotation"
/kind feature

vspheredeploymentzones are clusterscoped resources
a vspherecluster picks up all vspheredeploymentzones that have same server as the vspherecluster

now we have a use case where we launch other vsphere clusters from
a vsphere cluster which is created by capi
so that cluster has its own vspheredeploymentzone and picks up other cluster’s vspheredeploymentzone too
should

**Describe th

[2021-12-09 14:52] sadysnaat commented on #1325
/assign @sadysnaat

[2021-12-09 17:05] gab-satchi commented on #1317
Hey @omniproc, we do try and rely on conditions more for displaying error statuses. Logging can be useful for debugging but users shouldn't be required to look through logs, ideally.

The error should be bubbled up into the `VMProvisioned` condition on the `VSphereVM` resource. It may also be mirrored onto the `VSphereMachine`.

[2021-12-09 18:07] gab-satchi commented on #1312
/assign @srm09

[2021-12-09 18:08] gab-satchi commented on #1313
/assign @srm09

[2021-12-09 18:15] gab-satchi commented on #1318
/assign @vrabbi

cc: @srm09

[2021-12-09 18:15] gab-satchi commented on #1320
/kind docs

[2021-12-09 18:18] gab-satchi commented on #1325
cc: @srm09

[2021-12-09 18:49] omniproc commented on #1317
I didn't see an event there but I'll try to reproduce the issue and double check. Will let you know my findings when I know more.

[2021-12-09 19:35] gab-satchi commented on #1317
The conditions will be in the `Status` field of those resources. Won't be emitting events

[2021-12-13 10:56] lz-nsc opened #1327 "Cannot deploy cluster on vsphere using cluster-api with cluster-api-provider-vsphere"
**What steps did you take and what happened:**
I followed the tutorial that I've gotten from google.
(1) Set up a kubernete cluster locally using `Kind`.
(2) Create a config file for clusterctl:
[code]
(3) Use `clusterctl `to transform kind cluster to management cluster
(4) Use `clusterctl generate cluster <cluster name> --kubernetes-version <kubernete version> --control-plane-machine-count 1  --w

[2021-12-13 18:45] goelaashima commented on #902
@jonkerj @sachinphogat Checkout https://github.com/vmware/cluster-api-provider-cloud-director which is WIP. Feel free to directly connect with us via github issues on that project itself.

Thanks
Aashima

[2021-12-13 21:27] gab-satchi commented on #1310
The errors are usually displayed in conditions of the resource for which CAPV is attempting the task for. For ex: we check for general vcenter connectivity when reconciling the `VSphereCluster` and any issues regarding connectivity will be displayed on that resource. When it comes to provisioning vms on vSphere, the errrors are usually displayed on `VSphereMachine` and `VSphereVM`.

[2021-12-14 02:37] jayunit100 opened #1328 "Mysterious certs issue when using HTTP_PROXY"
/kind bug

**What steps did you take and what happened:**

I defined HTTP_PROXY variables, like so:
[code]

And the code here, seems to fail (i.e. `roblem creating controller manager`)...

[code]

However oddly, the reason this failure happens is:

[code]

Who makes this cert, and, why does it *not* exist in cases where the HTTP_PROXY is missing?

**What did you expect to happen:**

HTTP_PROXY and

[2021-12-14 02:43] jayunit100 commented on #1328
maybe relateed to https://github.com/kubernetes-sigs/cluster-api/blob/main/bootstrap/kubeadm/main.go#L125

[2021-12-14 11:00] #1327 closed

[2021-12-14 15:46] vrabbi commented on #1318
@abhinavmpandey08 can you check the /etc/hosts file on one of the problematic nodes and see if there is a line pointing the node name to 127.0.0.1?

[2021-12-14 16:08] omniproc commented on #1310
what attribute of the resources will display errors? Status of the vSphereCluster, vSphereMachine and VSphereVM reports ready in my test scenario even if there are permission issues.

[2021-12-14 16:19] omniproc commented on #1317
indeed, I can see the message in the condition of the resource. However CAPV has a couple of CRDs. Wouldn't it make sense to trigger events for certain error conditions of the CRDs? Most K8s tools will highlight / prompt the user when a error event occured which makes it more user friendly in my opinion.

[2021-12-14 17:29] omniproc commented on #1310
You're right that it's possible to find those errors in the condition of the CRDs you named. However there are two issues:

- I think creating error events would make more sense since most k8s uis will prompt the user about those which would make troubleshooting more user friendly
- Some permission errors do not provide defailed information about what privilege was missing. E.g. I'm seeing `Permis

[2021-12-15 20:48] srm09 commented on #1327
Having difficulty reproducing it locally with the latest clusterctl version. FWIW a new version of CAPV was released this week, might be worth having another go at cluster creation and see if the issue still persists.

[2021-12-20 04:59] #1218 closed

[2021-12-21 21:06] ubhide commented on #942
/reopen

This is happening for me with v1.0.2, using k8s 1.20.1

The nodes come up, everything looks good, but describing the Machines shows that they are stuck in `Provisioned`

[code]

`clusterctl describe` also shows that they are stuck in `NodeProvisioning`

[2021-12-21 21:32] jayunit100 commented on #175
naively looking at this, and wondering,

Since @srm09 added https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1182/files , would it be possibly to hijack the `VerifyAffinityRule(ctx computeClusterContext, clusterName, hostGroupName, vmGroupName string) (Rule, error) {` somehow, to do some kind of affinity/anti-affinity VM Spreading at a non-regional, but rather at just an ESXi'i

[2021-12-22 06:46] vrabbi commented on #1227
/remove-lifecycle-stale

[2021-12-22 06:47] vrabbi commented on #1227
/remove-lifecycle stale

[2021-12-22 16:37] kbreit opened #1333 "Webhook certificate didn't renew"
/kind bug

**What steps did you take and what happened:**
I installed a new CAPV cluster on an existing 0.4 management cluster. Machines didn't come up properly and reviewing the capv-controller logs I saw this.

[code]

Further investigation shows the webhook exists but the certificate object associated to that service no longer exists.

[code]

**What did you expect to happen:**
I'd have expecte

[2021-12-23 09:34] edwardbadboy commented on #1197
/reopen

[2021-12-23 20:58] AartiJivrajani opened #1334 "Introduce VSphereClusterTemplate type for supervisor types"
/kind bug

**What steps did you take and what happened:**

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2021-12-23 20:58] AartiJivrajani commented on #1334
/assign

[2021-12-30 10:28] omniproc commented on #1097
[code]

[2022-01-03 16:49] srm09 opened #1335 "Introduce support for ClusterClass"
/kind documentation

**Describe the solution you'd like**
Since CAPI upstream supports ClusterClass to create clusters of similar flavor, CAPV should have examples and documentation around how to leverage ClusterClass.

**Anything else you would like to add:**
This would require finishing up:
- [x] https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1334
- [ ] Adding a documenta

[2022-01-05 14:19] josh-ferrell commented on #1328
This should be the capv-serving-cert certificate that cert-manager creates. Just on a hunch, you may want to try adding ".svc" and ".svc.cluster.local" to NO_PROXY

[2022-01-05 15:42] kbreit commented on #1333
@josh-ferrell I should note when I did that `kubectl get certificates` it had the `-A` so that's the only certificates installed in the cluster. There is no `capv-serving-cert` on the cluster anymore.

[2022-01-05 15:49] kbreit commented on #1333
No logs for `capv` in cert-manager. Could have phased out a while ago though.

[2022-01-05 16:52] josh-ferrell opened #1340 "Tag vSphere VMs based on VSphereMachine labels/annotations."
/kind feature

**Describe the solution you'd like**
As an end user I would like the ability to create and assign tags in vCenter based on a list provided at cluster creation time or reconciliation from node labels.

**Anything else you would like to add:**
This was a TKG customer request. The customer currently has a backup solution that excludes VMs based on a tag in vCenter. Tags can be manually

[2022-01-05 17:14] josh-ferrell commented on #1340
I see tagIDs in the v1beta1 VirtualMachineCloneSpec so this may already be a planned enhancement. https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/8b1a3c7bc835e884f1e87ad94c189605061048bd/apis/v1beta1/types.go#L146

[2022-01-05 20:30] josh-ferrell commented on #1340
Yea they are currently using some YTT overlays to label certain resources during cluster creation time. Their goal is the be able to provide a label or in this instance maybe it's just a tag ID so that all VMs that get created have that tag assigned automatically.

For ease of use I could see it being a tag array that was able to get the tag IDs if they existed and create the tag if not.

[2022-01-06 16:51] josh-ferrell commented on #1333
@kbreit I'm not sure why the capv-serving-cert Certificate resource is missing but without it I would expect cert-manager not to be able to renew the cert. I'm making a few assumptions that you may want to check.

- The capv-webhook-service-cert secret exists because the capv-controller-manager mounts it and the pod wouldn't start if the secret was gone.
- The capv-webhook-service-cert secret has

[2022-01-06 17:09] kbreit commented on #1333
The `capv-webhook-service-cert` secret exists and has the following annotations:

[code]

However, `capv-selfsigned-issuer` doesn't exist, only `capi-*` issuers.

[code]
Do I need to recreate the certificate resource as well? I recreated the issuer manually based on an issuer manifest from another CAPV cluster.

[2022-01-06 17:20] srm09 commented on #1275
Ref: https://github.com/kubernetes/cloud-provider-vsphere/pull/532

[2022-01-06 18:10] srm09 commented on #1340
/assign @srm09

[2022-01-06 18:18] srm09 commented on #1333
/assign @srm09

[2022-01-06 18:29] aartij17 opened #1341 "Gracefully shutdown the kube-apiserver of the integration tests"
/kind bug

**What steps did you take and what happened:**
The integration tests use Envtests to simulate the api-server. While running these tests locally, it looks like the server process is not stopped which causes race conditions in the consecutive test runs.

**What did you expect to happen:**
apiserver should exit gracefully upon completion of the integration test runs.

[2022-01-06 18:30] AartiJivrajani commented on #1341
/assign

[2022-01-07 11:13] #1224 closed

[2022-01-07 15:22] johananl opened #1342 "Broken dependenies: github.com/vmware-tanzu/vm-operator"
The following revisions don't seem to exist anymore:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/8b1a3c7bc835e884f1e87ad94c189605061048bd/go.mod#L18-L19

To reproduce, run `go mod tidy` in a clean Go environment (i.e. an environment in which the module hasn't been previously downloaded):

[code]

Output:

[code]

[2022-01-07 15:22] johananl commented on #1342
/kind bug

[2022-01-07 15:39] johananl commented on #1342
/assign

[2022-01-10 23:18] aartij17 opened #1345 "KCP manager role needs access to `vsphereMachineTemplates` and `vsphereMachines`"
**What steps did you take and what happened:**
KCP manager role needs access to `vsphereMachineTemplates` and `vsphereMachines` CRs in the `vmware.infrastructure.cluster.x-k8s.io` API group

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api-provider-vsphere version:
- Kube

[2022-01-10 23:19] AartiJivrajani commented on #1345
\assign

[2022-01-12 18:08] ninlil opened #1349 ""Network plugin returns error: cni plugin not initialized" on new cluster"
/kind bug

**What steps did you take and what happened:**
Installed cluster according to quickstart template
After a lot of permission-troubles the nodes are actually getting created.
I can ssh into them just fine, and get the kubeconfig-secret..
but the nodes says
[code]

coredns, csi-controller and csi-node wont start because the nodes are not Ready
[code]

**What did you expect to happen:**
Wor

[2022-01-13 00:38] srm09 commented on #1345
/assign @AartiJivrajani

[2022-01-13 06:25] srm09 opened #1350 "Document permissions required for CAPV resources"
/kind documentation
/milestone next

**Describe the solution you'd like**
It would be good to have a documentation around the permissions required for:
- user for running `controller-manager`
- user for creating clusters.

**Anything else you would like to add:**
n/a

**Environment:**
n/a

[2022-01-13 06:28] srm09 commented on #1350
/milestone Next

[2022-01-13 07:05] srm09 commented on #1349
From the CAPI book, follow the set of steps to deploy a CNI, the example in the book shows `calico`.
https://cluster-api.sigs.k8s.io/user/quick-start.html#deploy-a-cni-solution

Once the CNI solution is deployed, the cluster nodes should move to the `Ready` state.

[2022-01-13 07:08] srm09 commented on #1342
Fixed via https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1348
/close

[2022-01-13 07:08] #1342 closed

[2022-01-13 07:50] ninlil commented on #1349
Thanks, my mistake.
The nodes got 'Ready' just fine after that.
I just stumbled upon the issue #1162 as well, but (temporarily changed that to "insecure-flag = true" during our testing.

/close

[2022-01-13 07:50] #1349 closed

[2022-01-13 07:56] srm09 opened #1352 "Deploying CAPV with Tilt is broken"
/kind bug

**What steps did you take and what happened:**
Deploying CAPV with the Tilt mentioned in the [CAPI book](https://cluster-api.sigs.k8s.io/developer/tilt.html) fails with the following error on the Tilt UI

<img width="1345" alt="image" src="https://user-images.githubusercontent.com/8758225/149288693-ffc10f80-a78e-425d-8717-5a2ff671be72.png">

**What did you expect to happen:**
CAPI+KCP+C

[2022-01-13 07:56] srm09 commented on #1352
/priority priority/critical-urgent

[2022-01-14 07:06] srm09 commented on #1345
/kind bug

[2022-01-14 07:06] srm09 commented on #1345
/milestone Next

[2022-01-14 14:36] johananl opened #1354 "Reduce e2e execution time by allowing Docker to cache"
We can reduce the execution time of the e2e tests by at least 30 seconds by allowing Docker to cache:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/3d8074ba7a46a82ccfa2fbd96e6de6e1308e6799/Makefile#L122-L124

The `e2e-image` Make target is executed every time `make e2e` is invoked. Passing `$(LDFLAGS)` to `e2e-image` causes `docker build` to always rebuild without using the

[2022-01-17 16:32] johananl opened #1355 "Broken e2e test case: storage policy"
/kind bug

**What steps did you take and what happened:**

The `Cluster creation with vSphere validations` e2e test case is failing for me on `master`. Specifically, the test is failing here:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/3d8074ba7a46a82ccfa2fbd96e6de6e1308e6799/test/e2e/capv_quick_start_test.go#L96

The reason seems to be that `pbmClient.QueryAssociatedEnti

[2022-01-17 16:53] gab-satchi commented on #1355
Hey @johananl,

Thanks for raising the issue. Yes, the test does expect a storage policy already defined but it can be configured by setting `VSPHERE_STORAGE_POLICY` similar to what's being done for the [ci configuration](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/test/e2e/config/vsphere-ci.yaml#L165)

I think this can definitely be documented better in the [e2e in

[2022-01-17 19:34] johananl commented on #1355
Thanks @gab-satchi.

I've set `VSPHERE_STORAGE_POLICY` to the name of a storage policy which exists in my vSphere environment and I can also see that the correct ID is stored in `spID` here:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/3d8074ba7a46a82ccfa2fbd96e6de6e1308e6799/test/e2e/capv_quick_start_test.go#L90

Still, I'm getting an empty response for `pbmClient.QueryAs

[2022-01-17 20:51] gab-satchi commented on #1355
are you seeing VMs getting created on vsphere? Does the created vm have the correct storage policy attached to it?

[2022-01-18 15:13] johananl commented on #1355
Made some progress. When creating a VM **manually** and attaching an existing storage policy to it, `pbmClient.QueryAssociatedEntity()` returns a non-empty result. So, looks like the VMs which the test creates don't get the storage policy specified in `VSPHERE_STORAGE_POLICY` for some reason.

[2022-01-18 15:59] #1355 closed

[2022-01-18 16:05] johananl commented on #1355
Update: Apparently the policies I've tried to use either had encryption or were incompatible with my chosen datastore. In both cases I couldn't create the VM via the web UI and apparently CAPV simply creates the VM without a storage policy in such cases.

[2022-01-18 17:07] johananl commented on #1355
I'll double check and open an issue if necessary.

[2022-01-18 19:36] johananl commented on #1355
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1358

[2022-01-19 13:12] sadysnaat opened #1359 "kube-apiserver cache watch failing for vspheredeploymentzone,vspherefailuredomain"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

clusterctl4 init --infrastructure vsphere

create a vspherefailuredomain or vspheredeploymentzone object
as soon as object is created api-server cacher begins watch for v1alpha3/vspherefailuredomain

[code]

capv logs
[code]

**What did you expect to happen:**

api-server to not create

[2022-01-19 18:46] srm09 commented on #1359
This has been fixed in release https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/releases/tag/v1.0.2
Any particular need that you are using `v1alpha4` types and not the `v1beta1` types? If you need this fix right away, upgrade to the latest on the `release-1.0` branch.

The cherry-pick for this particular fix is not straight forward, since the conversion needs to be implemented again

[2022-01-20 08:41] sadysnaat commented on #1359
thanks @srm09 for quick response and resolution

[2022-01-20 12:44] omerurhan opened #1362 "failed to reconcile failure domain."
/kind bug

**What steps did you take and what happened:**

When VSphereDeploymentZone is installed right after CAPV is installed, it stays in the "True" state for a while. But after a certain time (20 hours) vpsheredeploymentzone goes to "False" state.

 I think this is because the vmware rest api session token expires. Because when uninstall and reinstall capv provider, and deploy vpsheredeployme

[2022-01-20 14:29] sbueringer opened #1363 "Conversion is not completely implemented for all API types"
/kind bug

Hey folks,
in core CAPI we have a tool called conversion-verifier which loops over all types and ensures the controller-runtime conversion interfaces are implemented correctly, i.e. it checks the types have the Hub / ConvertTo / ConvertFrom functions.

The results for CAPV are:
* type "infrastructure.cluster.x-k8s.io/VSphereClusterIdentity" in package "sigs.k8s.io/cluster-api-provider-v

[2022-01-20 14:46] sbueringer opened #1364 "Use controller-runtime setup-envtest instead of fetch_ext_bins.sh"
/kind feature

Hey folks,

just wanted to make you aware of that there is a tool by controller-runtime which can be used to setup the controller-runtime envtest binaries (https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest).

It's already used in core CAPI: https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L437-L441

I think this could be a good fi

[2022-01-20 18:12] srm09 commented on #1350
Make sure to add the permissions for the Tagging vAPI.

[2022-01-20 18:30] AartiJivrajani commented on #1363
/assign @AartiJivrajani

[2022-01-20 22:37] AartiJivrajani commented on #1364
/assign @AartiJivrajani

[2022-01-20 23:52] srm09 commented on #1362
This should be fixed by https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1336

[2022-01-21 10:54] ninlil opened #1366 "Cluster upgrade not completed or reporting properly"
/kind bug

**What steps did you take and what happened:**
1. Created cluster with v 1.20.10 (3 master + 2 worker) (using built image "ubuntu-2004-kube-v1.20.10")
2. Updated control-plane to 1.20.14
3. Updated worker-nodes to 1.20.14
4. Updated control-plane and workers to 1.21.8

Each upgrade was done changing the `version` in the `MachineDeployment` and `KubeadmControlPlane` resource and re-apply

[2022-01-24 18:19] AartiJivrajani commented on #1235
/assign @AartiJivrajani

[2022-01-24 18:50] AartiJivrajani commented on #1235
/assign @AartiJivrajani

[2022-01-25 07:25] geetikabatra commented on #1364
@AartiJivrajani Can I take this up?

[2022-01-25 07:56] ninlil commented on #1366
Actually found this to be same as #635, but I'm still missing instructions on how to "solve" this issue.

[2022-01-25 23:56] aartij17 opened #1369 "Re-enable cluster upgrade `e2e` tests"
/kind bug

The cluster upgrade tests are disabled here cause of historic reasons -
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/3d8074ba7a46a82ccfa2fbd96e6de6e1308e6799/test/e2e/capi_upgrade_test.go#L27

We should re-enable the cluster upgrade tests once again.

/assign @scdubey

[2022-01-25 23:59] scdubey commented on #1369
/assign @scdubey

[2022-01-26 01:27] AartiJivrajani commented on #1364
Sure

[2022-01-26 01:34] aartij17 opened #1372 "`nil` pointer exception in vspherevm controller on start up"
/kind bug

**What steps did you take and what happened:**
While deploying a workload cluster, the vspheremachine controller throws a nil pointer exception
Logs -
[code]
This is reproducible and happens each time I create a workload cluster. The CAPV pod restarts _once_ every time.

**Environment:**

- Cluster-api-provider-vsphere version: `v1.0.2`
- Kubernetes version: (use `kubectl version`):  `1

[2022-01-26 02:27] srm09 commented on #1366
@ninlil For CAPV, apart from upgrading the Kubernetes version in the `KubeadmControlPlane` object, you would also wanna update the `spec.template.infrastructureRef.name` to point to a `VSphereMachineTemplate` object whose `spec.template.spec.template` points an image with the updated kubernetes version you wanna upgrade to.
Similarly, for the worker nodes, update the `spec.template.spec.infrastruc

[2022-01-26 02:29] srm09 commented on #1363
Also, add a presubmit prow job which tests the same for every new PR raised.

[2022-01-26 07:24] sbueringer commented on #1363
@srm09 Just fyi in case you want to align, in core CAPI we only have one verify job which:
* runs scripts/ci-verify.sh, which then runs make verify
* make verify then runs all verify targets (https://github.com/kubernetes-sigs/cluster-api/blob/main/Makefile#L319)

[2022-01-26 08:05] ninlil opened #1373 "Request-for-help on how to install ingress-nginx - LoadBalancer not getting external-ip"
### Discussed in https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/discussions/1368

<div type='discussions-op-text'>

<sup>Originally posted by **ninlil** January 24, 2022</sup>
I have created a vSphere-cluster in a VxRail vCenter (vSphere Client version 7.0.2.00500)
All nodes ready (3 master and 2 worker)

I'm running clusterctl and vsphere v1.0.2.

I then do
[code]
Everything star

[2022-01-26 12:02] johananl opened #1374 "Get rid of VIP interface hardcoding"
/kind feature

**Describe the solution you'd like**

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/8dd957d665c0aceca8be9be1f9aa916ff8a9fcc5/packaging/flavorgen/flavors/generators.go#L286-L290

Right now we're hardcoding `eth0` as the VIP interface for kube-vip, which breaks things in environments where a different interface name is used. As of `v0.4.0` kube-vip supports inte

[2022-01-26 21:58] #1334 closed

[2022-01-28 01:32] srm09 commented on #1196
/reopen
Active PR open for this one #1236

[2022-01-28 12:45] srm09 commented on #1174
/remove-lifecycle stale

[2022-01-28 18:23] aartij17 commented on #1352
Resolved with PR - https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1381

[2022-01-28 19:31] srm09 commented on #1352
/close

[2022-01-28 19:31] #1352 closed

[2022-01-28 20:16] srm09 opened #1384 "Modify the template generation logic for CAPV templates"
/kind feature

**Describe the solution you'd like**
Currently, the template generation code for `kibe-vip ` based templates generates a ClusterResourceSet which installs the CPI/CSI on the workload cluster. The names of these resources created by the CRS are not dynamically generated. Hence if trying to reuse the same manifest template for different workload clusters results in the same secrets/co

[2022-01-28 20:24] srm09 opened #1385 "Add Calico flag to generate CNI resources for cluster templates"
/kind feature

**Describe the solution you'd like**
Currently, the cluster templates generated by CAPV do not deploy any CNI resources by default. This becomes a manual step when using the template to deploy clusters. Since, CAPV does not prescribe any particular CNI, but uses Calico in its e2e tests, it would make sense to include an extra flag during template generation `--calico` (just an examp

[2022-01-28 20:28] srm09 commented on #1364
/assign @geetikabatra

[2022-01-28 20:35] srm09 commented on #1317
Currently in CAPV, we have been using `Conditions` to bubble specific error scenarios which block operations on the CRDs. In this case, the corresponding condition gets eventually bubbled up to the CAPI Machine object too. For most of the other failures too, we are raising the conditions correctly which eventually get bubbled up to the corresponding/owner CAPI objects,
Plus emitting events for thi

[2022-01-28 20:37] srm09 commented on #1317
A good way to about this would be to list out the error scenarios per controller and then take a stock of what errors does the community think would be useful to emit in terms of events. wdyt?

[2022-01-28 20:42] srm09 commented on #1318
@abhinavmpandey08 Did you try out the steps mentioned by @vrabbi ?

[2022-01-28 20:42] srm09 commented on #1364
/help
/good-first-issue

[2022-01-28 20:43] srm09 commented on #1363
/help
/good-first-issue

[2022-01-28 21:43] scdubey commented on #1385
/assign @scdubey

[2022-01-28 21:46] scdubey commented on #1384
/assign @scdubey

[2022-01-28 22:20] srm09 commented on #1098
/reopen
/remove-lifecycle rotten

[2022-01-28 22:21] srm09 commented on #1098
@yastij Can you point me to some relevant document/issue for IPAM discussion? Would wanna catch up on this?

[2022-01-28 22:25] srm09 commented on #1281
@perithompson This seems like something that will sit in the CAPI repo. I am happy to keep this one around if CAPV would need to do something specifically, but I think the entire change will rest directly in CAPI.

[2022-01-28 22:30] srm09 commented on #1097
Is the NTP server not getting propagated due to a change in the `cloud-init` version? Can you specify what `cloud-init` version is being used?

[2022-01-28 23:21] srm09 commented on #1227
/milestone Next

[2022-01-28 23:23] srm09 commented on #1226
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-01-28 23:23] srm09 commented on #1226
/milestone Next

[2022-01-29 11:12] omniproc commented on #1097
We're currently using the latest pre-build [Photon 3 with Kubernetes 1.20.1](https://storage.googleapis.com/capv-images/release/v1.20.1/photon-3-kube-v1.20.1.ova). I'll check what cloud-init version it does use and let you know.

P.S.: I also noticed this strange behaviour, that it reports NTP not being started at boot time, in other Photon OS 3.x versions not  related to CAPV. So maybe this is a

[2022-01-29 12:36] omniproc commented on #1317
I get the idea of conditions bubbleing up and events being triggered by the object the user actualy has controll over. However `the corresponding condition gets eventually bubbled up to the CAPI Machine object too` doesn't seem to be the case here. I never say any event informing me about the issue anywhere. So I had to look through _all_ CRDs conditions to find out what's causing the depolyment t

[2022-01-29 16:10] #1314 closed

[2022-01-30 20:23] srm09 commented on #400
Seems like this one has gotten no traction for a long time. Closing this one for now, feel free to reopen in case of any new asks.
/label triage/unresolved

[2022-01-30 20:26] srm09 commented on #400
/close

[2022-01-30 20:26] #400 closed

[2022-01-30 20:30] srm09 commented on #572
Implemented via https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1204
/close

[2022-01-30 20:36] srm09 commented on #175
@jayunit100 I am not sure I quite understand what you are looking for here? Currently multi AZ allows you to attach VMs to specific hosts, if the host groups are setup to point to a particular host.
Can you elaborate on this ask?

[2022-01-30 20:59] srm09 commented on #781
Implemented with https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1279
/close

[2022-01-30 20:59] #781 closed

[2022-01-30 21:00] srm09 commented on #949
We are waiting on the outstanding PRs against the current `default` branch to get merged before picking this up.

[2022-01-30 21:02] srm09 commented on #949
/milestone v1.2.0

[2022-01-30 21:03] srm09 commented on #657
Unsure if this warrants any change right now. Is everyone in favor of closing this?

[2022-01-30 21:09] srm09 commented on #635
By design, the Kubernetes version for nodes in vSphere VMs created by CAPV depends on the template specified in the VSphereMachineTemplate used to create the Machine.

[2022-01-30 21:11] srm09 commented on #635
@yastij Is there anything we need to do about this? Unless there is a specific way to perform image look up based on the k8s version in the Machine, we are stuck with the Kubernetes version defined in the template.

[2022-01-30 21:16] srm09 commented on #1082
/close
The controller-runtime has been upgraded in the `default` branch.

[2022-01-30 21:16] #1082 closed

[2022-01-30 21:29] srm09 commented on #1340
Digging up an older issue around tagging VMs https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/505

[2022-01-30 21:39] srm09 commented on #591
@randomvariable @yastij This could be something that we can incorporate in the release automation process. wdyt?

[2022-01-30 21:41] srm09 commented on #780
/help

[2022-01-30 21:44] srm09 commented on #894
/help
@timmycarr Is this something for us to tackle?

[2022-01-30 21:50] srm09 commented on #795
/help

[2022-01-30 21:57] srm09 commented on #947
@yastij This still seems to be the case for Machine addresses, something that we should look into again?
/help

[2022-01-30 22:05] srm09 commented on #1048
@vrabbi Is this something that you still think would be useful to the community? I have moved it to the Next milestone, but will wait for your input before adding the `help` label on it.

[2022-01-30 22:10] srm09 commented on #1099
We could request the vSphere Cloud Provider folks to publish the CPI image for every patch version (since currently the images are published for each of the minor version upgrades but not for every patch, could be coz there might be no changes to the CPI corresponding to every particular patch version of k/k)

That way we can use the same version number, `KUBERNETES_VERSION` variable that is used

[2022-01-30 23:19] aartij17 commented on #780
/assign @aartij17

[2022-01-30 23:27] srm09 commented on #1176
/help
/remove-lifecycle frozen
/lifecycle active

[2022-01-30 23:28] srm09 commented on #1174
/lifecycle active

[2022-01-30 23:28] srm09 commented on #1196
/remove-lifecycle rotten
/lifecycle active

[2022-01-31 00:06] srm09 commented on #1215
/help
Now that the bug has been fixed, this can be something that can be picked up. @omniproc something you would wanna take a stab at?

[2022-01-31 00:06] srm09 commented on #1215
/kind documentation
/remove-kind bug

[2022-01-31 00:08] srm09 commented on #1226
/help

[2022-01-31 00:09] srm09 commented on #1227
/help
/lifecycle active

[2022-01-31 00:12] srm09 commented on #1235
/unassign @srm09
Can you use the same issue to run conformance tests on the cluster upgrade tests as well?

[2022-01-31 00:12] srm09 commented on #1235
/lifecycle active

[2022-01-31 00:16] srm09 commented on #1275
/help

[2022-01-31 00:26] srm09 commented on #1292
@jayunit100 How impactful is this fix? I am wary around making provider specific fixes when CAPI has a broader fix planned for all providers. Is this blocking some scenarios entirely for Windows adoption? Do you think this is something you might be able to work on?

@vrabbi From the example commands you posted, I can see that the VM info can be pulled from a live VM. But if we want to name the win

[2022-01-31 00:27] srm09 commented on #1292
/help

[2022-01-31 00:30] srm09 commented on #1310
/help

[2022-01-31 00:31] srm09 commented on #1311
/kind documentation

[2022-01-31 00:32] srm09 commented on #1311
/help

[2022-01-31 00:33] srm09 commented on #1312
/kind documentation
/remove-kind feature

[2022-01-31 00:36] srm09 commented on #1320
/kind documentation
@jayunit100 any chance you would like to drive this work and maybe drive some e2e tests for upstream CAPV + Windows support?

[2022-01-31 00:36] srm09 commented on #1324
/help

[2022-01-31 08:28] #1300 closed

[2022-01-31 09:38] omniproc commented on #1215
@srm09 I can write a docs draft for the quickstart.md on how to assign static IPs if that's what you're asking.

[2022-01-31 19:06] srm09 commented on #1070
/reopen
/remove-lifecycle rotten
/lifecycle frozen
/milestone Next

[2022-01-31 19:06] srm09 commented on #1070
/unassign @yastij

[2022-01-31 19:11] srm09 commented on #1215
That would be very helpful.😃😃

[2022-01-31 20:10] #1196 closed

[2022-01-31 21:28] scdubey opened #1388 "Align CAPV Makefile targets with CAPI"
/kind bug

* Goals:
    * make it easier to work on multiple providers / core CAPI through similar linting / validation
    * This issue is to align and add missing CAPV validation target in accordance with CAPI

* Missing targets in CAPV
- `verify-gen`: verify go generated files are up to date
- `verify-modules`: verify go modules are up to date

**Environment:**

- Cluster-api-provider-vsphere v

[2022-01-31 21:34] vrabbi commented on #1373
Capv does not provide a solution for service type load balancer as vSphere does not offer such an API. You can use different tools like metallb,kubevip,nsx-alb, f5 etc. On top of a capv cluster to create lb services however that is out of the scope of capv itself. Haproxy was replaced by kubevip in capv a while ago but that is only for api server load balancing.
Metallb works great on capv cluster

[2022-01-31 21:35] omniproc commented on #1215
Sure. I'll schedule some time for it this weekend. Will link the PR to this issue when done.

[2022-01-31 22:17] srm09 commented on #1215
/unassign @yastij
/assign @omniproc

[2022-01-31 22:33] #1374 closed

[2022-02-01 01:23] #1388 closed

[2022-02-01 01:58] srm09 opened #1391 "Flake in the unit/integration test suite"
/kind bug

**What steps did you take and what happened:**
We have observed flakes while running the tests using the `pull-cluster-api-provider-vsphere-test` job. Specifically, the test below contributes to most of the flakes in the CI:
[code]

**What did you expect to happen:**
We would expect the tests to pass consistently without any flakes

**Anything else you would like to add:**
n/a

**Enviro

[2022-02-01 01:59] srm09 commented on #1391
/help

[2022-02-01 02:05] #1363 closed

[2022-02-01 11:02] geetikabatra opened #1392 "Improving unit test coverage"
There is a lot of room for improvement in test coverage.

Currently, the code coverage is `27%`

Following issues track the tasks

- [ ] [Test Coverage in pkg/util](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1421)
- [ ] [Test Coverage in pkg/services](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/1420)
- [ ] [Test Coverage in pkg/record](https:/

[2022-02-01 18:27] srm09 commented on #1392
Thanks Geetika for taking the initiative to add this issue, I think what would be helpful is adding tasks for a package based improvement of the test coverage. That way we could either have multiple folks work on it together and the issue seems to have an end goal we wanna reach.

[2022-02-02 05:44] geetikabatra opened #1394 "Add conversion-verifier to CI"
In reference to issue from [#3085](https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3085) to track conversion-verifier addition separately.

Integrate the conversion-verifier in CI.

The conversion-verifier can be found here:

Code: https://github.com/kubernetes-sigs/cluster-api/tree/main/hack/tools/conversion-verifier
Usage: https://github.com/kubernetes-sigs/cluster-api/blob/ma

[2022-02-02 05:46] geetikabatra commented on #1394
@srm09 Could you please put a label as a good first issue here. I am not allowed to do so for some reason.

[2022-02-02 05:46] geetikabatra commented on #1392
@srm09 Sure, I am coming with a list.

[2022-02-02 06:01] geetikabatra opened #1395 "Update cluster-api bits to resolve the cert-manager issue"
/kind bug

**What steps did you take and what happened:**
Due to cert-manager moving repos, there is a failure in the E2E test jobs running in CAPV. Upstream CAPI has issued releases with fixes for this particular issue. We need to integrate those releases in our codebase to mitigate the failures

- [ ] Upgrade CAPI version to v1.1.0 in `default` branch and the `release-1.0` branch
- [ ] Upgrade C

[2022-02-02 06:36] geetikabatra commented on #1394
Covered by this one https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/1393/files

[2022-02-02 06:43] srm09 commented on #1394
/close
In response to the comment above

[2022-02-02 06:43] #1394 closed

[2022-02-02 07:33] srm09 commented on #1395
/remove-kind bug
/kind feature

CAPI is cutting the new 1.1.0 release sometime this week, let's wait for that and then embark on the upgrade journey.

[2022-02-02 07:35] srm09 commented on #1395
/help
/good-first-issue

[2022-02-02 07:36] srm09 commented on #1350
/good-first-issue
/help

[2022-02-02 07:36] srm09 commented on #1335
/assign

[2022-02-02 07:39] srm09 commented on #1359
/close
since the backport PRs have been merged

[2022-02-02 07:39] #1359 closed

[2022-02-02 10:23] ninlil commented on #1373
Thanks for your answer. I've had a good talk with a colleague on this and I've changed the type from LoadBalancer to NodePort.
I will also create some tooling (kubernetes-operator) that detects the host-ip of all ingress-controllers and updates the extenal load-balancer on the correct endpoints.

/close

[2022-02-02 10:24] #1373 closed

[2022-02-02 15:27] joshrosso opened #1396 "CAPV should be able to reconcile when `The vm was removed from infra`"
/kind feature

## Description

When a `vspheremachine` object no longer has a corresponding VM in the infrastructrue, it gets in a state where `capv-manager` will report `The vm was removed from infra`. As far as I can tell, this creates a deadlock where, attempting to delete the `Machine` object will get stuck in a `Deleting` state.

For example, consider a `Machine : wkload-ale-md-0-9747bd4d5-lr